/*** Common Cleanups ***/
body,
h3,
h4,
h5,
h6,
form,
fieldset {
  margin: 0;
}



/*** Different Colors ***/
div.error, .error {
  color: #731f00;
}



/*** Unsupported Notice ***/
div#unsupported {
  background-color: #ffe0eb;

  border: 2px dotted #ff5555;
  margin: 5px;
  padding: 5px;

  font-size: 13px;
}

body.is-in_ie_compatibility_mode div#unsupported {
  background-color: #fffee0;

  border: 2px dotted #f1f181;
  margin: 5px;
  padding: 5px;

  font-size: 13px;
}



/*** Login Form ***/
form#user-login-form {
  text-align: center;
}



/*** Footer ***/
div.drupal_footer div.mcneese_footer_block {
  margin-left: auto;
  margin-right: auto;

  width: 970px;
  min-width: 970px;
  max-width: 970px;

  border-top: 1px solid #e2edfa;
  padding-bottom: 10px;
}

div.drupal_footer div.mcneese_footer_block ul {
  margin: 0;
}

div.drupal_footer div.mcneese_footer_block ul li {
  list-style: none;
}

div.drupal_footer div.mcneese_footer_block h4 {
  margin-bottom: 5px;
}

div.drupal_footer div.mcneese_footer_block a,
div.drupal_footer div.mcneese_footer_block a:visited {
  color: #3b3b3b;

  text-decoration: none;
}

div.drupal_footer div.mcneese_footer_block a:focus,
div.drupal_footer div.mcneese_footer_block a:hover,
div.drupal_footer div.mcneese_footer_block a:active {
  color: #25567d;

  text-decoration: underline;
}

div.drupal_footer div.mcneese_footer_block div.footer {
  color: #3b3b3b;

  font-size: 11px;

  height: 139px;
  min-height: 139px;
  max-height: 139px;

  width: 970px;

  overflow: hidden;
}

div.drupal_footer div.mcneese_footer_block div#footer-col-1 {
  display: inline-block;
  float: left;
  width: 611px;
  min-width: 611px;
  max-width: 611px;
}

div.drupal_footer div.mcneese_footer_block div#footer-col-2 {
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  height: 139px;
  width: 359px;
  min-width: 359px;
  max-width: 359px;
}

div.drupal_footer div.mcneese_footer_block h4.column-header {
  font-size: 12px;
  margin-bottom: 5px;
}

div.drupal_footer div.mcneese_footer_block div.footer-column {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;

  line-height: 1.6;

  margin: 20px 5px 0 20px;
}

div.drupal_footer div.mcneese_footer_block div.footer-column li.social {
  float: left;

  height: 21px;

  margin: 0 8px 0 0;

  width: 21px;
}

div.drupal_footer div.mcneese_footer_block div#footer-copyright {
  background-repeat: no-repeat;

  color: #3b3b3b;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  height: 53px;

  width: 970px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.drupal_footer div.mcneese_footer_block div.copyright img {
  display: inline-block;
  margin: 0 0 0 20px;
}

div.drupal_footer div.mcneese_footer_block div.copyright div.copyright_menus {
  display: inline-block;
  line-height: 1.4;
  margin: 8px 0 0 8px;
  padding-top: 2px;
}

div.drupal_footer div.mcneese_footer_block div.copyright div.copyright_menus ul li {
  display: inline-block;
}



/*** css variables specific ***/
div.drupal_content .node-unpublished,
body.is-node.is-unpublished .drupal-page,
div.is-node.is-unpublished.drupal-page {
  background-color: #ffeeee !important;
}



/*** wwwdev.mcneese.edu-specific ***/
body.at-wwwdev_mcneese_edu,
body.at-wwwdev2_mcneese_edu,
body.at-wwwdev3_mcneese_edu {
  background-color: #000000;
}



/*** University Police Complaint Log ***/
div#content div.view-id-university_police_complaint_log table.views-view-grid {
  margin-bottom: 10px;
}

div#content div.view-id-university_police_complaint_log div.views-field {
  display: inline-block;

  width: 360px;
  max-width: 360px;
  overflow: wrap;
}

div#content div.view-id-university_police_complaint_log div.views-label-field-police-nat-of-comp,
div#content div.view-id-university_police_complaint_log div.views-label-field-police-date,
div#content div.view-id-university_police_complaint_log div.views-label-field-police-disposition,
div#content div.view-id-university_police_complaint_log div.views-label-field-police-off-loc,
div#content div.view-id-university_police_complaint_log div.views-label-field-police-synopsis {
  display: inline-block;

  font-weight: bold;

  width: 155px;
  max-width: 155px;
  overflow: wrap;
}

div#content div.view-id-university_police_complaint_log div.field-content {
  display: inline-block;

  width: 200px;
  max-width: 200px;
  overflow: wrap;
}

div#content div.view-id-university_police_complaint_log div.views-field-field-police-synopsis {
  width: 400px;
  max-width: 400px;
}



/*** Content Specific Customization ***/
html#ckeditor-wysiwygarea body,
div.drupal_content {
  position: relative;
}

html#ckeditor-wysiwygarea body {
  margin-left: auto;
  margin-right: auto;
}

h1.drupal_page_title {
  display: inline-block;

  font-size: 1.5em;
  font-weight: normal;
  color: #00335b;

  text-shadow: -1px 1px 3px #bbbbbb;

  padding: 4px 0;
  margin: 0;

  page-break-before: avoid;
}

html#ckeditor-wysiwygarea,
div.drupal_content {
  font-size: 14px;
}

html#ckeditor-wysiwygarea p,
div.drupal_content p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.2;
}



/*** Content Specific Style: calendar pages ***/
div.view-display-id-event_listing {
  position: relative;

  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;

  font-family: Serif, Georgia, Times New Roman;

  margin-top: 10px;
}

div.view-display-id-event_listing div.view-content div.views-row {
  margin-bottom: 15px;
}

div.view-display-id-event_listing div.view-content div.views-row-even {
  background-color: #efefef;
}

div.view-display-id-event_listing div.view-content div.views-field-title a,
div.view-display-id-event_listing div.view-content div.views-field-title a:visited {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

div.view-display-id-event_listing div.view-content div.views-field-title a:focus,
div.view-display-id-event_listing div.view-content div.views-field-title a:hover,
div.view-display-id-event_listing div.view-content div.views-field-title a:active {
  color: #7f0000;

  text-decoration: underline;
}



/*** Content Specific Style: calendar pages ***/
div.calendar-standard div.calendar-calendar td.multi-day div.monthview a,
div.calendar-standard div.calendar-calendar td.multi-day div.monthview a:visited,
div.calendar-standard div.calendar-calendar td.multi-day div.dayview a,
div.calendar-standard div.calendar-calendar td.multi-day div.dayview a:visited,
div.calendar-standard div.calendar-calendar td.multi-day div.weekview a,
div.calendar-standard div.calendar-calendar td.multi-day div.weekview a:visited {
  color: #ffffff;
}

div.calendar-standard div.calendar-calendar td.multi-day div.monthview a:focus,
div.calendar-standard div.calendar-calendar td.multi-day div.monthview a:hover,
div.calendar-standard div.calendar-calendar td.multi-day div.monthview a:active,
div.calendar-standard div.calendar-calendar td.multi-day div.dayview a:focus,
div.calendar-standard div.calendar-calendar td.multi-day div.dayview a:hover,
div.calendar-standard div.calendar-calendar td.multi-day div.dayview a:active,
div.calendar-standard div.calendar-calendar td.multi-day div.weekview a:focus,
div.calendar-standard div.calendar-calendar td.multi-day div.weekview a:hover,
div.calendar-standard div.calendar-calendar td.multi-day div.weekview a:active {
  color: #ffee00;
}

div.calendar-standard div.calendar-calendar td.single-day div.monthview a,
div.calendar-standard div.calendar-calendar td.single-day div.monthview a:visited,
div.calendar-standard div.calendar-calendar td.single-day div.dayview a,
div.calendar-standard div.calendar-calendar td.single-day div.dayview a:visited,
div.calendar-standard div.calendar-calendar td.single-day div.weekview a,
div.calendar-standard div.calendar-calendar td.single-day div.weekview a:visited {
  color: #ffffff;
}

div.calendar-standard div.calendar-calendar td.single-day div.monthview a:focus,
div.calendar-standard div.calendar-calendar td.single-day div.monthview a:hover,
div.calendar-standard div.calendar-calendar td.single-day div.monthview a:active,
div.calendar-standard div.calendar-calendar td.single-day div.dayview a:focus,
div.calendar-standard div.calendar-calendar td.single-day div.dayview a:hover,
div.calendar-standard div.calendar-calendar td.single-day div.dayview a:active,
div.calendar-standard div.calendar-calendar td.single-day div.weekview a:focus,
div.calendar-standard div.calendar-calendar td.single-day div.weekview a:hover,
div.calendar-standard div.calendar-calendar td.single-day div.weekview a:active {
  color: #ffee00;
}

div.calendar-standard > div.view-header > div.date-nav-wrapper > div.date-nav {
  padding-bottom: 4px;
}



/*** Content Specific Style: list-box ***/
html#ckeditor-wysiwygarea body .list-box,
div.drupal_content div.node-content .list-box,
div.drupal_content div.block-inner div.content .list-box {
  display: block;

  background-color: #eaeaea;

  border: 1px solid #d0d0d0;

  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-box a,
html#ckeditor-wysiwygarea body .list-box a:visited,
div.drupal_content div.node-content .list-box a,
div.drupal_content div.node-content .list-box a:visited,
div.drupal_content div.block-inner div.content .list-box a,
div.drupal_content div.block-inner div.content .list-box a:visited {
  text-decoration: none;
}

div.drupal_content div.node-content th,
div.drupal_content div.node-content th[scope="col"] {
  color: #ffffff;
  background-color: #00477f;
  margin: 5px;
  border-bottom: 1px;
  text-align: center;
}

div.drupal_content div.node-content th[scope="row"] {
  background-color: #00578f;
}

div.drupal_content div.node-content td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom:2px;
  border-top: 1px solid #A9A9A9;
  border-right: 1px solid #A9A9A9;
}

div.drupal_content div.node-content table caption {
  font-size:18px;
  font-weight: bold;
}

div.drupal_content div.node-content table {
  background-color: #eaeaea;
  border: 1px solid #A9A9A9;
  margin:  5px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

html#ckeditor-wysiwygarea body .list-box a:focus,
html#ckeditor-wysiwygarea body .list-box a:hover,
html#ckeditor-wysiwygarea body .list-box a:active,
div.drupal_content div.node-content .list-box a:focus,
div.drupal_content div.node-content .list-box a:hover,
div.drupal_content div.node-content .list-box a:active,
div.drupal_content div.block-inner div.content .list-box a:focus,
div.drupal_content div.block-inner div.content .list-box a:hover,
div.drupal_content div.block-inner div.content .list-box a:active {
  text-decoration: underline;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title,
div.drupal_content div.node-content .list-box .list-box-title,
div.drupal_content div.block-inner div.content .list-box .list-box-title {
  color: #ffffff;
  background-color: #00477f;

  font-size: 18px;

  padding: 3px;
  margin: 0;

  border: 1px solid #00366e;
}

div.drupal_content div.node-content .list-box .list-box-title a,
div.drupal_content div.node-content .list-box .list-box-title a:visited,
div.drupal_content div.block-inner div.content .list-box .list-box-title a,
div.drupal_content div.block-inner div.content .list-box .list-box-title a:visited {
  color: #ffffff;
  background-color: #00477f;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title a,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:visited {
  color: #ffffff !important;
  background-color: #00477f;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title a,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:visited,
div.drupal_content div.node-content .list-box .list-box-title a,
div.drupal_content div.node-content .list-box .list-box-title a:visited,
div.drupal_content div.block-inner div.content .list-box .list-box-title a,
div.drupal_content div.block-inner div.content .list-box .list-box-title a:visited {
  text-decoration: none;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title a:focus,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:active,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:hover,
div.drupal_content div.node-content .list-box .list-box-title a:focus,
div.drupal_content div.node-content .list-box .list-box-title a:active,
div.drupal_content div.node-content .list-box .list-box-title a:hover,
div.drupal_content div.block-inner div.content .list-box .list-box-title a:focus,
div.drupal_content div.block-inner div.content .list-box .list-box-title a:active,
div.drupal_content div.block-inner div.content .list-box .list-box-title a:hover {
  color: #fad703;
  text-decoration: underline;
}

html#ckeditor-wysiwygarea body .list-box ul,
html#ckeditor-wysiwygarea body .list-box ol,
div.drupal_content div.node-content .list-box ul,
div.drupal_content div.node-content .list-box ol,
div.drupal_content div.block-inner div.content .list-box ul,
div.drupal_content div.block-inner div.content .list-box ol {
  padding-left: 25px;

  margin-top: 5px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-box ul li a,
html#ckeditor-wysiwygarea body .list-box ol li a,
div.drupal_content div.node-content .list-box ul li a,
div.drupal_content div.node-content .list-box ol li a,
div.drupal_content div.block-inner div.content .list-box ul li a,
div.drupal_content div.block-inner div.content .list-box ol li a  {
  display: block;
  padding: 2px 4px;
}

html#ckeditor-wysiwygarea body .list-box p,
div.drupal_content div.node-content .list-box p,
div.drupal_content div.block-inner div.content .list-box p {
  margin-top: 10px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-box .list-box-body,
div.drupal_content div.node-content .list-box .list-box-body,
div.drupal_content div.block-inner div.content .list-box .list-box-body {
  padding-left: 10px;
  padding-right: 10px;
}

html#ckeditor-wysiwygarea body .list-box .list-box-body2,
div.drupal_content div.node-content .list-box .list-box-body2,
div.drupal_content div.block-inner div.content .list-box .list-box-body2 {
  padding-left: 0;
  padding-right: 0;
}

html#ckeditor-wysiwygarea body .list-box .list-box-center,
div.drupal_content div.node-content .list-box .list-box-center,
div.drupal_content div.block-inner div.content .list-box .list-box-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*** Content Specific Style: margin_height ***/
html#ckeditor-wysiwygarea body .margin_height-huge,
div.drupal_content div.node-content .margin_height-huge,
div.drupal_content div.block-inner div.content .margin_height-huge {
  margin-top: 60px;
  margin-bottom: 60px;
}

html#ckeditor-wysiwygarea body .margin_height-large,
div.drupal_content div.node-content .margin_height-large,
div.drupal_content div.block-inner div.content .margin_height-large {
  margin-top: 30px;
  margin-bottom: 30px;
}

html#ckeditor-wysiwygarea body .margin_height-middle,
div.drupal_content div.node-content .margin_height-middle,
div.drupal_content div.block-inner div.content .margin_height-middle {
  margin-top: 15px;
  margin-bottom: 15px;
}

html#ckeditor-wysiwygarea body .margin_height-small,
div.drupal_content div.node-content .margin_height-small,
div.drupal_content div.block-inner div.content .margin_height-small {
  margin-top: 5px;
  margin-bottom: 5px;
}

html#ckeditor-wysiwygarea body .margin_height-tiny,
div.drupal_content div.node-content .margin_height-tiny,
div.drupal_content div.block-inner div.content .margin_height-tiny {
  margin-top: 1px;
  margin-bottom: 1px;
}

html#ckeditor-wysiwygarea body .margin_height-none,
div.drupal_content div.node-content .margin_height-none,
div.drupal_content div.block-inner div.content .margin_height-none {
  margin-top: 0;
  margin-bottom: 0;
}



/*** Content Specific Style: margin_width ***/
html#ckeditor-wysiwygarea body .margin_width-huge,
div.drupal_content div.node-content .margin_width-huge,
div.drupal_content div.block-inner div.content .margin_width-huge {
  margin-left: 60px;
  margin-right: 60px;
}

html#ckeditor-wysiwygarea body .margin_width-large,
div.drupal_content div.node-content .margin_width-large,
div.drupal_content div.block-inner div.content .margin_width-large {
  margin-left: 30px;
  margin-right: 30px;
}

html#ckeditor-wysiwygarea body .margin_width-middle,
div.drupal_content div.node-content .margin_width-middle,
div.drupal_content div.block-inner div.content .margin_width-middle {
  margin-left: 15px;
  margin-right: 15px;
}

html#ckeditor-wysiwygarea body .margin_width-small,
div.drupal_content div.node-content .margin_width-small,
div.drupal_content div.block-inner div.content .margin_width-small {
  margin-left: 5px;
  margin-right: 5px;
}

html#ckeditor-wysiwygarea body .margin_width-tiny,
div.drupal_content div.node-content .margin_width-tiny,
div.drupal_content div.block-inner div.content .margin_width-tiny {
  margin-left: 1px;
  margin-right: 1px;
}

html#ckeditor-wysiwygarea body .margin_width-none,
div.drupal_content div.node-content .margin_width-none,
div.drupal_content div.block-inner div.content .margin_width-none {
  margin-left: 0;
  margin-right: 0;
}



/*** Content Specific Style: layout-column_1 ***/
html#ckeditor-wysiwygarea body .layout-column_1,
div.drupal_content div.node-content .layout-column_1,
div.drupal_content div.block-inner div.content .layout-column_1 {
  display: block;

  width: 99%;
}



/*** Content Specific Style: layout-column_2 ***/
html#ckeditor-wysiwygarea body .layout-column_2,
div.drupal_content div.node-content .layout-column_2,
div.drupal_content div.block-inner div.content .layout-column_2 {
  display: inline-block;

  width: 49%;
}



/*** Content Specific Style: layout-column_3 ***/
html#ckeditor-wysiwygarea body .layout-column_3,
div.drupal_content div.node-content .layout-column_3,
div.drupal_content div.block-inner div.content .layout-column_3 {
  display: inline-block;

  width: 32%;
}



/*** Content Specific Style: layout-column_4 ***/
html#ckeditor-wysiwygarea body .layout-column_4,
div.drupal_content div.node-content .layout-column_4,
div.drupal_content div.block-inner div.content .layout-column_4 {
  display: inline-block;

  width: 24%;
}



/*** Content Specific Style: layout-column_5 ***/
html#ckeditor-wysiwygarea body .layout-column_5,
div.drupal_content div.node-content .layout-column_5,
div.drupal_content div.block-inner div.content .layout-column_5 {
  display: inline-block;

  width: 19%;
}



/*** Content Specific Style: list-even-odd ***/
html#ckeditor-wysiwygarea body .list-even_odd .list-even_odd-row,
html#ckeditor-wysiwygarea body .list-even_odd .list-even-odd-row,
div.drupal_content div.node-content .list-even_odd .list-even_odd-row,
div.drupal_content div.node-content .list-even_odd .list-even-odd-row,
div.drupal_content div.node-content .list-even_odd .list-even_odd-row,
div.drupal_content div.node-content .list-even_odd .list-even-odd-row {
  font-family: Serif,Georgia,Times New Roman;
  letter-spacing: 1px;

  padding: 5px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-even_odd .list-even_odd-row_even,
html#ckeditor-wysiwygarea body .list-even_odd .list-even-odd-row.views-row-even,
div.drupal_content div.node-content .list-even_odd .list-even_odd-row_even,
div.drupal_content div.node-content .list-even_odd .list-even-odd-row.views-row-even,
div.drupal_content div.block-inner div.content .list-even_odd .list-even_odd-row_even,
div.drupal_content div.block-inner div.content .list-even_odd .list-even-odd-row.views-row-even {
  background-color: #efefef;
}

html#ckeditor-wysiwygarea body .list-even_odd .list-even_odd-row-title,
html#ckeditor-wysiwygarea body .list-even_odd .list-even_odd-row-title:visited,
html#ckeditor-wysiwygarea body .list-even_odd .list-even-odd-row.views-row-title,
html#ckeditor-wysiwygarea body .list-even_odd .list-even-odd-row.views-row-title:visited,
div.drupal_content div.node-content .list-even_odd .list-even_odd-row-title,
div.drupal_content div.node-content .list-even_odd .list-even_odd-row-title:visited,
div.drupal_content div.node-content .list-even_odd .list-even-odd-row.views-row-title
div.drupal_content div.node-content .list-even_odd .list-even-odd-row.views-row-title:visited,
div.drupal_content div.block-inner div.content .list-even_odd .list-even_odd-row-title,
div.drupal_content div.block-inner div.content .list-even_odd .list-even_odd-row-title:visited,
div.drupal_content div.block-inner div.content .list-even_odd .list-even-odd-row.views-row-title
div.drupal_content div.block-inner div.content .list-even_odd .list-even-odd-row.views-row-title:visited {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}



/*** Content Specific Style: list-inline ***/
html#ckeditor-wysiwygarea body .list-inline_block,
div.drupal_content div.node-content .list-inline_block,
div.drupal_content div.block-inner div.content .list-inline_block {
  margin: 0;
}

html#ckeditor-wysiwygarea body .list-inline_block > li,
div.drupal_content div.node-content .list-inline_block > li,
div.drupal_content div.block-inner div.content .list-inline_block > li {
  display: inline-block;

  padding-left: 3px;
  padding-right: 3px;
}

html#ckeditor-wysiwygarea body .list-inline_block > li.first,
div.drupal_content div.node-content .list-inline_block > li.first,
div.drupal_content div.block-inner div.content .list-inline_block > li.first  {
  padding-left: 0;
}

html#ckeditor-wysiwygarea body .list-inline_block > li.last,
div.drupal_content div.node-content .list-inline_block > li.last,
div.drupal_content div.block-inner div.content .list-inline_block > li.last  {
  padding-right: 0;
}



/*** Content Specific Style: calendar-hide_calendar_links ***/
html#ckeditor-wysiwygarea body .calendar-hide_calendar_links ul.calendar-links,
div.drupal_content div.node-content .calendar-hide_calendar_links ul.calendar-links,
div.drupal_content div.block-inner .calendar-hide_calendar_links ul.calendar-links,
html#ckeditor-wysiwygarea body .calendar-hide-calendar-links ul.calendar-links,
div.drupal_content div.node-content .calendar-hide-calendar-links ul.calendar-links,
div.drupal_content div.block-inner .calendar-hide-calendar-links ul.calendar-links {
  display: none;
}



/*** Content Specific Style: csf ***/
html#ckeditor-wysiwygarea body .csf_wrap ul,
div.drupal_content .csf_wrap ul {
  list-style: none outside none;
}

html#ckeditor-wysiwygarea body .csf_wrap,
div.drupal_content .csf_wrap {
  background-color: #ffffff;
  height: 453px;
  margin: 0 auto;
  width: 745px;
}

html#ckeditor-wysiwygarea body .csf_wrap a:hover,
div.drupal_content .csf_wrap a:hover {
  color: #0066FF;
}

html#ckeditor-wysiwygarea body .csf_wrap li,
div.drupal_content .csf_wrap li {
  display: inline-block;
  margin-top: 8px;
  text-align: center;
  width: 149px;
}

html#ckeditor-wysiwygarea body .csf_wrap li a,
div.drupal_content .csf_wrap li a {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  text-decoration: none;
}

html#ckeditor-wysiwygarea body .csf_wrap li a img,
div.drupal_content .csf_wrap li a img {
  border-style: none;
  vertical-align: bottom;
}

html#ckeditor-wysiwygarea body .csf_wrap li a:hover img,
div.drupal_content .csf_wrap li a:hover img {
  background-color: #f3f3f3;
}



/*** Content Specific Style: box-text ***/
html#ckeditor-wysiwygarea body .box-text,
div.drupal_content div.node-content .box-text,
div.drupal_content div.block-inner .box-text,
html#ckeditor-wysiwygarea body .box-text-center,
div.drupal_content div.node-content .box-text-center,
div.drupal_content div.block-inner .box-text-center {
  background-color: #eaeaea;
  border: 1px solid #a9a9a9;
  margin: 5px auto;
}

html#ckeditor-wysiwygarea body .box-text-center,
div.drupal_content div.node-content .box-text-center,
div.drupal_content div.block-inner .box-text-center {
  text-align: center;
}



/*** Content Specific Style: color_box ***/
html#ckeditor-wysiwygarea body .color_box,
div.drupal_content .color_box {
  border: 1px solid;
  padding: 2px 4px;
}

html#ckeditor-wysiwygarea body .color_box.color-grey,
div.drupal_content .color_box.color-grey {
  border-color: #a9a9a9;
  background-color: #eaeaea;
}

html#ckeditor-wysiwygarea body .color_box.color-grey.emphasis-subtle,
div.drupal_content .color_box.color-grey.emphasis-subtle {
  border-color: #bfbfbf;
  background-color: #f7f7f7;
}

html#ckeditor-wysiwygarea body .color_box.color-grey.emphasis-obvious,
div.drupal_content .color_box.color-grey.emphasis-obvious {
  border-color: #8a8a8a;
  background-color: #dbdbdb;
}

html#ckeditor-wysiwygarea body .color_box.color-yellow,
div.drupal_content .color_box.color-yellow {
  border-color: #edeebc;
  background-color: #feffc9;
}

html#ckeditor-wysiwygarea body .color_box.color-yellow.emphasis-subtle,
div.drupal_content .color_box.color-yellow.emphasis-subtle {
  border-color: #ededd3;
  background-color: #feffe3;
}

html#ckeditor-wysiwygarea body .color_box.color-yellow.emphasis-obvious,
div.drupal_content .color_box.color-yellow.emphasis-obvious {
  border-color: #edeea4;
  background-color: #feffb0;
}

html#ckeditor-wysiwygarea body .color_box.color-blue,
div.drupal_content .color_box.color-blue {
  border-color: #bcc3ee;
  background-color: #c9d1ff;
}

html#ckeditor-wysiwygarea body .color_box.color-blue.emphasis-subtle,
div.drupal_content .color_box.color-blue.emphasis-subtle {
  border-color: #d3d7ed;
  background-color: #e3e7ff;
}

html#ckeditor-wysiwygarea body .color_box.color-blue.emphasis-obvious,
div.drupal_content .color_box.color-blue.emphasis-obvious {
  border-color: #a4afee;
  background-color: #b0bcff;
}

html#ckeditor-wysiwygarea body .color_box.color-red,
div.drupal_content .color_box.color-red {
  border-color: #eebfb7;
  background-color: #ffccc4;
}

html#ckeditor-wysiwygarea body .color_box.color-red.emphasis-subtle,
div.drupal_content .color_box.color-red.emphasis-subtle {
  border-color: #eed8d4;
  background-color: #ffe7e3;
}

html#ckeditor-wysiwygarea body .color_box.color-red.emphasis-obvious,
div.drupal_content .color_box.color-red.emphasis-obvious {
  border-color: #eeafa4;
  background-color: #ffbab0;
}

html#ckeditor-wysiwygarea body .color_box.color-green,
div.drupal_content .color_box.color-green {
  border-color: #b7eeb7;
  background-color: #c4ffc4;
}

html#ckeditor-wysiwygarea body .color_box.color-green.emphasis-subtle,
div.drupal_content .color_box.color-green.emphasis-subtle {
  border-color: #d4eed4;
  background-color: #e3ffe3;
}

html#ckeditor-wysiwygarea body .color_box.color-green.emphasis-obvious,
div.drupal_content .color_box.color-green.emphasis-obvious {
  border-color: #a4eea4;
  background-color: #b0ffb0;
}

html#ckeditor-wysiwygarea body .color_box.color-orange,
div.drupal_content .color_box.color-orange {
  border-color: #eee2bc;
  background-color: #fff0c4;
}

html#ckeditor-wysiwygarea body .color_box.color-orange.emphasis-subtle,
div.drupal_content .color_box.color-orange.emphasis-subtle {
  border-color: #eee7d4;
  background-color: #fff8e3;
}

html#ckeditor-wysiwygarea body .color_box.color-orange.emphasis-obvious,
div.drupal_content .color_box.color-orange.emphasis-obvious {
  border-color: #eedba4;
  background-color: #ffebb0;
}

html#ckeditor-wysiwygarea body .color_box.color-purple,
div.drupal_content .color_box.color-purple {
  border-color: #dbb7ee;
  background-color: #eac4ff;
}

html#ckeditor-wysiwygarea body .color_box.color-purple.emphasis-subtle,
div.drupal_content .color_box.color-purple.emphasis-subtle {
  border-color: #e5d4ee;
  background-color: #f5e3ff;
}

html#ckeditor-wysiwygarea body .color_box.color-purple.emphasis-obvious,
div.drupal_content .color_box.color-purple.emphasis-obvious {
  border-color: #d5a4ee;
  background-color: #e3b0ff;
}

html#ckeditor-wysiwygarea body .color_box.color-teal,
div.drupal_content .color_box.color-teal {
  border-color: #b7eeed;
  background-color: #c4fffe;
}

html#ckeditor-wysiwygarea body .color_box.color-teal.emphasis-subtle,
div.drupal_content .color_box.color-teal.emphasis-subtle {
  border-color: #d4eeee;
  background-color: #e3ffff;
}

html#ckeditor-wysiwygarea body .color_box.color-teal.emphasis-obvious,
div.drupal_content .color_box.color-teal.emphasis-obvious {
  border-color: #a4eeed;
  background-color: #b0fffe;
}

html#ckeditor-wysiwygarea body .color_box.color-pink,
div.drupal_content .color_box.color-pink {
  border-color: #eebcea;
  background-color: #ffc4fa;
}

html#ckeditor-wysiwygarea body .color_box.color-pink.emphasis-subtle,
div.drupal_content .color_box.color-pink.emphasis-subtle {
  border-color: #eed4ec;
  background-color: #ffe3fd;
}

html#ckeditor-wysiwygarea body .color_box.color-pink.emphasis-obvious,
div.drupal_content .color_box.color-pink.emphasis-obvious {
  border-color: #eea4e8;
  background-color: #ffb0f8;
}



/*** Module Specific Style: dev-query ***/
div#block-devel_node_access-dna_node,
div.dev-query {
  position: relative;
  background-color: white;

  padding: 10px;
  margin: 10px 20px 10px 20px;

  border-radius: 10px;
}



/*** Sidenote Specific Styles ***/
div.sidenote .sidenote-node_id-label,
div.sidenote .sidenote-node_id-number {
  font-weight: bold;
}

div.sidenote .sidenote-item_wrapper {
  display: inline-block;
  padding: 0 2px;
}



/*** Calendar Specific Styles ***/
div#content .calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
div#content .calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
  display: block;
  position: relative;

  width: auto;
  left: 0;
  padding: 0 2px;
}

div#content .calendar-calendar .month-view .full td.multi-day div.monthview,
div#content .calendar-calendar .week-view .full td.multi-day div.weekview,
div#content .calendar-calendar .day-view .full td.multi-day div.dayview,
div#content .calendar-calendar .month-view .full td.single-day div.monthview,
div#content .calendar-calendar .week-view .full td.single-day div.weekview,
div#content .calendar-calendar .day-view .full td.single-day div.dayview {
  height: auto;
  line-height: 1.7em;
  margin: 1px 0;
  padding: 0;

  text-align: center;
}

div#content .calendar-calendar .day-view .full td .inner div.calendar div,
div#content .calendar-calendar .day-view .full td .inner div.calendar div a {
  margin: 0;
}

div#content .calendar-calendar .day-view .full td.multi-day div.dayview .cutoff {
  display: none;
}

div#content .calendar-calendar td .calendar div.calendar {
  padding: 0;
}

div#content .calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
div#content .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
div#content .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
div#content .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  padding: 0;
}

div#content .calendar-calendar td {
  color: #000000;
}

div#content .calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
div#content .calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
  padding: 0;
}

div#content .calendar > .contents > a {
  display: block;

  padding: 3px;
}

div#content .calendar > .contents > a,
div#content .calendar > .contents > a:visited {
  background-color: #6384b8;
}

div#content .calendar > .contents > .event-255,
div#content .calendar > .contents > .event-249,
div#content .calendar > .contents > .event-252,
div#content .calendar > .contents > .event-255:visited,
div#content .calendar > .contents > .event-249:visited,
div#content .calendar > .contents > .event-252:visited {
  background-color: #e6e993;
}

div#content .calendar > .contents > .event-255,
div#content .calendar > .contents > .event-249,
div#content .calendar > .contents > .event-252,
div#content .calendar > .contents > .event-255:visited,
div#content .calendar > .contents > .event-249:visited,
div#content .calendar > .contents > .event-252:visited {
  color: #002080;
}

div#content .calendar > .contents > .event-255:focus,
div#content .calendar > .contents > .event-249:focus,
div#content .calendar > .contents > .event-252:focus,
div#content .calendar > .contents > .event-255:active,
div#content .calendar > .contents > .event-249:active,
div#content .calendar > .contents > .event-252:active,
div#content .calendar > .contents > .event-255:hover,
div#content .calendar > .contents > .event-249:hover,
div#content .calendar > .contents > .event-252:hover {
  color: #5f0000;
}

div#content .calendar > .contents > .event-256,
div#content .calendar > .contents > .event-250,
div#content .calendar > .contents > .event-256:visited,
div#content .calendar > .contents > .event-250:visited {
  background-color: #9c4f4b;
}

div#content .calendar > .contents > .event-292,
div#content .calendar > .contents > .event-292:visited {
  background-color: #418e38;
}

div#content .calendar > .contents > .event-399,
div#content .calendar > .contents > .event-399:visited {
  background-color: #975700;
}



/*** Development Specific Styles ***/
div#block-menu-devel {
  font-size: 12px;

  background-color: #fff4ca;
}

div#block-menu-devel h2 {
  display: none;
}

div#block-menu-devel ul li {
  display: inline-block;
}



/*** Provide a re-usable text centering style for utilization of dynamic code such as a view ***/
.center-align-text,
.center_align-text {
  text-align: center;
}



/*** Provide date of event styling on event content types ***/
div#content div.node-content > .field-group-format.group-event-date > h3 {
  font-size: 12px;
}

div#content div.node-content > .field-group-format.group-event-date {
  margin-bottom: 12px;
}



/*** Policy-specific theme tweaks ***/
div#content .node-ie-policy .field-name-field-authority,
div#content .node-ie-policy .field-name-field-date-enacted,
div#content .node-ie-policy .field-name-field-fs-handbook,
div#content .node-ie-policy .field-name-field-authority {
  margin: 6px 0;
}

div#content .node-ie-policy .field-name-field-authority > .field-label,
div#content .node-ie-policy .field-name-field-date-enacted > .field-label,
div#content .node-ie-policy .field-name-field-fs-handbook > .field-label,
div#content .node-ie-policy .field-name-field-authority > .field-label {
  display: inline-block;
  float: none;
  vertical-align: baseline;

  font-size: 14px;
}

div#content .node-ie-policy .field-name-field-authority > .field-item,
div#content .node-ie-policy .field-name-field-date-enacted > .field-item,
div#content .node-ie-policy .field-name-field-fs-handbook > .field-item,
div#content .node-ie-policy .field-name-field-authority > .field-item {
  display: inline-block;
  vertical-align: baseline;
}
