/* $Id: custom.css,v 1.1 2010/06/24 23:08:18 jmburnz Exp $ */

/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets.
 */

/* Workaround for Admin menu bar shadow */
html body.admin-menu {
  margin-top:45px !important;
}

#containerOut { background:#fff; height:auto; margin:0 auto; width:960px; }

/*NIVO SLIDER STYLES*/

#slider { height:383px; position:relative; width:940px;}

#slider img { display:none; left:0px; position:absolute; top:0px;}

#slider a { border:0; display:block;}

.nivo-directionNav a { display:block; width:30px; height:30px; background: url(../images/arrows.png); text-indent:-9999px; border:0; }

a.nivo-nextNav { background-position:-30px 0; right:15px; }

a.nivo-prevNav { left:15px; }

a.nivo-prevNav { left:15px; }
>>>>>>> 6005c624588c493dbfb6f3312538102cfa46201b

div.view-id-press_release div.view-content{
	display: inline-block;
 	max-width: 225px; /* or something like that */
    vertical-align: top;
    margin: 5px;
}
/*Press Release Typography*/

.views-row {float:left; height:396px; width:225px; padding-right:10px;}

.views-field-title {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#00477f;
	font-size:13pt;
}

.views-field-body {
	
}
.views-field-field-press-release-photo {
}

.field-content p {
	font-family:Arial, Helvetica, sans-serif;
	color:#363636;
	font-size:10pt;
	line-height:22px;
}

.views-field-view-node {
	background:url(../images/readmore_03.png) no-repeat;
	height:24px;
	padding-bottom:10px;
	vertical-align:
}

span.field-content a {
	float:right;
}

