/* $Id: custom.css,v 1.1 2010/06/24 23:08:18 jmburnz Exp $ */

/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets.
 */

/* Workaround for Admin menu bar shadow */
html body.admin-menu {
  margin-top:45px !important;
}

#containerOut { background:#fff; height:auto; margin:0 auto; width:960px; }

/*NIVO SLIDER STYLES*/

#slider { height:383px; position:relative; width:940px;}

#slider img { display:none; left:0px; position:absolute; top:0px;}

#slider a { border:0; display:block;}

.nivo-directionNav a { display:block; width:30px; height:30px; background: url(../images/arrows.png); text-indent:-9999px; border:0; }

a.nivo-nextNav { background-position:-30px 0; right:15px; }

a.nivo-prevNav { left:15px; }

a.nivo-prevNav { left:15px; }
/*Press Release Typography*/

div.view-id-press_release div.view-content div.views-row {
  display: inline-block;
  vertical-align: top;
  min-height: 395px;
  max-height: 395px;
  min-width: 225px;
  max-width: 225px;
  padding-left: 5px;
  padding-right: 5px;
}

div.view-id-press_release div.view-content div.views-row div.views-field-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #00477f;
  font-size: 13pt;
  line-height: 20px;
  min-height:40px;
  max-height: 40px;
  overflow: hidden;
  background-color: #f3f3f3;
  border-left: 1px solid #00477f;
  border-right: 1px solid #00477f;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

div.view-id-press_release div.view-content div.views-row .views-field-body {
}

div.view-id-press_release div.view-content div.views-row .views-field-field-press-release-photo {
  background-color: #f3f3f3;
  border: 1px solid #00477f;
  min-height: 207px;
  max-height: 207px;
}

div.view-id-press_release div.view-content div.views-row div.views-field-body {
  font-family: Arial, Helvetica, sans-serif;
  color: #363636;
  font-size: 10pt;
  line-height: 22px;
  min-height: 112px;
  max-height: 112px;
  overflow: hidden;
  background-color: #f3f3f3;
  border-left: 1px solid #00477f;
  border-right: 1px solid #00477f;
  padding-left: 4px;
  padding-right: 4px;
}

div.view-id-press_release div.view-content div.views-row .views-field-view-node {
  background: url(../images/readmore_03.png) no-repeat;
  padding-top: 2px;
  padding-bottom: 4px;
  height: 24px;
  position: relative;
}

div.view-id-press_release div.view-content div.views-row .views-field-view-node a,
div.view-id-press_release div.view-content div.views-row .views-field-view-node a:visited {
  position: absolute;
  right: 5px;
  color: #ffffff;
}
