/*** Removal of unwanted elements ***/
div#genesis_mcneese-skip_nav,
div#toolbar,
div#header,
div#secondary-content,
div#sidebar-first,
div#main-content div.local-tasks,
div#main-content div.breadcrumb,
form#views-exposed-form-master-calendar-calendar-page,
div#subboard-image,
div#footer,
div#local-tasks,
div.view-master-calendar div.feed-icon,
div#page-title-area div.add-or-remove-shortcuts,
div#breadcrumb,
div#block-workbench-block {
  display: none;
}



/*** Print CSS ***/
@page {
  margin: 2cm 1.5cm;

  width: auto;
  max-width: 99%;
}



/*** Content ***/
body#genesis_mcneese-body {
  background-color: #ffffff !important;

  padding-top: 0 !important;
}

h1#page-title {
  color: #000000;

  margin-left: auto;
  margin-right: auto;

  text-shadow: none;
}

div#breadcrumb div.breadcrumb {
  display: none;
}

div#breadcrumb div.sidenote {
  display: block;

  margin-bottom: 5px;
}

div#breadcrumb div.sidenote .views-field-field-group {
  display: none;
}
