/* Workaround calendar bug:
 * It seems that when the date is set to "exclude from display" it still includes it in the display
 */
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-single,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-start,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-separator,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-end{
  display: none;
}



/* Workaround Search Box + Views bug:
 * views adds their own css, which in this particular case overwrites and breaks the search box
 * the following css groups are fixes to such problems as they are observed
 */
div#block-search-form form#search-block-form div.container-inline {
  padding-top: 0;
}

div#block-search-form form#search-block-form .form-item-search-block-form {
  padding: 0;
  margin: 0;
}



/**
 * Workaround calendar coloring issue
 * The default color #f4f4f4 is perceived to be too bright on some screens.
 * Also fix the line-height.
 */
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
  background: none repeat scroll 0 0 #6384b8;
  color: #ffffff;
  line-height: 1.9em;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background: none repeat scroll 0 0 #6384b8;
  color: #ffffff;
  line-height: 1.9em;
}



/**
 * Workaround a calendar prev/next button display issue
 * see: http://drupal.org/node/1279612
 */
div.view div.date-nav-wrapper div.date-nav ul.pager {
  position: static;

  font-weight: bold;

  margin: 0;
}

/**
 * Fix padding issues on calendar buttons
 */
div.view div.date-nav-wrapper div.date-nav ul.pager li.date-prev {
  padding-left: 5px;
}

div.view div.date-nav-wrapper div.date-nav ul.pager li.date-next {
  padding-right: 5px;
}



/**
 * Workaround workbench left & right width issue.
 */
div.admin.my-workbench .right {
  margin-right: 0;
}

div.admin.my-workbench .left {
  margin-left: 0;
}


 
/* The Msu Slider styles */
body.is-front .msuSlider {
	position:relative;
}
body.is-front .msuSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
body.is-front .msuSlider a.msu-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
body.is-front .msu-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
body.is-front .msu-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
body.is-front .msu-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
body.is-front .msu-caption p {
	padding:5px;
	margin:0;
}
body.is-front .msu-caption a {
	display:inline !important;
}
body.is-front .msu-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
body.is-front .msu-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
body.is-front .msu-prevNav {
	left:0px;
}
body.is-front .msu-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
body.is-front .msu-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
body.is-front .msu-controlNav a.active {
	font-weight:bold;
}

/*
 * Note: Include the msu-slider.css file that comes
 * with the main download before including this file.
 */

body.is-front .msu-controlNav {
  width: 280px;
  height: 379px;

  float: right;

  right: -283px;
  position: absolute;

  overflow: hidden;
}

body.is-front .msu-controlNav a {
  display: inline-block;

  width: 130px;
  height: 123px;
  border: 0;
  margin-left: 2px;
  margin-right: 3px;
  margin-bottom: 5px;
}

body.is-front .msu-control a.active {
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  border: 0;
}

body.is-front .msu-directionNav a {
  display: block;
  width: 32px;
  height: 34px;
  background: url(../images/slider-arrows.png) no-repeat;
  text-indent: -9999px;
  border:0;
}

body.is-front a.msu-nextNav {
  background-position: -32px 0;
  right: 10px;
}

body.is-front a.msu-prevNav {
  left: 10px;
}

body.is-front .msu-controlNav img {
  display: inline; /* Unhide the thumbnails */
  position: relative;
  margin-right: 0px;
}

body.is-front .msu-caption-title,
body.is-front .msu-caption-title:visited {
  font-size: 18px;
  font-weight: bold;

  color: #fad703;
}

body.is-front .msu-caption .msu-caption-subtitle {
  font-size: 12px;
  font-weight: bold;

  color: #ffffff;
}
