/* Workaround calendar bug:
 * It seems that when the date is set to "exclude from display" it still includes it in the display
 */
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-single,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-start,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-separator,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-end{
  display: none;
}



/* Workaround Search Box + Views bug:
 * views adds their own css, which in this particular case overwrites and breaks the search box
 * the following css groups are fixes to such problems as they are observed
 */
div#block-search-form form#search-block-form div.container-inline {
  padding-top: 0;
}

div#block-search-form form#search-block-form .form-item-search-block-form {
  padding: 0;
  margin: 0;
}



/**
 * Workaround calendar coloring issue
 * The default color #f4f4f4 is perceived to be too bright on some screens.
 * Also fix the line-height.
 */
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
  background: none repeat scroll 0 0 #6384b8;
  color: #ffffff;
  line-height: 1.9em;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background: none repeat scroll 0 0 #6384b8;
  color: #ffffff;
  line-height: 1.9em;
}



/**
 * Workaround a calendar prev/next button display issue
 * see: http://drupal.org/node/1279612
 */
div.view div.date-nav-wrapper div.date-nav ul.pager {
  position: static;

  font-weight: bold;

  margin: 0;
}

/**
 * Fix padding issues on calendar buttons
 */
div.view div.date-nav-wrapper div.date-nav ul.pager li.date-prev {
  padding-left: 5px;
}

div.view div.date-nav-wrapper div.date-nav ul.pager li.date-next {
  padding-right: 5px;
}



/**
 * Workaround workbench left & right width issue.
 */
div.admin.my-workbench .right {
  margin-right: 0;
}

div.admin.my-workbench .left {
  margin-left: 0;
}
