.mcneese.is-front #mcneese-page-content > .page-title {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese.node-id-492.is-logged_in,
.mcneese.node-id-819.is-logged_in,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in,
.mcneese.is-front.is-logged_in {
  min-width: 1098px;
}

.mcneese.node-id-492.is-logged_in #mcneese-top,
.mcneese.node-id-492.is-logged_in #mcneese-page,
.mcneese.node-id-492.is-logged_in #mcneese-bottom,
.mcneese.node-id-492.is-logged_in #mcneese-www-footer,
.mcneese.node-id-492.is-logged_in > .dev-query,
.mcneese.node-id-819.is-logged_in #mcneese-top,
.mcneese.node-id-819.is-logged_in #mcneese-page,
.mcneese.node-id-819.is-logged_in #mcneese-bottom,
.mcneese.node-id-819.is-logged_in #mcneese-www-footer,
.mcneese.node-id-819.is-logged_in > .dev-query,

.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-top,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-page,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-bottom,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-www-footer,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in > .dev-query,
.mcneese.is-front.is-logged_in #mcneese-top,
.mcneese.is-front.is-logged_in #mcneese-page,
.mcneese.is-front.is-logged_in #mcneese-bottom,
.mcneese.is-front.is-logged_in #mcneese-www-footer,
.mcneese.is-front.is-logged_in > .dev-query {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin: 0px auto;
}

#mcneese-page-main,
#mcneese-page-main > .node-id-492,
#mcneese-page-main > .node-id-819,
#mcneese-page-main > .view-display-id-front_page {
  position: relative;
}

.mcneese.path-preview_front .block-name-block-views-ef77b6dc6bf8433a0b7707f740043636,
.mcneese .block-name-block-views-front-page-front-page-featured {
  margin-bottom: 5px;
}

#mcneese-page-main > .node-id-819,
#mcneese-page-main > .node-id-492,
#mcneese-page-main > .view-display-id-front_page > .view-content > .views-row-1 > .node-id-819,
#mcneese-page-main > .view-display-id-front_page > .view-content > .views-row-1 > .node-id-492 {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

.mcneese.path-preview_front #mcneese-breadcrumb {
  display: none;
}



/*** Nivo Slider ***/
#views-jqfx-nivoslider-images-1 > .nivo-controlNav > .nivo-control {
  vertical-align: top;
}

#views-jqfx-nivoslider-images-1 > .nivo-directionNav > a {
  display:block;

  background: url(../../images/nivo-arrows.png);

  font-size: 0px;
  line-height: 0px;

  width: 30px;
  height: 30px;

  border: 0px;
}

#views-jqfx-nivoslider-images-1 > .nivo-directionNav > a.nivo-nextNav {
  background-position: -30px 0px;
  right: 15px;
}

#views-jqfx-nivoslider-images-1 > .nivo-directionNav > a.nivo-prevNav {
  left: 15px;
}



/*** Events Column ***/
#front_page_columns-events {
  display: inline-block;

  width: 534px;
  min-width: 534px;
  max-width: 534px;

  color: #000000;
  background-color: #ffffff;

  box-flex: 1.0;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
}

#front_page_columns-transparent-image {
  margin-left: 10px;
}



/*** News Column ***/
#front_page_columns-news {
  display: inline-block;
  vertical-align: top;

  color: #ffffff;
  background-color: #25567d;

  width: 534px;
  min-width: 534px;
  max-width: 534px;

  margin-bottom: 15px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#front_page_columns-news > .view > .view-content > .views-row .view-display-id-front_page_events > .view-content > .views-row > .views-field-field-event-image {
  display: inline-block;
  vertical-align: bottom;

  width: 210px;
  max-width: 210px;
}

#front_page_columns-news > .view > .view-content > .views-row .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing {
  display: inline-block;
  vertical-align: top;

  width: 290px;
  max-width: 290px;
}

#front_page_columns-news > .view > .view-content > .views-row .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing > .field-content {
  display: block;

  margin: 0px 15px;
}

#front_page_columns-news > .view > .view-content > .views-row .views-field {
  padding: 20px 15px 0px 15px;
}

#front_page_columns-news > .view > .view-content > .views-row > .views-field-nothing {
  min-height: 170px;

  padding-right: 190px;
}

#front_page_columns-news > .view > .view-content > .views-row .views-field-field-event-image {
  display: inline-block;
  padding: 10px 0px 0px 0px;
}

#front_page_columns-news > .view > .view-content > .views-row .views-field-field-event-image > .front_page-events-more_link > .event-image {
  display: inline-block;
  vertical-align: bottom;

  max-width: 209px;
  max-height: 199px;

  border-top: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  border-bottom: none;
  border-left: none;

  overflow: hidden;
}

#front_page_columns-news > .view-display-id-front_page_highlight > .view-content > .views-row-1 > .views-field-field-hightlight-image {
  position: absolute;
  top: 0px;
  right: 0px;

  color: #000000;
  background-color: #ffffff;

  width: 586px;
  min-width: 586px;
  max-width: 586px;

  height: 200px;
  min-height: 200px;
  max-height: 200px;

  padding: 0px 0px 15px 15px;

  overflow: hidden;
}

#front_page_columns-news .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing > .field-content > .event-title,
#front_page_columns-news .view-display-id-front_page_highlight > .view-content > .views-row > .views-field-nothing > .field-content > .highlight-title {
  margin-bottom: 5px;
}

#front_page_columns-news .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing > .field-content > .event-body,
#front_page_columns-news .view-display-id-front_page_highlight > .view-content > .views-row > .views-field-nothing > .field-content > .highlight-body {
  line-height: 25px;
}

#front_page_columns-news a,
#front_page_columns-news a:visited {
  color: #fafafa;

  text-decoration: none;
}

#front_page_columns-news a:hover,
#front_page_columns-news a:active,
#front_page_columns-news a:focus {
  color: #fad703;

  text-decoration: underline;
}

#front_page_columns-news .front_page-events-more_link,
#front_page_columns-news .front_page-events-more_link:visited,
#front_page_columns-news .front_page-highlight-more_link,
#front_page_columns-news .front_page-highlight-more_link:visited {
  color: #a0d9fa;

  text-decoration: underline;
}

#front_page_columns-news .front_page-events-more_link:focus,
#front_page_columns-news .front_page-events-more_link:active,
#front_page_columns-news .front_page-events-more_link:hover,
#front_page_columns-news .front_page-highlight-more_link:focus,
#front_page_columns-news .front_page-highlight-more_link:active,
#front_page_columns-news .front_page-highlight-more_link:hover {
  color: #fad703;

  text-decoration: underline;
}

#front_page_columns-column_title-news {
  color: #00477f;
  background-color: #fad703;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 24px;
  min-height: 24px;
  max-height: 24px;

  margin: 0px;
  padding: 6px 8px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#front_page_columns-column_title-news > a,
#front_page_columns-column_title-news > a:visited {
  color: #00477f;

  text-decoration: none;
}

#front_page_columns-column_title-news > a:focus,
#front_page_columns-column_title-news > a:active,
#front_page_columns-column_title-news > a:hover {
  color: #7f0000;

  text-decoration: underline;
}

#front_page_columns-news > .view > .view-content > .views-row .views-field > .field-content > .highlight-title > a,
#front_page_columns-news > .view > .view-content > .views-row .views-field > .field-content > .event-title > a {
  font-size: 23px;
  line-height: 27px;
}



/*** Lagniappe Column ***/
#front_page_columns-lagniappe {
  display: inline-block;
  vertical-align: top;

  color: #404040;
  background-color: #ececec;

  width: 534px;
  min-width: 534px;
  max-width: 534px;

  min-height: 350px;

  margin-bottom: 15px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field-field-event-image > .front_page-events-more_link > .event-image {
  display: inline-block;
  float: right;

  color: #000000;
  background-color: #ffffff;

  max-width: 179px;
  max-height: 170px;

  margin: 20px 0px 0px 15px;

  border-top: 15px solid #ffffff;
  border-right: none;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;

  overflow: hidden;
}

#front_page_columns-lagniappe a,
#front_page_columns-lagniappe a:visited {
  color: #25567d;

  text-decoration: underline;
}

#front_page_columns-lagniappe a:focus,
#front_page_columns-lagniappe a:active,
#front_page_columns-lagniappe a:hover {
  color: #700000;

  text-decoration: underline;
}

#front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a,
#front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:visited {
  color: #404040;

  text-decoration: none;
}

#front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:focus,
#front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:active,
#front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:hover {
  color: #225278;

  text-decoration: underline;
}

#front_page_columns-lagniappe .front_page-events-more_link,
#front_page_columns-lagniappe .front_page-events-more_link:visited {
  text-decoration: underline;
}

#front_page_columns-column_title-lagniappe {
  color: #25567d;
  background-color: #dadada;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 24px;
  min-height: 24px;
  max-height: 24px;

  margin: 0px;
  padding: 6px 8px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field-nothing {
  line-height: 25px;
  padding: 15px 15px 0px 15px;
}

#front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field > .field-content > .highlight-title > a,
#front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field > .field-content > .event-title > a {
  font-size: 23px;
  line-height: 27px;
}



/*** Spotlight Column ***/
#front_page_columns-spotlight {
  display: inline-block;
  vertical-align: top;

  color: #000000;
  background-color: #ffffff;

  width: 422px;
  min-width: 422px;
  max-width: 422px;

  margin-top: 215px;
  padding: 10px 15px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  box-flex: 1.0;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
}

#front_page_columns-column_title-spotlight {
  position: absolute;
  top: 170px;
  right: 0px;

  width: 426px;
  min-width: 426px;
  max-width: 426px;

  color: #00477f;
  background-color: #ffffff;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 45px;
  min-height: 45px;
  max-height: 45px;

  margin: 0px;
  padding: 15px 15px 20px 15px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#front_page_columns-spotlight > .view > .view-content > .views-row > .views-field {
  margin-bottom: 15px;
}

#front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title {
  margin-bottom: 5px;
}

#front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-family: arial, helvetica, sans-serif;
}

#front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-body {
  font-size: 14px;
  line-height: 24px;
}

#front_page_columns-spotlight > .view {
  margin-top: -10px;
}

#front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row {
  clear: both;

  padding: 0px 0px 15px 0px;
}

#front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row-last {
  padding: 0px;
}

#front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row > .views-field-field-spotlight-image {
  float: right;

  padding-left: 10px;
}

#front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row > .views-field-field-spotlight-image > .field-content > a > .spotlight-image {
  display: inline-block;
}

#front_page_columns-spotlight a,
#front_page_columns-spotlight a:visited {
  color: #00477f;

  text-decoration: underline;
}

#front_page_columns-spotlight a:focus,
#front_page_columns-spotlight a:active,
#front_page_columns-spotlight a:hover {
  color: #700000;

  text-decoration: underline;
}

#front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a,
#front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:visited {
  color: #00335b;

  text-decoration: none;
}

#front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:focus,
#front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:active,
#front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:hover {
  color: #7f0000;

  text-decoration: underline;
}

#front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a,
#front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:visited {
  color: #404040;

  text-decoration: none;
}

#front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:focus,
#front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:active,
#front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:hover {
  text-decoration: underline;
}

#front_page_columns-spotlight .front_page-events-more_link,
#front_page_columns-spotlight .front_page-events-more_link:visited {
  text-decoration: underline;
}



/*** IE 6, 7, 8, and some legacy Fixes ***/
.mcneese.is-legacy #mcneese-top,
.mcneese.is-legacy #mcneese-page,
.mcneese.is-legacy #mcneese-bottom,
.mcneese.is-legacy .dev-query {
  width: 960px;

  margin: 0px auto;
}

.mcneese.is-legacy #mcneese-header .header-section .block-id-1 {
  position: absolute;
  right: 20px;

  font-size: 10px;
}

.mcneese.is-legacy #front_page_columns-news .views-field-field-hightlight-image {
  position: absolute;
  top: 615px;
  right: 25px;
}

.mcneese.is-legacy #mcneese-header .header-top .header-menu-1 .html_tag-nav .navigation_list li a,
.mcneese.agent-name-ie.agent-major_version-8 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a {
  width: 96px;
  min-width: 96px;
  max-width: 96px;

  text-align: center;
}

.mcneese.is-legacy #mcneese-header .header-top .header-menu-1 .html_tag-nav .navigation_list li.id-menu-link-menu-primary-navigation-1273 a,
.mcneese.agent-name-ie.agent-major_version-8 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li.id-menu-link-menu-primary-navigation-1273 > a {
  width: 145px;
  min-width: 145px;
  max-width: 145px;

  text-align: center;
}

.mcneese.is-legacy #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav {
  width: 100%;
}

.mcneese.is-legacy #mcneese-header .header-top .header-menu-1 .html_tag-nav .navigation_list .menu-link-name-menu-primary-navigation {
  float: right;

  margin: 0px 2px;
}

.mcneese.is-legacy #mcneese-header > .header-bottom > .header-menu-2 > .html_tag-nav {
  position: absolute;

  bottom: 0px;
}

.mcneese.is-legacy #mcneese-header .header-bottom .header-menu-2 .html_tag-nav .navigation_list .menu-link-name-menu-secondary-navigation {
  float: left;
}

.mcneese.agent-name-ie.agent-major_version-8 #front_page_columns-spotlight {
  position: absolute;
  top: 5px;
  right: 25px;

  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

.mcneese.is-legacy #front_page_columns-spotlight {
  position: absolute;
  top: 0px;
  right: -4px;

  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

.mcneese.agent-name-ie.agent-major_version-6 #front_page_columns-spotlight {
  position: absolute;
  top: 520px;
  right: 25px;

  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

.mcneese.agent-name-ie.agent-major_version-8 #front_page_columns-column_title-spotlight {
  position: absolute;
  top: -55px;
  left: -4px;

  height: 15px;
  min-height: 15px;
  max-height: 15px;

  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

.mcneese.is-legacy #front_page_columns-column_title-spotlight {
  position: absolute;
  top: -55px;
  left: 0px;

  height: 15px;
  min-height: 15px;
  max-height: 15px;

  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

.mcneese.is-legacy #front_page_columns-column_title-news,
.mcneese.agent-name-ie.agent-major_version-8 #front_page_columns-column_title-news,
.mcneese.is-legacy #front_page_columns-column_title-lagniappe,
.mcneese.agent-name-ie.agent-major_version-8 #front_page_columns-column_title-lagniappe {
  height: 15px;
  min-height: 15px;
  max-height: 15px;
}

.mcneese.is-legacy #mcneese-page .html_tag-aside .header-section .block-id-2 #search-block-form {
  position: absolute;
  right: 20px;

  width: 226px;
  min-width: 226px;
  max-width: 226px;
}

.mcneese.is-legacy #mcneese-page .html_tag-aside .header-section .block-id-1 li,
.mcneese.is-legacy #mcneese-page .html_tag-aside .header-section .block-id-1 .search_form-top_box_links-bar {
  display: inline;
}

.mcneese.agent-name-ie.agent-major_version-8 #mcneese-page > .html_tag-aside > .header-section > .block-id-2 > #search-block-form {
  position: absolute;
  right: 12px;

  width: 226px;
  min-width: 226px;
  max-width: 226px;
}

.mcneese.is-legacy #mcneese-page .html_tag-aside .header-section .block-id-2 #search-block-form div .form-item {
  display: inline;
}

.mcneese.is-legacy #mcneese-page .html_tag-aside .header-section .block-id-2 #search-block-form div .form-actions {
  display: inline;
}

.mcneese.agent-name-ie.agent-major_version-8 #mcneese-page > .html_tag-aside > .header-section > .block-id-2 > #search-block-form > div > .form-actions {
  position: absolute;
  top: 6px;
  right: 14px;

  width: 16px;
  min-width: 16px;
  max-width: 16px;

  height: 16px;
  min-height: 16px;
  max-height: 16px;
}

.mcneese.agent-name-ie.agent-major_version-8 #mcneese-page > .html_tag-aside > .header-section > .block-id-2 > #search-block-form > div > .form-actions > #edit-submit {
  width: 16px;
  min-width: 16px;
  max-width: 16px;

  height: 16px;
  min-height: 16px;
  max-height: 16px;
}

.mcneese.is-legacy #front_page_columns-news .view-display-id-front_page_events .view-content .views-row .views-field {
  display: inline;
}

.mcneese.is-legacy #front_page_columns-news .view-display-id-front_page_events .view-content .views-row .views-field-field-event-image {
  float: left;
  width: 210px;
  min-width: 210px;
  max-width: 210px;
}

.mcneese.is-legacy #front_page_columns-news .view-display-id-front_page_events .view-content .views-row .views-field-nothing {
  width: 290px;
  min-width: 290px;
  max-width: 290px;
}



/*** wwwdev.mcneese.edu-specific ***/
.mcneese.at-wwwdev_mcneese_edu #front_page_columns-events,
.mcneese.at-wwwdev2_mcneese_edu #front_page_columns-events,
.mcneese.at-wwwdev #front_page_columns-events,
.mcneese.at-wwwdev2 #front_page_columns-events {
  background-image: url(../../images/background-marble-slight_white.png);
}

.mcneese.at-wwwdev_mcneese_edu #front_page_columns-news,
.mcneese.at-wwwdev2_mcneese_edu #front_page_columns-news,
.mcneese.at-wwwdev #front_page_columns-news,
.mcneese.at-wwwdev2 #front_page_columns-news {
  background-image: url(../../images/background-marble-pale_blue.png);
}

.mcneese.at-wwwdev_mcneese_edu #front_page_columns-news > .view-display-id-front_page_highlight > .view-content > .views-row-1 > .views-field-field-hightlight-image,
.mcneese.at-wwwdev2_mcneese_edu #front_page_columns-news > .view-display-id-front_page_highlight > .view-content > .views-row-1 > .views-field-field-hightlight-image,
.mcneese.at-wwwdev #front_page_columns-news > .view-display-id-front_page_highlight > .view-content > .views-row-1 > .views-field-field-hightlight-image,
.mcneese.at-wwwdev2 #front_page_columns-news > .view-display-id-front_page_highlight > .view-content > .views-row-1 > .views-field-field-hightlight-image {
  background-image: url(../../images/background-marble-slight_white.png);
}

.mcneese.at-wwwdev_mcneese_edu #front_page_columns-column_title-news,
.mcneese.at-wwwdev2_mcneese_edu #front_page_columns-column_title-news,
.mcneese.at-wwwdev #front_page_columns-column_title-news,
.mcneese.at-wwwdev2 #front_page_columns-column_title-news {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-wwwdev_mcneese_edu #front_page_columns-lagniappe,
.mcneese.at-wwwdev2_mcneese_edu #front_page_columns-lagniappe,
.mcneese.at-wwwdev #front_page_columns-lagniappe,
.mcneese.at-wwwdev2 #front_page_columns-lagniappe {
  background-image: url(../../images/background-marble-pale_grey.png);
}

.mcneese.at-wwwdev_mcneese_edu #front_page_columns-column_title-lagniappe,
.mcneese.at-wwwdev2_mcneese_edu #front_page_columns-column_title-lagniappe,
.mcneese.at-wwwdev #front_page_columns-column_title-lagniappe,
.mcneese.at-wwwdev2 #front_page_columns-column_title-lagniappe {
  background-image: url(../../images/background-marble-grey.png);
}

.mcneese.at-wwwdev_mcneese_edu #front_page_columns-spotlight,
.mcneese.at-wwwdev2_mcneese_edu #front_page_columns-spotlight,
.mcneese.at-wwwdev #front_page_columns-spotlight,
.mcneese.at-wwwdev2 #front_page_columns-spotlight {
  background-image: url(../../images/background-marble-slight_white.png);
}

.mcneese.at-wwwdev_mcneese_edu #front_page_columns-column_title-spotlight,
.mcneese.at-wwwdev2_mcneese_edu #front_page_columns-column_title-spotlight,
.mcneese.at-wwwdev #front_page_columns-column_title-spotlight,
.mcneese.at-wwwdev2 #front_page_columns-column_title-spotlight {
  background-image: url(../../images/background-marble-slight_white.png);
}




/*** sandbox.mcneese.edu-specific ***/
.mcneese.at-sandbox_mcneese_edu #front_page_columns-events,
.mcneese.at-sandbox #front_page_columns-events {
  background-image: url(../../images/background-marble-slight_white.png);
}

.mcneese.at-sandbox_mcneese_edu #front_page_columns-news,
.mcneese.at-sandbox #front_page_columns-news {
  background-image: url(../../images/background-marble-pale_blue.png);
}

.mcneese.at-sandbox_mcneese_edu #front_page_columns-news > .view-display-id-front_page_highlight > .view-content > .views-row-1 > .views-field-field-hightlight-image,
.mcneese.at-sandbox #front_page_columns-news > .view-display-id-front_page_highlight > .view-content > .views-row-1 > .views-field-field-hightlight-image {
  background-image: url(../../images/background-marble-slight_white.png);
}

.mcneese.at-sandbox_mcneese_edu #front_page_columns-column_title-news,
.mcneese.at-sandbox #front_page_columns-column_title-news {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-sandbox_mcneese_edu #front_page_columns-lagniappe,
.mcneese.at-sandbox #front_page_columns-lagniappe {
  background-image: url(../../images/background-marble-pale_grey.png);
}

.mcneese.at-sandbox_mcneese_edu #front_page_columns-column_title-lagniappe,
.mcneese.at-sandbox #front_page_columns-column_title-lagniappe {
  background-image: url(../../images/background-marble-grey.png);
}

.mcneese.at-sandbox_mcneese_edu #front_page_columns-spotlight,
.mcneese.at-sandbox #front_page_columns-spotlight {
  background-image: url(../../images/background-marble-slight_white.png);
}

.mcneese.at-sandbox_mcneese_edu #front_page_columns-column_title-spotlight,
.mcneese.at-sandbox #front_page_columns-column_title-spotlight {
  background-image: url(../../images/background-marble-slight_white.png);
}
