


/* Bulletin
======================================== */
.mcneese.node-theme-page-731 .bulletin-wrapper {
  color: #383838;
  line-height: 28px;
  padding: 10px 20px;
  border-left: 1px solid #dcdcdc;
  margin-top: 30px;
}

.mcneese.node-theme-page-731 #mcneese-bulletin-wrapper-outer {
  background-color: #f0f0f0;
  display: table;
  position: relative;
}

.mcneese.node-theme-page-731 #mcneese-bulletin-wrapper-outer .down-arrow {
  bottom: -15px;
  left: 39px;
  position: absolute;
  z-index: 9;
}

.mcneese.node-theme-page-731 #mcneese-bulletin-wrapper {
  display: block;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.mcneese.node-theme-page-731 #mcneese-bulletin-wrapper-inner {
  display: table-row;
  background: url(../../images/bulletin-background.png);
  height: 188px;
}

.mcneese.node-theme-page-731 #mcneese-bulletin-page_title {
  display: table-cell;

  width: 260px;
  min-width: 260px;
  max-width: 260px;

  overflow: visible;
  word-wrap: break-word;
}

.mcneese.node-theme-page-731 #mcneese-bulletin-content {
  display: table-cell;

  width: 100%;
  min-width: 700px;
  max-width: 100%;

  overflow: visible;
  word-wrap: break-word;
}

.mcneese.node-theme-page-731 .html_tag-header.page-title > .html_tag-hgroup > .html_tag-heading.page-title {
  margin: 4px 20px !important;
}


/* General Tweaks
======================================== */
.mcneese.node-theme-page-731 h2 {
  margin: 0;
}

.mcneese.node-theme-page-731 a:focus,
.mcneese.node-theme-page-731 a:active,
.mcneese.node-theme-page-731 a:hover {
  color: #0591ff;
  text-decoration: underline;
}

/* Page Structure
======================================== */
.mcneese.node-theme-page-731 #mcneese-top,
.mcneese.node-theme-page-731 #mcneese-page,
.mcneese.node-theme-page-731 #mcneese-www-footer {
  margin: 0px;
  padding: 0px;
}


/* Page Container Elements
======================================== */
.mcneese.node-theme-page-731 #mcneese-breadcrumb.relative > .navigation_list > .crumb-trail,
.mcneese.node-theme-page-731 #mcneese-breadcrumb.relative > .navigation_list > .crumb > span,
.mcneese.node-theme-page-731 #mcneese-breadcrumb.relative > .navigation_list > .crumb > a {
  color: #0e73c3;
}

.mcneese.node-theme-page-731 #mcneese-breadcrumb.relative {
  position: relative;
  color: #0e73c3;
  background-color: #ffffff;
  font-family: Arial,Helvetica,Sans-Serif,Sans;
  font-size: 12px;
  min-height: 24px;
  margin: 0 10px;
  padding: 3px 0px;
}

.mcneese.node-theme-page-731 #mcneese-content-main {
  font-size: 12px;
  line-height: 16px;
}

.mcneese.node-theme-page-731 #mcneese-header > .header-bottom {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

/* New Grid Based Theme
======================================== */
.mcneese.node-theme-page-731 .col-four,
.mcneese.node-theme-page-731 .col-eight,
.mcneese.node-theme-page-731 .col-eleven {
  float: left;
  display: inline;
  margin-left: 1.041667%;
  margin-right: 1.041667%;
}

.mcneese.node-theme-page-731 .col-four {
  width: 22.916667%;
}

.mcneese.node-theme-page-731 .col-eight {
  width: 47.916667%;
}

.mcneese.node-theme-page-731 .col-eleven {
  width: 66.666667%;
}

.mcneese.node-theme-page-731 .row {
  margin-bottom: 20px;
}

.mcneese.node-theme-page-731 .list-box {
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 30%, #ffffff 70%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#f0f0f0), color-stop(70%,#ffffff));
  background: -webkit-linear-gradient(top, #f0f0f0 30%,#ffffff 70%);
  background: -o-linear-gradient(top, #f0f0f0 30%,#ffffff 70%);
  background: -ms-linear-gradient(top, #f0f0f0 30%,#ffffff 70%);
  background: linear-gradient(to bottom, #f0f0f0 30%,#ffffff 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 );
  display: block;
  border: none;
}

.mcneese.node-theme-page-731 .list-box .list-box-title {
  color: #ffffff;
  background-color: #00477f;
  font-size: 14px;
  padding: 22px 13px;
  margin: 0px;
  border: none;
  text-transform: uppercase;
}

.mcneese.node-theme-page-731 .list-box .list-box-title_gold {
  color: #00477f;
  background-color: #fad703;
  font-size: 14px;
  padding: 22px 13px;
  margin: 0px;
  border: none;
  text-transform: uppercase;
}

.mcneese.node-theme-page-731 .list-box-subtitle {
  color: #a6a6a6;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  padding: 8px 0 8px 10px;
  text-transform: uppercase;
}

.mcneese.node-theme-page-731 .list-box > .list-box-body {
  padding: 0px;
}

.mcneese.node-theme-page-731 .list-box > .list-box-body > ul {
  list-style-type: none;
}

.mcneese.node-theme-page-731 .list-box > .list-box-body > ul.multi-list { /* Supports IE 10+, Opera, Firefox, Safari, Chrome */
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 2px;
  -webkit-column-gap: 2px;
  -moz-column-gap: 2px;
}

.mcneese.node-theme-page-731 .list-box > .list-box-body > ul.multi-list-left {
  float: left;
}

.mcneese.node-theme-page-731 .list-box > .list-box-body > ul.multi-list-right {
  float: right;
}

.mcneese.node-theme-page-731 .list-box > .list-box-body > ul,
.mcneese.node-theme-page-731 .list-box > .list-box-body > ol {
  padding: 0px;
  margin: 0px;
}

.mcneese.node-theme-page-731 .list-box > .list-box-body > ul > li > a,
.mcneese.node-theme-page-731 .list-box > .list-box-body > li {
  margin-bottom: 12px;
  line-height: 18px;
}

.mcneese.node-theme-page-731 .list-box > .list-box-body > ul > li > a,
.mcneese.node-theme-page-731 .list-box > .list-box-body > ol > li > a {
  display: block;
  padding: 0 0 0 10px;
  line-height: 21px;
  font-weight: bold;
  font-size: 12px;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.mcneese.node-theme-page-731 .clearfix:before,
.mcneese.node-theme-page-731 .clearfix:after,
.mcneese.node-theme-page-731 .row:before,
.mcneese.node-theme-page-731 .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.mcneese.node-theme-page-731 .row:after,
.mcneese.node-theme-page-731 .clearfix:after {
  clear: both; }
.mcneese.node-theme-page-731 .row,
.mcneese.node-theme-page-731 .clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.mcneese.node-theme-page-731 .clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
