


/*** Common ***/
.mcneese.node-theme-webform-617 #mcneese-header {
  display: none;
}

.mcneese.node-theme-webform-617 #mcneese-www-footer {
  display: none;
}

.mcneese.node-theme-webform-617 #mcneese-page {
  min-height: 0px;

  border-radius: 0px 0px 10px 10px;
}

.mcneese.node-theme-webform-617 #mcneese-bottom {
  margin: 0px;
}

.mcneese.node-theme-webform-617 .html_tag-header.page-title {
  display: none;
}

.mcneese.node-theme-webform-617 #mcneese-content-main {
  font-family: Serif, Sans-Serif, 'Times New Roman';

  font-size: 12px;
}

.mcneese.node-theme-webform-617 #mcneese-content-main h1 {
  font-size: 1.6em;
}

.mcneese.node-theme-webform-617 #mcneese-content-main h2 {
  font-size: 1.5em;
}

.mcneese.node-theme-webform-617 #mcneese-content-main h3 {
  font-size: 1.4em;
}

.mcneese.node-theme-webform-617 #mcneese-content-main h4 {
  font-size: 1.3em;
}

.mcneese.node-theme-webform-617 #mcneese-content-main h5 {
  font-size: 1.2em;
}

.mcneese.node-theme-webform-617 #mcneese-content-main h6 {
  font-size: 1.1em;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form label {
  font-weight: normal;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .form-item,
.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .form-actions {
  margin: 4px 0px;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-layout-box.horiz > .form-item {
  margin-left: 4px;
  margin-right: 4px;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-layout-box.horiz > .form-item:first-of-type {
  margin-left: 0px;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-layout-box.horiz > .form-item:last-of-type {
  margin-right: 0px;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-component-fieldset > .fieldset-wrapper > .fieldset-description {
  background: inherit;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-component > input,
.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-component > .select-or-other > .form-type-textfield > input {
  font-size: 0.9em;
  
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;

  appearance: normal;
  -webkit-appearance: normal;
  -moz-appearance: normal;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-component-date > .webform-datepicker {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;

  padding-bottom: 1px;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-component-date > .webform-datepicker >.form-type-textfield > .form-text,
.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-component-date > .webform-datepicker >.form-type-select > .form-select,
.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-component > .form-select {
  position: relative;
  top: -2px;

  border: none;
  outline: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mcneese.node-theme-webform-617 #mcneese-content-main .webform-client-form .webform-component-option-inline > fieldset > .form-item {
  display: inline-block;
}
