.mcneese.node-type-document.node-theme-document-671 #mcneese-www-footer {
  display: block;
}

.mcneese.node-type-document.node-theme-document-671 #mcneese-header {
  display: block;
}

.mcneese.node-type-document.node-theme-document-671 #mcneese-page {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
