


/*** Common ***/
.mcneese.node-theme-webforn-594 #mcneese-header {
  display: none;
}

.mcneese.node-theme-webforn-594 #mcneese-www-footer {
  display: none;
}

.mcneese.node-theme-webforn-594 #mcneese-page {
  min-height: 0px;

  border-radius: 0px 0px 10px 10px;
}

.mcneese.node-theme-webforn-594 #mcneese-bottom {
  margin: 0px;
}

.mcneese.node-theme-webforn-594 .html_tag-header.page-title {
  display: none;
}

.mcneese.node-theme-webforn-594 .mcneese-content-main {
  font-family: Serif, Sans-Serif, 'Times New Roman';

  font-size: 12px;
}
