


/*** A-Z Index ***/
.mcneese #mcneese-content-main .view-id-a_z_group_index > .view-content > .item-list > ul > .views-row > .views-field > .field-content > .a_to_z-group,
.mcneese #mcneese-content-main .view-id-a_z_content_index > .view-content > .item-list > ul > .views-row > .views-field > .field-content > .a_to_z-group,
.mcneese #mcneese-content-main .view-id-a_z_content_index > .view-content > .item-list > ul > .views-row > .views-field > .field-content > .date-display-single {
  color: #303030;
  font-size: 0.80em;
  font-style: italic;
}

#mcneese-a_to_z_listing-content > .a_to_z_listing-list > .a_to_z_listing-item,
#mcneese-a_to_z_listing-group > .a_to_z_listing-list > .a_to_z_listing-item,
#mcneese-a_to_z_listing-webform > .a_to_z_listing-list > .a_to_z_listing-item {
  margin-bottom: 5px;
}

#mcneese-a_to_z_listing-content > .a_to_z_listing-list > .a_to_z_listing-item > .item-group,
#mcneese-a_to_z_listing-content > .a_to_z_listing-list > .a_to_z_listing-item > .item-event_datetime,
#mcneese-a_to_z_listing-group > .a_to_z_listing-list > .a_to_z_listing-item > .item-group,
#mcneese-a_to_z_listing-group > .a_to_z_listing-list > .a_to_z_listing-item > .item-event_datetime,
#mcneese-a_to_z_listing-webform > .a_to_z_listing-list > .a_to_z_listing-item > .item-group,
#mcneese-a_to_z_listing-webform > .a_to_z_listing-list > .a_to_z_listing-item > .item-event_datetime {
  color: #303030;
  font-size: 0.80em;
  font-style: italic;
}



/*** Unsupported Notice ***/
.mcneese #mcneese-unsupported-message {
  background-color: #ffe0eb;

  border: 2px dotted #ff5555;
  margin: 10px 5px;
  padding: 5px;

  font-size: 13px;
  line-height: 17px;
}

.mcneese.is-in_ie_compatibility_mode #mcneese-unsupported-message {
  background-color: #fffee0;

  border: 2px dotted #d5d30e;
  margin: 10px 5px;
  padding: 5px;

  font-size: 13px;
  line-height: 17px;
}



/*** Institution Effectiveness Policies ***/
.mcneese .mcneese-content .node-type-ie_policy > .field-label-inline {
  margin: 6px 0px;
}

.mcneese .mcneese-content .node-type-ie_policy > .field-label-inline  > .field-label,
.mcneese .mcneese-content .node-type-ie_policy > .field-label-inline  > .field-items {
  display: inline-block;

  float: none;
}



/*** Policy-specific theme tweaks ***/
.mcneese .mcneese-content .node-ie-policy .field-name-field-authority,
.mcneese .mcneese-content .node-ie-policy .field-name-field-date-enacted,
.mcneese .mcneese-content .node-ie-policy .field-name-field-fs-handbook,
.mcneese .mcneese-content .node-ie-policy .field-name-field-authority {
  margin: 6px 0px;
}

.mcneese .mcneese-content .node-ie-policy .field-name-field-authority > .field-label,
.mcneese .mcneese-content .node-ie-policy .field-name-field-date-enacted > .field-label,
.mcneese .mcneese-content .node-ie-policy .field-name-field-fs-handbook > .field-label,
.mcneese .mcneese-content .node-ie-policy .field-name-field-authority > .field-label {
  display: inline-block;
  float: none;
  vertical-align: baseline;

  font-size: 14px;
}

.mcneese .mcneese-content .node-ie-policy .field-name-field-authority > .field-item,
.mcneese .mcneese-content .node-ie-policy .field-name-field-date-enacted > .field-item,
.mcneese .mcneese-content .node-ie-policy .field-name-field-fs-handbook > .field-item,
.mcneese .mcneese-content .node-ie-policy .field-name-field-authority > .field-item {
  display: inline-block;
  vertical-align: baseline;
}



/*** Custom HR-Jobs 2.0 legacy css, remove once HR-Jobs 2.0 is replaced. ***/
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround {
  display: inline;
}

.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock {
  display: table;

  text-align: left;

  background-color: inherit;

  width: auto;

  border: 0px none;
  margin: 0px auto;
  padding: 0px;

  border-collapse: separate;
  border-spacing: 0px;
}

.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock thead,
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock tbody,
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock tr,
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock tr > td,
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock tr > th {
  display: inline;

  border: 0px none;
  margin: 0px;
  padding: 0px;
}



/*** National Terrorism Advisory System Theme ***/
.mcneese .mcneese-content #national_terrorism_advisory_system {
  font-family: arial, helvetica, sans-serif;
  background: #0c0c32 url(https://www.dhs.gov/profiles/dhs_gov/modules/features/dhs_ntas_alert/img/cambio-back.jpg) repeat-x scroll center top;

  text-align: center;
  font-size: 0.8em;
  color: #ffffff;
}

.mcneese .mcneese-content #national_terrorism_advisory_system h2 {
  margin: 5px 0 10px 5px;
  padding: 2px 4px;

  font-family: calibri, arial, helvetica, sans-serif;
  font-size: 12px;
}

.mcneese .mcneese-content #national_terrorism_advisory_system a {
  font-size: x-small;
  font-style: oblique;
  color: #ffffff;
}



/*** Police Complaint Log Specific ***/
.mcneese.path-police_complaint_log_clery .view-university-police-complaint-log > .view-content > table,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table {
  margin-bottom: 20px;
}

.mcneese.path-police_complaint_log_clery .view-university-police-complaint-log > .view-content > table > caption,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > caption {
  text-align: left;

  font-size: 22px;
  line-height: 1.2em;

  margin: 3px 0px;
}

.mcneese.path-police_complaint_log_clery .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field > .views-label,
.mcneese.path-police_complaint_log_clery.view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field > .field-content,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field > .views-label,
.mcneese.node-path-police_complaint_log.view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field > .field-content {
  display: inline-block;
}

.mcneese.path-police_complaint_log_clery .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field > .views-label,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field > .views-label {
  font-weight: bold;
  min-width: 180px;
}

.mcneese.path-police_complaint_log_clery .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field {
  letter-spacing: 1px;

  padding: 3px;
}

.mcneese.path-police_complaint_log_clery .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field-field-police-disposition,
.mcneese.path-police_complaint_log_clery .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field-field-occured-date,
.mcneese.path-police_complaint_log_clery .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field-field-police-synopsis,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field-field-police-disposition,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field-field-occured-date,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field-field-police-synopsis {
  background-color: #fcfcfc;
}

.mcneese.path-police_complaint_log_clery #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-title,
.mcneese.node-type-university_police_complaint_log #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-title {
  font-size: 22px;
  line-height: 1.2em;

  margin: 3px 0px;
}

.mcneese.path-police_complaint_log_clery #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-block,
.mcneese.node-type-university_police_complaint_log #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-block {
  background-color: #eaeaea;

  border: 1px solid #a9a9a9;
  padding: 4px;
}

.mcneese.path-police_complaint_log_clery #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-block > .police_complaint_log-item,
.mcneese.node-type-university_police_complaint_log #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-block > .police_complaint_log-item {
  margin: 0px;
  padding: 5px 3px;
}

.mcneese.path-police_complaint_log_clery #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-block > .police_complaint_log-item > .police_complaint_log-item-labe,
.mcneese.node-type-university_police_complaint_log #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-block > .police_complaint_log-item > .police_complaint_log-item-label {
  font-size: 14px;
  line-height: 18px;

  margin: 0px;
  padding: 0px;
}

.mcneese.path-police_complaint_log_clery #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-block > .police_complaint_log-item-even,
.mcneese.node-type-university_police_complaint_log #mcneese-content-main > .police_complaint_log-entry > .police_complaint_log-block > .police_complaint_log-item-even {
  background-color: #fcfcfc;
}



/*** McNeese Functions ***/
.mcneese #mcneese-content-main .registrar-semester_schedule > thead {
  display: table-column-group; /* display: block; somehow produces a border */
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
  border-collapse: separate;
  border-spacing: 0px 0px;
  empty-cells: hide;
}

.mcneese #mcneese-content-main .registrar-semester_schedule > tbody > tr > td:nth-of-type(2) {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

.mcneese #mcneese-content-main .registrar-semester_schedule > tbody > tr.even > td:nth-of-type(2) {
  background-color: #d0d0d0;
}

.mcneese #mcneese-content-main .registrar-semester_schedule > tbody > tr.odd > td:nth-of-type(2) {
  background-color: #f8f8f8;
}



/*** Gainfull Employment Disclosure ***/
.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-masked,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-masked:visited {
  text-decoration: none;
  color: #333333;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-masked:hover,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-masked:active,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-masked:focus {
  text-decoration: none;
  color: #7f0000;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-unmasked,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-unmasked:visited {
  text-decoration: underline;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-unmasked:hover,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-unmasked:active,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template .ged-link-unmasked:focus {
  text-decoration: underline;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template {
  width: 814px;
  min-width: 814px;
  max-width: 814px;

  font-family: Arial;
  font-size: 12px;
  line-height: 1.5em;

  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-top {
  position: relative;

  background-image: url(../../images/ged/bg_top.png);
  background-repeat: no-repeat;
  background-position: top left;

  height: 140px;
  min-height: 140px;
  max-height: 140px;

  width: 814px;
  min-width: 814px;
  max-width: 814px;

  overflow: hidden;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-top > .ged-top-inner {
  background-color: #323232;
  color: #ffffff;

  width: 774px;
  min-width: 774px;
  max-width: 774px;

  margin-top: 17px;
  margin-left: 32px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-top > .ged-top-inner > .ged-university {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: bold;

  text-decoration: underline;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-top > .ged-top-inner > .ged-title {
  font-size: 18px;
  line-height: 1.2em;

  font-weight: normal;
  font-family: Palatino Linotype,Times New Roman;

  margin-top: 12px;

  color: #f5bb58;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-top > .ged-top-inner > .ged-program_level {
  margin-top: 5px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-top > .ged-top-inner > .ged-program_level,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-top > .ged-top-inner > .ged-program_length {
  font-size: 13px;
  line-height: 1.2em;

  font-weight: normal;
  font-family: Palatino Linotype,Times New Roman;

  color: #e6e2c8;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-top > .ged-top-inner > .ged-print {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-bottom {
  position: relative;

  background-image: url(../../images/ged/output_bg_repeater.gif);
  background-repeat: repeat-y;
  background-position: top left;

  width: 814px;
  min-width: 814px;
  max-width: 814px;

  margin-left: 1px;

  overflow: hidden;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-bottom > .ged-bottom-inner {
  background-color: e7e6df;

  margin-left: 35px;
  margin-right: 25px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column {
  display: inline-block;
  vertical-align: top;

  margin-bottom: 15px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column-left {
  width: 350px;
  min-width: 350px;
  max-width: 350px;

  margin-right: 25px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column-right {
  width: 370px;
  min-width: 370px;
  max-width: 370px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section {
  position: relative;

  margin-top: 15px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-section-header {
  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-section-header > .ged-section-header-image {
  position: absolute;

  top: 16px;
  left: 8px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-top {
  background-image: url(../../images/ged/info_box_top.gif);
  background-repeat: no-repeat;
  background-position: top left;

  height: 18px;
  min-height: 18px;
  max-height: 18px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column-left > .ged-section > .ged-box-top {
  width: 350px;
  min-width: 350px;
  max-width: 350px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column-right > .ged-section > .ged-box-top {
  width: 370px;
  min-width: 370px;
  max-width: 370px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle {
  background-image: url(../../images/ged/info_box_repeater.gif);
  background-repeat: repeat-y;
  background-position: top left;

  padding-left: 42px;

  width: 303px;
  min-width: 303px;
  max-width: 303px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-bottom {
  background-image: url(../../images/ged/info_box_bottom.gif);
  background-repeat: no-repeat;
  background-position: top left;

  height: 18px;
  min-height: 18px;
  max-height: 18px;

  width: 345px;
  min-width: 345px;
  max-width: 345px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-break {
  background-image: url(../../images/ged/dotdivider.gif);

  border: 0px none;

  height: 1px;
  min-height: 1px;
  max-height: 1px;

  width: 287px;
  min-width: 287px;
  max-width: 287px;

  margin: 15px 0px;

  overflow: hidden;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-question,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-answer {
  font-family: Arial;
  font-weight: bold;

  color: #333333;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-question,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-answer {
  margin-bottom: 10px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-question > .ged-question-icon,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-answer > .ged-answer-icon {
  float: left;

  padding-top: 0.5em;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-question > .ged-question-text,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-answer > .ged-answer-text {
  margin-left: 15px;
  margin-right: 15px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-cost-other > .ged-cost-other-link,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-cost-other > .ged-cost-other-link:visited {
  text-decoration: underline;
  color: #333333;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-cost-other > .ged-cost-other-link:hover,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-cost-other > .ged-cost-other-link:active,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-cost-other > .ged-cost-other-link:focus {
  text-decoration: underline;
  color: #7f0000;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-cost-additional {
  margin-top: 18px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-disclaimer {
  font-size: 11px;
  line-height: 1.2em;

  margin-top: 12px;
  margin-right: 10px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column > .ged-section > .ged-box-middle > .ged-answer > .ged-answer-financing-main > .ged-answer-fincancing-main-list {
  margin-top: 16px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner > .ged-column-right > .ged-more_information {
  margin-top: 45px;
  margin-left: 120px;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-bottom > .ged-bottom-inner > .ged-created {
  float: right;

  font-size: 11px;
  line-height: 1.2em;
  font-weight: bold;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-bottom > .ged-bottom-inner > .ged-additional_information > .ged-additional_information-icon {
  vertical-align: middle;
  padding-right: 3px;
}
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-end {
  background-image: url(../../images/ged/output_bg_bottom.gif);
  background-repeat: no-repeat;
  background-position: top left;

  width: 814px;
  min-width: 814px;
  max-width: 814px;

  height: 22px;
  min-height: 22px;
  max-height: 22px;

  margin-left: 1px;

  overflow: hidden;
}

.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-middle > .ged-middle-inner,
.mcneese #mcneese-content-main > .node > .mcneese-ged-template > .ged-bottom > .ged-bottom-inner {
  background-color: e7e6df;

  margin-left: 35px;
  margin-right: 25px;
}
