


/*** A-Z Index ***/
.mcneese #mcneese-content-main .view-id-a_z_group_index > .view-content > .item-list > ul > .views-row > .views-field > .field-content > .a_to_z-group,
.mcneese #mcneese-content-main .view-id-a_z_content_index > .view-content > .item-list > ul > .views-row > .views-field > .field-content > .a_to_z-group,
.mcneese #mcneese-content-main .view-id-a_z_content_index > .view-content > .item-list > ul > .views-row > .views-field > .field-content > .date-display-single {
  color: #303030;
  font-size: 0.80em;
  font-style: italic;
}



/*** Unsupported Notice ***/
.mcneese #mcneese-unsupported-message {
  background-color: #ffe0eb;

  border: 2px dotted #ff5555;
  margin: 10px 5px;
  padding: 5px;

  font-size: 13px;
  line-height: 17px;
}

.mcneese.is-in_ie_compatibility_mode #mcneese-unsupported-message {
  background-color: #fffee0;

  border: 2px dotted #d5d30e;
  margin: 10px 5px;
  padding: 5px;

  font-size: 13px;
  line-height: 17px;
}



/*** Institution Effectiveness Policies ***/
.mcneese .mcneese-content .node-type-ie_policy > .field-label-inline {
  margin: 6px 0px;
}

.mcneese .mcneese-content .node-type-ie_policy > .field-label-inline  > .field-label,
.mcneese .mcneese-content .node-type-ie_policy > .field-label-inline  > .field-items {
  display: inline-block;

  float: none;
}



/*** Content Specific Style: csf ***/
.mcneese .mcneese-content .csf_wrap ul {
  list-style: none outside none;
}

.mcneese .mcneese-content .csf_wrap {
  display: inline-block;
  margin: 0px auto;
}

.mcneese .mcneese-content .csf_wrap a:hover {
  color: #0066ff;
}

.mcneese .mcneese-content .csf_wrap li {
  display: inline-block;
  margin-top: 8px;
  text-align: center;
  width: 149px;
}

.mcneese .mcneese-content .csf_wrap li a {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.mcneese .mcneese-content .csf_wrap li a img {
  border-style: none;
  vertical-align: bottom;
}

.mcneese .mcneese-content .csf_wrap li a:hover img {
  background-color: #f3f3f3;
}

.mcneese .mcneese-content .csf-col-image {
    float: left;
    height: 200px;
    vertical-align: top;
    width: 130px;
}

.mcneese .mcneese-content .csf-col-image img {
    height: 130px;
    width: 130px;
}

.mcneese .mcneese-content .csf-cell-wrap {
    float: left;
    width: 248px;
}

.mcneese.alias-csf_desktops .mcneese-content table th,
.mcneese.alias-csf_notebooks .mcneese-content table th,
.mcneese.alias-csf_tablets .mcneese-content table th,
.mcneese.alias-csf_printers .mcneese-content table th,
.mcneese.alias-csf_macpro .mcneese-content table th,
.mcneese.alias-csf_imac .mcneese-content table th,
.mcneese.alias-csf_macmini .mcneese-content table th,
.mcneese.alias-csf_macbookpro .mcneese-content table th,
.mcneese.alias-csf_desktops_node_draft .mcneese-content table th,
.mcneese.alias-csf_notebooks_node_draft .mcneese-content table th,
.mcneese.alias-csf_tablets_node_draft .mcneese-content table th,
.mcneese.alias-csf_printers_node_draft .mcneese-content table th,
.mcneese.alias-csf_macpro_node_draft .mcneese-content table th,
.mcneese.mcneese.alias-csf_imac_node_draft .mcneese-content table th,
.mcneese.alias-csf_macmini_node_draft .mcneese-content table th,
.mcneese.alias-csf_macbookpro_node_draft .mcneese-content table th {
    background: none repeat scroll 0px 0px #FFFFFF;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.mcneese.alias-csf_desktops .mcneese-content table td,
.mcneese.alias-csf_notebooks .mcneese-content table td,
.mcneese.alias-csf_tablets .mcneese-content table td,
.mcneese.alias-csf_printers .mcneese-content table td,
.mcneese.alias-csf_macpro .mcneese-content table td,
.mcneese.alias-csf_imac .mcneese-content table td,
.mcneese.alias-csf_macmini .mcneese-content table td,
.mcneese.alias-csf_macbookpro .mcneese-content table td,
.mcneese.alias-csf_desktops_node_draft .mcneese-content table td,
.mcneese.alias-csf_notebooks_node_draft .mcneese-content table td,
.mcneese.alias-csf_tablets_node_draft .mcneese-content table td,
.mcneese.alias-csf_printers_node_draft .mcneese-content table td,
.mcneese.alias-csf_macpro_node_draft .mcneese-content table td,
.mcneese.alias-csf_imac_node_draft .mcneese-content table td,
.mcneese.alias-csf_macmini_node_draft .mcneese-content table td,
.mcneese.alias-csf_macbookpro_node_draft .mcneese-content table td {
    padding: 8px;
}

.mcneese.alias-csf_desktops .mcneese-content table tr,
.mcneese.alias-csf_notebooks .mcneese-content table tr,
.mcneese.alias-csf_tablets .mcneese-content table tr,
.mcneese.alias-csf_printers .mcneese-content table tr,
.mcneese.alias-csf_macpro .mcneese-content table tr,
.mcneese.alias-csf_imac .mcneese-content table tr,
.mcneese.alias-csf_macmini .mcneese-content table tr,
.mcneese.alias-csf_macbookpro .mcneese-content table tr,
.mcneese.alias-csf_desktops_node_draft .mcneese-content table tr,
.mcneese.alias-csf_notebooks_node_draft .mcneese-content table tr,
.mcneese.alias-csf_tablets_node_draft .mcneese-content table tr,
.mcneese.alias-csf_printers_node_draft .mcneese-content table tr,
.mcneese.alias-csf_macpro_node_draft .mcneese-content table tr,
.mcneese.alias-csf_imac_node_draft .mcneese-content table tr,
.mcneese.alias-csf_macmini_node_draft .mcneese-content table tr,
.mcneese.alias-csf_macbookpro_node_draft .mcneese-content table tr {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.mcneese.alias-csf_desktops .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_notebooks .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_tablets .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_printers .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_macpro .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_imac .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_macmini .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_macbookpro .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_desktops_node_draft .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_notebooks_node_draft .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_tablets_node_draft .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_printers_node_draft .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_macpro_node_draft .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_imac_node_draft .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_macmini_node_draft .mcneese-content tbody tr:nth-of-type(2n),
.mcneese.alias-csf_macbookpro_node_draft .mcneese-content tbody tr:nth-of-type(2n) {
    background: none repeat scroll 0px 0px #EEEEEE;
}

.mcneese.alias-csf_desktops .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_notebooks .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_tablets .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_printers .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_macpro .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_imac .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_macmini .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_macbookpro .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_desktops_node_draft .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_notebooks_node_draft .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_tablets_node_draft .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_printers_node_draft .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_macpro_node_draft .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_imac_node_draft .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_macmini_node_draft .mcneese-content tbody tr:nth-of-type(2n+1),
.mcneese.alias-csf_macbookpro_node_draft .mcneese-content tbody tr:nth-of-type(2n+1) {
    background: none repeat scroll 0px 0px #D1D1D1;
}



/*** Policy-specific theme tweaks ***/
.mcneese .mcneese-content .node-ie-policy .field-name-field-authority,
.mcneese .mcneese-content .node-ie-policy .field-name-field-date-enacted,
.mcneese .mcneese-content .node-ie-policy .field-name-field-fs-handbook,
.mcneese .mcneese-content .node-ie-policy .field-name-field-authority {
  margin: 6px 0px;
}

.mcneese .mcneese-content .node-ie-policy .field-name-field-authority > .field-label,
.mcneese .mcneese-content .node-ie-policy .field-name-field-date-enacted > .field-label,
.mcneese .mcneese-content .node-ie-policy .field-name-field-fs-handbook > .field-label,
.mcneese .mcneese-content .node-ie-policy .field-name-field-authority > .field-label {
  display: inline-block;
  float: none;
  vertical-align: baseline;

  font-size: 14px;
}

.mcneese .mcneese-content .node-ie-policy .field-name-field-authority > .field-item,
.mcneese .mcneese-content .node-ie-policy .field-name-field-date-enacted > .field-item,
.mcneese .mcneese-content .node-ie-policy .field-name-field-fs-handbook > .field-item,
.mcneese .mcneese-content .node-ie-policy .field-name-field-authority > .field-item {
  display: inline-block;
  vertical-align: baseline;
}



/*** Custom HR-Jobs 2.0 legacy css, remove once HR-Jobs 2.0 is replaced. ***/
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround {
  display: inline;
}

.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock {
  display: table;

  text-align: left;

  background-color: inherit;

  width: auto;

  border: 0px none;
  margin: 0px auto;
  padding: 0px;

  border-collapse: separate;
  border-spacing: 0px;
}

.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock thead,
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock tbody,
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock tr,
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock tr > td,
.mcneese .mcneese-content-main .view-content .centerblock_ieworkaround > .centerblock tr > th {
  display: inline;

  border: 0px none;
  margin: 0px;
  padding: 0px;
}



/*** National Terrorism Advisory System Theme ***/
.mcneese .mcneese-content #national_terrorism_advisory_system {
  font-family: arial, helvetica, sans-serif;
  background: #0c0c32 url(https://www.dhs.gov/profiles/dhs_gov/modules/features/dhs_ntas_alert/img/cambio-back.jpg) repeat-x scroll center top;

  text-align: center;
  font-size: 0.8em;
  color: #ffffff;
}

.mcneese .mcneese-content #national_terrorism_advisory_system h2 {
  margin: 5px 0 10px 5px;
  padding: 2px 4px;

  font-family: calibri, arial, helvetica, sans-serif;
  font-size: 12px;
}

.mcneese .mcneese-content #national_terrorism_advisory_system a {
  font-size: x-small;
  font-style: oblique;
  color: #ffffff;
}



/*** Police Complaint Log Specific ***/
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table {
  margin-bottom: 20px;
}

.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > caption {
  text-align: left;

  font-size: 22px;
  line-height: 1.2em;

  margin: 3px 0px;
}

.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field > .views-label,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field > .field-content {
  display: inline-block;
}

.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field > .views-label {
  font-weight: bold;
  min-width: 180px;
}

.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field {
  letter-spacing: 1px;

  padding: 3px;
}

.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field-field-police-disposition,
.mcneese.node-path-police_complaint_log .view-university-police-complaint-log > .view-content > table > tbody > tr > td > .views-field-field-police-off-loc {
  background-color: #fcfcfc;
}
