


/*** Print Types Common Code ***/
.mcneese.node-theme-page-718 #mcneese-bottom {
  margin: 0px;
}

.mcneese.node-theme-page-718 .html_tag-header.page-title {
  display: none;
}

.mcneese.node-theme-page-718 #mcneese-content-main {
  font-size: 12px;
  line-height: 16px;
}
