.mcneese.is-front .mcneese-content > .page-title {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese.node-id-492.is-logged_in,
.mcneese.node-id-819.is-logged_in,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in,
.mcneese.is-front.is-logged_in {
  min-width: 1098px;
}

.mcneese.node-id-492.is-logged_in #mcneese-top,
.mcneese.node-id-492.is-logged_in #mcneese-page,
.mcneese.node-id-492.is-logged_in #mcneese-bottom,
.mcneese.node-id-492.is-logged_in #mcneese-www-footer,
.mcneese.node-id-492.is-logged_in > .dev-query,
.mcneese.node-id-819.is-logged_in #mcneese-top,
.mcneese.node-id-819.is-logged_in #mcneese-page,
.mcneese.node-id-819.is-logged_in #mcneese-bottom,
.mcneese.node-id-819.is-logged_in #mcneese-www-footer,
.mcneese.node-id-819.is-logged_in > .dev-query,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-top,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-page,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-bottom,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-www-footer,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in > .dev-query,
.mcneese.is-front.is-logged_in #mcneese-top,
.mcneese.is-front.is-logged_in #mcneese-page,
.mcneese.is-front.is-logged_in #mcneese-bottom,
.mcneese.is-front.is-logged_in #mcneese-www-footer,
.mcneese.is-front.is-logged_in > .dev-query {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin-left: auto;
  margin-right: auto;
}

.mcneese .mcneese-content-main,
.mcneese .mcneese-content-main > .node-id-492,
.mcneese .mcneese-content-main > .node-id-819,
.mcneese .mcneese-content-main > .view-display-id-front_page {
  position: relative;
}

.mcneese.path-preview_front .block-name-block-views-ef77b6dc6bf8433a0b7707f740043636,
.mcneese .block-name-block-views-front-page-front-page-featured {
  margin-bottom: 5px;
}

.mcneese .mcneese-content-main > .node-id-819,
.mcneese .mcneese-content-main > .node-id-492,
.mcneese .mcneese-content-main > .view-display-id-front_page > .view-content > .views-row-1 > .node-id-819,
.mcneese .mcneese-content-main > .view-display-id-front_page > .view-content > .views-row-1 > .node-id-492 {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

.mcneese.is-unavailable .mcneese-content-main > .node-id-819 {
  display: block;
}

.mcneese.path-preview_front #mcneese-breadcrumb {
  display: none;
}



/*** Nivo Slider ***/
.mcneese.is-front .slider-wrapper {
  position: relative;
}

.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-caption > .nivo-caption-title,
.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-caption > .nivo-caption-title:visited {
  color: #fad703;

  font-size: 18px;
  font-weight: bold;

  text-decoration: none;
}

.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-caption > .nivo-caption-title:focus,
.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-caption > .nivo-caption-title:active,
.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-caption > .nivo-caption-title:hover {
  text-decoration: underline;
}

.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-caption > .nivo-caption-subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-controlNav {
  position: absolute;

  right: -283px;

  width: 280px;
  max-width: 280px;

  overflow: hidden;
}

.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-controlNav > .nivo-control {
  display: inline-block;

  border: 0 none;

  height: 123px;
  width: 130px;

  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 3px;
}

.mcneese.is-front .slider-wrapper > .nivoSlider > #views-jqfx-nivoslider-images-1 > .nivo-controlNav > .nivo-control {
  vertical-align: top;
}

.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-directionNav > a {
  display: block;

  background: url(../../images/nivo-arrows.png);

  font-size: 0px;
  line-height: 0px;

  width: 30px;
  height: 30px;

  border: 0px;
}

.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-directionNav > a.nivo-nextNav {
  background-position: -30px 0px;
  right: 15px;
}

.mcneese.is-front .slider-wrapper > .nivoSlider > .nivo-directionNav > a.nivo-prevNav {
  left: 15px;
}



/*** Events Column ***/
.mcneese #front_page_columns-events {
  display: inline-block;

  width: 534px;
  min-width: 534px;
  max-width: 534px;

  color: #000000;
  background-color: #ffffff;

  box-flex: 1.0;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
}

.mcneese #front_page_columns-transparent-image {
  margin-left: 10px;
}



/*** News Column ***/
.mcneese #front_page_columns-news {
  display: inline-block;
  vertical-align: top;

  color: #ffffff;
  background-color: #25567d;

  width: 534px;
  min-width: 534px;
  max-width: 534px;

  margin-bottom: 15px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .view-display-id-front_page_events > .view-content > .views-row > .views-field-field-event-image {
  display: inline-block;
  vertical-align: bottom;

  width: 210px;
  max-width: 210px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing {
  display: inline-block;
  vertical-align: top;

  width: 290px;
  max-width: 290px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing > .field-content {
  display: block;

  margin: 0px 15px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field {
  padding: 20px 15px 0px 15px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row > .views-field-nothing {
  min-height: 170px;

  padding-right: 190px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field-field-event-image {
  display: inline-block;
  padding: 10px 0px 0px 0px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field-field-event-image > .front_page-events-more_link > .event-image {
  display: inline-block;
  vertical-align: bottom;

  max-width: 209px;
  max-height: 199px;

  border-top: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  border-bottom: none;
  border-left: none;

  overflow: hidden;
}

.mcneese #front_page_columns-news > .view-display-id-front_page_highlight > .view-content > .views-row-1 > .views-field-field-hightlight-image {
  position: absolute;
  top: 0px;
  right: 0px;

  color: #000000;
  background-color: #ffffff;

  width: 586px;
  min-width: 586px;
  max-width: 586px;

  height: 200px;
  min-height: 200px;
  max-height: 200px;

  padding: 0px 0px 15px 15px;

  overflow: hidden;
}

.mcneese #front_page_columns-news .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing > .field-content > .event-title,
.mcneese #front_page_columns-news .view-display-id-front_page_highlight > .view-content > .views-row > .views-field-nothing > .field-content > .highlight-title {
  margin-bottom: 5px;
}

.mcneese #front_page_columns-news .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing > .field-content > .event-body,
.mcneese #front_page_columns-news .view-display-id-front_page_highlight > .view-content > .views-row > .views-field-nothing > .field-content > .highlight-body {
  line-height: 25px;
}

.mcneese #front_page_columns-news a,
.mcneese #front_page_columns-news a:visited {
  color: #fafafa;

  text-decoration: none;
}

.mcneese #front_page_columns-news a:hover,
.mcneese #front_page_columns-news a:active,
.mcneese #front_page_columns-news a:focus {
  color: #fad703;

  text-decoration: underline;
}

.mcneese #front_page_columns-news .front_page-events-more_link,
.mcneese #front_page_columns-news .front_page-events-more_link:visited,
.mcneese #front_page_columns-news .front_page-highlight-more_link,
.mcneese #front_page_columns-news .front_page-highlight-more_link:visited {
  color: #a0d9fa;

  text-decoration: underline;
}

.mcneese #front_page_columns-news .front_page-events-more_link:focus,
.mcneese #front_page_columns-news .front_page-events-more_link:active,
.mcneese #front_page_columns-news .front_page-events-more_link:hover,
.mcneese #front_page_columns-news .front_page-highlight-more_link:focus,
.mcneese #front_page_columns-news .front_page-highlight-more_link:active,
.mcneese #front_page_columns-news .front_page-highlight-more_link:hover {
  color: #fad703;

  text-decoration: underline;
}

.mcneese #front_page_columns-column_title-news {
  color: #00477f;
  background-color: #fad703;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 24px;
  min-height: 24px;
  max-height: 24px;

  margin: 0px;
  padding: 6px 8px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.mcneese #front_page_columns-column_title-news > a,
.mcneese #front_page_columns-column_title-news > a:visited {
  color: #00477f;

  text-decoration: none;
}

.mcneese #front_page_columns-column_title-news > a:focus,
.mcneese #front_page_columns-column_title-news > a:active,
.mcneese #front_page_columns-column_title-news > a:hover {
  color: #7f0000;

  text-decoration: underline;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field > .field-content > .highlight-title > a,
.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field > .field-content > .event-title > a {
  font-size: 23px;
  line-height: 27px;
}



/*** Lagniappe Column ***/
.mcneese #front_page_columns-lagniappe {
  display: inline-block;
  vertical-align: top;

  color: #404040;
  background-color: #ececec;

  width: 534px;
  min-width: 534px;
  max-width: 534px;

  min-height: 350px;

  margin-bottom: 15px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field-field-event-image > .front_page-events-more_link > .event-image {
  display: inline-block;
  float: right;

  color: #000000;
  background-color: #ffffff;

  max-width: 179px;
  max-height: 170px;

  margin: 20px 0px 0px 15px;

  border-top: 15px solid #ffffff;
  border-right: none;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;

  overflow: hidden;
}

.mcneese #front_page_columns-lagniappe a,
.mcneese #front_page_columns-lagniappe a:visited {
  color: #25567d;

  text-decoration: underline;
}

.mcneese #front_page_columns-lagniappe a:focus,
.mcneese #front_page_columns-lagniappe a:active,
.mcneese #front_page_columns-lagniappe a:hover {
  color: #700000;

  text-decoration: underline;
}

.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a,
.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:visited {
  color: #404040;

  text-decoration: none;
}

.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:focus,
.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:active,
.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:hover {
  color: #225278;

  text-decoration: underline;
}

.mcneese #front_page_columns-lagniappe .front_page-events-more_link,
.mcneese #front_page_columns-lagniappe .front_page-events-more_link:visited {
  text-decoration: underline;
}

.mcneese #front_page_columns-column_title-lagniappe {
  color: #25567d;
  background-color: #dadada;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 24px;
  min-height: 24px;
  max-height: 24px;

  margin: 0px;
  padding: 6px 8px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field-nothing {
  line-height: 25px;
  padding: 15px 15px 0px 15px;
}

.mcneese #front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field > .field-content > .highlight-title > a,
.mcneese #front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field > .field-content > .event-title > a {
  font-size: 23px;
  line-height: 27px;
}



/*** Spotlight Column ***/
.mcneese #front_page_columns-spotlight {
  display: inline-block;
  vertical-align: top;

  color: #000000;
  background-color: #ffffff;

  width: 422px;
  min-width: 422px;
  max-width: 422px;

  margin-top: 215px;
  padding: 10px 15px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  box-flex: 1.0;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
}

.mcneese #front_page_columns-column_title-spotlight {
  position: absolute;
  top: 170px;
  right: 0px;

  width: 426px;
  min-width: 426px;
  max-width: 426px;

  color: #00477f;
  background-color: #ffffff;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 45px;
  min-height: 45px;
  max-height: 45px;

  margin: 0px;
  padding: 15px 15px 20px 15px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field {
  margin-bottom: 15px;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title {
  margin-bottom: 5px;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-family: arial, helvetica, sans-serif;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-body {
  font-size: 14px;
  line-height: 24px;
}

.mcneese #front_page_columns-spotlight > .view {
  margin-top: -10px;
}

.mcneese #front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row {
  clear: both;

  padding: 0px 0px 15px 0px;
}

.mcneese #front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row-last {
  padding: 0px;
}

.mcneese #front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row > .views-field-field-spotlight-image {
  float: right;

  padding-left: 10px;
}

.mcneese #front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row > .views-field-field-spotlight-image > .field-content > a > .spotlight-image {
  display: inline-block;
}

.mcneese #front_page_columns-spotlight a,
.mcneese #front_page_columns-spotlight a:visited {
  color: #00477f;

  text-decoration: underline;
}

.mcneese #front_page_columns-spotlight a:focus,
.mcneese #front_page_columns-spotlight a:active,
.mcneese #front_page_columns-spotlight a:hover {
  color: #700000;

  text-decoration: underline;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a,
.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:visited {
  color: #00335b;

  text-decoration: none;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:focus,
.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:active,
.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:hover {
  color: #7f0000;

  text-decoration: underline;
}

.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a,
.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:visited {
  color: #404040;

  text-decoration: none;
}

.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:focus,
.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:active,
.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:hover {
  text-decoration: underline;
}

.mcneese #front_page_columns-spotlight .front_page-events-more_link,
.mcneese #front_page_columns-spotlight .front_page-events-more_link:visited {
  text-decoration: underline;
}



/*** wwwdev.mcneese.edu-specific ***/



/*** sandbox.mcneese.edu-specific ***/



/*** New Front Page Content ***/
.mcneese.is-front .mcneese-content > .page-title {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese #mcneese-front_page-wrapper {
  display: block;
  position: relative;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin-left: auto;
  margin-right: auto;

  overflow: visible;
}



/*** McNeese - Featured ***/
.mcneese #mcneese-front_page-featured {
  display: block;
  position: relative;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 960px;
  min-width: 960px;
  max-width: 960px;

  height: 379px;
  min-height: 379px;
  max-height: 379px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  overflow: hidden;
}

.mcneese.no-script #mcneese-front_page-featured > .mcneese-front_page-featured-image {
  height: 379px;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image {
  display: inline-block;
  vertical-align: top;
  position: relative;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 690px;
  min-width: 690px;
  max-width: 690px;

  margin: 0px;
  padding: 0px;
  border: 0px;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > #mcneese-front_page-featured-image-previous,
.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > #mcneese-front_page-featured-image-next {
  display: none;
  vertical-align: top;
  position: absolute;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  top: 150px;

  font-size: 0px;
  line-height: 0px;

  background: url(../../images/nivo-arrows.png);

  width: 30px;
  min-width: 30px;
  max-width: 30px;

  height: 30px;
  min-height: 30px;
  max-height: 30px;

  border: 0px;
  padding: 0px;
  margin: 0px;

  z-index: 201;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > #mcneese-front_page-featured-image-previous {
  left: 10px;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > #mcneese-front_page-featured-image-next {
  right: 10px;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image:focus > #mcneese-front_page-featured-image-previous,
.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image:active > #mcneese-front_page-featured-image-previous,
.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image:hover > #mcneese-front_page-featured-image-previous {
  display: inline-block;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image:focus > #mcneese-front_page-featured-image-next,
.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image:active > #mcneese-front_page-featured-image-next,
.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image:hover > #mcneese-front_page-featured-image-next {
  display: inline-block;

  background-position: -30px;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > .mcneese-front_page-featured-image-overlay {
  display: inline-block;
  vertical-align: top;
  position: absolute;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: #ffffff;
  background-color: #000000;

  opacity: 0.85;

  font-size: 12px;
  line-height: 14px;

  font-weight: bold;

  bottom: 0px;
  left: 0px;
  z-index: 200;

  width: 690px;
  min-width: 690px;
  max-width: 690px;

  pading: 2px;

  overflow: hidden;
}

.mcneese.agent-name-ie #mcneese-front_page-featured > .mcneese-front_page-featured-image > .mcneese-front_page-featured-image-overlay {
  filter: alpha(opacity=80);
  zoom: 1;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > .mcneese-front_page-featured-image-overlay > .mcneese-front_page-featured-image-overlay-title {
  color: #fad703;

  font-size: 18px;
  line-height: 20px;

  padding: 5px 5px 0px 5px;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > .mcneese-front_page-featured-image-overlay > .mcneese-front_page-featured-image-overlay-title > a,
.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > .mcneese-front_page-featured-image-overlay > .mcneese-front_page-featured-image-overlay-title > a:visited {
  text-decoration: none;

  color: #fad703;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > .mcneese-front_page-featured-image-overlay > .mcneese-front_page-featured-image-overlay-title > a:focus,
.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > .mcneese-front_page-featured-image-overlay > .mcneese-front_page-featured-image-overlay-title > a:active,
.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > .mcneese-front_page-featured-image-overlay > .mcneese-front_page-featured-image-overlay-title > a:hover {
  text-decoration: underline;

  color: #fad703;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-image > .mcneese-front_page-featured-image-overlay > .mcneese-front_page-featured-image-overlay-description {
  padding: 5px;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-thumbnails {
  display: inline-block;
  vertical-align: top;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 266px;
  min-width: 266px;
  max-width: 266px;

  margin: 0px;
  padding: 0px;
  border: 0px;

  overflow: hidden;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-thumbnails > .mcneese-front_page-featured-thumbnail {
  display: inline-block;
  vertical-align: middle;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-thumbnails > .mcneese-front_page-featured-thumbnail.mcneese-front_page-featured-thumbnail-item_even {
  margin: 0px 0px 5px 1px;
}

.mcneese #mcneese-front_page-featured > .mcneese-front_page-featured-thumbnails > .mcneese-front_page-featured-thumbnail.mcneese-front_page-featured-thumbnail-item_odd {
  margin: 0px 0px 5px 5px;
}



/*** McNeese - Highlight ***/
.mcneese #mcneese-front_page-highlight {
  display: inline-block;
  vertical-align: top;
  position: absolute;

  right: 0px;

  color: #000000;
  background-color: #ffffff;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 600px;
  min-width: 600px;
  max-width: 600px;

  height: 215px;
  min-height: 215px;
  max-height: 215px;

  padding-left: 15px;
  padding-bottom: 15px;
}



/*** McNeese - Left and Right Blocks ***/
.mcneese #mcneese-front_page-left {
  display: inline-block;
  vertical-align: top;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 534px;
  min-width: 534px;
  max-width: 534px;
}

.mcneese #mcneese-front_page-right {
  display: inline-block;
  vertical-align: top;

  position: relative;

  box-sizing: box;

  width: 422px;
  min-width: 422px;
  max-width: 422px;

  margin-bottom: 15px;
}



/*** McNeese - Events ***/
.mcneese #mcneese-front_page-events {
  margin-bottom: 15px;

  color: #ffffff;
  background-color: #25567d;
}

.mcneese #mcneese-front_page-events a,
.mcneese #mcneese-front_page-events a:visited {
  color: #a0d9fa;
  background-color: #25567d;
}

.mcneese #mcneese-front_page-events a:focus,
.mcneese #mcneese-front_page-events a:active,
.mcneese #mcneese-front_page-events a:hover {
  color: #fad703;
  background-color: #25567d;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-header {
  display: block;
  vertical-align: top;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: #00477f;
  background-color: #fad703;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 24px;
  min-height: 24px;
  max-height: 24px;

  margin: 0px;
  padding: 6px 8px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-header > a,
.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-header > a:visited {
  color: #00477f;
  background-color: #fad703;

  text-decoration: none;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-header > a:focus,
.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-header > a:active,
.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-header > a:hover {
  color: #7f0000;
  background-color: #fad703;

  text-decoration: underline;
}


.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-highlight_placeholder {
  display: inline-block;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  float: right;

  width: 178px;
  min-width: 178px;
  max-width: 178px;

  height: 220px;
  min-height: 220px;
  max-height: 220px;

  margin-left: 15px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event.mcneese-front_page-events-event-no_image {
  margin: 15px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event > .mcneese-front_page-events-event-body_wrapper > .mcneese-front_page-events-event-title {
  display: block;

  font-size: 23px;
  line-height: 27px;
  font-weight: normal;

  padding: 0px;
  margin: 0px 0px 5px 0px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event > .mcneese-front_page-events-event-body_wrapper > .mcneese-front_page-events-event-title > a,
.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event > .mcneese-front_page-events-event-body_wrapper > .mcneese-front_page-events-event-title > a:visited {
  color: #fafafa;
  background-color: #25567d;

  text-decoration: none;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event > .mcneese-front_page-events-event-body_wrapper > .mcneese-front_page-events-event-title > a:focus,
.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event > .mcneese-front_page-events-event-body_wrapper > .mcneese-front_page-events-event-title > a:active,
.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event > .mcneese-front_page-events-event-body_wrapper > .mcneese-front_page-events-event-title > a:hover {
  color: #fad703;
  background-color: #25567d;

  text-decoration: underline;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-0 {
  min-height: 180px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-1 {
  min-height: 215px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-1.mcneese-front_page-events-event-has_image {
  display: inline-block;
  vertical-align: top;
  position: relative;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 534px;
  min-width: 534px;
  max-width: 534px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-1 > .mcneese-front_page-events-event-image_link {
  display: inline-block;
  vertical-align: bottom;

  position: relative;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 224px;
  min-width: 224px;
  max-width: 224px;

  height: 214px;
  min-height: 214px;
  max-height: 214px;

  color: #000000;
  background-color: #ffffff;

  padding: 15px 15px 0px 0px;
  margin-right: 15px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-1.mcneese-front_page-events-event-has_image > .mcneese-front_page-events-event-body_wrapper {
  display: inline-block;
  vertical-align: top;
  position: relative;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 280px;
  min-width: 280px;
  max-width: 280px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event > .mcneese-front_page-events-event-body_wrapper > .mcneese-front_page-events-event-body {
  line-height: 25px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-1.mcneese-front_page-events-event-has_image > .mcneese-front_page-events-event-body_wrapper > .mcneese-front_page-events-event-body > .mcneese-front_page-events-event-body-text {
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-1.mcneese-front_page-events-event-has_image > .mcneese-front_page-events-event-body_wrapper > .mcneese-front_page-events-event-body > .mcneese-front_page-events-event-body-more {
  display: inline-block;
}



/*** McNeese - Lagniappe ***/
.mcneese #mcneese-front_page-lagniappe {
  color: #404040;
  background-color: #ececec;

  min-height: 350px;
}

.mcneese #mcneese-front_page-lagniappe a,
.mcneese #mcneese-front_page-lagniappe a:visited {
  color: #25567d;
  background-color: #ececec;
}

.mcneese #mcneese-front_page-lagniappe a:focus,
.mcneese #mcneese-front_page-lagniappe a:active,
.mcneese #mcneese-front_page-lagniappe a:hover {
  color: #700000;
  background-color: #ececec;
}

.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event-header {
  display: block;
  vertical-align: top;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: #25567d;
  background-color: #dadada;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 24px;
  min-height: 24px;
  max-height: 24px;

  margin: 0px;
  padding: 6px 8px;
}

.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event {
  min-height: 254px;

  margin: 15px;
}

.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event-2 > .mcneese-front_page-lagniappe-event-image_link {
  display: inline-block;
  vertical-align: top;
  position: relative;

  right: -15px;

  clear: both;
  float: right;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 194px;
  min-width: 194px;
  max-width: 194px;

  height: 200px;
  min-height: 200px;
  max-height: 200px;

  color: #000000;
  background-color: #ffffff;

  padding: 15px 0px 15px 15px;
  margin: 0px 0px 15px 0px;
}

.mcneese #mcneese-front_page-events > .mcneese-front_page-events-event-1.mcneese-front_page-events-event-no_image > .mcneese-front_page-events-event-body_wrapper {
  padding-bottom: 15px;
}

.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event > .mcneese-front_page-lagniappe-event-body_wrapper > .mcneese-front_page-lagniappe-event-title {
  display: block;

  font-size: 23px;
  line-height: 27px;
  font-weight: normal;

  padding: 0px;
  margin: 0px 0px 5px 0px;
}

.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event > .mcneese-front_page-lagniappe-event-body_wrapper > .mcneese-front_page-lagniappe-event-title > a,
.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event > .mcneese-front_page-lagniappe-event-body_wrapper > .mcneese-front_page-lagniappe-event-title > a:visited {
  color: #404040;
  background-color: #ececec;

  text-decoration: none;
}

.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event > .mcneese-front_page-lagniappe-event-body_wrapper > .mcneese-front_page-lagniappe-event-title > a:focus,
.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event > .mcneese-front_page-lagniappe-event-body_wrapper > .mcneese-front_page-lagniappe-event-title > a:active,
.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event > .mcneese-front_page-lagniappe-event-body_wrapper > .mcneese-front_page-lagniappe-event-title > a:hover {
  color: #25567d;
  background-color: #ececec;

  text-decoration: underline;
}

.mcneese #mcneese-front_page-lagniappe > .mcneese-front_page-lagniappe-event > .mcneese-front_page-lagniappe-event-body_wrapper > .mcneese-front_page-lagniappe-event-body {
  line-height: 25px;
}



/*** McNeese - Spotlight ***/
.mcneese #mcneese-front_page-spotlight {
  margin-top: 210px;

  background-color: #ffffff;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-header {
  display: block;
  vertical-align: top;
  position: absolute;

  top: 169px;
  left: -4px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: #00477f;
  background-color: #ffffff;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 39px;
  min-height: 39px;
  max-height: 39px;

  width: 426px;
  min-width: 426px;
  max-width: 426px;

  margin: 0px;
  padding: 15px 15px 0px 15px;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-header > a,
.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-header > a:visited {
  color: #00477f;
  background-color: #ffffff;

  text-decoration: none;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-header > a:focus,
.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-header > a:active,
.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-header > a:hover {
  color: #7f0000;
  background-color: #ffffff;

  text-decoration: underline;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event > .mcneese-front_page-spotlight-event-body_wrapper > .mcneese-front_page-spotlight-event-title {
  display: block;

  font-size: 20px;
  line-height: 24px;
  font-weight: normal;

  padding: 0px;
  margin: 0px 0px 5px 0px;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event > .mcneese-front_page-spotlight-event-body_wrapper > .mcneese-front_page-spotlight-event-title > a,
.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event > .mcneese-front_page-spotlight-event-body_wrapper > .mcneese-front_page-spotlight-event-title > a:visited {
  color: #00335b;
  background-color: #ffffff;

  text-decoration: none;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event > .mcneese-front_page-spotlight-event-body_wrapper > .mcneese-front_page-spotlight-event-title > a:focus,
.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event > .mcneese-front_page-spotlight-event-body_wrapper > .mcneese-front_page-spotlight-event-title > a:active,
.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event > .mcneese-front_page-spotlight-event-body_wrapper > .mcneese-front_page-spotlight-event-title > a:hover {
  color: #700000;
  background-color: #ffffff;

  text-decoration: underline;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event {
  position: relative;

  clear: both;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  min-height: 175px;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event.mcneese-front_page-spotlight-event-no_image {
  min-height: 130px;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-even {
  padding: 7px 15px;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-odd {
  padding: 8px 15px;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event > .mcneese-front_page-spotlight-event-image_link {
  clear: both;
  float: right;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 192px;
  min-width: 192px;
  max-width: 192px;

  color: #000000;
  background-color: #ffffff;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-even > .mcneese-front_page-spotlight-event-image_link {
  height: 160px;
  min-height: 160px;
  max-height: 160px;

  padding: 0px 0px 7px 10px;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event-odd > .mcneese-front_page-spotlight-event-image_link {
  height: 161px;
  min-height: 161px;
  max-height: 161px;

  padding: 0px 0px 8px 10px;
}

.mcneese #mcneese-front_page-spotlight > .mcneese-front_page-spotlight-event > .mcneese-front_page-spotlight-event-body_wrapper > .mcneese-front_page-spotlight-event-body {
  line-height: 25px;
}
