.mcneese.is-front .mcneese-content > .page-title {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese.node-id-492.is-logged_in,
.mcneese.node-id-819.is-logged_in,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in,
.mcneese.is-front.is-logged_in {
  min-width: 1098px;
}

.mcneese.node-id-492.is-logged_in #mcneese-top,
.mcneese.node-id-492.is-logged_in #mcneese-page,
.mcneese.node-id-492.is-logged_in #mcneese-bottom,
.mcneese.node-id-492.is-logged_in #mcneese-www-footer,
.mcneese.node-id-492.is-logged_in > .dev-query,
.mcneese.node-id-819.is-logged_in #mcneese-top,
.mcneese.node-id-819.is-logged_in #mcneese-page,
.mcneese.node-id-819.is-logged_in #mcneese-bottom,
.mcneese.node-id-819.is-logged_in #mcneese-www-footer,
.mcneese.node-id-819.is-logged_in > .dev-query,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-top,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-page,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-bottom,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in #mcneese-www-footer,
.mcneese.alias-part-0-preview.alias-part-1-front.is-logged_in > .dev-query,
.mcneese.is-front.is-logged_in #mcneese-top,
.mcneese.is-front.is-logged_in #mcneese-page,
.mcneese.is-front.is-logged_in #mcneese-bottom,
.mcneese.is-front.is-logged_in #mcneese-www-footer,
.mcneese.is-front.is-logged_in > .dev-query {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin-left: auto;
  margin-right: auto;
}

.mcneese .mcneese-content-main,
.mcneese .mcneese-content-main > .node-id-492,
.mcneese .mcneese-content-main > .node-id-819,
.mcneese .mcneese-content-main > .view-display-id-front_page {
  position: relative;
}

.mcneese.path-preview_front .block-name-block-views-ef77b6dc6bf8433a0b7707f740043636,
.mcneese .block-name-block-views-front-page-front-page-featured {
  margin-bottom: 5px;
}

.mcneese .mcneese-content-main > .node-id-819,
.mcneese .mcneese-content-main > .node-id-492,
.mcneese .mcneese-content-main > .view-display-id-front_page > .view-content > .views-row-1 > .node-id-819,
.mcneese .mcneese-content-main > .view-display-id-front_page > .view-content > .views-row-1 > .node-id-492 {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

.mcneese.path-preview_front #mcneese-breadcrumb {
  display: none;
}



/*** Nivo Slider ***/
.mcneese #views-jqfx-nivoslider-images-1 > .nivo-controlNav > .nivo-control {
  vertical-align: top;
}

.mcneese #views-jqfx-nivoslider-images-1 > .nivo-directionNav > a {
  display:block;

  background: url(../../images/nivo-arrows.png);

  font-size: 0px;
  line-height: 0px;

  width: 30px;
  height: 30px;

  border: 0px;
}

.mcneese #views-jqfx-nivoslider-images-1 > .nivo-directionNav > a.nivo-nextNav {
  background-position: -30px 0px;
  right: 15px;
}

.mcneese #views-jqfx-nivoslider-images-1 > .nivo-directionNav > a.nivo-prevNav {
  left: 15px;
}



/*** Events Column ***/
.mcneese #front_page_columns-events {
  display: inline-block;

  width: 534px;
  min-width: 534px;
  max-width: 534px;

  color: #000000;
  background-color: #ffffff;

  box-flex: 1.0;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
}

.mcneese #front_page_columns-transparent-image {
  margin-left: 10px;
}



/*** News Column ***/
.mcneese #front_page_columns-news {
  display: inline-block;
  vertical-align: top;

  color: #ffffff;
  background-color: #25567d;

  width: 534px;
  min-width: 534px;
  max-width: 534px;

  margin-bottom: 15px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .view-display-id-front_page_events > .view-content > .views-row > .views-field-field-event-image {
  display: inline-block;
  vertical-align: bottom;

  width: 210px;
  max-width: 210px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing {
  display: inline-block;
  vertical-align: top;

  width: 290px;
  max-width: 290px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing > .field-content {
  display: block;

  margin: 0px 15px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field {
  padding: 20px 15px 0px 15px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row > .views-field-nothing {
  min-height: 170px;

  padding-right: 190px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field-field-event-image {
  display: inline-block;
  padding: 10px 0px 0px 0px;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field-field-event-image > .front_page-events-more_link > .event-image {
  display: inline-block;
  vertical-align: bottom;

  max-width: 209px;
  max-height: 199px;

  border-top: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  border-bottom: none;
  border-left: none;

  overflow: hidden;
}

.mcneese #front_page_columns-news > .view-display-id-front_page_highlight > .view-content > .views-row-1 > .views-field-field-hightlight-image {
  position: absolute;
  top: 0px;
  right: 0px;

  color: #000000;
  background-color: #ffffff;

  width: 586px;
  min-width: 586px;
  max-width: 586px;

  height: 200px;
  min-height: 200px;
  max-height: 200px;

  padding: 0px 0px 15px 15px;

  overflow: hidden;
}

.mcneese #front_page_columns-news .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing > .field-content > .event-title,
.mcneese #front_page_columns-news .view-display-id-front_page_highlight > .view-content > .views-row > .views-field-nothing > .field-content > .highlight-title {
  margin-bottom: 5px;
}

.mcneese #front_page_columns-news .view-display-id-front_page_events > .view-content > .views-row > .views-field-nothing > .field-content > .event-body,
.mcneese #front_page_columns-news .view-display-id-front_page_highlight > .view-content > .views-row > .views-field-nothing > .field-content > .highlight-body {
  line-height: 25px;
}

.mcneese #front_page_columns-news a,
.mcneese #front_page_columns-news a:visited {
  color: #fafafa;

  text-decoration: none;
}

.mcneese #front_page_columns-news a:hover,
.mcneese #front_page_columns-news a:active,
.mcneese #front_page_columns-news a:focus {
  color: #fad703;

  text-decoration: underline;
}

.mcneese #front_page_columns-news .front_page-events-more_link,
.mcneese #front_page_columns-news .front_page-events-more_link:visited,
.mcneese #front_page_columns-news .front_page-highlight-more_link,
.mcneese #front_page_columns-news .front_page-highlight-more_link:visited {
  color: #a0d9fa;

  text-decoration: underline;
}

.mcneese #front_page_columns-news .front_page-events-more_link:focus,
.mcneese #front_page_columns-news .front_page-events-more_link:active,
.mcneese #front_page_columns-news .front_page-events-more_link:hover,
.mcneese #front_page_columns-news .front_page-highlight-more_link:focus,
.mcneese #front_page_columns-news .front_page-highlight-more_link:active,
.mcneese #front_page_columns-news .front_page-highlight-more_link:hover {
  color: #fad703;

  text-decoration: underline;
}

.mcneese #front_page_columns-column_title-news {
  color: #00477f;
  background-color: #fad703;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 24px;
  min-height: 24px;
  max-height: 24px;

  margin: 0px;
  padding: 6px 8px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.mcneese #front_page_columns-column_title-news > a,
.mcneese #front_page_columns-column_title-news > a:visited {
  color: #00477f;

  text-decoration: none;
}

.mcneese #front_page_columns-column_title-news > a:focus,
.mcneese #front_page_columns-column_title-news > a:active,
.mcneese #front_page_columns-column_title-news > a:hover {
  color: #7f0000;

  text-decoration: underline;
}

.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field > .field-content > .highlight-title > a,
.mcneese #front_page_columns-news > .view > .view-content > .views-row .views-field > .field-content > .event-title > a {
  font-size: 23px;
  line-height: 27px;
}



/*** Lagniappe Column ***/
.mcneese #front_page_columns-lagniappe {
  display: inline-block;
  vertical-align: top;

  color: #404040;
  background-color: #ececec;

  width: 534px;
  min-width: 534px;
  max-width: 534px;

  min-height: 350px;

  margin-bottom: 15px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field-field-event-image > .front_page-events-more_link > .event-image {
  display: inline-block;
  float: right;

  color: #000000;
  background-color: #ffffff;

  max-width: 179px;
  max-height: 170px;

  margin: 20px 0px 0px 15px;

  border-top: 15px solid #ffffff;
  border-right: none;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;

  overflow: hidden;
}

.mcneese #front_page_columns-lagniappe a,
.mcneese #front_page_columns-lagniappe a:visited {
  color: #25567d;

  text-decoration: underline;
}

.mcneese #front_page_columns-lagniappe a:focus,
.mcneese #front_page_columns-lagniappe a:active,
.mcneese #front_page_columns-lagniappe a:hover {
  color: #700000;

  text-decoration: underline;
}

.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a,
.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:visited {
  color: #404040;

  text-decoration: none;
}

.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:focus,
.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:active,
.mcneese #front_page_columns-lagniappe .views-field-nothing > .field-content > .event-title > a:hover {
  color: #225278;

  text-decoration: underline;
}

.mcneese #front_page_columns-lagniappe .front_page-events-more_link,
.mcneese #front_page_columns-lagniappe .front_page-events-more_link:visited {
  text-decoration: underline;
}

.mcneese #front_page_columns-column_title-lagniappe {
  color: #25567d;
  background-color: #dadada;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 24px;
  min-height: 24px;
  max-height: 24px;

  margin: 0px;
  padding: 6px 8px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field-nothing {
  line-height: 25px;
  padding: 15px 15px 0px 15px;
}

.mcneese #front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field > .field-content > .highlight-title > a,
.mcneese #front_page_columns-lagniappe > .view > .view-content > .views-row > .views-field > .field-content > .event-title > a {
  font-size: 23px;
  line-height: 27px;
}



/*** Spotlight Column ***/
.mcneese #front_page_columns-spotlight {
  display: inline-block;
  vertical-align: top;

  color: #000000;
  background-color: #ffffff;

  width: 422px;
  min-width: 422px;
  max-width: 422px;

  margin-top: 215px;
  padding: 10px 15px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  box-flex: 1.0;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
}

.mcneese #front_page_columns-column_title-spotlight {
  position: absolute;
  top: 170px;
  right: 0px;

  width: 426px;
  min-width: 426px;
  max-width: 426px;

  color: #00477f;
  background-color: #ffffff;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;

  text-transform: uppercase;

  height: 45px;
  min-height: 45px;
  max-height: 45px;

  margin: 0px;
  padding: 15px 15px 20px 15px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field {
  margin-bottom: 15px;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title {
  margin-bottom: 5px;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-family: arial, helvetica, sans-serif;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-body {
  font-size: 14px;
  line-height: 24px;
}

.mcneese #front_page_columns-spotlight > .view {
  margin-top: -10px;
}

.mcneese #front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row {
  clear: both;

  padding: 0px 0px 15px 0px;
}

.mcneese #front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row-last {
  padding: 0px;
}

.mcneese #front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row > .views-field-field-spotlight-image {
  float: right;

  padding-left: 10px;
}

.mcneese #front_page_columns-spotlight > .view-display-id-front_page_spotlight > .view-content > .views-row > .views-field-field-spotlight-image > .field-content > a > .spotlight-image {
  display: inline-block;
}

.mcneese #front_page_columns-spotlight a,
.mcneese #front_page_columns-spotlight a:visited {
  color: #00477f;

  text-decoration: underline;
}

.mcneese #front_page_columns-spotlight a:focus,
.mcneese #front_page_columns-spotlight a:active,
.mcneese #front_page_columns-spotlight a:hover {
  color: #700000;

  text-decoration: underline;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a,
.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:visited {
  color: #00335b;

  text-decoration: none;
}

.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:focus,
.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:active,
.mcneese #front_page_columns-spotlight > .view > .view-content > .views-row > .views-field > .field-content > .spotlight-title > a:hover {
  color: #7f0000;

  text-decoration: underline;
}

.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a,
.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:visited {
  color: #404040;

  text-decoration: none;
}

.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:focus,
.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:active,
.mcneese #front_page_columns-spotlight .views-field-nothing > .field-content > .event-title > a:hover {
  text-decoration: underline;
}

.mcneese #front_page_columns-spotlight .front_page-events-more_link,
.mcneese #front_page_columns-spotlight .front_page-events-more_link:visited {
  text-decoration: underline;
}



/*** wwwdev.mcneese.edu-specific ***/



/*** sandbox.mcneese.edu-specific ***/
