.mcneese a:focus {
  border: 1px dotted #555555;
}

.mcneese a,
.mcneese a:visited {
  color: #00477f;
}

.mcneese a:focus,
.mcneese a:active,
.mcneese a:hover {
  color: #7f0000;
}

.mcneese a[name],
.mcneese a[name]:focus,
.mcneese a[name]:active,
.mcneese a[name]:hover {
  text-decoration: none;
  color: inherit;
}

.mcneese .fake_link:focus {
  border: 1px dotted #555555;
}

.mcneese .fake_link,
.mcneese .fake_link:visited {
  color: #00477f;
  text-decoration: underline;
}

.mcneese .fake_link.improper_link,
.mcneese .fake_link.improper_link:visited {
  text-decoration: none;
}

.mcneese .fake_link:focus {
  outline: thin dotted invert;
}

.mcneese .fake_link:focus,
.mcneese .fake_link:active,
.mcneese .fake_link:hover {
  color: #7f0000;
}

.mcneese .fake_link[name],
.mcneese .fake_link[name]:focus,
.mcneese .fake_link[name]:active,
.mcneese .fake_link[name]:hover {
  text-decoration: none;
  color: inherit;
}

.mcneese .form-item,
.mcneese .form-actions {
  margin: 8px 0px;
}

.mcneese div.error,
.mcneese .error {
  color: #8c2e0b;
}

.mcneese fieldset.form-item > legend > .fieldset-legend {
  font-weight: bold;
}



/*** Skip Navigation ***/
.mcneese #mcneese-skip_nav {
  display: block;

  background-color: #ffffff;
  color: #000000;
  text-decoration: none;

  font-size: 0px;
  line-height: 0px;

  height: 0px;
  min-height: 0px;

  width: 0px;
  min-width: 0px;

  padding: 0px;
  margin: 0px;
  border: 0px;

  overflow: hidden;
}

.mcneese #mcneese-skip_nav:visited {
  background-color: #ffffff;
  color: #000000;
}

.mcneese #mcneese-skip_nav:active,
.mcneese #mcneese-skip_nav:focus,
.mcneese #mcneese-skip_nav:hover {
  display: block;

  text-decoration: underline;

  font-size: 24px;
  line-height: 28px;

  height: auto;
  min-height: auto;

  width: auto;
  min-width: 450px;

  margin: 0px 64px;
  padding: 4px;
  border: 1px dotted;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-skip_nav:active,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-skip_nav:focus,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-skip_nav:hover {
    margin-top: 25px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-skip_nav:active,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-skip_nav:focus,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-skip_nav:hover {
    margin-top: 50px;
}



/*** Form Items ***/
.mcneese .form-wrapper > .fieldset-wrapper > .fieldset-description,
.mcneese .form-item > .description {
  margin: 3px;
}




/*** Buttons ***/
.mcneese input.form-submit,
.mcneese a.button,
.mcneese a.button:visited,
.mcneese input#edit-linkit-insert,
.mcneese input#edit-linkit-insert:visited,
.mcneese a#linkit-cancel,
.mcneese a#linkit-cancel:visited,
.mcneese a#edit-cancel,
.mcneese a#edit-cancel:visited,
.mcneese input#preview-submit,
.mcneese input#preview-submit:visited {
  display: inline-block;

  color: #00477f;
  background-color: #fad703;

  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;

  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 2px #FEFEFE;

  margin: 1px 3px;
  padding: 3px 4px;

  border: 1px outset #333333;
  border-radius: 3px 3px 3px 3px;

  cursor: pointer;

  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
}

.mcneese input.form-button-disabled,
.mcneese input.form-button-disabled:active {
  color: #999999;
  background: #eeeeee none;
  text-shadow: none;

  border-color: #eeeeee;
}

.mcneese input.form-autocomplete,
.mcneese input.form-text,
.mcneese input.form-file,
.mcneese textarea.form-textarea,
.mcneese select.form-select {
  color: #202020;
  background-color: #ffffff;

  padding: 2px;

  border: 1px solid #cccccc;
  border-top-color: #999999;
}

.mcneese input.form-autocomplete.error,
.mcneese input.form-text.error,
.mcneese input.form-file.error,
.mcneese textarea.form-textarea.error,
.mcneese select.form-select.error {
  color: #8c2e0b;

  border: 2px solid #ff0000;
}

.mcneese input.form-text:focus,
.mcneese input.form-file:focus,
.mcneese textarea.form-textarea:focus,
.mcneese select.form-select:focus {
  color: #000000;
  border-color: #aceace;
}

.mcneese input#edit-cancel--15,
.mcneese input#edit-cancel--14,
.mcneese input#edit-cancel--13,
.mcneese input#edit-cancel--12,
.mcneese input#edit-cancel--11,
.mcneese input#edit-cancel--10,
.mcneese input#edit-cancel--9,
.mcneese input#edit-cancel--8,
.mcneese input#edit-cancel--7,
.mcneese input#edit-cancel--6,
.mcneese input#edit-cancel--5,
.mcneese input#edit-cancel--4,
.mcneese input#edit-cancel--3,
.mcneese input#edit-cancel--2,
.mcneese input#edit-cancel--1 {
  color: #000000;
  background-color: #cecece;
}

.mcneese input#edit-remove--15,
.mcneese input#edit-remove--14,
.mcneese input#edit-remove--13,
.mcneese input#edit-remove--12,
.mcneese input#edit-remove--11,
.mcneese input#edit-remove--10,
.mcneese input#edit-remove--9,
.mcneese input#edit-remove--8,
.mcneese input#edit-remove--7,
.mcneese input#edit-remove--6,
.mcneese input#edit-remove--5,
.mcneese input#edit-remove--4,
.mcneese input#edit-remove--3,
.mcneese input#edit-remove--2,
.mcneese input#edit-remove--1 {
  color: #000000;
  background-color: #e86f69;
}

.mcneese div.remove-display form.views-ajax-form div.remove-display input.form-submit {
  color: #000000;
  background-color: #e86f69;
}

.mcneese div.remove-display form.views-ajax-form div.restore-display input.form-submit {
  color: #000000;
  background-color: #99b2ee;
}

.mcneese input#edit-publish,
.mcneese input#edit-unpublish {
  color: #000000;
  background-color: #99b2ee;
}

.mcneese form#views-ui-analyze-view-button div input.form-submit.form-submit,
.mcneese div.views-override input#edit-button--15,
.mcneese div.views-override input#edit-button--14,
.mcneese div.views-override input#edit-button--13,
.mcneese div.views-override input#edit-button--12,
.mcneese div.views-override input#edit-button--11,
.mcneese div.views-override input#edit-button--10,
.mcneese div.views-override input#edit-button--9,
.mcneese div.views-override input#edit-button--8,
.mcneese div.views-override input#edit-button--7,
.mcneese div.views-override input#edit-button--6,
.mcneese div.views-override input#edit-button--5,
.mcneese div.views-override input#edit-button--4,
.mcneese div.views-override input#edit-button--3,
.mcneese div.views-override input#edit-button--2,
.mcneese div.views-override input#edit-button--1,
.mcneese div.views-override input#edit-button.form-submit {
  color: #000000;
  background-color: #99b2ee;
}

.mcneese input#edit-displays-settings-settings-content-tab-content-details-top-actions-disable,
.mcneese a.button,
.mcneese a.button:visited,
.mcneese .form-submit.form-cancel,
.mcneese input.form-cancel,
.mcneese input#edit-cancel,
.mcneese a#linkit-cancel,
.mcneese a#linkit-cancel:visited,
.mcneese a#edit-cancel,
.mcneese a#edit-cancel:visited {
  color: #000000;
  background-color: #cecece;
}

.mcneese input#edit-linkit-insert,
.mcneese input.form-submit,
.mcneese .form-submit {
  color: #00477f;
  background-color: #fad703;
}

.mcneese input.form-submit.form-preview,
.mcneese input.form-preview,
.mcneese input#preview-submit,
.mcneese input#edit-reset-cache,
.mcneese input.form-submit.form-undelete,
.mcneese input.form-undelete,
.mcneese input#edit-preview,
.mcneese input#edit-undelete {
  color: #000000;
  background-color: #99b2ee;
}

.mcneese input#edit-displays-settings-settings-content-tab-content-details-top-actions-delete,
.mcneese input.form-submit.form-delete,
.mcneese input.form-delete,
.mcneese input#edit-remove,
.mcneese input.submit-delete {
  color: #000000;
  background-color: #e86f69;
}

.mcneese a.button:active,
.mcneese input.form-submit:active,
.mcneese input.form-delete:active,
.mcneese input#edit-linkit-insert:active,
.mcneese input.form-submit:active,
.mcneese input#edit-preview:active,
.mcneese input.submit-delete:active,
.mcneese input#edit-unpublish:active,
.mcneese input#edit-cancel:active,
.mcneese input#edit-remove:active,
.mcneese a#linkit-cancel:active,
.mcneese a#edit-cancel:active,
.mcneese input#preview-submit:active,
.mcneese ul#views-display-menu-tabs a:active,
.mcneese ul#views-display-menu-tabs a.active:active,
.mcneese a.button:focus,
.mcneese input.form-submit:focus,
.mcneese input.form-delete:focus,
.mcneese input#edit-linkit-insert:focus,
.mcneese input.form-submit:focus,
.mcneese input#edit-preview:focus,
.mcneese input.submit-delete:focus,
.mcneese input#edit-unpublish:focus,
.mcneese input#edit-cancel:focus,
.mcneese input#edit-remove:focus,
.mcneese a#linkit-cancel:focus,
.mcneese a#edit-cancel:focus,
.mcneese input#preview-submit:focus,
.mcneese ul#views-display-menu-tabs a:focus,
.mcneese ul#views-display-menu-tabs a.active:focus,
.mcneese a.button:hover,
.mcneese input.form-submit:hover,
.mcneese input.form-delete:hover,
.mcneese input#edit-linkit-insert:hover,
.mcneese input.form-submit:hover,
.mcneese input#edit-preview:hover,
.mcneese input.submit-delete:hover,
.mcneese input#edit-unpublish:hover,
.mcneese input#edit-cancel:hover,
.mcneese input#edit-remove:hover,
.mcneese a#linkit-cancel:hover,
.mcneese a#edit-cancel:hover,
.mcneese input#preview-submit:hover,
.mcneese ul#views-display-menu-tabs a:hover,
.mcneese ul#views-display-menu-tabs a.active:hover,
.mcneese input.form-submit.form-preview:hover,
.mcneese input.form-preview:hover,
.mcneese input#preview-submit:hover,
.mcneese input#edit-reset-cache:hover,
.mcneese input.form-submit.form-undelete:hover,
.mcneese input.form-undelete:hover,
.mcneese input#edit-preview:hover,
.mcneese input#edit-undelete:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

.mcneese a.button:active,
.mcneese input.form-submit:active,
.mcneese input.form-delete:active,
.mcneese input#edit-linkit-insert:active,
.mcneese input.form-submit:active,
.mcneese input#edit-preview:active,
.mcneese input.submit-delete:active,
.mcneese input#edit-unpublish:active,
.mcneese a#linkit-cancel:active,
.mcneese a#edit-cancel:active,
.mcneese input#preview-submit:active,
.mcneese ul#views-display-menu-tabs a:active,
.mcneese ul#views-display-menu-tabs a.active:active {
  border: 1px inset #333333;
}

.mcneese input.form-submit:active,
.mcneese input.form-submit:active,
.mcneese input#edit-preview:active,
.mcneese input.submit-delete:active,
.mcneese a.button:active {
  background: #666666;
  color: #ffffff;
  border-color: #555555;
  text-shadow: #222222 0px -1px 0px;
}



/*** Content Specific Style: list-even-odd ***/
.mcneese .list-even_odd > .list-even-odd-row {
  font-family: Serif,Georgia,Times New Roman;
  letter-spacing: 1px;

  padding: 5px;
  margin-bottom: 10px;
}

.mcneese .list-even_odd > .list-even_odd-row_even,
.mcneese .list-even_odd > .list-even-odd-row.views-row-even {
  background-color: #efefef;
}

.mcneese .list-even_odd > .list-even_odd-row-title,
.mcneese .list-even_odd > .list-even_odd-row-title:visited,
.mcneese .list-even_odd > .list-even-odd-row.views-row-title,
.mcneese .list-even_odd > .list-even-odd-row.views-row-title:visited {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}



/*** Content Specific Style: list-inline ***/
.mcneese .list-inline_block {
  margin: 0px;
}

.mcneese .list-inline_block > li {
  display: inline-block;

  padding-left: 3px;
  padding-right: 3px;
}

.mcneese .list-inline_block > li.first {
  padding-left: 0px;
}

.mcneese .list-inline_block > li.last {
  padding-right: 0px;
}



/*** Content Specific Style: box-text ***/
.mcneese .box-text-center {
  background-color: #eaeaea;
  border: 1px solid #a9a9a9;
  margin: 5px auto;
}

.mcneese .box-text-center {
  text-align: center;
}



/*** Content Specific Style: color_box ***/
.mcneese .color_box {
  border: 1px solid;
  padding: 2px 4px;
}

.mcneese .color_box.color-grey {
  border-color: #a9a9a9;
  background-color: #eaeaea;
}

.mcneese .color_box.color-grey.emphasis-subtle {
  border-color: #bfbfbf;
  background-color: #f7f7f7;
}

.mcneese .color_box.color-grey.emphasis-obvious {
  border-color: #8a8a8a;
  background-color: #dbdbdb;
}

.mcneese .color_box.color-yellow {
  border-color: #edeebc;
  background-color: #feffc9;
}

.mcneese .color_box.color-yellow.emphasis-subtle {
  border-color: #ededd3;
  background-color: #feffe3;
}

.mcneese .color_box.color-yellow.emphasis-obvious {
  border-color: #edeea4;
  background-color: #feffb0;
}

.mcneese .color_box.color-blue {
  border-color: #bcc3ee;
  background-color: #c9d1ff;
}

.mcneese .color_box.color-blue.emphasis-subtle {
  border-color: #d3d7ed;
  background-color: #e3e7ff;
}

.mcneese .color_box.color-blue.emphasis-obvious {
  border-color: #a4afee;
  background-color: #b0bcff;
}

.mcneese .color_box.color-red {
  border-color: #eebfb7;
  background-color: #ffccc4;
}

.mcneese .color_box.color-red.emphasis-subtle {
  border-color: #eed8d4;
  background-color: #ffe7e3;
}

.mcneese .color_box.color-red.emphasis-obvious {
  border-color: #eeafa4;
  background-color: #ffbab0;
}

.mcneese .color_box.color-green {
  border-color: #b7eeb7;
  background-color: #c4ffc4;
}

.mcneese .color_box.color-green.emphasis-subtle {
  border-color: #d4eed4;
  background-color: #e3ffe3;
}

.mcneese .color_box.color-green.emphasis-obvious {
  border-color: #a4eea4;
  background-color: #b0ffb0;
}

.mcneese .color_box.color-orange {
  border-color: #eee2bc;
  background-color: #fff0c4;
}

.mcneese .color_box.color-orange.emphasis-subtle {
  border-color: #eee7d4;
  background-color: #fff8e3;
}

.mcneese .color_box.color-orange.emphasis-obvious {
  border-color: #eedba4;
  background-color: #ffebb0;
}

.mcneese .color_box.color-purple {
  border-color: #dbb7ee;
  background-color: #eac4ff;
}

.mcneese .color_box.color-purple.emphasis-subtle {
  border-color: #e5d4ee;
  background-color: #f5e3ff;
}

.mcneese .color_box.color-purple.emphasis-obvious {
  border-color: #d5a4ee;
  background-color: #e3b0ff;
}

.mcneese .color_box.color-teal {
  border-color: #b7eeed;
  background-color: #c4fffe;
}

.mcneese .color_box.color-teal.emphasis-subtle {
  border-color: #d4eeee;
  background-color: #e3ffff;
}

.mcneese .color_box.color-teal.emphasis-obvious {
  border-color: #a4eeed;
  background-color: #b0fffe;
}

.mcneese .color_box.color-pink {
  border-color: #eebcea;
  background-color: #ffc4fa;
}

.mcneese .color_box.color-pink.emphasis-subtle {
  border-color: #eed4ec;
  background-color: #ffe3fd;
}

.mcneese .color_box.color-pink.emphasis-obvious {
  border-color: #eea4e8;
  background-color: #ffb0f8;
}



/*** Status Page ***/
.mcneese .mcneese-content-main table.update > tbody > tr {
  border-bottom: 1px solid #999999;
}

.mcneese .mcneese-content-main table.update > tbody > tr.ok {
  background-color: #d1f7cb;
}

.mcneese .mcneese-content-main table.update > tbody > tr.info {
  background-color: #e0e0ff;
}

.mcneese .mcneese-content-main table.update > tbody > tr.warning {
  background-color: #ffffdd;
}

.mcneese .mcneese-content-main table.update > tbody > tr.error {
  background-color: #ffdddd;
}

.mcneese .mcneese-content-main table.update > tbody > tr.unknown {
  background-color: #eeeeee;
}

.mcneese .mcneese-content-main table.update > tbody > tr table.version-also-available {
  color: #000000;
  background-color: #f3e6ff;
}

.mcneese .mcneese-content-main table.update > tbody > tr table.version-recommended {
  color: #000000;
  background-color: #e6eaff;
}

.mcneese .mcneese-content-main table.update > tbody > tr table.version-recommended-strong {
  font-weight: bold;
}

.mcneese .mcneese-content-main table.update > tbody > tr table.version-latest {
  color: #000000;
  background-color: #ffebeb;
}

.mcneese .mcneese-content-main table.update > tbody > tr a,
.mcneese .mcneese-content-main table.update > tbody > tr a:visited {
  color: #0d3971;
}

.mcneese .mcneese-content-main table.update > tbody > tr > td ul.links > li {
  list-style-type: none;

  padding: 3px 0px;
}



/*** Search Results ***/
.mcneese .mcneese-content-main .search_results-section > .search_results {
  list-style-type: none;
}

.mcneese .mcneese-content-main .search_results-section > .search_results > .search_result {
  margin: 10px 0px 20px 0px;
}

.mcneese .mcneese-content-main .search_results-section > .search_results > .search_result > .search_result-section > .search_result-header > .title {
  font-size: 18px;
  line-height: 22px;
}
