.mcneese {
  margin: 0px;

  font-family: Arial,Helvetica,Sans-serif,Serif;
  font-size: 14px;
  line-height: 18px;
}

.mcneese .element-invisible {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese .node-unpublished {
  background-color: inherit;
}
