


/*** Common ***/
.mcneese .html_tag-nav > .navigation_list {
  padding: 0px;
}

.mcneese .form-item {
  margin: 4px 0px 16px 0px;
}

.mcneese .container-inline {
  padding: 0px;
}

.mcneese .filter-wrapper {
  margin: 12px 0px;
  padding: 2px;

  border: 1px solid #9e9e9e;
}

.mcneese .filter-wrapper .form-item {
  float: none;

  padding: 0px;
}

.mcneese .fieldset-wrapper .form-item .date-padding {
  padding: 0px;
}

.mcneese .container-inline-date .form-item .form-item {
  display: inline-block;
  float: none;

  margin: 0px;
}

.mcneese .horizontal-tabs-list > .horizontal-tab-button > a,
.mcneese .horizontal-tabs-list > .horizontal-tab-button.selected > a,
.mcneese .vertical-tabs-list > .vertical-tab-button > a,
.mcneese .vertical-tabs-list > .vertical-tab-button.selected > a {
  padding: 4px 8px;
}

.mcneese .admin {
  padding: 0px;
}

.mcneese .admin .left,
.mcneese .admin .right {
  margin: 0px;
  padding: 0px;
}

.mcneese .image-widget-data {
  float: none;
}

.mcneese div.image-style-preview > div.preview-image-wrapper {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.mcneese input[type="hidden"] {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese fieldset.form-item {
  border: 0;
  padding: 0;
}

.mcneese .form-item > fieldset.form-checkboxes,
.mcneese .form-item > fieldset.form-radios {
  display: inline-block;

  border: 0;
  margin: 0;
  padding: 0;
}



/*** Table ***/
.mcneese table {
  background-color: #eaeaea;

  border: 1px solid #a9a9a9;

  margin: 5px auto;
  width: 100%;
}

.mcneese table > thead > tr > th {
  color: #ffffff;
  background-color: #00477f;

  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  margin: 5px;
  padding: 3px 10px;

  border: 1px solid #bebfb9;
}

.mcneese table.table-style-1 > thead > tr > th,
.mcneese table.table-style-3 > thead > tr > th,
.mcneese table.table-style-4 > thead > tr > th {
  color: inherit;
  background-color: inherit;

  font-weight: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.mcneese table.table-style-2 > tbody > tr > th,
.mcneese table.table-style-3 > tbody > tr > th {
  color: #ffffff;
  background-color: #00477f;

  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  margin: 5px;
  padding: 3px 10px;

  border: 1px solid #bebfb9;
}

.mcneese table.table-style-4 > tbody > tr > th {
  color: inherit;
  background-color: inherit;

  font-weight: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.mcneese table > thead > tr > th > a {
  display: block;
  position: relative;

  word-wrap: break-word;

  padding: 0px;
}

.mcneese table > thead > tr > th > a,
.mcneese table > thead > tr > th > a:visited {
  color: #fff703;
  text-decoration: none;
}

.mcneese table > thead > tr > th > a:hover,
.mcneese table > thead > tr > th > a:focus {
  color: #ffffff;
  text-decoration: underline;
}

.mcneese table > thead > tr > th > a:active {
  color: #ff0000;
  text-decoration: underline;
}

.mcneese table > thead > tr > th.active {
  background-color: #235e8a;
}

.mcneese table > thead > tr > th > a > img {
  float: right;
}

.mcneese table > tbody > tr.even,
.mcneese table > tbody > tr.odd {
  border-color: #bebfb9;
  border-style: solid;
  border-width: 0px 1px;

  padding: 1px 8px;
}

.mcneese table > tbody > tr.even {
  background-color: #f3f4ee;
}

.mcneese table > tbody > tr.odd {
  background-color: #ffffff;
}

.mcneese table > tbody > tr.drag {
  background-color: #fe7fe7;
}

.mcneese table > tbody > tr.drag-previous {
  background-color: #ffbffb;
}

.mcneese table > tbody > tr > td,
.mcneese table > tbody > tr > th {
  padding: 2px 5px;

  border-top: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
  border-bottom: 0px none;
  border-left: 0px none;
}

.mcneese table > tbody > tr.even > td.active {
  background-color: #e9e9dd;
}

.mcneese table > tbody > tr.odd > td.active {
  background-color: #e9e9dd;
}

.mcneese table > tbody > tr.selected > td,
.mcneese table > tbody > tr.selected > td.active {
  background-color: #ffffcc;

  border-color: #eeeebb;
}

.mcneese table > tbody > tr > td {
  word-wrap: break-word;
}

.mcneese table > tbody > tr > td > a {
  word-wrap: break-word;
}

.mcneese table > tbody > tr > td > .indentation,
.mcneese table > tbody > tr > td > a.tabledrag-handle,
.mcneese table > tbody > tr > td > a.tabledrag-handle > .handle {
  height: auto;
}

.mcneese table > tbody > tr > td > .indentation {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mcneese table > caption {
  font-weight: bold;
}

.mcneese table.update > tbody > tr.warning {
   background-color: #fffce5;
}



/*** Content Specific Style: list-box ***/
.mcneese .list-box {
  display: block;

  background-color: #eaeaea;

  border: 1px solid #d0d0d0;

  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
}

.mcneese .list-box .list-box-title {
  color: #ffffff;
  background-color: #00477f;

  font-size: 18px;

  padding: 3px;
  margin: 0px;

  border: 1px solid #00366e;
}

.mcneese .list-box > .list-box-title > a,
.mcneese .list-box > .list-box-title > a:visited {
  color: #ffffff;
  background-color: #00477f;

  text-decoration: none;
}

.mcneese .list-box > .list-box-title > a,
.mcneese .list-box > .list-box-title > a:visited {
  color: #ffffff;
  background-color: #00477f;

  text-decoration: none;
}

.mcneese .list-box > .list-box-title > a:focus,
.mcneese .list-box > .list-box-title > a:active,
.mcneese .list-box > .list-box-title > a:hover {
  color: #fad703;
  text-decoration: underline;
}

.mcneese .list-box > .list-box-body > ul,
.mcneese .list-box > .list-box-body > ol {
  padding-left: 25px;

  margin-top: 5px;
  margin-bottom: 10px;
}

.mcneese .list-box > .list-box-body > ul > li > a,
.mcneese .list-box > .list-box-body > ol > li > a {
  display: block;
  padding: 2px 4px;
}

.mcneese .list-box > .list-box-body > ul > li > a,
.mcneese .list-box > .list-box-body > ul > li > a:visited,
.mcneese .list-box > .list-box-body > ol > li > a,
.mcneese .list-box > .list-box-body > ol > li > a:visited {
  text-decoration: none;
}

.mcneese .list-box > .list-box-body > ul > li > a:focus,
.mcneese .list-box > .list-box-body > ul > li > a:active,
.mcneese .list-box > .list-box-body > ul > li > a:hover,
.mcneese .list-box > .list-box-body > ol > li > a:focus,
.mcneese .list-box > .list-box-body > ol > li > a:active,
.mcneese .list-box > .list-box-body > ol > li > a:hover {
  text-decoration: underline;
}

.mcneese .list-box > .list-box-body > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mcneese .list-box > .list-box-body {
  padding-left: 10px;
  padding-right: 10px;
}

.mcneese .list-box > .list-box-body2 {
  padding-left: 0px;
  padding-right: 0px;
}

.mcneese .list-box > .list-box-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*** Content Specific Style: margin_height ***/
.mcneese .margin_height-huge {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mcneese .margin_height-large {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mcneese .margin_height-middle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mcneese .margin_height-small {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mcneese .margin_height-tiny {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mcneese .margin_height-none {
  margin-top: 0px;
  margin-bottom: 0px;
}



/*** Content Specific Style: margin_width ***/
.mcneese .margin_width-huge {
  margin-left: 60px;
  margin-right: 60px;
}

.mcneese .margin_width-large {
  margin-left: 30px;
  margin-right: 30px;
}

.mcneese .margin_width-middle {
  margin-left: 15px;
  margin-right: 15px;
}

.mcneese .margin_width-small {
  margin-left: 5px;
  margin-right: 5px;
}

.mcneese .margin_width-tiny {
  margin-left: 1px;
  margin-right: 1px;
}

.mcneese .margin_width-none {
  margin-left: 0px;
  margin-right: 0px;
}



/*** Content Specific Style: layout columns ***/
.mcneese .layout-column_1 {
  display: block;
  vertical-align: top;

  width: 99%;
}

.mcneese .layout-column_2 {
  display: inline-block;
  vertical-align: top;

  width: 49%;
}

.mcneese .layout-column_3 {
  display: inline-block;
  vertical-align: top;

  width: 32%;
}

.mcneese .layout-column_4 {
  display: inline-block;
  vertical-align: top;

  width: 24%;
}

.mcneese .layout-column_5 {
  display: inline-block;
  vertical-align: top;

  width: 19%;
}



/*** Content Specific Style: numbered list ***/
.mcneese .content-list-main,
.mcneese .content-list-main .content-list-child {
  list-style-type: none;
}

.mcneese .content-list-main,
.mcneese .content-list-main {
  padding: 0px;
  margin: 0px;
}

.mcneese .content-list-numbered-main {
  counter-reset: mcneese_content_list_numbered_main 0;
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child {
  counter-reset: mcneese_content_list_numbered_child_1 0;
}

.mcneese .content-list-numbered-main > li  > .content-list-numbered-child > li > .content-list-numbered-child {
  counter-reset: mcneese_content_list_numbered_child_2 0;
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child  > li > .content-list-numbered-child {
  counter-reset: mcneese_content_list_numbered_child_3 0;
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child  > li > .content-list-numbered-child > li .content-list-numbered-child {
  counter-reset: mcneese_content_list_numbered_child_4 0;
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child  > li > .content-list-numbered-child > li .content-list-numbered-child > li .content-list-numbered-child {
  counter-reset: mcneese_content_list_numbered_child_5 0;
}

.mcneese .content-list-numbered-main > li {
  counter-increment: mcneese_content_list_numbered_main;
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li {
  counter-increment: mcneese_content_list_numbered_child_1;
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li {
  counter-increment: mcneese_content_list_numbered_child_2;
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li {
  counter-increment: mcneese_content_list_numbered_child_3;
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child {
  counter-increment: mcneese_content_list_numbered_child_4;
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child {
  counter-increment: mcneese_content_list_numbered_child_5;
}

.mcneese .content-list-numbered-main > li > .list-count:before,
.mcneese .content-list-numbered-main > li > .list-item-wrapper > .list-count:before {
  content: counter(mcneese_content_list_numbered_main) "." counter(mcneese_content_list_numbered_child_1);
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .list-count:before,
.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .list-item-wrapper > .list-count:before {
  content: counter(mcneese_content_list_numbered_main) "." counter(mcneese_content_list_numbered_child_1);
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .list-count:before,
.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .list-item-wrapper > .list-count:before {
  content: counter(mcneese_content_list_numbered_main) "." counter(mcneese_content_list_numbered_child_1) "." counter(mcneese_content_list_numbered_child_2);
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .list-count:before,
.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .list-item-wrapper > .list-count:before {
  content: counter(mcneese_content_list_numbered_main) "." counter(mcneese_content_list_numbered_child_1) "." counter(mcneese_content_list_numbered_child_2) "." counter(mcneese_content_list_numbered_child_3);
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .list-count:before,
.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .list-item-wrapper > .list-count:before {
  content: counter(mcneese_content_list_numbered_main) "." counter(mcneese_content_list_numbered_child_1) "." counter(mcneese_content_list_numbered_child_2) "." counter(mcneese_content_list_numbered_child_3) "." counter(mcneese_content_list_numbered_child_4);
}

.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .list-count:before,
.mcneese .content-list-numbered-main > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .content-list-numbered-child > li > .list-item-wrapper > .list-count:before {
  content: counter(mcneese_content_list_numbered_main) "." counter(mcneese_content_list_numbered_child_1) "." counter(mcneese_content_list_numbered_child_2) "." counter(mcneese_content_list_numbered_child_3) "." counter(mcneese_content_list_numbered_child_4) "." counter(mcneese_content_list_numbered_child_5);
}

.mcneese .content-list-main > li > .list-count,
.mcneese .content-list-main > li > .list-label,
.mcneese .content-list-main > li > .list-text,
.mcneese .content-list-main > li > .list-item-wrapper > .list-count,
.mcneese .content-list-main > li > .list-item-wrapper > .list-label,
.mcneese .content-list-main > li > .list-item-wrapper > .list-text,
.mcneese .content-list-main > li .content-list-child > li > .list-count,
.mcneese .content-list-main > li .content-list-child > li > .list-label,
.mcneese .content-list-main > li .content-list-child > li > .list-text,
.mcneese .content-list-main > li .content-list-child > li > .list-item-wrapper > .list-count,
.mcneese .content-list-main > li .content-list-child > li > .list-item-wrapper > .list-label,
.mcneese .content-list-main > li .content-list-child > li > .list-item-wrapper > .list-text {
  display: table-cell;

  padding: 4px;
}

.mcneese .content-list-main > li > .list-count,
.mcneese .content-list-main > li > .list-item-wrapper > .list-count,
.mcneese .content-list-main > li .content-list-child > li > .list-count,
.mcneese .content-list-main > li .content-list-child > li > .list-item-wrapper > .list-count {
  word-break: keep-all;

  padding: 0px;
}

.mcneese .content-list-main > li > .list-label,
.mcneese .content-list-main > li > .list-item-wrapper > .list-label,
.mcneese .content-list-main > li .content-list-child > li > .list-label,
.mcneese .content-list-main > li .content-list-child > li > .list-item-wrapper > .list-label {
  padding-left: 0px;
  padding-right: 0px;
}

.mcneese .content-list-main > li.list-item-1 > .list-label,
.mcneese .content-list-main > li.list-item-1 > .list-item-wrapper > .list-label,
.mcneese .content-list-main > li.list-item-1 > .list-count,
.mcneese .content-list-main > li.list-item-1 > .list-item-wrapper > .list-count {
  font-size: 22px;
  line-height: 1.1em;
  font-weight: bold;

  margin: 3px 0px;
}

.mcneese .content-list-main > li.list-item-1 {
  margin: 6px 0px;
}

.mcneese .content-list-main > li.list-item-1:first-of-type {
  margin-top: 0px;
}

.mcneese .content-list-main > li.list-item-1:last-of-type {
  margin-bottom: 0px;
}

.mcneese .content-list-main > li.list-item-1 > .content-list-child,
.mcneese .content-list-main > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child {
  padding-left: 50px;
}

.mcneese .content-list-main > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child {
  padding-left: 60px;
}

.mcneese .content-list-main > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child {
  padding-left: 70px;
}

.mcneese .content-list-main > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child {
  padding-left: 80px;
}

.mcneese .content-list-main > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child > li.list-item-1 > .content-list-child {
  padding-left: 90px;
}

.mcneese .content-list-main > li.list-item-1 > .list-count,
.mcneese .content-list-main > li.list-item-1 > .list-item-wrapper > .list-count,
.mcneese .content-list-main > li > .content-list-child > li.list-item-1 > .list-count,
.mcneese .content-list-main > li > .content-list-child > li.list-item-1 > .list-item-wrapper > .list-count {
  width: 50px;
  min-width: 50px;
}

.mcneese .content-list-main > li > .content-list-child > li > .content-list-child > li.list-item-1 > .list-count,
.mcneese .content-list-main > li > .content-list-child > li > .content-list-child > li.list-item-1 > .list-item-wrapper > .list-count {
  width: 60px;
  min-width: 60px;
}

.mcneese .content-list-main > li > .content-list-child > li > .content-list-child > li > .content-list-child > li.list-item-1 > .list-count,
.mcneese .content-list-main > li > .content-list-child > li > .content-list-child > li > .content-list-child > li.list-item-1 > .list-item-wrapper > .list-count {
  width: 70px;
  min-width: 70px;
}

.mcneese .content-list-main > li > .content-list-child > li > .content-list-child > li > .content-list-child > li > .content-list-child > li.list-item-1 > .list-count,
.mcneese .content-list-main > li > .content-list-child > li > .content-list-child > li > .content-list-child > li > .content-list-child > li.list-item-1 > .list-item-wrapper > .list-count {
  width: 80px;
  min-width: 80px;
}

.mcneese .content-list-main > li > .content-list-child > li > .content-list-child > li > .content-list-child > li > .content-list-child > li > .content-list-child > li.list-item-1 > .list-count,
.mcneese .content-list-main > li > .content-list-child > li > .content-list-child > li > .content-list-child > li > .content-list-child > li > .content-list-child > li.list-item-1 > .list-item-wrapper > .list-count {
  width: 90px;
  min-width: 90px;
}

.mcneese .content-list-main > li.list-item-1 > .list-text,
.mcneese .content-list-main > li.list-item-1 > .list-item-wrapper > .list-text,
.mcneese .content-list-main > li .content-list-child > li.list-item-1 > .list-text,
.mcneese .content-list-main > li .content-list-child > li.list-item-1 > .list-item-wrapper > .list-text {
  margin: 3px 0px;
}



/*** Login Page ***/
.mcneese .mcneese-content-main > .user_login,
.mcneese .mcneese-content-main > .html_tag-section.block-id-2 {
  margin: 0px auto;

  text-align: center;
}

.mcneese .mcneese-content-main > .user_login > .form-wrapper-inner > .form-item > .description,
.mcneese .mcneese-content-main > .html_tag-section.block-id-2 > .user_login_block > .form-wrapper-inner > .item-list {
  display: none;
}
