/* Reset CSS derived from "w3c Appendix D. Default style sheet for HTML 4" here: http://www.w3.org/TR/2011/REC-CSS2-20110607/sample.html */
html, address,
blockquote,
body, dd, /* div, Removed due to IE8 Bug */
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; unicode-bidi: embed; }
li              { display: list-item; }
head            { display: none; }
table           { display: table; }
tr              { display: table-row; }
thead           { display: table-header-group; }
tbody           { display: table-row-group; }
tfoot           { display: table-footer-group; }
col             { display: table-column; }
colgroup        { display: table-column-group; }
td, th          { display: table-cell; }
caption         { display: table-caption; }
th              { font-weight: bolder; text-align: center; }
caption         { text-align: center; }
body            { margin: 0px; }
h1              { font-size: 2.0em; line-height: 1.1em; margin: 2px 0px; }
h2              { font-size: 1.8em; line-height: 1.1em; margin: 2px 0px; }
h3              { font-size: 1.6em; line-height: 1.1em; margin: 2px 0px; }
h4              { font-size: 1.4em; line-height: 1.1em; margin: 1px 0px; }
h5              { font-size: 1.2em; line-height: 1.1em; margin: 1px 0px; }
h6              { font-size: 1.0em; line-height: 1.1em; margin: 1px 0px; }
p, form,
fieldset        { margin: 0px; }
blockquote, ul,
ol, dl, dir,
menu            { margin: 0px; }
b,
strong          { font-weight: bolder; }
blockquote      { margin-left: 40px; margin-right: 40px; }
i, cite, em,
var, address    { font-style: italic; }
pre, tt, code,
kbd, samp       { font-family: monospace; }
pre             { white-space: pre; }
button, textarea,
input, select   { display: inline-block; }
big             { font-size: 20px; }
small, sub, sup { font-size: 13px; }
sub             { vertical-align: sub; }
sup             { vertical-align: super; }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle; }
td, th, tr      { vertical-align: inherit; }
s, strike, del  { text-decoration: line-through; }
hr              { border: 1px inset; }
ol, ul, dir,
menu, dd        { margin: 0px; padding: 0px 0px 0px 40px; }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0px; margin-bottom: 0px; }
u, ins          { text-decoration: underline; }
br:before       { content: ""; white-space: pre-line; }
center          { text-align: center; }
a:link, a:visited { text-decoration: underline; }
a:focus          { outline: thin dotted invert; }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override; }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override; }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed; }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed; }

@media print {
  h1            { page-break-before: avoid; }
  h1, h2, h3,
  h4, h5, h6    { page-break-after: avoid; }
  ul, ol, dl    { page-break-before: avoid; }
}

@media print {
  body:first-child h1 { page-break-before: avoid; }
}

/* html5 block tags */
article, section, aside, hgroup, nav, header, footer, figure, figcaption, menu {
  display: block;
}
