


/*** Print Types Common Code ***/
.mcneese.node-theme-page-731 #mcneese-bulletin {
  display: none;
}



/*** Bulletin ***/
.mcneese.node-theme-page-731 #mcneese-bulletin-page_title {
  display: table-cell;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  overflow: visible;
  word-wrap: break-word;
}

.mcneese.node-theme-page-731 #mcneese-bulletin-content {
  display: none;
}
