/*** footer ***/
.mcneese #mcneese-www-footer {
  display: none;
}



/*** Search Form ***/
.mcneese .mcneese-content-main > .block-name-block-block-12 {
  display: none;
}



/*** hrjobs ***/
.path-node_3173 #page-title,
.path-node_3174 #page-title,
.path-node_3175 #page-title,
.path-node_3176 #page-title {
  display: none;
}
