# Ignore configuration files that may contain sensitive information.
sites/default/passwords.php
sites/default/settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
files

# Custom ignores
sites/default/deprecated
sites/private_files
sites/public_files
*.swp

