.document-node_information-wrapper > .document-node_information-group {
  padding: 8px 0;
  margin: 2px 0;
}

.document-node_information-item-wrapper > .document-node_information-item-label {
  display: inline-block;

  font-weight: bolder;
}

.document-node_information-item-wrapper > .document-node_information-item-label:after {
  content: ':';
}

.document-node_information-item-wrapper > .document-node_information-item-value {
  display: inline-block;
}
