.document header {
  text-align: center;
}

.document > section > h1,
.document > section > h2 {
  margin-top: 30px;
}

.document > section,
.document > section {
  clear: both;
}

.document .block {
  display: block;
}

.document .inline-block {
  display: block;
}

.document .inline {
  display: inline;
}

.document .clear {
  clear: both;
}

.document .clear-none {
  clear: none;
}

.document .clear-left {
  clear: left;
}

.document .clear-right {
  clear: right;
}

.document .float-none {
  float: none;
}

.document .float-left {
  float: left;
}

.document .float-right {
  float: right;
}

.document .separated {
  margin: 15px 0;
}

.document .separated-alt {
  padding: 15px 0;
}

.document p {
  margin: 0px;
  text-indent: 0.5in;
}

.document .item-list ul > li {
  margin: 0;
  padding: 1px 0;
}

.document ul,
.document ol,
.document dl {
  margin: 0;
  padding: 0 0 0 25px;
}

.document ul > li,
.document ol > li {
  margin: 0;
  padding: 1px 0;
}

.document ul.inline
.document ol.inline {
  padding: 0;
}

.document ul.inline > li,
.document ol.inline > li {
  display: inline;

  padding: 0;
}

.document figure {
  display: inline-block;
  margin: 15px;
}

.document figure.float-left {
  margin-left: 0;
  margin-right: 30px;
}

.document figure.float-right {
  margin-left: 30px;
  margin-right: 0;
}

.document pre {
  display: inline;
}

.document .center {
  margin-left: auto;
  margin-right: auto;
}

.document .shift_right {
  margin-left: 15px;
}

.document .image {
  border: 1px outset;
  padding: 3px;
}

.document .for_example:before {
  line-height: 1em;
  letter-spacing: 2px;

  position: absolute;
  left: -10px;
  top: -10px;

  border: 1px solid #000000;
  padding: 3px;
}

.document .for_example {
  position: relative;

  border: 1px solid #00477f;
  margin: 10px 15px;
  padding: 10px;
}



/*** Content Specific Style: layout-column_1 ***/
.document .layout-column_1 {
  display: block;

  width: 99%;
}



/*** Content Specific Style: layout-column_2 ***/
.document .layout-column_2 {
  display: inline-block;

  width: 49%;
}



/*** Content Specific Style: layout-column_3 ***/
.document .layout-column_3 {
  display: inline-block;

  width: 32%;
}



/*** Content Specific Style: layout-column_4 ***/
.document .layout-column_4 {
  display: inline-block;

  width: 24%;
}


/*** Content Specific Style: layout-column_5 ***/
.document .layout-column_5 {
  display: inline-block;

  width: 19%;
}



/*** Content Specific Style: list-box ***/
.document .list-box {
  display: block;

  background-color: #eaeaea;

  border: 1px solid #d0d0d0;

  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
}

.document .list-box a,
.document .list-box a:visited {
  text-decoration: none;
}

.document .list-box a:focus,
.document .list-box a:hover,
.document .list-box a:active {
  text-decoration: underline;
}

.document .list-box .list-box-title {
  color: #ffffff;
  background-color: #00477f;

  font-size: 18px;

  padding: 3px;
  margin: 0;

  border: 1px solid #00366e;
}

.document .list-box .list-box-title a,
.document .list-box .list-box-title a:visited {
  color: #ffffff;
  background-color: #00477f;
}

.document .list-box .list-box-title a,
.document .list-box .list-box-title a:visited {
  text-decoration: none;
}

.document .list-box .list-box-title a:focus,
.document .list-box .list-box-title a:active,
.document .list-box .list-box-title a:hover {
  color: #fad703;
  text-decoration: underline;
}

.document .list-box ul,
.document .list-box ol {
  padding-left: 25px;

  margin-top: 5px;
  margin-bottom: 10px;
}

.document .list-box ul li a,
.document .list-box ol li a {
  display: block;
  padding: 2px 4px;
}

.document .list-box p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.document .list-box .list-box-body {
  padding-left: 10px;
  padding-right: 10px;
}

.document .list-box .list-box-body2 {
  padding-left: 0;
  padding-right: 0;
}

.document .list-box .list-box-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*** Content Specific Style: margin_height ***/
.document .margin_height-huge {
  margin-top: 60px;
  margin-bottom: 60px;
}

.document .margin_height-large {
  margin-top: 30px;
  margin-bottom: 30px;
}

.document .margin_height-middle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.document .margin_height-small {
  margin-top: 5px;
  margin-bottom: 5px;
}

.document .margin_height-tiny {
  margin-top: 1px;
  margin-bottom: 1px;
}

.document .margin_height-none {
  margin-top: 0;
  margin-bottom: 0;
}



/*** Content Specific Style: margin_width ***/
.document .margin_width-huge {
  margin-left: 60px;
  margin-right: 60px;
}

.document .margin_width-large {
  margin-left: 30px;
  margin-right: 30px;
}

.document .margin_width-middle {
  margin-left: 15px;
  margin-right: 15px;
}

.document .margin_width-small {
  margin-left: 5px;
  margin-right: 5px;
}

.document .margin_width-tiny {
  margin-left: 1px;
  margin-right: 1px;
}

.document .margin_width-none {
  margin-left: 0;
  margin-right: 0;
}



/*** Content Specific Style: list-even-odd ***/
.document .list-even_odd .list-even-odd-row {
  font-family: Serif,Georgia,Times New Roman;
  letter-spacing: 1px;

  padding: 5px;
  margin-bottom: 10px;
}

.document .list-even_odd .list-even_odd-row_even,
.document .list-even_odd .list-even-odd-row.views-row-even {
  background-color: #efefef;
}

.document .list-even_odd .list-even_odd-row-title,
.document .list-even_odd .list-even_odd-row-title:visited,
.document .list-even_odd .list-even-odd-row.views-row-title
.document .list-even_odd .list-even-odd-row.views-row-title:visited {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}



/*** Content Specific Style: list-inline ***/
.document .list-inline_block {
  margin: 0;
}

.document .list-inline_block > li {
  display: inline-block;

  padding-left: 3px;
  padding-right: 3px;
}

.document .list-inline_block > li.first {
  padding-left: 0;
}

.document .list-inline_block > li.last {
  padding-right: 0;
}



/*** Content Specific Style: color_box ***/
.document .color_box {
  border: 1px solid;
  padding: 2px 4px;
}

.document .color_box.color-grey {
  border-color: #a9a9a9;
  background-color: #eaeaea;
}

.document .color_box.color-grey.emphasis-subtle {
  border-color: #bfbfbf;
  background-color: #f7f7f7;
}

.document .color_box.color-grey.emphasis-obvious {
  border-color: #8a8a8a;
  background-color: #dbdbdb;
}

.document .color_box.color-yellow {
  border-color: #edeebc;
  background-color: #feffc9;
}

.document .color_box.color-yellow.emphasis-subtle {
  border-color: #ededd3;
  background-color: #feffe3;
}

.document .color_box.color-yellow.emphasis-obvious {
  border-color: #edeea4;
  background-color: #feffb0;
}

.document .color_box.color-blue {
  border-color: #bcc3ee;
  background-color: #c9d1ff;
}

.document .color_box.color-blue.emphasis-subtle {
  border-color: #d3d7ed;
  background-color: #e3e7ff;
}

.document .color_box.color-blue.emphasis-obvious {
  border-color: #a4afee;
  background-color: #b0bcff;
}

.document .color_box.color-red {
  border-color: #eebfb7;
  background-color: #ffccc4;
}

.document .color_box.color-red.emphasis-subtle {
  border-color: #eed8d4;
  background-color: #ffe7e3;
}

.document .color_box.color-red.emphasis-obvious {
  border-color: #eeafa4;
  background-color: #ffbab0;
}

.document .color_box.color-green {
  border-color: #b7eeb7;
  background-color: #c4ffc4;
}

.document .color_box.color-green.emphasis-subtle {
  border-color: #d4eed4;
  background-color: #e3ffe3;
}

.document .color_box.color-green.emphasis-obvious {
  border-color: #a4eea4;
  background-color: #b0ffb0;
}

.document .color_box.color-orange {
  border-color: #eee2bc;
  background-color: #fff0c4;
}

.document .color_box.color-orange.emphasis-subtle {
  border-color: #eee7d4;
  background-color: #fff8e3;
}

.document .color_box.color-orange.emphasis-obvious {
  border-color: #eedba4;
  background-color: #ffebb0;
}

.document .color_box.color-purple {
  border-color: #dbb7ee;
  background-color: #eac4ff;
}

.document .color_box.color-purple.emphasis-subtle {
  border-color: #e5d4ee;
  background-color: #f5e3ff;
}

.document .color_box.color-purple.emphasis-obvious {
  border-color: #d5a4ee;
  background-color: #e3b0ff;
}

.document .color_box.color-teal {
  border-color: #b7eeed;
  background-color: #c4fffe;
}

.document .color_box.color-teal.emphasis-subtle {
  border-color: #d4eeee;
  background-color: #e3ffff;
}

.document .color_box.color-teal.emphasis-obvious {
  border-color: #a4eeed;
  background-color: #b0fffe;
}

.document .color_box.color-pink {
  border-color: #eebcea;
  background-color: #ffc4fa;
}

.document .color_box.color-pink.emphasis-subtle {
  border-color: #eed4ec;
  background-color: #ffe3fd;
}

.document .color_box.color-pink.emphasis-obvious {
  border-color: #eea4e8;
  background-color: #ffb0f8;
}
