


/*** Common ***/
.mcneese.is-fixed_width #mcneese-www-footer {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin-left: auto;
  margin-right: auto;
}

#mcneese-top {
  padding: 0px 5px;
}

#mcneese-page {
  overflow: auto;

  padding: 0px 5px 5px 5px;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#mcneese-www-footer {
  font-size: 11px;
  line-height: 15px;

  color: #303030;
  background-color: #c5ceda;

  background-image: url(../../images/footer-full.png);
  background-repeat: no-repeat;
  background-position: bottom right;

  height: 188px;
  min-height: 188px;
  max-height: 188px;

  border-top: 1px solid #e2edfa;
  padding: 0px 5px 5px 5px;

  overflow: hidden;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#mcneese-www-footer > .columns {
  display: block;
  vertical-align: top;

  margin: 20px 10px 10px 10px;
}


#mcneese-www-footer > .columns-right {
  margin: 20px 10px 0px 10px;
}

#mcneese-www-footer > .columns-left {
  min-height: 109px;
}

#mcneese-www-footer > .columns-right {
  float: right;

  margin-right: 30px;
}

#mcneese-www-footer > .columns > .column > .column-heading > .column-header {
  font-size: 12px;
  line-height: 16px;

  margin-bottom: 5px;
}

#mcneese-www-footer > .columns > .column {
  display: inline-block;
  vertical-align: top;

  margin: 0px 12px;
}

#mcneese-www-footer > .columns > .column > ul {
  display: block;

  margin: 0px;
  padding: 0px;
}

#mcneese-www-footer > .columns > .column > ul > li {
  display: block;

  margin: 2px 0px;
  padding: 0px;
}

#mcneese-www-footer > .columns-left > .column-4 > ul > li {
  display: inline-block;

  margin: 2px 3px;
}

#mcneese-www-footer > .columns-left > .column-4 > ul > li > a > img {
  width: 21px;
  min-width: 21px;
  max-width: 21px;

  height: 21px;
  min-height: 21px;
  max-height: 21px;
}

#mcneese-www-footer > .columns-right > .column-1 {
  margin: 0px 2px;
}

#mcneese-www-footer > .copyright {
  clear: left;

  height: 53px;
  min-height: 53px;
  max-height: 53px;

  overflow: hidden;
}

#mcneese-www-footer > .copyright > .copyright-logo {
  display: block;
  float: left;

  margin: 0px 10px;
}

#mcneese-www-footer > .copyright > .copyright-menus {
  display: block;

  margin: 10px 0px 0px 0px;
}

#mcneese-www-footer > .copyright > .copyright-menus > .copyright-menu {
  display: block;

  margin: 0px 0px 0px 10px;
  padding: 0px;
}

#mcneese-www-footer > .copyright > .copyright-menus > .copyright-menu > li {
  display: inline-block;

  margin: 0px;
  padding: 0px;
}

#mcneese-www-footer a,
#mcneese-www-footer a:visited {
  color: #303030;
  text-decoration: none;
}

#mcneese-www-footer a:focus,
#mcneese-www-footer a:active,
#mcneese-www-footer a:hover {
  color: #00477f;

  text-decoration: underline;
}

.mcneese.is-flex_width #mcneese-www-footer {
  width: inherit;
  min-width: inherit;
  max-width: inherit;

  margin: 0px 64px;
}

.mcneese.is-overlay #mcneese-www-footer,
.mcneese.is-emergency #mcneese-www-footer {
  display: none;

  width: 0px;
  height: 0px;

  margin: 0px;
  padding: 0px;

  overflow: hidden;
}

.mcneese > .dev-query,
.mcneese.is-admin_path > .dev-query {
  margin-bottom: 10px;
}

.mcneese .mcneese-content > .group_image,
.mcneese .mcneese-content > .column-2 > .group_image {
  display: block;
  margin: 0px auto;
}

.mcneese .mcneese-content > img.group_image,
.mcneese .mcneese-content > .column-2 > img.group_image {
  width: 100%;

  height: 200px;
  min-height: 200px;
  max-height: 200px;
}



/*** Calendar Specific ***/
#mcneese-page .view .calendar > .contents > .event-item,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item {
  color: #ffffff;
  background-color: #00588f;

  font-size: 10px;

  padding: 3px 4px;
}

#mcneese-page .view .calendar > .contents > .event-item > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item > a {
  font-size: 11px;
  font-weight: normal;
}

#mcneese-page .view .calendar > .contents > .event-item > a,
#mcneese-page .view .calendar > .contents > .event-item > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item > a:visited {
  color: #ffffff;
}

#mcneese-page .view .calendar > .contents > .event-item > a:focus,
#mcneese-page .view .calendar > .contents > .event-item > a:active,
#mcneese-page .view .calendar > .contents > .event-item > a:hover,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item > a:focus,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item > a:active,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item > a:hover {
  color: #ffff00;
}

#mcneese-page .view .calendar > .contents > .event-item.event-250,
#mcneese-page .view .calendar > .contents > .event-item.event-256,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-250,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-256 {
  color: #ffffff;
  background-color: #713936;
}

#mcneese-page .view .calendar > .contents > .event-item.event-650 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-650 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-650 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-650 > a:visited {
  color: #00477f;
}

#mcneese-page .view .calendar > .contents > .event-item.event-292,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-292 {
  color: #ffffff;
  background-color: #325c3f;
}

#mcneese-page .view .calendar > .contents > .event-item.event-292 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-292 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-292 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-292 > a:visited {
  color: #ffffff;
}

#mcneese-page .view .calendar > .contents > .event-item.event-292 > a:focus,
#mcneese-page .view .calendar > .contents > .event-item.event-292 > a:active,
#mcneese-page .view .calendar > .contents > .event-item.event-292 > a:hover,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-292 > a:focus,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-292 > a:active,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-292 > a:hover {
  color: #fff89a;
}

#mcneese-page .view .calendar > .contents > .event-item.event-399,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-399 {
  color: #ffffff;
  background-color: #794700;
}

#mcneese-page .view .calendar > .contents > .event-item.event-399 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-399 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-399 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-399 > a:visited {
  color: #ffffff;
}

#mcneese-page .view .calendar > .contents > .event-item.event-251,
#mcneese-page .view .calendar > .contents > .event-item.event-253,
#mcneese-page .view .calendar > .contents > .event-item.event-257,
#mcneese-page .view .calendar > .contents > .event-item.event-258,
#mcneese-page .view .calendar > .contents > .event-item.event-259,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-251,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-253,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-257,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-258,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-259 {
  color: #ffffff;
  background-color: #673c6b;
}

#mcneese-page .view .calendar > .contents > .event-item.event-251 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-254 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-257 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-258 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-259 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-251 > a:visited,
#mcneese-page .view .calendar > .contents > .event-item.event-254 > a:visited,
#mcneese-page .view .calendar > .contents > .event-item.event-257 > a:visited,
#mcneese-page .view .calendar > .contents > .event-item.event-258 > a:visited,
#mcneese-page .view .calendar > .contents > .event-item.event-259 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-251 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-253 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-257 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-258 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-259 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-251 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-253 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-257 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-258 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-259 > a:visited {
  color: #ffffff;
}

#mcneese-page .view .calendar > .contents > .event-item.event-654,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-654 {
  color: #ffffff;
  background-color: #335a5f;
}

#mcneese-page .view .calendar > .contents > .event-item.event-654 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-654 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-654 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-654 > a:visited {
  color: #ffffff;
}

#mcneese-page .view .calendar > .contents > .event-item.event-654 > a:focus,
#mcneese-page .view .calendar > .contents > .event-item.event-654 > a:active,
#mcneese-page .view .calendar > .contents > .event-item.event-654 > a:hover,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-654 > a:focus,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-654 > a:active,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-654 > a:hover {
  color: #fffab9;
}

#mcneese-page .view .calendar > .contents > .event-item.event-249,
#mcneese-page .view .calendar > .contents > .event-item.event-252,
#mcneese-page .view .calendar > .contents > .event-item.event-255,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-249,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-252,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-255 {
  color: #054b80;
  background-color: #e6e993;
}

#mcneese-page .view .calendar > .contents > .event-item.event-249 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-252 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-255 > a,
#mcneese-page .view .calendar > .contents > .event-item.event-249 > a:visited,
#mcneese-page .view .calendar > .contents > .event-item.event-252 > a:visited,
#mcneese-page .view .calendar > .contents > .event-item.event-255 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-249 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-252 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-255 > a,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-249 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-252 > a:visited,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-255 > a:visited {
  color: #054b80;
}

#mcneese-page .view .calendar > .contents > .event-item.event-249 > a:focus,
#mcneese-page .view .calendar > .contents > .event-item.event-252 > a:focus,
#mcneese-page .view .calendar > .contents > .event-item.event-255 > a:focus,
#mcneese-page .view .calendar > .contents > .event-item.event-249 > a:active,
#mcneese-page .view .calendar > .contents > .event-item.event-252 > a:active,
#mcneese-page .view .calendar > .contents > .event-item.event-255 > a:active,
#mcneese-page .view .calendar > .contents > .event-item.event-249 > a:hover,
#mcneese-page .view .calendar > .contents > .event-item.event-252 > a:hover,
#mcneese-page .view .calendar > .contents > .event-item.event-255 > a:hover,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-249 > a:focus,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-252 > a:focus,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-255 > a:focus,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-249 > a:active,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-252 > a:active,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-255 > a:active,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-249 > a:hover,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-252 > a:hover,
#mcneese-page .view .calendar > .contents > .views-field > .field-content > .event-item.event-255 > a:hover {
  color: #950000;
}



/*** wwwdev.mcneese.edu-specific ***/
.mcneese.at-wwwdev_mcneese_edu,
.mcneese.at-wwwdev2_mcneese_edu,
.mcneese.at-wwwdev,
.mcneese.at-wwwdev2 {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../../images/background-marble-black.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-page,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page,
.mcneese.at-wwwdev #mcneese-page,
.mcneese.at-wwwdev2 #mcneese-page {
  background-image: url(../../images/background-marble-slight_white.png);
}

.mcneese.at-wwwdev_mcneese_edu.is-user_settings-background_colors.is-workbench-moderated-draft #mcneese-page,
.mcneese.at-wwwdev2_mcneese_edu.is-user_settings-background_colors.is-workbench-moderated-draft #mcneese-page,
.mcneese.at-wwwdev.is-user_settings-background_colors.is-workbench-moderated-draft #mcneese-page,
.mcneese.at-wwwdev2.is-user_settings-background_colors.is-workbench-moderated-draft #mcneese-page {
  background-image: url(../../images/background-marble-slight_blue.png);
}

.mcneese.at-wwwdev_mcneese_edu.is-user_settings-background_colors.is-node.is-unpublished #mcneese-page,
.mcneese.at-wwwdev2_mcneese_edu.is-user_settings-background_colors.is-node.is-unpublished #mcneese-page,
.mcneese.at-wwwdev.is-user_settings-background_colors.is-node.is-unpublished #mcneese-page,
.mcneese.at-wwwdev2.is-user_settings-background_colors.is-node.is-unpublished #mcneese-page {
  background-image: url(../../images/background-marble-slight_pink.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-top,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-top,
.mcneese.at-wwwdev #mcneese-header > .header-top,
.mcneese.at-wwwdev2 #mcneese-header > .header-top {
  background-image: url(../../images/background-marble-blue.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-separator,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-separator,
.mcneese.at-wwwdev #mcneese-header > .header-separator,
.mcneese.at-wwwdev2 #mcneese-header > .header-separator {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-bottom,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-bottom,
.mcneese.at-wwwdev #mcneese-header > .header-bottom,
.mcneese.at-wwwdev2 #mcneese-header > .header-bottom {
  background-image: url(../../images/background-marble-dark_blue.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a,
.mcneese.at-wwwdev #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a,
.mcneese.at-wwwdev2 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a,
.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a:visited,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a:visited,
.mcneese.at-wwwdev #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a:visited,
.mcneese.at-wwwdev2 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a:visited {
  background-image: url(../../images/background-marble-black.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active,
.mcneese.at-wwwdev #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active,
.mcneese.at-wwwdev2 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active:visited,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active:visited,
.mcneese.at-wwwdev #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active:visited,
.mcneese.at-wwwdev2 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active:visited {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:hover,
.mcneese.at-wwwdev #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:hover,
.mcneese.at-wwwdev2 #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:active,
.mcneese.at-wwwdev #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:active,
.mcneese.at-wwwdev2 #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:focus,
.mcneese.at-wwwdev #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:focus,
.mcneese.at-wwwdev2 #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:focus {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-section > .block-name-block-masquerade-masquerade,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-section > .block-name-block-masquerade-masquerade,
.mcneese.at-wwwdev #mcneese-header > .header-section > .block-name-block-masquerade-masquerade,
.mcneese.at-wwwdev2 #mcneese-header > .header-section > .block-name-block-masquerade-masquerade {
  background-image: url(../../images/background-marble-deep_blue.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.relative,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.relative,
.mcneese.at-wwwdev #mcneese-breadcrumb.relative,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.relative {
  background-image: url(../../images/background-marble-dark_blue.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:hover,
.mcneese.at-wwwdev #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:hover,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:active,
.mcneese.at-wwwdev #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:active,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:focus,
.mcneese.at-wwwdev #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:focus,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:focus {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:hover,
.mcneese.at-wwwdev #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:hover,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:active,
.mcneese.at-wwwdev #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:active,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:focus,
.mcneese.at-wwwdev #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:focus,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:focus {
  background-image: url(../../images/home-black.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-messages.fixed.collapsed,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-messages.fixed.collapsed,
.mcneese.at-wwwdev #mcneese-messages.fixed.collapsed,
.mcneese.at-wwwdev2 #mcneese-messages.fixed.collapsed {
  background-image: url(../../images/messages-alt.png);

  background-color: #000000;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-help.fixed.collapsed,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-help.fixed.collapsed,
.mcneese.at-wwwdev #mcneese-help.fixed.collapsed,
.mcneese.at-wwwdev2 #mcneese-help.fixed.collapsed {
  background-color: #000000;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-information.fixed.collapsed,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-information.fixed.collapsed,
.mcneese.at-wwwdev #mcneese-information.fixed.collapsed,
.mcneese.at-wwwdev2 #mcneese-information.fixed.collapsed {
  background-image: url(../../images/information-alt.png);

  background-color: #000000;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-tabs.fixed.collapsed,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-tabs.fixed.collapsed,
.mcneese.at-wwwdev #mcneese-tabs.fixed.collapsed,
.mcneese.at-wwwdev2 #mcneese-tabs.fixed.collapsed {
  background-color: #000000;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-action_links.fixed.collapsed,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-action_links.fixed.collapsed,
.mcneese.at-wwwdev #mcneese-action_links.fixed.collapsed,
.mcneese.at-wwwdev2 #mcneese-action_links.fixed.collapsed {
  background-color: #000000;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.fixed.collapsed,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.fixed.collapsed,
.mcneese.at-wwwdev #mcneese-breadcrumb.fixed.collapsed,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.fixed.collapsed {
  background-color: #000000;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-page-side.fixed.collapsed,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-side.fixed.collapsed,
.mcneese.at-wwwdev #mcneese-page-side.fixed.collapsed,
.mcneese.at-wwwdev2 #mcneese-page-side.fixed.collapsed {
  background-image: url(../../images/side-alt.png);

  background-color: #000000;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-page-document-outline.fixed.collapsed,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-document-outline.fixed.collapsed,
.mcneese.at-wwwdev #mcneese-page-document-outline.fixed.collapsed,
.mcneese.at-wwwdev2 #mcneese-page-document-outline.fixed.collapsed {
  background-color: #000000;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-messages.fixed.collapsed:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-messages.fixed.collapsed:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-messages.fixed.collapsed:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-messages.fixed.collapsed:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-messages.fixed.collapsed:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-messages.fixed.collapsed:focus,
.mcneese.at-wwwdev #mcneese-messages.fixed.collapsed:hover,
.mcneese.at-wwwdev #mcneese-messages.fixed.collapsed:active,
.mcneese.at-wwwdev #mcneese-messages.fixed.collapsed:focus,
.mcneese.at-wwwdev2 #mcneese-messages.fixed.collapsed:hover,
.mcneese.at-wwwdev2 #mcneese-messages.fixed.collapsed:active,
.mcneese.at-wwwdev2 #mcneese-messages.fixed.collapsed:focus {
  background-image: url(../../images/messages.png);
  background-color: #fffff0;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-help.fixed.collapsed:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-help.fixed.collapsed:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-help.fixed.collapsed:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-help.fixed.collapsed:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-help.fixed.collapsed:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-help.fixed.collapsed:focus,
.mcneese.at-wwwdev #mcneese-help.fixed.collapsed:hover,
.mcneese.at-wwwdev #mcneese-help.fixed.collapsed:active,
.mcneese.at-wwwdev #mcneese-help.fixed.collapsed:focus,
.mcneese.at-wwwdev2 #mcneese-help.fixed.collapsed:hover,
.mcneese.at-wwwdev2 #mcneese-help.fixed.collapsed:active,
.mcneese.at-wwwdev2 #mcneese-help.fixed.collapsed:focus {
  background-color: #fff0fb;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-information.fixed.collapsed:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-information.fixed.collapsed:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-information.fixed.collapsed:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-information.fixed.collapsed:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-information.fixed.collapsed:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-information.fixed.collapsed:focus,
.mcneese.at-wwwdev #mcneese-information.fixed.collapsed:hover,
.mcneese.at-wwwdev #mcneese-information.fixed.collapsed:active,
.mcneese.at-wwwdev #mcneese-information.fixed.collapsed:focus,
.mcneese.at-wwwdev2 #mcneese-information.fixed.collapsed:hover,
.mcneese.at-wwwdev2 #mcneese-information.fixed.collapsed:active,
.mcneese.at-wwwdev2 #mcneese-information.fixed.collapsed:focus {
  background-image: url(../../images/information.png);
  background-color: #eff0d6;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-tabs.fixed.collapsed:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-tabs.fixed.collapsed:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-tabs.fixed.collapsed:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-tabs.fixed.collapsed:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-tabs.fixed.collapsed:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-tabs.fixed.collapsed:focus,
.mcneese.at-wwwdev #mcneese-tabs.fixed.collapsed:hover,
.mcneese.at-wwwdev #mcneese-tabs.fixed.collapsed:active,
.mcneese.at-wwwdev #mcneese-tabs.fixed.collapsed:focus,
.mcneese.at-wwwdev2 #mcneese-tabs.fixed.collapsed:hover,
.mcneese.at-wwwdev2 #mcneese-tabs.fixed.collapsed:active,
.mcneese.at-wwwdev2 #mcneese-tabs.fixed.collapsed:focus {
  background-color: transparent;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-action_links.fixed.collapsed:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-action_links.fixed.collapsed:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-action_links.fixed.collapsed:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-action_links.fixed.collapsed:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-action_links.fixed.collapsed:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-action_links.fixed.collapsed:focus,
.mcneese.at-wwwdev #mcneese-action_links.fixed.collapsed:hover,
.mcneese.at-wwwdev #mcneese-action_links.fixed.collapsed:active,
.mcneese.at-wwwdev #mcneese-action_links.fixed.collapsed:focus,
.mcneese.at-wwwdev2 #mcneese-action_links.fixed.collapsed:hover,
.mcneese.at-wwwdev2 #mcneese-action_links.fixed.collapsed:active,
.mcneese.at-wwwdev2 #mcneese-action_links.fixed.collapsed:focus {
  background-color: transparent;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.fixed.collapsed:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.fixed.collapsed:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-breadcrumb.fixed.collapsed:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.fixed.collapsed:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.fixed.collapsed:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-breadcrumb.fixed.collapsed:focus,
.mcneese.at-wwwdev #mcneese-breadcrumb.fixed.collapsed:hover,
.mcneese.at-wwwdev #mcneese-breadcrumb.fixed.collapsed:active,
.mcneese.at-wwwdev #mcneese-breadcrumb.fixed.collapsed:focus,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.fixed.collapsed:hover,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.fixed.collapsed:active,
.mcneese.at-wwwdev2 #mcneese-breadcrumb.fixed.collapsed:focus {
  background-color: transparent;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-page-side.fixed.collapsed:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-page-side.fixed.collapsed:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-page-side.fixed.collapsed:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-side.fixed.collapsed:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-side.fixed.collapsed:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-side.fixed.collapsed:focus,
.mcneese.at-wwwdev #mcneese-page-side.fixed.collapsed:hover,
.mcneese.at-wwwdev #mcneese-page-side.fixed.collapsed:active,
.mcneese.at-wwwdev #mcneese-page-side.fixed.collapsed:focus,
.mcneese.at-wwwdev2 #mcneese-page-side.fixed.collapsed:hover,
.mcneese.at-wwwdev2 #mcneese-page-side.fixed.collapsed:active,
.mcneese.at-wwwdev2 #mcneese-page-side.fixed.collapsed:focus {
  background-color: #ffffff;
  background-image: url(../../images/side.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-page-watermarks-pre,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-watermarks-pre,
.mcneese.at-wwwdev #mcneese-page-watermarks-pre,
.mcneese.at-wwwdev2 #mcneese-page-watermarks-pre,
.mcneese.at-wwwdev_mcneese_edu #mcneese-page-watermarks-post,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-watermarks-post,
.mcneese.at-wwwdev #mcneese-page-watermarks-post,
.mcneese.at-wwwdev2 #mcneese-page-watermarks-post {
  color: #ffffff;
  background-color: transparent;
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-section > .site-logo,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-section > .site-logo,
.mcneese.at-wwwdev #mcneese-header > .header-section > .site-logo,
.mcneese.at-wwwdev2 #mcneese-header > .header-section > .site-logo {
  background-image: url(../../images/development.png);
}

.mcneese.at-wwwdev_mcneese_edu #mcneese-page-document-outline.fixed.collapsed:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-page-document-outline.fixed.collapsed:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-page-document-outline.fixed.collapsed:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-document-outline.fixed.collapsed:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-document-outline.fixed.collapsed:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-page-document-outline.fixed.collapsed:focus,
.mcneese.at-wwwdev #mcneese-page-document-outline.fixed.collapsed:hover,
.mcneese.at-wwwdev #mcneese-page-document-outline.fixed.collapsed:active,
.mcneese.at-wwwdev #mcneese-page-document-outline.fixed.collapsed:focus,
.mcneese.at-wwwdev2 #mcneese-page-document-outline.fixed.collapsed:hover,
.mcneese.at-wwwdev2 #mcneese-page-document-outline.fixed.collapsed:active,
.mcneese.at-wwwdev2 #mcneese-page-document-outline.fixed.collapsed:focus {
  background-color: #e4f2ff;
}



/*** sandbox.mcneese.edu-specific ***/
.mcneese.at-sandbox_mcneese_edu,
.mcneese.at-sandbox {
  background-image: url(../../images/background-marble-grey.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-page,
.mcneese.at-sandbox #mcneese-page {
  background-image: url(../../images/background-marble-slight_white.png);
}

.mcneese.at-sandbox_mcneese_edu.is-workbench-moderated-draft #mcneese-page,
.mcneese.at-sandbox.is-workbench-moderated-draft #mcneese-page {
  background-image: url(../../images/background-marble-slight_blue.png);
}

.mcneese.at-sandbox_mcneese_edu.is-node.is-unpublished #mcneese-page,
.mcneese.at-sandbox.is-node.is-unpublished #mcneese-page {
  background-image: url(../../images/background-marble-slight_pink.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-top,
.mcneese.at-sandbox #mcneese-header > .header-top {
  background-image: url(../../images/background-marble-blue.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-separator,
.mcneese.at-sandbox #mcneese-header > .header-separator {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-bottom,
.mcneese.at-sandbox #mcneese-header > .header-bottom {
  background-image: url(../../images/background-marble-dark_blue.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a,
.mcneese.at-sandbox #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a,
.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a:visited,
.mcneese.at-sandbox #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a:visited {
  background-image: url(../../images/background-marble-black.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active,
.mcneese.at-sandbox #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active,
.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active:visited,
.mcneese.at-sandbox #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active:visited {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:hover,
.mcneese.at-sandbox #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:hover,
.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:active,
.mcneese.at-sandbox #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:active,
.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:focus,
.mcneese.at-sandbox #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:focus {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-section > .block-name-block-masquerade-masquerade,
.mcneese.at-sandbox #mcneese-header > .header-section > .block-name-block-masquerade-masquerade {
  background-image: url(../../images/background-marble-deep_blue.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-breadcrumb.relative,
.mcneese.at-sandbox #mcneese-breadcrumb.relative {
  background-image: url(../../images/background-marble-dark_blue.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:hover,
.mcneese.at-sandbox #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:hover,
.mcneese.at-sandbox_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:active,
.mcneese.at-sandbox #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:active,
.mcneese.at-sandbox_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:focus,
.mcneese.at-sandbox #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:focus {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:hover,
.mcneese.at-sandbox #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:hover,
.mcneese.at-sandbox_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:active,
.mcneese.at-sandbox #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:active,
.mcneese.at-sandbox_mcneese_edu #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:focus,
.mcneese.at-sandbox #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:focus {
  background-image: url(../../images/home-black.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-menu,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-menu {
  background-image: url(../../images/background-marble-black.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-shortcuts,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-shortcuts {
  background-image: url(../../images/background-marble-deep_blue.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-menu > .item > a:hover,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-menu > .item > a:hover,
.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-menu > .item > a:active,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-menu > .item > a:active,
.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-menu > .item > a:focus,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-menu > .item > a:focus {
  background-image: url(../../images/background-marble-light_blue.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-shortcuts > .item > a:hover,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-shortcuts > .item > a:hover,
.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-shortcuts > .item > a:active,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-shortcuts > .item > a:active,
.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-shortcuts > .item > a:focus,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-shortcuts > .item > a:focus {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-home > .link:hover,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-home > .link:hover,
.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-home > .link:active,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-home > .link:active,
.mcneese.at-sandbox_mcneese_edu #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-home > .link:focus,
.mcneese.at-sandbox #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-home > .link:focus {
  background-image: url(../../images/home.png);
}

.mcneese.at-sandbox_mcneese_edu.is-toolbar-shortcuts-collapsed #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:hover,
.mcneese.at-sandbox.is-toolbar-shortcuts-collapsed #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:hover,
.mcneese.at-sandbox_mcneese_edu.is-toolbar-shortcuts-collapsed #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:active,
.mcneese.at-sandbox.is-toolbar-shortcuts-collapsed #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:active,
.mcneese.at-sandbox_mcneese_edu.is-toolbar-shortcuts-collapsed #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:focus,
.mcneese.at-sandbox.is-toolbar-shortcuts-collapsed #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:focus {
  background-image: url(../../images/toggle-up.png);
}

.mcneese.at-sandbox_mcneese_edu.is-toolbar-shortcuts-expanded #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:hover,
.mcneese.at-sandbox.is-toolbar-shortcuts-expanded #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:hover,
.mcneese.at-sandbox_mcneese_edu.is-toolbar-shortcuts-expanded #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:active,
.mcneese.at-sandbox.is-toolbar-shortcuts-expanded #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:active,
.mcneese.at-sandbox_mcneese_edu.is-toolbar-shortcuts-expanded #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:focus,
.mcneese.at-sandbox.is-toolbar-shortcuts-expanded #mcneese-toolbar > .mcneese-toolbar-menu > .item.mcneese-toolbar-toggle > .link:focus {
  background-image: url(../../images/toggle-down.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-section > .site-logo,
.mcneese.at-sandbox #mcneese-header > .header-section > .site-logo {
  background-image: url(../../images/sandbox.png);
}



/*** Search Box Links ***/
#mcneese-header > .header-top > .block-name-block-block-13 {
  position: absolute;
  display: block;

  top: 8px;
  right: 20px;

  width: 225.1px;
  min-width: 225.1px;
  max-width: 225.1px;
  overflow: hidden;

  height: 18px;
  min-height: 18px;
  max-height: 18px;

  color: #ffffff;
  background-color: #023761;

  font-size: 10px;
  font-family: arial, helvetica, sans-serif;
  line-height: 14px;

  padding: 3px 3px 0px 3px;
  border: 1px solid #065c9f;
  border-bottom: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-header > .header-top > .block-name-block-block-13 > .navigation_list {
  padding: 0px;
}

#mcneese-header > .header-top > .block-name-block-block-13 > .navigation_list > li,
#mcneese-header > .header-top > .block-name-block-block-13 > .navigation_list > div {
  display: inline-block;
  text-align: center;

  margin: 0px auto;
}

#mcneese-header > .header-top > .block-name-block-block-13 > .navigation_list > .search_form-top_box_links-ada {
  width: 30px;
}

#mcneese-header > .header-top > .block-name-block-block-13 > .navigation_list > .search_form-top_box_links-staff {
  width: 115px;
}

#mcneese-header > .header-top > .block-name-block-block-13 > .navigation_list > .search_form-top_box_links-index {
  width: 50px;
}

#mcneese-header > .header-top > .block-name-block-block-13 > .navigation_list > .search_form-top_box_links-bar {
  width: 4px;
}



/*** Fix/Reduce form problems ***/
.mcneese .mcneese-content-main > form.node-form .vertical-tabs > .vertical-tabs-panes .form-item-workbench-access-id > select,
.mcneese .mcneese-content-main > form.node-form .vertical-tabs > .vertical-tabs-panes .form-item > .image-widget > .image-preview > img {
  max-width: 100%;
}



/*** Media Browser ***/
.mcneese.path-media_browser > #mcneese-www-footer {
  display: none;
}



/*** Apply Now Adjustments ***/
.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a {
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  width: 87px;
  min-width: 87px;
  max-width: 87px;

  line-height: 29px;

  height: 29px;
  min-height: 29px;
  max-height: 29px;
}

.mcneese.is-front #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a {
  color: #00477f;
  background-color: #fad703;
}

.mcneese.is-front #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:hover,
.mcneese.is-front #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:active,
.mcneese.is-front #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:focus {
  color: #ffffff;
  background-color: #00234b;
}

.mcneese.is-front.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a,
.mcneese.is-front.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:visited,
.mcneese.is-front.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a,
.mcneese.is-front.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a,
.mcneese.is-front.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:visited,
.mcneese.is-front.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:visited {
  background-image: url(../../images/background-marble-yellow.png);
}

.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:hover,
.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:hover,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:hover,
.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:active,
.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:active,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:active,
.mcneese.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:focus,
.mcneese.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:focus,
.mcneese.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:focus {
  color: #00477f;
}

.mcneese.is-front.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:hover,
.mcneese.is-front.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:hover,
.mcneese.is-front.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:hover,
.mcneese.is-front.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:active,
.mcneese.is-front.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:active,
.mcneese.is-front.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:active,
.mcneese.is-front.at-sandbox_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:focus,
.mcneese.is-front.at-wwwdev_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:focus,
.mcneese.is-front.at-wwwdev2_mcneese_edu #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-apply-now > a:focus {
  color: #ffffff;
  background-image: none;
}



/*** JQ Maphilight ***/
.mcneese #mcneese-page-content div.group_image.jq_maphilight {
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;

  margin-left: auto;
  margin-right: auto;
}

.mcneese #mcneese-page-content div.group_image-large.jq_maphilight {
  width: 960px !important;
  height: 200px !important;
}

.mcneese #mcneese-page-content div.group_image-small.jq_maphilight {
  width: 755px !important;
  height: 200px !important;
}
