.document aside#document-help_region {
  background-image: url(../../images/help.png);
  background-repeat:  no-repeat;
  background-position: 0 0;

  top: 110px;
  right: 1px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;

  width: 32px;
  height: 32px;
  min-height: 32px;

  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.document.is-logged_in aside#document-help_region {
  top: 155px;
}

.document.toolbar-drawer aside#document-help_region {
  top: 185px;
}

.document aside#document-help_region:hover,
.document aside#document-help_region:active,
.document aside#document-help_region:focus {
  background-color: #ffe1da;
  background-position: 4px 4px;

  min-width: 400px;
  width: auto;

  min-height: 200px;
  max-height: 400px;
  height: auto;

  padding: 0 4px 4px 4px;

  z-index: 100;

  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;

  border: 1px ridge #000000;
}

.document aside#document-help_region > * {
  visibility: hidden;
}

.document aside#document-help_region:hover > *,
.document aside#document-help_region:active > *,
.document aside#document-help_region:focus > * {
  visibility: visible;
}

.document aside#document-help_region:hover > h2,
.document aside#document-help_region:active > h2,
.document aside#document-help_region:focus > h2 {
  font-size: 18px;

  text-align: left;
  text-justify: left;
  text-transform: none;

  line-height: 32px;

  padding-left: 38px;
}

