.document nav#document-website_menu_region {
  background-image: url(../../images/menu.png);
  background-repeat:  no-repeat;
  background-position: 0 0;

  top: 55px;
  left: 1px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;

  width: 32px;
  height: 32px;
  min-height: 32px;

  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.document.is-logged_in nav#document-website_menu_region {
  top: 100px;
}

.document.toolbar-drawer nav#document-website_menu_region {
  top: 130px;
}

.document nav#document-website_menu_region:hover,
.document nav#document-website_menu_region:active,
.document nav#document-website_menu_region:focus {
  background-color: #c2d6ed;
  background-position: 4px 4px;

  min-width: 250px;
  width: auto;

  min-height: 200px;
  max-height: 400px;
  height: auto;

  padding: 0 4px 4px 4px;

  z-index: 100;

  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;

  border: 1px ridge #000000;
}

.document nav#document-website_menu_region > * {
  visibility: hidden;
}

.document nav#document-website_menu_region:hover > *,
.document nav#document-website_menu_region:active > *,
.document nav#document-website_menu_region:focus > * {
  visibility: visible;
}

.document nav#document-website_menu_region:hover > h2,
.document nav#document-website_menu_region:active > h2,
.document nav#document-website_menu_region:focus > h2 {
  font-size: 18px;

  text-align: left;
  text-justify: left;
  text-transform: none;

  line-height: 32px;

  padding-left: 38px;
}

.document nav#document-website_menu_region:hover > ol,
.document nav#document-website_menu_region:active > ol,
.document nav#document-website_menu_region:focus > ol,
.document nav#document-website_menu_region:hover > ul,
.document nav#document-website_menu_region:active > ul,
.document nav#document-website_menu_region:focus > ul {
  margin-left: 0px;
}

.document nav#document-website_menu_region a,
.document nav#document-website_menu_region a:visited {
  text-decoration: none;
}

.document nav#document-website_menu_region a:hover,
.document nav#document-website_menu_region a:focus {
  font-weight: bolder;
  text-decoration: underline;
}

.document nav#document-website_menu_region a:active {
  color: #cc0000;

  font-weight: bolder;
  text-decoration: underline
}

