
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
div.ColVis {
	float: left;
	padding: 0px 5px;
}

ul.ColVis_collection {
	padding: 0px !important;
}

button.ColVis_Button {
}

button.ColVis_Button,
ul.ColVis_collection li {
	position: relative;
	padding: 3px 4px;
	border: 1px solid #999999;
	font-size: 11px;
	color: #000000;
	white-space: nowrap;
	border-radius: 2px;

	box-shadow: 1px 1px 3px #cccccc;

	background: #ffffff;
}

ul.ColVis_collection li {
	overflow: hidden;
	margin: 3px;
}

.ColVis_Button:hover,
ul.ColVis_collection li:hover {
	border: 1px solid #666666;
	text-decoration: none;

	background: #f3f3f3;
}

button.ColVis_Button:active { 
	outline: none;
}

ul.ColVis_collection {
	list-style: none;
	min-width: 100px;
	max-width: 240px;
	padding: 4px 4px 2px 4px;
	margin: 0;
	border: 1px solid #cccccc;
	background-color: #f3f3f3;
	overflow: hidden;
	z-index: 2002;
}

ul.ColVis_collection li {
	position: relative;
	height: auto;
	left: 0;
	right: 0;
	padding: 0.5em;

	display: block;
	float: none;
	margin-bottom: 4px;
}

ul.ColVis_collection li {
	text-align: left;
}

ul.ColVis_collection li.ColVis_Button:hover {
	border: 1px solid #999999;
	background-color: #f0f0f0;
}

ul.ColVis_collection li span {
	display: inline-block;
	padding-left: 0.5em;
	cursor: pointer;
}


ul.ColVis_collection li.ColVis_Special {
	border-color: #555555;
	background: #ededed;
}

ul.ColVis_collection li.ColVis_Special:hover {
	background: #e2e2e2;
}


span.ColVis_radio {
	display: inline-block;
	width: 20px;
}

div.ColVis_catcher {
	position: absolute;
	z-index: 1101;
}

