


/*** Help Region ***/
#mcneese-help > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  font-size: 18px;
  line-height: 22px;

  text-align: left;
  text-justify: left;
  text-transform: none;
}

#mcneese-help > .messages-wrapper {
  margin: 2px;
  resize: none;
}

#mcneese-help > .messages-wrapper > .messages {
  max-height: 120px;
  overflow-y: auto;
  resize: none;
}

#mcneese-help > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  line-height: 32px;

  min-height: 32px;

  margin: 0px 32px 0px 0px;
}



/*** Help Region - Fixed ***/
#mcneese-help.fixed {
  background-image: url(../../images/help.png);
}

#mcneese-help.fixed.collapsed {
  background-color: #dadada;
}

#mcneese-help.fixed.expanded,
#mcneese-help.fixed.collapsed:hover,
#mcneese-help.fixed.collapsed:active,
#mcneese-help.fixed.collapsed:focus {
  background-color: #fff0fb;

  border: 1px ridge #cc5384;
}

#mcneese-help.fixed.expanded {
  right: 40px;
}



/*** Help Region - Relative ***/
#mcneese-help.relative {
  position: relative;

  background-color: #fff0fb;

  border: 1px ridge #cc5384;
  margin: 6px 2px;
  padding: 0px 4px 4px 4px;

  overflow: auto;
}

#mcneese-help.relative > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}
