


/*** Administrative Toolbar ***/
.mcneese.is-toolbar-fixed.mcneese.is-toolbar-autoshow.is-toolbar-shortcuts-collapsed > #mcneese-top {
  margin-top: 28px;
}

.mcneese.is-toolbar-fixed.mcneese.is-toolbar-autoshow.is-toolbar-shortcuts-expanded > #mcneese-top {
  margin-top: 56px;
}

.mcneese #mcneese-toolbar {
  top: 0px;
  left: 0px;

  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-toolbar.fixed {
  position: fixed;

  z-index: 10000;
}

.mcneese #mcneese-toolbar.relative {
  position: relative;
}

.mcneese #mcneese-toolbar.relative.expanded {
  margin-bottom: 0px;
  padding-bottom: 2px;
}

.mcneese #mcneese-toolbar.relative.collapsed {
  margin-bottom: 2px;
}

.mcneese #mcneese-toolbar > .html_tag-nav {
  display: block;

  width: 100%;

  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-toolbar > .html_tag-nav > .navigation_list {
  display: inline;
}

.mcneese #mcneese-toolbar > .html_tag-nav > .navigation_list > .item {
  display: inline-block;

  margin: 0px;
  padding: 2px 0px 0px 0px;

  vertical-align: top;
}

.mcneese.agent-name-ie #mcneese-toolbar > .html_tag-nav > .navigation_list > .item {
  vertical-align: middle;
}

.mcneese #mcneese-toolbar > .html_tag-nav > .navigation_list > .item > .link {
  display: inline-block;

  color: #ffffff;

  font-size: 12px;
  line-height: 18px;

  vertical-align: center;

  text-shadow: 0px 1px 0px #333333;
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 5px 11px 5px 11px;

  margin: 2px 0px;
  padding: 0px 2px;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-menu {
  color: #ffffff;
  background-color: #1e1e1e;
  background-image: url(../../images/background-marble-black.png);

  transition: display 0.25s;
  -moz-transition: display 0.25s;
  -webkit-transition: display 0.25s;
  -o-transition: display 0.25s;
}

.mcneese #mcneese-toolbar.expanded > .mcneese-toolbar-menu,
.mcneese #mcneese-toolbar.collapsed:hover > .mcneese-toolbar-menu,
.mcneese #mcneese-toolbar.collapsed:active > .mcneese-toolbar-menu,
.mcneese #mcneese-toolbar.collapsed:focus > .mcneese-toolbar-menu {
  box-shadow: 0px 1px 8px #505050;
}

.mcneese #mcneese-toolbar.collapsed > .mcneese-toolbar-menu {
  max-height: 3px;

  overflow: hidden;
}

.mcneese #mcneese-toolbar.expanded > .mcneese-toolbar-menu,
.mcneese #mcneese-toolbar.collapsed:hover > .mcneese-toolbar-menu,
.mcneese #mcneese-toolbar.collapsed:active > .mcneese-toolbar-menu,
.mcneese #mcneese-toolbar.collapsed:focus > .mcneese-toolbar-menu {
  display: block;

  min-height: 25px;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link.active,
.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link:hover,
.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link:active,
.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link:focus {
  background-color: #447ead;
  background-image: url(../../images/background-marble-light_blue.png);
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link.active:hover,
.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link.active:active,
.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link.active:focus {
  background-color: #5395cc;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-home {
  width: 25px;
  height: 25px;

  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-home > .link {
  display: block;

  background-image: url(../../images/home.png);
  background-repeat: no-repeat;
  background-position: center;

  width: 12px;
  height: 12px;

  font-size: 0px;
  line-height: 25px;

  margin: 3px 0px 0px 0px;
  padding: 1px 5px 5px 5px;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-toggle {
  float: right;

  width: 25px;
  height: 25px;

  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-toggle > .link {
  display: block;

  background-repeat: no-repeat;
  background-position: center;

  width: 12px;
  height: 12px;

  font-size: 0px;
  line-height: 25px;

  margin: 6px 2px 2px 2px;
  padding: 0px 3px 3px 3px;
}

.mcneese.is-toolbar-shortcuts-collapsed #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-toggle > .link {
  background-image: url(../../images/toggle-up.png);
}

.mcneese.is-toolbar-shortcuts-expanded #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-toggle > .link {
  background-image: url(../../images/toggle-down.png);
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-user {
  float: right;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts {
  color: #000000;
  background-color: #003259;
  background-image: url(../../images/background-marble-deep_blue.png);

  min-height: 25px;

  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 1px 8px #505050;

  transition: display 0.25s;
  -moz-transition: display 0.25s;
  -webkit-transition: display 0.25s;
  -o-transition: display 0.25s;
}

.mcneese #mcneese-toolbar.expanded > .mcneese-toolbar-shortcuts.collapsed,
.mcneese #mcneese-toolbar.collapsed > .mcneese-toolbar-shortcuts {
  visibility: hidden;

  width: 0px;

  height: 0px;
  min-height: 0px;

  overflow: hidden;
}

.mcneese #mcneese-toolbar.collapsed:hover > .mcneese-toolbar-shortcuts.expanded,
.mcneese #mcneese-toolbar.collapsed:active > .mcneese-toolbar-shortcuts.expanded,
.mcneese #mcneese-toolbar.collapsed:focus > .mcneese-toolbar-shortcuts.expanded {
  visibility: visible;

  width: 99.5%;

  height: auto;
  min-height: 25px;

  overflow: visible;
  clip: auto;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts {
  padding: 0px 4px;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link {
  color: #ffffff;
  text-shadow: 0px 1px 0px #333333;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link.active,
.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link:hover,
.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link:active,
.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link:focus {
  color: #000000;
  background-color: #fad703;
  background-image: url(../../images/background-marble-yellow.png);
  text-shadow: none;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link.active:hover,
.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link.active:active,
.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link.active:focus {
  background-color: #0065b6;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky {
  clear: right;
  float: right;

  width: 25px;
  height: 25px;

  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link {
  background-repeat: no-repeat;
  background-position: center;

  width: 15px;
  height: 15px;

  margin: 3px 0px 0px 2px;
  padding: 2px;
}

.mcneese #mcneese-toolbar.fixed > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link {
  background-image: url(../../images/sticky-off.png);
}

.mcneese #mcneese-toolbar.relative > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link {
  background-image: url(../../images/sticky-on.png);
}

.mcneese #mcneese-toolbar.fixed > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:hover,
.mcneese #mcneese-toolbar.fixed > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:active,
.mcneese #mcneese-toolbar.fixed > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:focus {
  background-image: url(../../images/sticky-off-alt.png);
}

.mcneese #mcneese-toolbar.relative > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:hover,
.mcneese #mcneese-toolbar.relative > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:active,
.mcneese #mcneese-toolbar.relative > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:focus {
  background-image: url(../../images/sticky-on-alt.png);
}

.mcneese #mcneese-toolbar.noscript > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky {
  display: none;
}
