.mcneese {
  font-family: Arial,Helvetica,Sans-serif,Serif;
  font-size: 14px;
  line-height: 18px;
}

.mcneese .tabledrag-toggle-weight {
  font-size: 14px;
  line-height: 18px;
}

.mcneese .html_tag-header > h1 {
  display: inline-block;
  vertical-align: top;

  color: #00335b;
  text-shadow: -1px 1px 3px #b4c2d6;

  font-family: Arial,Helvetica,sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;

  margin: 4px 0;
}

.mcneese.is-user_settings-background_colors.is-workbench-moderated-draft > #mcneese-page {
  background-color: #edf5fa;
}

.mcneese.is-user_settings-background_colors.is-node.is-unpublished > #mcneese-page {
  background-color: #ffeeee;
}



/*** Watermarks ***/
#mcneese-page-watermarks-pre,
#mcneese-page-watermarks-post {
  position: absolute;
  top: 90px;

  color: #000000;
  background-color: transparent;

  font-size: 32px;
  line-height: 36px;
  letter-spacing: 4px;
  text-align: center;

  font-weight: bold;
  text-transform: uppercase;

  width: 1em;
  min-width: 1em;
  max-width: 1em;

  word-wrap: break-word;
  word-break: break-all;

  z-index: -1;
}

#mcneese-page-watermarks-pre {
  left: 10px;
}

#mcneese-page-watermarks-post {
  right: 10px;
}



/*** Shortcuts ***/
.mcneese .html_tag-header > .add-or-remove-shortcuts {
  display: inline-block;
  vertical-align: top;

  padding: 0;
}

.mcneese .html_tag-header > .add-or-remove-shortcuts > a {
  display: inline-block;
  vertical-align: top;

  line-height: 30px;
}

.mcneese .html_tag-header > .add-or-remove-shortcuts > a > .text,
.mcneese .html_tag-header > .add-or-remove-shortcuts > a > .icon {
  float: none;
  vertical-align: middle;
}

.mcneese .html_tag-header > .add-or-remove-shortcuts > a > .icon {
  display: inline-block;

  margin-left: 0;
}

.mcneese .html_tag-header > .add-or-remove-shortcuts > a:active > .text,
.mcneese .html_tag-header > .add-or-remove-shortcuts > a:focus > .text,
.mcneese .html_tag-header > .add-or-remove-shortcuts > a:hover > .text {
  display: inline-block;
}



/*** Form Items ***/
.mcneese .form-item > .description {
  font-size: 12px;
  line-height: 16px;
}



/*** Sections of depth 0 ***/
.mcneese h2,
.mcneese .html_tag-section > .html_tag-header > h2,
.mcneese .html_tag-section > .html_tag-header > h3,
.mcneese .html_tag-section > .html_tag-header > h4,
.mcneese .html_tag-section > .html_tag-header > h5,
.mcneese .html_tag-section > .html_tag-header > h6 {
  font-size: 24px;
  line-height: 28px;

  margin: 4px 0;
}



/*** Sections of depth 1 ***/
.mcneese h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > h6 {
  font-size: 22px;
  line-height: 26px;

  margin: 3px 0;
}



/*** Sections of depth 2 ***/
.mcneese h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h6 {
  font-size: 20px;
  line-height: 24px;

  margin: 3px 0;
}



/*** Sections of depth 3 ***/
.mcneese h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h6 {
  font-size: 18px;
  line-height: 22px;

  margin: 3px 0;
}



/*** Sections of depth 4+ ***/
.mcneese h6,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > h6,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > h6 {
  font-size: 16px;
  line-height: 20px;

  margin: 2px 0;
}



/*** legacy support ***/
.mcneese.is-legacy #mcneese-header,
.mcneese.is-legacy #mcneese-header .header-top {
  background-color: #00477f;
}

.mcneese.is-legacy #mcneese-header .header-bottom {
  background-color: #00335b;
}

.mcneese.is-legacy #mcneese-page .node-unpublished {
  background-color: #ffffff;
}
