/*** Messages Region ***/
.mcneese #mcneese-messages > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  font-size: 18px;
  line-height: 22px;

  text-align: left;
  text-justify: left;
  text-transform: none;
}

.mcneese #mcneese-messages > .messages-wrapper {
  margin: 2px;
  resize: none;
}

.mcneese #mcneese-messages > .messages-wrapper > .messages {
  max-height: 120px;
  overflow-y: auto;
  resize: none;
}

.mcneese #mcneese-messages > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  line-height: 32px;

  min-height: 32px;

  margin: 0px 32px 0px 0px;
}



/*** Messages Region - Fixed ***/
.mcneese #mcneese-messages.fixed {
  background-image: url(../../images/messages.png);
}

.mcneese #mcneese-messages.fixed.collapsed {
  background-color: #dadada;
}

.mcneese #mcneese-messages.fixed.expanded,
.mcneese #mcneese-messages.fixed.collapsed:hover,
.mcneese #mcneese-messages.fixed.collapsed:active,
.mcneese #mcneese-messages.fixed.collapsed:focus {
  background-color: #fffff0;

  border: 1px ridge #5395cc;
}

.mcneese #mcneese-messages.fixed.expanded {
  right: 40px;
}



/*** Messages Region - Relative ***/
.mcneese #mcneese-messages.relative {
  position: relative;
}

.mcneese #mcneese-messages.relative > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}
