/*** ckeditor ***/
html.mcneese-ckeditor {
  color: #000000;
  background-color: #dadada;
}

html.mcneese-ckeditor > body {
  position: relative;

  color: #000000;
  background-color: #ffffff;

  min-height: 600px;
  min-width: 450px;

  margin: 8px;
  padding: 5px;
}
