


/*** Work Area Menu ***/
.mcneese #mcneese-work_area_menu > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese #mcneese-work_area_menu > .html_tag-list > .html_tag-list_item {
  display: inline-block;
}

.mcneese #mcneese-work_area_menu > .html_tag-list > .html_tag-list_item > #mcneese-work_area_menu-page_width {
  display: inline-block;

  font-size: 0px;
  line-height: 0px;

  background-repeat: no-repeat;

  width: 32px;
  min-width: 32px;
  max-width: 32px;

  height: 32px;
  min-height: 32px;
  max-height: 32px;

  overflow: hidden;
}

.mcneese #mcneese-work_area_menu > .html_tag-list > .html_tag-list_item > #mcneese-work_area_menu-page_width.work_area-state-on {
  background-image: url(../../images/toggle-page_width-flex.png);
}

.mcneese #mcneese-work_area_menu > .html_tag-list > .html_tag-list_item > #mcneese-work_area_menu-page_width.work_area-state-off {
  background-image: url(../../images/toggle-page_width-fixed.png);
}


/*** Hide Workarea Menu on low resolutions ***/
@media (max-width: 1090px) {
  .mcneese #mcneese-work_area_menu {
    display: none !important;
  }
}
