



/*** Action Links - Relative ***/
.mcneese #mcneese-action_links.relative {
  position: relative;

  margin-bottom: 6px;
  padding: 0px;
}

.mcneese #mcneese-action_links.relative > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese #mcneese-action_links.relative > .navigation_list > li {
  display: inline-block;
}

.mcneese #mcneese-action_links.relative > .navigation_list > li > a,
.mcneese #mcneese-action_links.relative > .navigation_list > li > a:visited {
  background-image: url('../../images/action_link.png');
  background-repeat: no-repeat;
  background-position: 3px 50%;

  text-decoration: none;

  margin: 0px 2px;
  padding: 0px 7px 0px 15px;
}

.mcneese #mcneese-action_links.relative > .navigation_list > li > a:hover,
.mcneese #mcneese-action_links.relative > .navigation_list > li > a:active,
.mcneese #mcneese-action_links.relative > .navigation_list > li > a:focus {
  color: #ffffff;
  background-image: url('../../images/action_link-alt.png');
  background-color: #447ead;

  text-shadow: 0px 1px 0px #333333;
  border-radius: 5px 11px 5px 11px;
}



/*** Action Links- Fixed ***/
.mcneese #mcneese-action_links.fixed {
  display: inline-block;
}

.mcneese #mcneese-action_links.fixed.collapsed {
  background-image: url(../../images/action_links.png);
  background-color: #dadada;
}

.mcneese #mcneese-action_links.fixed.expanded {
  left: 40px;
}

.mcneese #mcneese-action_links.fixed > .navigation_list,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > .navigation_list {
  display: inline;

  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-action_links.fixed > .navigation_list > li,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > .navigation_list > li {
  display: block;

  margin: 0px;
  padding: 0px;

  width: 100%;
  min-width: 120px;
  max-width: 350px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-action_links.fixed > .navigation_list > li > a:hover,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > a:active,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > a:focus,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > .navigation_list > li > a:hover,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > .navigation_list > li > a:active,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > .navigation_list > li > a:focus {
  color: #f7ff00;
  background-color: #2970a0;

  z-index: 200;
}

.mcneese #mcneese-action_links.fixed > .navigation_list > li > a,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > .navigation_list > li > a {
  display: block;

  color: #ffffff;
  background-color: #005a92;
  text-decoration: none;

  width: 100%;
  height: 100%;

  min-width: 120px;
  max-width: 350px;

  padding: 4px 8px;

  border-width: 0px 1px;
  border-style: outset;
  border-color: #00335b;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-action_links.fixed > .navigation_list > li > a:active,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > .navigation_list > li > a:active {
  color: #ff0000;

  border-style: inset;
}

.mcneese #mcneese-action_links.fixed > .navigation_list > li:last-child > a,
.mcneese #mcneese-action_links.fixed > .navigation_list > li > .navigation_list > li:last-child > a {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
}

.mcneese #mcneese-action_links.fixed > .html_tag-header {
  display: block;

  color: #ffffff;
  background-color: #1e1e1e;

  width: 100%;
  height: 100%;

  min-width: 120px;
  max-width: 350px;

  font-weight: bold;
  text-shadow: none;
  text-align: center;

  padding: 4px 8px;

  border-width: 1px 1px 0px 1px;
  border-color: #202020;
  border-radius: 5px 5px 0px 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-action_links.fixed > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  font-size: 14px;
  line-height: 18px;

  margin: 0px;
  padding: 4px 8px;
}

.mcneese #mcneese-action_links.fixed > .html_tag-header:hover,
.mcneese #mcneese-action_links.fixed > .html_tag-header:active,
.mcneese #mcneese-action_links.fixed > .html_tag-header:focus {
  color: #f7ff00;
}

.mcneese #mcneese-action_links.fixed > .html_tag-header:active {
  color: #ff0000;

  border-style: inset;
}
