


/*** Breadcrumb Menu - All ***/
.mcneese #mcneese-breadcrumb .navigation_list > .crumb > span,
.mcneese #mcneese-breadcrumb .navigation_list > .crumb > a {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}



/*** Breadcrumb Menu - Relative ***/
.mcneese #mcneese-breadcrumb.relative {
  position: relative;

  color: #ffffff;
  background-color: #00335b;

  font-family: Arial,Helvetica,Sans-Serif,Sans;
  font-size: 12px;

  min-height: 24px;

  margin: 0px 0px 4px 0px;
  padding: 0px 3px;
}

.mcneese #mcneese-breadcrumb.relative > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese #mcneese-breadcrumb.relative > .navigation_list {
  display: inline;
}

.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb {
  display: inline-block;
}

.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb-trail,
.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb > span,
.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb > a {
  display: inline-block;

  vertical-align: top;

  color: #ffffff;
  text-decoration: none;

  padding: 3px;
}

.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:active,
.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:hover,
.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb > a:focus {
  color: #00335b;
  background-color: #fad703;
}

.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home {
  background-image: url(../../images/home.png);
  background-repeat: no-repeat;
  background-position: 5px 6px;

  font-size: 0px;

  width: 14px;
  height: 14px;

  margin: 0px;
  padding: 5px 3px;

  overflow: hidden;
}

.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:active,
.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:hover,
.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:focus {
  background-image: url(../../images/home-black.png);
}

.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb-node_id,
.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb-user_id {
  display: inline-block;

  vertical-align: top;

  font-weight: bold;

  padding: 3px;

  float: right;
}



/*** Breadcrumb Menu - Fixed ***/
.mcneese #mcneese-breadcrumb.fixed {
  display: inline-block;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb {
  display: block;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb-trail {
  display: none;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb.leaf,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb.collapsed,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb.expanded {
  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:hover,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:active,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:focus {
  z-index: 2000;
}

.mcneese #mcneese-breadcrumb.fixed.collapsed {
  background-image: url(../../images/breadcrumb.png);
  background-color: #dadada;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb {
  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-breadcrumb.fixed.collapsed > .navigation_list > .crumb {
  display: none;
}

.mcneese #mcneese-breadcrumb.fixed.expanded > .navigation_list > .crumb,
.mcneese #mcneese-breadcrumb.fixed.collapsed.noscript:active > .navigation_list > .crumb,
.mcneese #mcneese-breadcrumb.fixed.collapsed:hover > .navigation_list > .crumb,
.mcneese #mcneese-breadcrumb.fixed.collapsed:focus > .navigation_list > .crumb {
  display: block;
}

.mcneese #mcneese-breadcrumb.fixed.expanded {
  left: 40px;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb-user_id,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb-node_id,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > a,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > span {
  display: block;

  color: #ffffff;
  background-color: #005a92;
  text-decoration: none;

  width: 100%;
  height: 100%;

  min-width: 160px;
  max-width: 350px;

  padding: 4px 8px;

  border-width: 0px 1px;
  border-style: outset;
  border-color: #00335b;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb-user_id,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb-node_id {
  background-color: #00335b;

  font-weight: bold;

  text-align: right;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:hover,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:active,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:focus,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > span:hover,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > span:active,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > span:focus {
  color: #f7ff00;
  background-color: #2970a0;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:active,
.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb > span:active {
  color: #ff0000;

  border-style: inset;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb:last-child > a {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
}

.mcneese #mcneese-breadcrumb.fixed > .html_tag-header {
  display: block;

  color: #ffffff;
  background-color: #1e1e1e;

  width: 100%;
  height: 100%;

  min-width: 160px;
  max-width: 350px;

  font-weight: bold;
  text-shadow: none;
  text-align: center;

  padding: 4px 8px;

  border-width: 1px 1px 0px 1px;
  border-color: #202020;
  border-radius: 5px 5px 0px 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-breadcrumb.fixed > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  font-size: 14px;
  line-height: 18px;

  margin: 0px;
  padding: 4px 8px;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list .crumb-trail {
  display: none;
}

.mcneese #mcneese-breadcrumb.fixed > .html_tag-header:hover,
.mcneese #mcneese-breadcrumb.fixed > .html_tag-header:active,
.mcneese #mcneese-breadcrumb.fixed > .html_tag-header:focus {
  color: #f7ff00;
}

.mcneese #mcneese-breadcrumb.fixed > .html_tag-header:active {
  color: #ff0000;

  border-style: inset;
}



/*** legacy support ***/
.mcneese.is-legacy #mcneese-breadcrumb {
  color: #ffffff;
}

.mcneese.is-legacy #mcneese-breadcrumb.relative .navigation_list .crumb-trail,
.mcneese.is-legacy #mcneese-breadcrumb.relative .navigation_list .crumb {
  display: inline;
}
