.mcneese {
  position: relative;

  color: #000000;
  background-color: #dadada;
}

.mcneese-advanced_help_popup {
  color: #424242;
  background-color: #edf5fa;
}

#mcneese-top {
  color: #000000;
  background-color: #ffffff;

  margin: 0 64px;
}

#mcneese-page {
  color: #000000;
  background-color: #ffffff;

  min-height: 600px;
  min-width: 450px;

  margin: 0 64px;
  padding: 0 5px 5px 5px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#mcneese-bottom {
  margin: 0 64px 15px 64px;
  padding: 0 5px;
}

.mcneese > .dev-query {
  margin: 0 64px 10px 64px;
  padding: 0 5px;
}



/*** Page Header ***/
#mcneese-header {
  position: relative;

  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

#mcneese-header > .header-top {
  position: relative;

  background-color: #00477f;

  min-height: 120px;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  overflow-x: hidden;
}

#mcneese-header > .header-separator {
  background-color: #fad703;

  height: 12px;
  min-height: 12px;
  max-height: 12px;
}

#mcneese-header > .header-bottom {
  position: relative;

  background-color: #00335b;

  min-height: 25px;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  margin-bottom: 5px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#mcneese-header a {
  color: #ffffff;
  text-decoration: none;
}

#mcneese-header a:hover,
#mcneese-header a:focus {
  color: #fad703;
  text-decoration: underline;
}

#mcneese-header a:active {
  color: #ff0000;
  text-decoration: underline;
}

#mcneese-header > .header-top > .header-menu-1 {
  position: absolute;
  bottom: 0;

  font-size: 12px;

  height: 38px;
  min-height: 38px;
  max-height: 38px;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  overflow: hidden;
}

#mcneese-header > .header-bottom > .header-menu-2 {
  font-size: 10px;
}

#mcneese-header > .header-section > .site-logo {
  position: absolute;
  top: 18px;
  left: 20px;

  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;

  font-size: 0;
  text-decoration: none;

  height: 85px;
  min-height: 85px;
  max-height: 85px;

  width: 230px;
  min-width: 230px;
  max-width: 230px;

  cursor: pointer;
  z-index: 0;
}

#mcneese-header > .header-section > .header-menu > .html_tag-nav {
  display: inline-block;
  position: relative;

  margin: 0;
  padding: 0;
}

#mcneese-header > .header-section > .header-menu > .html_tag-nav > li {
  display: inline-block;

  margin: 0;
  padding: 0;
}

#mcneese-header > .header-section > .header-menu > .html_tag-nav > li:hover > a,
#mcneese-header > .header-section > .header-menu > .html_tag-nav > li:active > a,
#mcneese-header > .header-section > .header-menu > .html_tag-nav > li:focus > a {
  color: #00477f;
  background-color: #fad703;
  text-decoration: none;
}

#mcneese-header > .header-top > .header-menu-1 > .html_tag-nav {
  position: absolute;
  right: 0;
  bottom: -1px;

  max-height: 38px;

  overflow: hidden;
}

#mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > li,
#mcneese-header > .header-top > .header-menu-2 > .html_tag-nav > li {
  margin: 0;
  padding: 0;
}

#mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > li > a {
  display: inline-block;

  color: #f2f2f2;
  background-color: #1e1e1e;

  text-decoration: none;
  line-height: 18px;

  padding: 10px;
  margin: 0;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#mcneese-header > .header-bottom > .header-menu-2 > .html_tag-nav > li > a {
  display: inline-block;

  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;

  padding: 4px 8px;
}

#mcneese-header > .header-section > .header-menu-2 > .html_tag-nav > li:first-child > a {
  border-bottom-left-radius: 5px;
}

#mcneese-header > .header-section > .header-menu > .html_tag-nav > li.active-trail > a.active {
  background-color: #fad703;
  color: #00477f;
}



/*** Page Footer ***/
#mcneese-footer {
  clear: both;
}



/*** Search Box Form ***/
.search_block_form {
  position: absolute;
  top: 25px;
  right: 20px;

  line-height: 18px;

  width: 218px;
  min-width: 218px;
  max-width: 218px;

  height: 28px;
  min-height: 28px;
  max-height: 28px;

  color: #ffffff;
  background-color: #023761;

  margin: 0;
  padding: 3px;

  border: 1px solid #065c9f;
  border-top: 0;

  overflow: hidden;
  z-index: 1;
}

.search_block_form > .form-wrapper-inner {
  color: #000000;
  background-color: #ffffff;

  height: 20px;
  min-height: 20px;
  max-height: 20px;

  padding: 3px 0;
  border: 1px solid #0f5eff;

  overflow: hidden;
}

.search_block_form > .form-wrapper-inner > .search_block_form-section {
  height: 20px;
  min-height: 20px;
  max-height: 20px;

  overflow: hidden;
}

.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-item,
.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions {
  display: inline-block;
  vertical-align: top;

  margin: 0;
  padding: 0;
}

.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-item,
.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-item > .form-search {
  width: 190px;
  min-width: 190px;
  max-width: 190px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;
}

.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-item > .form-search {
  font-family: arial,helvetica,sans-serif;
  font-size: 12px;

  line-height: 14px;

  padding: 0;
  margin: 0 3px;

  border: 0 none;
}

.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions {
  color: #ffffff;

  width: 20px;
  min-width: 20px;
  max-width: 20px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;
}

.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit {
  background-image: url(../../images/search_button.png);
}

.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:focus,
.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:hover {
  background-image: url(../../images/search_button-alt.png);
}

.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:active {
  background-image: url(../../images/search_button-down.png);
}

.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit,
.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:focus,
.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:active,
.search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:hover {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00477f;

  color: #ffffff;

  font-size: 0;
  text-decoration: none;

  width: 20px;
  min-width: 20px;
  max-width: 20px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;

  margin: 0;
  padding: 0;
  border: 0 none;

  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
}



/*** Page Side and Content ***/
#mcneese-page-side {
  display: inline-block;
  float: left;

  width: 190px;
  min-width: 190px;
  max-width: 190px;

  margin: 0 15px 15px 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  word-wrap: break-word;
}

#mcneese-page-content {
  min-width: 450px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-page-content > .column-2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  overflow: auto;
}

#mcneese-page-content.full > .column-2 {
  min-width: 450px;
}

#mcneese-page-content.split > .column-2 {
  min-width: 260px;
}

#mcneese-page-content,
#mcneese-page-main {
  display: block;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}



/*** Floating Information ***/
.mcneese.is-toolbar-relative .html_tag-aside.float_info-0,
.mcneese.is-toolbar-fixed.is-toolbar-collapsed .html_tag-aside.float_info-0 {
  top: 10px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed .html_tag-aside.float_info-0 {
  top: 35px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded .html_tag-aside.float_info-0 {
  top: 60px
}

.mcneese.is-toolbar-relative .html_tag-aside.float_info-1,
.mcneese.is-toolbar-fixed.is-toolbar-collapsed .html_tag-aside.float_info-1 {
  top: 52px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed .html_tag-aside.float_info-1 {
  top: 77px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded .html_tag-aside.float_info-1 {
  top: 102px
}

.mcneese.is-toolbar-relative .html_tag-aside.float_info-2,
.mcneese.is-toolbar-fixed.is-toolbar-collapsed .html_tag-aside.float_info-2 {
  top: 104px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed .html_tag-aside.float_info-2 {
  top: 129px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded .html_tag-aside.float_info-2 {
  top: 154px
}

.mcneese.is-toolbar-relative .html_tag-aside.float_info-3,
.mcneese.is-toolbar-fixed.is-toolbar-collapsed .html_tag-aside.float_info-3 {
  top: 156px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed .html_tag-aside.float_info-3 {
  top: 181px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded .html_tag-aside.float_info-3 {
  top: 206px
}

.mcneese.is-toolbar-relative .html_tag-aside.float_info-3,
.mcneese.is-toolbar-fixed.is-toolbar-collapsed .html_tag-aside.float_info-3 {
  top: 208px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed .html_tag-aside.float_info-3 {
  top: 233px
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded .html_tag-aside.float_info-3 {
  top: 258px
}



/*** User Profile ***/
.html_tag-figure.user-picture {
  float: right;
}



/*** Admin Permissions Form ***/
#user-admin-permissions {
  overflow: auto;
}



/*** legacy support ***/
.mcneese.is-legacy #mcneese-header {
  height: 157px;
}

.mcneese.is-legacy #mcneese-page-side {
  float: left;
}



/*** Float Information ***/
#mcneese-page > .float_info {
  position: fixed;
  right: 5px;

  min-width: 32px;
  min-height: 32px;

  background-repeat: no-repeat;
  background-position: top right;

  word-wrap: break-word;
  word-break: break-all;

  z-index: 90;
}

#mcneese-page > .float_info.collapsed {
  width: 32px;
  max-width: 32px;

  height: 32px;
  max-height: 32px;
}

#mcneese-page > .float_info.expanded,
#mcneese-page > .float_info.collapsed:hover,
#mcneese-page > .float_info.collapsed:active,
#mcneese-page > .float_info.collapsed:focus {
  padding: 0 4px 4px 4px;

  min-height: 140px;
  min-width: 400px;
  width: auto;

  z-index: 200;

  overflow: auto;
  resize: both;
}

#mcneese-page > .float_info.collapsed:hover,
#mcneese-page > .float_info.collapsed:active,
#mcneese-page > .float_info.collapsed:focus {
  max-height: 50%;
  max-width: 75%;
}

#mcneese-page > .float_info.collapsed > .html_tag-header,
#mcneese-page > .float_info.collapsed > .html_tag-header > h2,
#mcneese-page > .float_info.collapsed > .float_info-wrapper {
  visibility: hidden;
}

#mcneese-page > .float_info.expanded > .html_tag-header,
#mcneese-page > .float_info.collapsed:hover > .html_tag-header,
#mcneese-page > .float_info.collapsed:active > .html_tag-header,
#mcneese-page > .float_info.collapsed:focus > .html_tag-header,
#mcneese-page > .float_info.expanded > .html_tag-header > h2,
#mcneese-page > .float_info.collapsed:hover > .html_tag-header > h2,
#mcneese-page > .float_info.collapsed:active > .html_tag-header > h2,
#mcneese-page > .float_info.collapsed:focus > .html_tag-header > h2,
#mcneese-page > .float_info.expanded > .float_info-wrapper,
#mcneese-page > .float_info.collapsed:hover > .float_info-wrapper,
#mcneese-page > .float_info.collapsed:active > .float_info-wrapper,
#mcneese-page > .float_info.collapsed:focus > .float_info-wrapper {
  visibility: visible;
}



/*** Overlay ***/
.mcneese #overlay-container {
  position: fixed;
}

#mcneese-page > .overlay > .overlay-titlebar > .overlay-title-wrapper > #overlay-title {
  color: #000000;
}

#mcneese-page > .overlay,
#mcneese-page > .overlay > .overlay-content {
  min-height: 600px;
}

#mcneese-page #overlay-tabs {
  display: none;
}

#mcneese-page #overlay-tabs > li > a {
  display: inline-block;
  text-shadow: 0 1px 0 #333333;

  border-radius: 5px 5px 0 0;

  vertical-align: bottom;

  font-size: 10px;

  min-height: 14px;
  line-height: 14px;
  letter-spacing: 0.4px;

  padding: 1px 8px 0 8px;
}

#mcneese-page #overlay-tabs > li > a,
#mcneese-page #overlay-tabs > li > a:visited {
  color: #ffffff;
  background-color: #005a92;

  text-align: center;
  text-decoration: none;
}

#mcneese-page #overlay-tabs > li > a.active {
  background-color: #00335b;
}

#mcneese-page #overlay-tabs > li > a:hover,
#mcneese-page #overlay-tabs > li > a:active,
#mcneese-page #overlay-tabs > li > a:focus {
  color: #f7ff00;
  background-color: #2970a0;
}
