.mcneese .tabledrag-toggle-weight {
  font-size: 14px;
  line-height: 18px;
}

.mcneese .html_tag-header.page-title > .html_tag-hgroup > .html_tag-heading.page-title {
  display: inline-block;
  vertical-align: top;

  color: #00335b;
  text-shadow: -1px 1px 3px #b4c2d6;

  font-family: Arial,Helvetica,sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;

  margin: 4px 0px;
}

.mcneese.is-user_settings-background_colors.is-workbench-moderated-draft > #mcneese-page {
  background-color: #edf5fa;
}

.mcneese.is-user_settings-background_colors.is-node.is-unpublished:not(.is-workbench-moderated) > #mcneese-page,
.mcneese.is-user_settings-background_colors.is-node.is-unpublished.is-workbench-moderated-live > #mcneese-page {
  background-color: #ffeeee;
}

.mcneese table > caption {
  font-weight: bold;
}

table.system-status-report > tbody > tr.ok,
.mcneese div.messages-wrapper > div.status {
  background-color: #d1f7cb;
}



/*** Watermarks ***/
.mcneese #mcneese-page-watermarks-pre,
.mcneese #mcneese-page-watermarks-post {
  position: absolute;
  top: 140px;

  color: #000000;
  background-color: transparent;

  font-size: 32px;
  line-height: 36px;
  letter-spacing: 4px;
  text-align: center;

  font-weight: bold;
  text-transform: uppercase;

  width: 1.0em;
  min-width: 1.0em;
  max-width: 1.0em;

  word-wrap: break-word;
  word-break: break-all;

  z-index: -1;
}

.mcneese #mcneese-page-watermarks-pre {
  left: 10px;
}

.mcneese #mcneese-page-watermarks-post {
  right: 10px;
}

.mcneese.is-toolbar-relative #mcneese-page-watermarks-pre,
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-page-watermarks-pre,
.mcneese.is-toolbar-relative #mcneese-page-watermarks-post,
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-page-watermarks-post {
  top: 140px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-page-watermarks-pre,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-page-watermarks-post {
  top: 175px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-page-watermarks-pre,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-page-watermarks-post {
  top: 200px;
}



/*** Shortcuts ***/
.mcneese .html_tag-header > .html_tag-hgroup > .add-or-remove-shortcuts {
  display: inline-block;
  vertical-align: top;

  padding: 0px;
}

.mcneese .html_tag-header > .html_tag-hgroup > .add-or-remove-shortcuts > a {
  display: inline-block;
  vertical-align: top;

  line-height: 30px;
}

.mcneese .html_tag-header > .html_tag-hgroup > .add-or-remove-shortcuts > a > .text,
.mcneese .html_tag-header > .html_tag-hgroup > .add-or-remove-shortcuts > a > .icon {
  float: none;
  vertical-align: middle;
}

.mcneese .html_tag-header > .html_tag-hgroup > .add-or-remove-shortcuts > a > .icon {
  display: inline-block;

  margin-left: 0px;
}

.mcneese .html_tag-header > .html_tag-hgroup > .add-or-remove-shortcuts > a:active > .text,
.mcneese .html_tag-header > .html_tag-hgroup > .add-or-remove-shortcuts > a:focus > .text,
.mcneese .html_tag-header > .html_tag-hgroup > .add-or-remove-shortcuts > a:hover > .text {
  display: inline-block;
}



/*** Form Items ***/
.mcneese .form-wrapper > .fieldset-wrapper > .fieldset-description,
.mcneese .form-item > .description {
  font-size: 12px;
  line-height: 16px;
}



/*** Sections of depth 0 ***/
.mcneese h2,
.mcneese .html_tag-section > .html_tag-header > .html_tag-hgroup > h2,
.mcneese .html_tag-section > .html_tag-header > .html_tag-hgroup > h3,
.mcneese .html_tag-section > .html_tag-header > .html_tag-hgroup > h4,
.mcneese .html_tag-section > .html_tag-header > .html_tag-hgroup > h5,
.mcneese .html_tag-section > .html_tag-header > .html_tag-hgroup > h6 {
  font-size: 24px;
  line-height: 1.2em;

  margin: 4px 0px;
}



/*** Sections of depth 1 ***/
.mcneese h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h6 {
  font-size: 22px;
  line-height: 1.2em;

  margin: 3px 0px;
}



/*** Sections of depth 2 ***/
.mcneese h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h6 {
  font-size: 20px;
  line-height: 1.2em;

  margin: 3px 0px;
}



/*** Sections of depth 3 ***/
.mcneese h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h6 {
  font-size: 18px;
  line-height: 1.2em;

  margin: 3px 0px;
}



/*** Sections of depth 4+ ***/
.mcneese h6,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-header > .html_tag-hgroup > h6,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > .html_tag-hgroup > h2,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > .html_tag-hgroup > h3,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > .html_tag-hgroup > h4,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > .html_tag-hgroup > h5,
.mcneese .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section > .html_tag-section .html_tag-header > .html_tag-hgroup > h6 {
  font-size: 16px;
  line-height: 1.2em;

  margin: 2px 0px;
}



/*** legacy support ***/
.mcneese.is-legacy #mcneese-header,
.mcneese.is-legacy #mcneese-header .header-top {
  background-color: #00477f;
}

.mcneese.is-legacy #mcneese-header .header-bottom {
  background-color: #00335b;
}

.mcneese.is-legacy #mcneese-page .node-unpublished {
  background-color: #ffffff;
}
