


/*** Common ***/
.mcneese {
  position: relative;

  color: #000000;
  background-color: #dadada;
}

.mcneese .no-screen {
  display: none;
}

.mcneese #mcneese-top {
  color: #000000;
  background-color: #ffffff;
}

.mcneese #mcneese-page {
  color: #000000;
  background-color: #ffffff;

  min-height: 600px;

  padding: 0px 5px 5px 5px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mcneese #mcneese-bottom {
  padding: 0px 5px;

  margin-top: 15px;
  margin-bottom: 0px;
}

.mcneese > .dev-query {
  padding: 0px 5px;

  margin-top: 15px;
  margin-bottom: 0px;
}

.mcneese.is-flex_width {
  min-width: 450px;
}

.mcneese.is-flex_width #mcneese-top,
.mcneese.is-flex_width #mcneese-page,
.mcneese.is-flex_width #mcneese-bottom {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mcneese.is-flex_width #mcneese-top,
.mcneese.is-flex_width #mcneese-page,
.mcneese.is-flex_width #mcneese-bottom,
.mcneese.is-flex_width > .dev-query {
  width: inherit;
  min-width: 450px;
  max-width: inherit;

  margin-left: 64px;
  margin-right: 64px;
}

.mcneese.is-flex_width #mcneese-skip_nav:active,
.mcneese.is-flex_width #mcneese-skip_nav:focus,
.mcneese.is-flex_width #mcneese-skip_nav:hover {
  width: inherit;
  min-width: 450px;
  max-width: inherit;

  margin-left: 64px;
  margin-right: 64px;
}

.mcneese.is-fixed_width #mcneese-top,
.mcneese.is-fixed_width #mcneese-page,
.mcneese.is-fixed_width #mcneese-bottom,
.mcneese.is-fixed_width > .dev-query {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin-left: auto;
  margin-right: auto;
}

.mcneese.is-fixed_width #mcneese-skip_nav:active,
.mcneese.is-fixed_width #mcneese-skip_nav:focus,
.mcneese.is-fixed_width #mcneese-skip_nav:hover {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin-left: auto;
  margin-right: auto;
}

.mcneese.mcneese-advanced_help_popup #mcneese-page {
  margin: 0px;
  min-height: 200px;
}



/*** Page Header ***/
.mcneese #mcneese-header {
  position: relative;

  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.mcneese #mcneese-header > .header-top {
  position: relative;

  background-color: #00477f;

  min-height: 120px;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mcneese #mcneese-header > .header-separator {
  background-color: #fad703;

  height: 12px;
  min-height: 12px;
  max-height: 12px;
}

.mcneese #mcneese-header > .header-bottom {
  position: relative;

  background-color: #00335b;

  min-height: 25px;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  margin-bottom: 5px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mcneese #mcneese-header a {
  color: #ffffff;
  text-decoration: none;
}

.mcneese #mcneese-header a:hover,
.mcneese #mcneese-header a:focus {
  color: #fad703;
  text-decoration: underline;
}

.mcneese #mcneese-header a:active {
  color: #ff0000;
  text-decoration: underline;
}

.mcneese #mcneese-header > .header-top > .header-menu-1 {
  font-size: 12px;

  height: auto;
  min-height: 0px;
  max-height: inherit;

  width: auto;
  min-width: 0px;
  max-width: inherit;

  overflow: hidden;
}

.mcneese #mcneese-header > .header-bottom > .header-menu-2 {
  font-size: 10px;
}

.mcneese #mcneese-header #mcneese-site-logo {
  margin: 18px 0px 0px 20px;
}

.mcneese #mcneese-header #mcneese-site-logo,
.mcneese #mcneese-header #mcneese-site-logo > .site-logo {
  display: inline-block;
  vertical-align: top;

  height: 85px;
  min-height: 85px;
  max-height: 85px;

  width: 230px;
  min-width: 230px;
  max-width: 230px;
}

.mcneese #mcneese-header #mcneese-site-logo > .site-logo {
  font-size: 0px;
  line-height: 0px;
  text-decoration: none;

  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;

  cursor: pointer;
}

.mcneese #mcneese-header > .header-section > .header-menu > .html_tag-nav {
  display: inline-block;
  position: relative;

  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list {
  display: inline;
}

.mcneese #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li {
  display: inline-block;

  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li:hover > a,
.mcneese #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li:active > a,
.mcneese #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li:focus > a,
.mcneese #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:hover,
.mcneese #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:active,
.mcneese #mcneese-header > .header-section > .header-menu > .html_tag-nav > .navigation_list > li > a:focus {
  color: #00477f;
  background-color: #fad703;
  text-decoration: none;
}

.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav {
  position: absolute;
  right: 0px;
  bottom: -1px;

  overflow: hidden;
  z-index: 0;
}

.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li,
.mcneese #mcneese-header > .header-top > .header-menu-2 > .html_tag-nav > .navigation_list > li {
  margin: 0px;
  padding: 0px;

  vertical-align: bottom;
}

.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a {
  display: inline-block;

  color: #f2f2f2;
  background-color: #1e1e1e;

  text-decoration: none;
  line-height: 18px;

  padding: 10px 10px 11px 10px;
  margin: 0px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active,
.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > li > a.active:visited {
  color: #00477f;
  background-color: #fad703;
}

.mcneese #mcneese-header > .header-bottom > .header-menu-2 > .html_tag-nav > .navigation_list > li > a {
  display: inline-block;

  text-transform: uppercase;
  letter-spacing: 1px;

  padding: 4px 8px;
}

.mcneese #mcneese-header > .header-section > .header-menu-2 > .html_tag-nav > .navigation_list > li:first-child > a {
  border-bottom-left-radius: 5px;
}



/*** Page Footer ***/
.mcneese #mcneese-footer {
  clear: both;
}



/*** Search Box Form ***/
.mcneese #mcneese-search-box {
  display: inline-block;
  vertical-align: top;

  float: right;

  margin: 8px 20px 0px 0px;

  width: 225.1px;
  min-width: 225.1px;
  max-width: 225.1px;
  overflow: hidden;

  color: #ffffff;
  background-color: #023761;

  font-size: 10px;
  font-family: arial, helvetica, sans-serif;
  line-height: 14px;

  padding: 3px 3px 0px 3px;
  border: 1px solid #065c9f;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-search-box > .search_box-links {
  display: inline-block;

  height: 18px;
  min-height: 18px;
  max-height: 18px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-search-box > .search_box-links > .navigation_list {
  padding: 0px;
}

.mcneese #mcneese-search-box > .search_box-links > .navigation_list > li,
.mcneese #mcneese-search-box > .search_box-links > .navigation_list > div {
  display: inline-block;
  text-align: center;

  margin: 0px auto;
}

.mcneese #mcneese-search-box > .search_box-box {
  display: inline-block;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner {
  color: #000000;
  background-color: #ffffff;

  height: 20px;
  min-height: 20px;
  max-height: 20px;

  padding: 3px 0px;
  border: 1px solid #0f5eff;

  overflow: hidden;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section {
  width: 215px;
  min-width: 215px;
  max-width: 215px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;

  overflow: hidden;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-item-search-block-form {
  margin: 0px;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .search_block_form-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-item,
.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions {
  display: inline-block;
  vertical-align: top;

  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-item {
  width: 190px;
  min-width: 190px;
  max-width: 190px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-item > .form-search {
  width: 185px;
  min-width: 185px;
  max-width: 185px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-item > .form-search {
  font-family: arial,helvetica,sans-serif;
  font-size: 12px;

  line-height: 14px;

  padding: 0px;
  margin: 0px 3px;

  border: 0px none;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions {
  color: #ffffff;

  width: 20px;
  min-width: 20px;
  max-width: 20px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit {
  background-image: url(../../images/search_button.png);
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:focus,
.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:hover {
  background-image: url(../../images/search_button-alt.png);
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:active {
  background-image: url(../../images/search_button-down.png);
}

.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit,
.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:focus,
.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:active,
.mcneese #mcneese-search-box > .search_box-box > .search_block_form > .form-wrapper-inner > .search_block_form-section > .form-actions > .form-submit:hover {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00477f;

  color: #ffffff;

  font-size: 0px;
  text-decoration: none;

  width: 20px;
  min-width: 20px;
  max-width: 20px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;

  margin: 0px;
  padding: 0px;
  border: 0px none;

  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
}



/*** Page Side and Content ***/
.mcneese #mcneese-page-side.relative {
  display: inline-block;
  float: left;

  width: 190px;
  min-width: 190px;
  max-width: 190px;

  margin: 0px 15px 15px 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  word-wrap: break-word;
}

.mcneese .mcneese-content {
  min-width: 450px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese .mcneese-content > .column-2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  overflow: auto;
}

.mcneese .mcneese-content.full > .column-2 {
  min-width: 450px;
}

.mcneese .mcneese-content.split > .column-2 {
  min-width: 260px;
}

.mcneese .mcneese-content,
.mcneese .mcneese-content-main {
  display: block;
  overflow-x: auto;

  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese.mcneese-ckeditor > .mcneese-content-main {
  display: block;
}



/*** User Profile ***/
.html_tag-figure.user-picture {
  float: right;
}



/*** Admin Permissions Form ***/
.mcneese #user-admin-permissions {
  overflow: auto;
}



/*** legacy support ***/
.mcneese.is-legacy #mcneese-header {
  height: 157px;
}

.mcneese.is-legacy #mcneese-page-side {
  float: left;
}



/*** Float Left & Right Region ***/
.mcneese #mcneese-float-left {
  display: inline-block;
  position: fixed;

  background: transparent;
  background-color: transparent;

  left: 5px;

  width: 0px;
  height: 100%;

  margin: 0px;
  padding: 0px;

  z-index: 500;
  overflow: visible;
}

.mcneese #mcneese-float-right {
  display: inline-block;
  position: fixed;

  background: transparent;
  background-color: transparent;

  margin: 0px;
  padding: 0px;

  z-index: 500;
  overflow: visible;
}

.mcneese #mcneese-float-left > .fixed,
.mcneese #mcneese-float-right > .fixed {
  display: inline-block;
  position: relative;

  background: transparent;
  background-color: transparent;

  font-size: 14px;

  margin-bottom: 10px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-float-left > .fixed.expanded,
.mcneese #mcneese-float-right > .fixed.expanded {
  z-index: 2000;
}

.mcneese #mcneese-float-left > .fixed {
  background-position: top left;
}

.mcneese #mcneese-float-right > .fixed {
  background-position: top right;
}

.mcneese #mcneese-float-left > .fixed,
.mcneese #mcneese-float-right > .fixed {
  background-repeat: no-repeat;
}

.mcneese #mcneese-float-left > .fixed.collapsed,
.mcneese #mcneese-float-right > .fixed.collapsed {
  width: 32px;
  min-width: 32px;
  max-width: 32px;

  height: 32px;
  min-height: 32px;
  max-height: 32px;

  overflow: hidden;
}

.mcneese #mcneese-float-left > .fixed.collapsed > .html_tag-header,
.mcneese #mcneese-float-left > .fixed.collapsed > .navigation_list,
.mcneese #mcneese-float-left > .fixed.collapsed > .block,
.mcneese #mcneese-float-right > .fixed.collapsed > .html_tag-header,
.mcneese #mcneese-float-right > .fixed.collapsed > .navigation_list,
.mcneese #mcneese-float-right > .fixed.collapsed > .block,
.mcneese #mcneese-float-right > .fixed.collapsed > .float_info-wrapper {
  visibility: hidden;
}

.mcneese #mcneese-float-left > .fixed.collapsed:active,
.mcneese #mcneese-float-left > .fixed.collapsed:hover,
.mcneese #mcneese-float-left > .fixed.collapsed:focus,
.mcneese #mcneese-float-right > .fixed.collapsed:active,
.mcneese #mcneese-float-right > .fixed.collapsed:hover,
.mcneese #mcneese-float-right > .fixed.collapsed:focus {
  background-color: transparent;

  height: auto;
  min-height: auto;
  max-height: auto;

  width: auto;
  min-width: auto;
  max-width: auto;

  overflow: visible;
  z-index: 2000;
}

.mcneese #mcneese-float-left > .fixed.collapsed:active > .html_tag-header,
.mcneese #mcneese-float-left > .fixed.collapsed:hover > .html_tag-header,
.mcneese #mcneese-float-left > .fixed.collapsed:focus > .html_tag-header,
.mcneese #mcneese-float-left > .fixed.collapsed:active > .navigation_list,
.mcneese #mcneese-float-left > .fixed.collapsed:hover > .navigation_list,
.mcneese #mcneese-float-left > .fixed.collapsed:focus > .navigation_list,
.mcneese #mcneese-float-left > .fixed.collapsed:active > .block,
.mcneese #mcneese-float-left > .fixed.collapsed:hover > .block,
.mcneese #mcneese-float-left > .fixed.collapsed:focus > .block,
.mcneese #mcneese-float-right > .fixed.collapsed:active > .html_tag-header,
.mcneese #mcneese-float-right > .fixed.collapsed:hover > .html_tag-header,
.mcneese #mcneese-float-right > .fixed.collapsed:focus > .html_tag-header,
.mcneese #mcneese-float-right > .fixed.collapsed:active > .navigation_list,
.mcneese #mcneese-float-right > .fixed.collapsed:hover > .navigation_list,
.mcneese #mcneese-float-right > .fixed.collapsed:focus > .navigation_list,
.mcneese #mcneese-float-right > .fixed.collapsed:active > .block,
.mcneese #mcneese-float-right > .fixed.collapsed:hover > .block,
.mcneese #mcneese-float-right > .fixed.collapsed:focus > .block,
.mcneese #mcneese-float-right > .fixed.collapsed:active > .float_info-wrapper,
.mcneese #mcneese-float-right > .fixed.collapsed:hover > .float_info-wrapper,
.mcneese #mcneese-float-right > .fixed.collapsed:focus > .float_info-wrapper {
  visibility: visible;
}

.mcneese #mcneese-float-left,
.mcneese.is-toolbar-relative #mcneese-float-left,
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-left {
  top: 10px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-left {
  top: 35px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-left {
  top: 60px;
}

.mcneese #mcneese-float-right > .fixed {
  position: fixed;

  right: 5px;
}

.mcneese #mcneese-float-right > .fixed.expanded,
.mcneese #mcneese-float-right > .fixed.collapsed:hover,
.mcneese #mcneese-float-right > .fixed.collapsed:active,
.mcneese #mcneese-float-right > .fixed.collapsed:focus {
  padding: 0px 4px 4px 4px;

  min-height: 140px;
  max-height: 50%;
  min-width: 400px;
  max-width: 75%;
  width: auto;

  z-index: 2000;

  overflow: auto;
  resize: both;
}

.mcneese #mcneese-float-right > .fixed.expanded {
  right: 40px;
}

.mcneese #mcneese-float-right > .fixed:nth-child(1),
.mcneese.is-toolbar-relative #mcneese-float-right > .fixed:nth-child(1),
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-right > .fixed:nth-child(1) {
  top: 10px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-right > .fixed:nth-child(1) {
  top: 35px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-right > .fixed:nth-child(1) {
  top: 60px;
}

.mcneese #mcneese-float-right > .fixed:nth-child(2),
.mcneese.is-toolbar-relative #mcneese-float-right > .fixed:nth-child(2),
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-right > .fixed:nth-child(2) {
  top: 52px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-right > .fixed:nth-child(2) {
  top: 77px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-right > .fixed:nth-child(2) {
  top: 102px;
}

.mcneese #mcneese-float-right > .fixed:nth-child(3),
.mcneese.is-toolbar-relative #mcneese-float-right > .fixed:nth-child(3),
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-right > .fixed:nth-child(3) {
  top: 94px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-right > .fixed:nth-child(3) {
  top: 119px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-right > .fixed:nth-child(3) {
  top: 144px;
}

.mcneese #mcneese-float-right > .fixed:nth-child(4),
.mcneese.is-toolbar-relative #mcneese-float-right > .fixed:nth-child(4),
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-right > .fixed:nth-child(4) {
  top: 136px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-right > .fixed:nth-child(4) {
  top: 161px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-right > .fixed:nth-child(4) {
  top: 186px;
}

.mcneese #mcneese-float-right > .fixed:nth-child(5),
.mcneese.is-toolbar-relative #mcneese-float-right > .fixed:nth-child(5),
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-right > .fixed:nth-child(5) {
  top: 178px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-right > .fixed:nth-child(5) {
  top: 203px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-right > .fixed:nth-child(5) {
  top: 228px;
}

.mcneese #mcneese-float-right > .fixed:nth-child(6),
.mcneese.is-toolbar-relative #mcneese-float-right > .fixed:nth-child(6),
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-right > .fixed:nth-child(6) {
  top: 220px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-right > .fixed:nth-child(6) {
  top: 245px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-right > .fixed:nth-child(6) {
  top: 270px;
}

.mcneese #mcneese-float-right > .fixed:nth-child(7),
.mcneese.is-toolbar-relative #mcneese-float-right > .fixed:nth-child(7),
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-right > .fixed:nth-child(7) {
  top: 262px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-right > .fixed:nth-child(7) {
  top: 287px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-right > .fixed:nth-child(7) {
  top: 312px;
}

.mcneese #mcneese-float-right > .fixed:nth-child(8),
.mcneese.is-toolbar-relative #mcneese-float-right > .fixed:nth-child(8),
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-right > .fixed:nth-child(8) {
  top: 304px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-right > .fixed:nth-child(8) {
  top: 329px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-right > .fixed:nth-child(8) {
  top: 354px;
}

.mcneese #mcneese-float-right > .fixed:nth-child(9),
.mcneese.is-toolbar-relative #mcneese-float-right > .fixed:nth-child(9),
.mcneese.is-toolbar-fixed.is-toolbar-collapsed #mcneese-float-right > .fixed:nth-child(9) {
  top: 346px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-float-right > .fixed:nth-child(9) {
  top: 371px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-float-right > .fixed:nth-child(9) {
  top: 396px;
}



/*** Overlay ***/
.mcneese #overlay-container {
  position: fixed;
}

.mcneese #mcneese-page > .overlay > .overlay-titlebar > .overlay-title-wrapper > #overlay-title {
  color: #000000;
}

.mcneese #mcneese-page > .overlay,
.mcneese #mcneese-page > .overlay > .overlay-content {
  min-height: 600px;
}

.mcneese #mcneese-page #overlay-tabs {
  display: none;
}

.mcneese #mcneese-page #overlay-tabs > li > a {
  display: inline-block;
  text-shadow: 0px 1px 0px #333333;

  border-radius: 5px 5px 0px 0px;

  vertical-align: bottom;

  font-size: 10px;

  min-height: 14px;
  line-height: 14px;
  letter-spacing: 0.4px;

  padding: 1px 8px 0px 8px;
}

.mcneese #mcneese-page #overlay-tabs > li > a,
.mcneese #mcneese-page #overlay-tabs > li > a:visited {
  color: #ffffff;
  background-color: #005a92;

  text-align: center;
  text-decoration: none;
}

.mcneese #mcneese-page #overlay-tabs > li > a.active {
  background-color: #00335b;
}

.mcneese #mcneese-page #overlay-tabs > li > a:hover,
.mcneese #mcneese-page #overlay-tabs > li > a:active,
.mcneese #mcneese-page #overlay-tabs > li > a:focus {
  color: #f7ff00;
  background-color: #2970a0;
}



/*** Group Image ***/
.mcneese .mcneese-content > .group_image {
  max-width: 100%;
  overflow: hidden;
}
