/*** Administrative Toolbar ***/
.mcneese.is-toolbar-fixed.mcneese.is-toolbar-autoshow.is-toolbar-shortcuts-collapsed > #mcneese-page {
  margin-top: 28px;
}

.mcneese.is-toolbar-fixed.mcneese.is-toolbar-autoshow.is-toolbar-shortcuts-expanded > #mcneese-page {
  margin-top: 56px;
}

#mcneese-toolbar {
  top: 0px;
  left: 0px;

  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-toolbar.fixed {
  position: fixed;

  z-index: 100;
}

#mcneese-toolbar.relative {
  position: relative;
}

#mcneese-toolbar.relative.expanded {
  margin-bottom: 0px;
  padding-bottom: 2px;
}

#mcneese-toolbar.relative.collapsed {
  margin-bottom: 2px;
}

#mcneese-toolbar > .html_tag-nav {
  display: block;

  width: 100%;

  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-toolbar > .html_tag-nav > .navigation_list {
  display: inline;
}

#mcneese-toolbar > .html_tag-nav > .navigation_list > .item {
  display: inline-block;

  margin: 0px;
  padding: 2px 0px 0px 0px;

  vertical-align: top;
}

.mcneese.agent-name-ie #mcneese-toolbar > .html_tag-nav > .navigation_list > .item {
  vertical-align: middle;
}

#mcneese-toolbar > .html_tag-nav > .navigation_list > .item > .link {
  display: inline-block;

  color: #ffffff;

  font-size: 12px;
  line-height: 18px;

  vertical-align: center;

  text-shadow: 0px 1px 0px #333333;
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 5px 11px 5px 11px;

  margin: 2px 0px;
  padding: 0px 2px;
}

#mcneese-toolbar > .mcneese-toolbar-menu {
  color: #ffffff;
  background-color: #1e1e1e;
  background-image: url(../../images/background-marble-black.png);

  transition: display 0.25s;
  -moz-transition: display 0.25s;
  -webkit-transition: display 0.25s;
  -o-transition: display 0.25s;
}

#mcneese-toolbar.expanded > .mcneese-toolbar-menu,
#mcneese-toolbar.collapsed:hover > .mcneese-toolbar-menu,
#mcneese-toolbar.collapsed:active > .mcneese-toolbar-menu,
#mcneese-toolbar.collapsed:focus > .mcneese-toolbar-menu {
  box-shadow: 0px 1px 8px #505050;
}

#mcneese-toolbar.collapsed > .mcneese-toolbar-menu {
  max-height: 3px;

  overflow: hidden;
}

#mcneese-toolbar.expanded > .mcneese-toolbar-menu,
#mcneese-toolbar.collapsed:hover > .mcneese-toolbar-menu,
#mcneese-toolbar.collapsed:active > .mcneese-toolbar-menu,
#mcneese-toolbar.collapsed:focus > .mcneese-toolbar-menu {
  display: block;

  min-height: 25px;
}

#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link.active,
#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link:hover,
#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link:active,
#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link:focus {
  background-color: #447ead;
  background-image: url(../../images/background-marble-light_blue.png);
}

#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link.active:hover,
#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link.active:active,
#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item > .link.active:focus {
  background-color: #5395cc;
}

#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-home {
  width: 25px;
  height: 25px;

  margin: 0px;
  padding: 0px;
}

#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-home > .link {
  display: block;

  background-image: url(../../images/home.png);
  background-repeat: no-repeat;
  background-position: center;

  width: 12px;
  height: 12px;

  line-height: 25px;

  margin: 3px 0px 0px 0px;
  padding: 1px 5px 5px 5px;
}

#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-toggle {
  float: right;

  width: 25px;
  height: 25px;

  margin: 0px;
  padding: 0px;
}

#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-toggle > .link {
  display: block;

  background-repeat: no-repeat;
  background-position: center;

  width: 12px;
  height: 12px;

  line-height: 25px;

  margin: 6px 2px 2px 2px;
  padding: 0px 3px 3px 3px;
}

.mcneese.is-toolbar-shortcuts-collapsed #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-toggle > .link {
  background-image: url(../../images/toggle-up.png);
}

.mcneese.is-toolbar-shortcuts-expanded #mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-toggle > .link {
  background-image: url(../../images/toggle-down.png);
}

#mcneese-toolbar > .mcneese-toolbar-menu > .navigation_list > .item.mcneese-toolbar-user {
  float: right;
}

#mcneese-toolbar > .mcneese-toolbar-shortcuts {
  color: #000000;
  background-color: #003259;
  background-image: url(../../images/background-marble-deep_blue.png);

  min-height: 25px;

  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 1px 8px #505050;

  transition: display 0.25s;
  -moz-transition: display 0.25s;
  -webkit-transition: display 0.25s;
  -o-transition: display 0.25s;
}

#mcneese-toolbar.expanded > .mcneese-toolbar-shortcuts.collapsed,
#mcneese-toolbar.collapsed > .mcneese-toolbar-shortcuts {
  visibility: hidden;

  width: 0px;

  height: 0px;
  min-height: 0px;

  overflow: hidden;
}

#mcneese-toolbar.collapsed:hover > .mcneese-toolbar-shortcuts.expanded,
#mcneese-toolbar.collapsed:active > .mcneese-toolbar-shortcuts.expanded,
#mcneese-toolbar.collapsed:focus > .mcneese-toolbar-shortcuts.expanded {
  visibility: visible;

  width: 99.5%;

  height: auto;
  min-height: 25px;

  overflow: visible;
  clip: auto;
}

#mcneese-toolbar > .mcneese-toolbar-shortcuts {
  padding: 0px 4px;
}

#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link {
  color: #ffffff;
  text-shadow: 0px 1px 0px #333333;
}

#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link.active,
#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link:hover,
#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link:active,
#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link:focus {
  color: #000000;
  background-color: #fad703;
  background-image: url(../../images/background-marble-yellow.png);
  text-shadow: none;
}

#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link.active:hover,
#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link.active:active,
#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item > .link.active:focus {
  background-color: #0065b6;
}

#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky {
  clear: right;
  float: right;

  width: 25px;
  height: 25px;

  margin: 0px;
  padding: 0px;
}

#mcneese-toolbar > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link {
  background-repeat: no-repeat;
  background-position: center;

  width: 15px;
  height: 15px;

  margin: 3px 0px 0px 2px;
  padding: 2px;
}

#mcneese-toolbar.fixed > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link {
  background-image: url(../../images/sticky-off.png);
}

#mcneese-toolbar.relative > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link {
  background-image: url(../../images/sticky-on.png);
}

#mcneese-toolbar.fixed > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:hover,
#mcneese-toolbar.fixed > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:active,
#mcneese-toolbar.fixed > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:focus {
  background-image: url(../../images/sticky-off-alt.png);
}

#mcneese-toolbar.relative > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:hover,
#mcneese-toolbar.relative > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:active,
#mcneese-toolbar.relative > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky > .link:focus {
  background-image: url(../../images/sticky-on-alt.png);
}

#mcneese-toolbar.noscript > .mcneese-toolbar-shortcuts > .navigation_list > .item.mcneese-toolbar-sticky {
  display: none;
}



/*** Breadcrumb Menu - Relative ***/
#mcneese-breadcrumb.relative {
  position: relative;

  color: #ffffff;
  background-color: #00335b;

  font-family: Arial,Helvetica,Sans-Serif,Sans;
  font-size: 12px;

  min-height: 24px;

  margin: 0px 0px 4px 0px;
  padding: 0px 3px;
}

#mcneese-breadcrumb.relative > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

#mcneese-breadcrumb.relative > .navigation_list {
  display: inline;
}

#mcneese-breadcrumb.relative > .navigation_list > .crumb {
  display: inline-block;
}

#mcneese-breadcrumb.relative > .navigation_list > .crumb-trail,
#mcneese-breadcrumb.relative > .navigation_list > .crumb > span,
#mcneese-breadcrumb.relative > .navigation_list > .crumb > a {
  display: inline-block;

  vertical-align: top;

  color: #ffffff;
  text-decoration: none;

  padding: 3px;
}

#mcneese-breadcrumb.relative > .navigation_list > .crumb > a:active,
#mcneese-breadcrumb.relative > .navigation_list > .crumb > a:hover,
#mcneese-breadcrumb.relative > .navigation_list > .crumb > a:focus {
  color: #00335b;
  background-color: #fad703;
}

#mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home {
  background-image: url(../../images/home.png);
  background-repeat: no-repeat;
  background-position: center;

  font-size: 0px;

  width: 14px;
  height: 14px;

  margin: 0px;
  padding: 5px 3px;

  overflow: hidden;
}

#mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:active,
#mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:hover,
#mcneese-breadcrumb.relative > .navigation_list > .crumb > .link-home:focus {
  background-image: url(../../images/home-black.png);
}

#mcneese-breadcrumb.relative > .navigation_list > .crumb-node_id,
#mcneese-breadcrumb.relative > .navigation_list > .crumb-user_id {
  display: inline-block;

  vertical-align: top;

  font-weight: bold;

  padding: 3px;

  float: right;
}



/*** Breadcrumb Menu - Fixed ***/
#mcneese-breadcrumb.fixed {
  display: inline-block;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb {
  display: block;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb-trail {
  display: none;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb.leaf,
#mcneese-breadcrumb.fixed > .navigation_list > .crumb.collapsed,
#mcneese-breadcrumb.fixed > .navigation_list > .crumb.expanded {
  margin: 0px;
  padding: 0px;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:hover,
#mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:active,
#mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:focus {
  z-index: 200;
}

#mcneese-breadcrumb.fixed.collapsed {
  background-image: url(../../images/breadcrumb.png);
  background-color: #dadada;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb {
  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-breadcrumb.fixed.collapsed > .navigation_list > .crumb {
  display: none;
}

#mcneese-breadcrumb.fixed.expanded > .navigation_list > .crumb,
#mcneese-breadcrumb.fixed.collapsed.noscript:active > .navigation_list > .crumb,
#mcneese-breadcrumb.fixed.collapsed:hover > .navigation_list > .crumb,
#mcneese-breadcrumb.fixed.collapsed:focus > .navigation_list > .crumb {
  display: block;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb-user_id,
#mcneese-breadcrumb.fixed > .navigation_list > .crumb-node_id,
#mcneese-breadcrumb.fixed > .navigation_list > .crumb > a {
  display: block;

  color: #ffffff;
  background-color: #005a92;
  text-decoration: none;

  width: 100%;
  height: 100%;

  min-width: 120px;
  max-width: 350px;

  padding: 4px 8px;

  border-width: 0px 1px;
  border-style: outset;
  border-color: #00335b;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb-user_id,
#mcneese-breadcrumb.fixed > .navigation_list > .crumb-node_id {
  background-color: #00335b;

  font-weight: bold;

  text-align: right;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:hover,
#mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:active,
#mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:focus {
  color: #f7ff00;
  background-color: #2970a0;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb > a:active {
  color: #ff0000;

  border-style: inset;
}

#mcneese-breadcrumb.fixed > .navigation_list > .crumb:last-child > a {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
}

#mcneese-breadcrumb.fixed > .html_tag-header {
  display: block;

  color: #ffffff;
  background-color: #1e1e1e;

  width: 100%;
  height: 100%;

  min-width: 120px;
  max-width: 350px;

  font-weight: bold;
  text-shadow: none;
  text-align: center;

  padding: 4px 8px;

  border-width: 1px 1px 0px 1px;
  border-color: #202020;
  border-radius: 5px 5px 0px 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-breadcrumb.fixed > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  font-size: 14px;
  line-height: 18px;

  margin: 0px;
  padding: 4px 8px;
}

#mcneese-breadcrumb.fixed > .html_tag-header:hover,
#mcneese-breadcrumb.fixed > .html_tag-header:active,
#mcneese-breadcrumb.fixed > .html_tag-header:focus {
  color: #f7ff00;
}

#mcneese-breadcrumb.fixed > .html_tag-header:active {
  color: #ff0000;

  border-style: inset;
}



/*** Tabs ***/
#mcneese-tabs > .navigation_list,
#mcneese-tabs > .navigation_list > .tab > .sub_tabs > .navigation_list {
  display: inline;
}



/*** Tabs - Relative ***/
#mcneese-tabs.relative {
  display: inline-block;
  position: relative;

  margin: 0px;
  padding: 0px;

  border-bottom: 1px solid #00335b;
}

#mcneese-tabs.relative > .navigation_list > .tab,
#mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs,
#mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab {
  display: inline-block;
  position: relative;
}

#mcneese-tabs.relative > .navigation_list > .tab.leaf,
#mcneese-tabs.relative > .navigation_list > .tab.collapsed,
#mcneese-tabs.relative > .navigation_list > .tab.expanded {
  margin: 0px;
  padding: 0px;
}

#mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs {
  margin: 0px 0px 0px 4px;
  padding: 0px;
}

#mcneese-tabs.relative.collapsed > .navigation_list > .tab {
  display: none;
}

#mcneese-tabs.relative.collapsed > .navigation_list > .tab-command-1 {
  display: inline-block;
}

#mcneese-tabs.relative.noscript > .navigation_list > .tab-command-1 {
  display: none;
}

#mcneese-tabs.relative > .navigation_list > .tab > a,
#mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a {
  display: inline-block;

  color: #ffffff;
  background-color: #005a92;

  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #333333;

  border-radius: 5px 5px 0px 0px;

  vertical-align: bottom;
}

#mcneese-tabs.relative > .navigation_list > .tab > a {
  font-size: 12px;

  min-height: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;

  padding: 2px 5px 0px 5px;
}

#mcneese-tabs.relative > .navigation_list > .tab.active > a {
  background-color: #00335b;
}

#mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a {
  font-size: 10px;

  min-height: 14px;
  line-height: 14px;
  letter-spacing: 0.4px;

  padding: 1px 4px 0px 4px;
}

#mcneese-tabs.relative > .navigation_list > .tab > a:hover,
#mcneese-tabs.relative > .navigation_list > .tab > a:active,
#mcneese-tabs.relative > .navigation_list > .tab > a:focus,
#mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:hover,
#mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:active,
#mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:focus {
  color: #f7ff00;
  background-color: #2970a0;
}

#mcneese-tabs.relative > .navigation_list > .tab-command-1 > a {
  background-position: center;
  background-repeat: no-repeat;

  min-width: 6px;
}

#mcneese-tabs.relative.expanded > .navigation_list > .tab-command-1 > a {
  background-image: url(../../images/toggle-left.png);
}

#mcneese-tabs.relative.collapsed > .navigation_list > .tab-command-1 > a {
  background-image: url(../../images/toggle-right.png);
}



/*** Tabs - Fixed ***/
#mcneese-tabs.fixed.collapsed {
  background-image: url(../../images/menu_tabs.png);
  background-color: #dadada;
}

#mcneese-tabs.fixed > .navigation_list > .tab,
#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs,
#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab {
  display: block;
}

#mcneese-tabs.fixed > .navigation_list > .tab.leaf,
#mcneese-tabs.fixed > .navigation_list > .tab.collapsed,
#mcneese-tabs.fixed > .navigation_list > .tab.expanded {
  margin: 0px;
  padding: 0px;
}

#mcneese-tabs.fixed > .navigation_list > .tab,
#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs,
#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab {
  width: 100%;
  min-width: 120px;
  max-width: 350px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-tabs.fixed.collapsed > .navigation_list > .tab {
  display: none;
}

#mcneese-tabs.fixed.expanded > .navigation_list > .tab,
#mcneese-tabs.fixed.collapsed.noscript:active > .navigation_list > .tab,
#mcneese-tabs.fixed.collapsed:hover > .navigation_list > .tab,
#mcneese-tabs.fixed.collapsed:focus > .navigation_list > .tab {
  display: block;
}

#mcneese-tabs.fixed > .navigation_list > .tab > a,
#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a {
  display: block;

  color: #ffffff;
  background-color: #005a92;
  text-decoration: none;

  width: 100%;
  height: 100%;

  min-width: 120px;
  max-width: 350px;

  padding: 4px 8px;

  border-width: 0px 1px;
  border-style: outset;
  border-color: #00335b;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-tabs.fixed > .navigation_list > .tab.active > a {
  background-color: #00335b;
}

#mcneese-tabs.fixed > .navigation_list > .tab > a:hover,
#mcneese-tabs.fixed > .navigation_list > .tab > a:active,
#mcneese-tabs.fixed > .navigation_list > .tab > a:focus,
#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:hover,
#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:active,
#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:focus {
  color: #f7ff00;
  background-color: #2970a0;

  z-index: 200;
}

#mcneese-tabs.fixed > .navigation_list > .tab > a:active,
#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:active {
  color: #ff0000;

  border-style: inset;
}

#mcneese-tabs.fixed > .navigation_list > .tab-command-1 > a {
  color: #ffffff;
  background-color: #1e1e1e;

  font-weight: bold;
  text-shadow: none;
  text-align: center;

  border-width: 1px 1px 0px 1px;
  border-color: #202020;
  border-radius: 5px 5px 0px 0px;
}

#mcneese-tabs.fixed > .navigation_list > .tab-command-1 > a:active,
#mcneese-tabs.fixed > .navigation_list > .tab-command-1 > a:hover,
#mcneese-tabs.fixed > .navigation_list > .tab-command-1 > a:focus {
  color: #fad703;
  background-color: #1e1e1e;
}

#mcneese-tabs.fixed > .navigation_list > .tab-command-1 > a:active {
  color: #ff0000;
  background-color: #1e1e1e;
}

#mcneese-tabs.fixed > .navigation_list > .tab-last > a,
#mcneese-tabs.fixed > .navigation_list > .tab-last > a,
#mcneese-tabs.fixed > .navigation_list > .tab-last > .sub_tabs > .navigation_list > .tab-last > a {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
}

#mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a {
  padding-left: 24px;
  min-width: 96px;
}



/*** Action Links - Relative ***/
#mcneese-action_links.relative {
  position: relative;

  margin-bottom: 6px;
  padding: 0px;
}

#mcneese-action_links.relative > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

#mcneese-action_links.relative > li {
  display: inline-block;
}

#mcneese-action_links.relative > li > a,
#mcneese-action_links.relative > li > a:visited {
  background-image: url('../../images/action_link.png');
  background-repeat: no-repeat;
  background-position: 3px 50%;

  text-decoration: none;

  margin: 0px 2px;
  padding: 0px 7px 0px 15px;
}

#mcneese-action_links.relative > li > a:hover,
#mcneese-action_links.relative > li > a:active,
#mcneese-action_links.relative > li > a:focus {
  color: #ffffff;
  background-image: url('../../images/action_link-alt.png');
  background-color: #447ead;

  text-shadow: 0px 1px 0px #333333;
  border-radius: 5px 11px 5px 11px;
}



/*** Action Links- Fixed ***/
#mcneese-action_links.fixed {
  display: inline-block;
}

#mcneese-action_links.fixed.collapsed {
  background-image: url(../../images/action_links.png);
  background-color: #dadada;
}

#mcneese-action_links > .navigation_list,
#mcneese-action_links > .navigation_list > li > .navigation_list {
  display: inline;

  margin: 0px;
  padding: 0px;
}

#mcneese-action_links > .navigation_list > li,
#mcneese-action_links > .navigation_list > li > .navigation_list > li {
  display: block;

  margin: 0px;
  padding: 0px;

  width: 100%;
  min-width: 120px;
  max-width: 350px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-action_links > .navigation_list > li > a:hover,
#mcneese-action_links > .navigation_list > li > a:active,
#mcneese-action_links > .navigation_list > li > a:focus,
#mcneese-action_links > .navigation_list > li > .navigation_list > li > a:hover,
#mcneese-action_links > .navigation_list > li > .navigation_list > li > a:active,
#mcneese-action_links > .navigation_list > li > .navigation_list > li > a:focus {
  color: #f7ff00;
  background-color: #2970a0;

  z-index: 200;
}

#mcneese-action_links > .navigation_list > li > a,
#mcneese-action_links > .navigation_list > li > .navigation_list > li > a {
  display: block;

  color: #ffffff;
  background-color: #005a92;
  text-decoration: none;

  width: 100%;
  height: 100%;

  min-width: 120px;
  max-width: 350px;

  padding: 4px 8px;

  border-width: 0px 1px;
  border-style: outset;
  border-color: #00335b;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-action_links > .navigation_list > li > a:active,
#mcneese-action_links > .navigation_list > li > .navigation_list > li > a:active {
  color: #ff0000;

  border-style: inset;
}

#mcneese-action_links > .navigation_list > li:last-child > a,
#mcneese-action_links > .navigation_list > li > .navigation_list > li:last-child > a {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
}

#mcneese-action_links.fixed > .html_tag-header {
  display: block;

  color: #ffffff;
  background-color: #1e1e1e;

  width: 100%;
  height: 100%;

  min-width: 120px;
  max-width: 350px;

  font-weight: bold;
  text-shadow: none;
  text-align: center;

  padding: 4px 8px;

  border-width: 1px 1px 0px 1px;
  border-color: #202020;
  border-radius: 5px 5px 0px 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#mcneese-action_links.fixed > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  font-size: 14px;
  line-height: 18px;

  margin: 0px;
  padding: 4px 8px;
}

#mcneese-action_links.fixed > .html_tag-header:hover,
#mcneese-action_links.fixed > .html_tag-header:active,
#mcneese-action_links.fixed > .html_tag-header:focus {
  color: #f7ff00;
}

#mcneese-action_links.fixed > .html_tag-header:active {
  color: #ff0000;

  border-style: inset;
}



/*** Workbench Menu ***/
#mcneese-page-side .workbench_menu {
  position: relative;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.4px;

  margin: 0px;
  padding: 10px 0px;

  border-bottom: 1px solid #888888;
}

#mcneese-page-side .workbench_menu > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

#mcneese-page-side .workbench_menu-count-1 {
  border-top: 1px solid #888888;
}

#mcneese-page-side .workbench_menu .menu_item {
  display: block;
  position: relative;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  margin: 0px 0px 0px 5px;
  padding: 0px 0px 0px 12px;
}

#mcneese-page-side .workbench_menu .menu_item.depth-0 {
  margin: 0px;
  padding: 0px;
}

#mcneese-page-side .workbench_menu .menu_item > .menu_item-children {
  display: block;
  position: relative;

  margin: 0px;
  padding: 0px;
}

#mcneese-page-side .workbench_menu .menu_item > .menu_item-text {
  display: inline-block;
  position: relative;

  width: 100%;

  margin: 1px 0px;
  padding: 2px 4px;

  text-decoration: none;
}

#mcneese-page-side .workbench_menu .menu_item > .menu_item-children .menu_item > .menu_item-text {
  display: inline-block;
}

#mcneese-page-side .workbench_menu .menu_item > .menu_item-children .menu_item.collapsed {
  background-image: url(../../images/arrow-single-right.png);
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

#mcneese-page-side .workbench_menu .menu_item > .menu_item-children .menu_item.expanded {
  background-image: url(../../images/arrow-single-down.png);
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

#mcneese-page-side .workbench_menu .menu_item > .menu_item-children .menu_item.leaf {
  background-image: url(../../images/arrow-single-right.png);
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

#mcneese-page-side .workbench_menu .menu_item.active > .menu_item-text {
  color: #fad703;
  background-color: #00335b;
}

#mcneese-page-side .workbench_menu .menu_item.depth-0 > .menu_item-text {
  font-weight: bold;
}

#mcneese-page-side .workbench_menu .menu_item.depth-0.active > .menu_item-text {
  color: #00477f;
  background-color: inherit;
}

#mcneese-page-side .workbench_menu .menu_item > .menu_item-text:hover,
#mcneese-page-side .workbench_menu .menu_item > .menu_item-text:focus,
#mcneese-page-side .workbench_menu .menu_item.depth-0 > .menu_item-text:hover,
#mcneese-page-side .workbench_menu .menu_item.depth-0 > .menu_item-text:focus {
  color: #ffffff;
  background-color: #00335b;
}

#mcneese-page-side .workbench_menu .menu_item > .menu_item-text:active,
#mcneese-page-side .workbench_menu .menu_item.depth-0 > .menu_item-text:active {
  color: #ffaa00;
  background-color: #00335b;
}



/*** legacy support ***/
.mcneese.is-legacy #mcneese-breadcrumb {
  color: #ffffff;
}

.mcneese.is-legacy #mcneese-breadcrumb .navigation_list .crumb-trail,
.mcneese.is-legacy #mcneese-breadcrumb .navigation_list .crumb {
  display: inline;
}
