



/*** Tabs ***/
.mcneese #mcneese-tabs > .navigation_list,
.mcneese #mcneese-tabs > .navigation_list > .tab > .sub_tabs > .navigation_list {
  display: inline;
}



/*** Tabs - Relative ***/
.mcneese #mcneese-tabs.relative {
  display: inline-block;
  position: relative;

  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-tabs.relative > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab {
  display: inline-block;
  position: relative;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab.leaf,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab.collapsed,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab.expanded {
  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs {
  margin: 0px 0px 0px 4px;
  padding: 0px;
}

.mcneese #mcneese-tabs.relative.collapsed > .navigation_list > .tab {
  display: none;
}

.mcneese #mcneese-tabs.relative.collapsed > .navigation_list > .tab-command-1 {
  display: inline-block;
}

.mcneese #mcneese-tabs.relative.noscript > .navigation_list > .tab-command-1 {
  display: none;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab > a,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a {
  display: inline-block;

  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #333333;

  border-radius: 5px 5px 0px 0px;

  vertical-align: bottom;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab > a {
  color: #ffffff;
  background-color: #005a92;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a {
  color: #ffffff;
  background-color: #008292;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab > a {
  font-size: 12px;

  min-height: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;

  padding: 2px 5px 0px 5px;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab.active > a {
  background-color: #00335b;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a {
  font-size: 10px;

  min-height: 14px;
  line-height: 14px;
  letter-spacing: 0.4px;

  padding: 1px 4px 0px 4px;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab.active > .sub_tabs > .navigation_list > .tab.active > a {
  background-color: #005d68;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab > a:hover,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab > a:active,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab > a:focus,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:hover,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:active,
.mcneese #mcneese-tabs.relative > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:focus {
  color: #f7ff00;
  background-color: #2970a0;

  border-bottom: 0px;
}

.mcneese #mcneese-tabs.relative > .navigation_list > .tab-command-1 > a {
  background-position: center;
  background-repeat: no-repeat;

  min-width: 6px;
}

.mcneese #mcneese-tabs.relative.expanded > .navigation_list > .tab-command-1 > a {
  background-image: url(../../images/toggle-left.png);
}

.mcneese #mcneese-tabs.relative.collapsed > .navigation_list > .tab-command-1 > a {
  background-image: url(../../images/toggle-right.png);
}



/*** Tabs - Fixed ***/
.mcneese #mcneese-tabs.fixed.collapsed {
  background-image: url(../../images/menu_tabs.png);
  background-color: #dadada;
}

.mcneese #mcneese-tabs.fixed > .html_tag-header {
  display: block;

  color: #ffffff;
  background-color: #1e1e1e;

  width: 100%;
  height: 100%;

  min-width: 120px;
  max-width: 350px;

  font-weight: bold;
  text-shadow: none;
  text-align: center;

  padding: 4px 8px;

  border-width: 1px 1px 0px 1px;
  border-color: #202020;
  border-radius: 5px 5px 0px 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-tabs.fixed > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  font-size: 14px;
  line-height: 18px;

  margin: 0px;
  padding: 4px 8px;
}

.mcneese #mcneese-tabs.fixed > .html_tag-header:hover,
.mcneese #mcneese-tabs.fixed > .html_tag-header:active,
.mcneese #mcneese-tabs.fixed > .html_tag-header:focus {
  color: #f7ff00;
}

.mcneese #mcneese-tabs.fixed > .html_tag-header:active {
  color: #ff0000;

  border-style: inset;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab {
  display: block;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab.leaf,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab.collapsed,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab.expanded {
  margin: 0px;
  padding: 0px;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab {
  width: 100%;
  min-width: 120px;
  max-width: 350px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-tabs.fixed.collapsed > .navigation_list > .tab {
  display: none;
}

.mcneese #mcneese-tabs.fixed.expanded > .navigation_list > .tab,
.mcneese #mcneese-tabs.fixed.collapsed.noscript:active > .navigation_list > .tab,
.mcneese #mcneese-tabs.fixed.collapsed:hover > .navigation_list > .tab,
.mcneese #mcneese-tabs.fixed.collapsed:focus > .navigation_list > .tab {
  display: block;
}

.mcneese #mcneese-tabs.fixed.expanded {
  left: 40px;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > a,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a {
  display: block;

  color: #ffffff;
  background-color: #005a92;
  text-decoration: none;

  width: 100%;
  height: 100%;

  min-width: 120px;
  max-width: 350px;

  padding: 4px 8px;

  border-width: 0px 1px;
  border-style: outset;
  border-color: #00335b;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab.active > a {
  background-color: #00335b;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > a:hover,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > a:active,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > a:focus,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:hover,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:active,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:focus {
  color: #f7ff00;
  background-color: #2970a0;

  z-index: 2000;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > a:active,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a:active {
  color: #ff0000;

  border-style: inset;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab-last > a,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab-last > a,
.mcneese #mcneese-tabs.fixed > .navigation_list > .tab-last > .sub_tabs > .navigation_list > .tab-last > a {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab > .sub_tabs > .navigation_list > .tab > a {
  padding-left: 24px;
  min-width: 96px;
}

.mcneese #mcneese-tabs.fixed > .navigation_list > .tab-command-1,
.mcneese #mcneese-tabs.fixed.expanded > .navigation_list > .tab-command-1,
.mcneese #mcneese-tabs.fixed.collapsed.noscript:active > .navigation_list > .tab-command-1,
.mcneese #mcneese-tabs.fixed.collapsed:hover > .navigation_list > .tab-command-1,
.mcneese #mcneese-tabs.fixed.collapsed:focus > .navigation_list > .tab-command-1 {
  display: none;
}
