/*** Masquerade Block Form ***/
#mcneese-header > .header-section > .block-name-block-masquerade-masquerade {
  position: absolute;
  right: 270px;
  top: 10px;

  min-width: 225px;

  color: #ffffff;
  background-color: #023761;

  margin: 0px;
  padding: 3px;

  border: 1px solid #065c9f;

  z-index: 1;
}

#mcneese-header > .header-section > .block-name-block-masquerade-masquerade #quick_switch_links,
#mcneese-header > .header-section > .block-name-block-masquerade-masquerade #quick_switch_links > ul,
#mcneese-header > .header-section > .block-name-block-masquerade-masquerade #quick_switch_links > ul > li {
  display: inline-block;
  vertical-align: top;

  padding: 0px 5px;
}

#mcneese-header > .header-section > .block-name-block-masquerade-masquerade > .html_tag-header > .html_tag-hgroup > h2 {
  font-size: 11px;
  line-height: 15px;

  margin: 0px;
  padding: 2px;
}

.mcneese .masquerade_block_1 {
  margin: 0px;
}

.mcneese .masquerade_block_1 > div {
  /* workaround for old&buggy firefoxes */
  max-height: 44px;
}

.mcneese .masquerade_block_1 > div > .form-item {
  margin: 0px;
}

.mcneese .masquerade_block_1 > div > .form-item  > .description {
  background-color: inherit;

  margin: 0px;
  padding: 1px;
  border: none;
}

.mcneese .masquerade_block_1 > div > .container-inline > input {
  display: inline-block;

  color: #00477f;
  background-color: #fad703;

  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;

  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 2px #FEFEFE;

  margin: 1px;
  padding: 3px 4px;

  border: 1px outset #333333;
  border-radius: 3px 3px 3px 3px;

  cursor: pointer;
}

.mcneese .masquerade_block_1 > div > .container-inline > input:hover,
.mcneese .masquerade_block_1 > div > .container-inline > input:active,
.mcneese .masquerade_block_1 > div > .container-inline > input:focus {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

.mcneese .masquerade_block_1 > div > .container-inline > input:active {
  border: 1px inset #333333;
}

.mcneese .masquerade_block_1 .form-item > .description > a,
.mcneese .masquerade_block_1 .form-item > .description > a:visited,
.mcneese .masquerade_block_1 #quick_switch_links .item-list li > a,
.mcneese .masquerade_block_1 #quick_switch_links .item-list li > a:visited {
  color: #fad703;
  text-decoration: underline;
}



/*** Views - Admin Form ***/
.mcneese .views-admin > .form-edit .views-ui-display-tab-bucket,
.mcneese .views-admin > .form-edit .views-display-column > .ctools-collapsible-handle {
  border-color: #c0c0c0;
}

.mcneese .views-admin > .form-edit .views-ui-display-tab-bucket > .even,
.mcneese .views-admin > .form-edit .views-display-top {
  background-color: #f3f3f3;
}

.mcneese .views-admin > .form-edit .views-ui-display-tab-bucket > .views-display-setting {
  color: #303030;
}

.mcneese .views-admin > .form-edit .views-displays .secondary > li.active > a,
.mcneese .views-admin > .form-edit .views-displays .secondary > li.active > a:visited,
.mcneese .views-admin > .form-edit .views-displays .secondary > li > a:hover,
.mcneese .views-admin > .form-edit .views-displays .secondary > li > a:active,
.mcneese .views-admin > .form-edit .views-displays .secondary > li > a:focus {
  background-color: #505050;
}

.views-display-setting .label, .views-display-setting .views-ajax-link
.mcneese #edit-display-settings-details .views-display-setting .label,
.mcneese #edit-display-settings-details .views-display-setting .views-ajax-link {
  float: none;

  margin: 0px 1px;
}



/*** Views - Misc ***/
.mcneese .views-table .views-field-field-group > .item-list > ul,
.mcneese .views-table .views-field-field-group > .item-list > ol {
  margin: 0;
}



/*** Vertical Tabs ***/
.mcneese .vertical-tabs {
  display: inline-block;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  margin: 5px 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese .vertical-tabs > .vertical-tabs-list {
  display: inline-block;
  vertical-align: top;

  width: 20%;
  min-width: 20%;
  max-width: 20%;

  margin: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese .vertical-tabs > .vertical-tabs-list > .vertical-tab-button {
  word-wrap: break-word;
  word-break: break-all;
}

.mcneese .vertical-tabs > .vertical-tabs-panes {
  display: inline-block;
  vertical-align: top;

  width: 80%;
  min-width: 80%;
  max-width: 80%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese .vertical-tabs > .vertical-tabs-panes  > .vertical-tabs-pane {
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}



/*** Horizontal Tabs ***/
.mcneese .horizontal-tabs fieldset.horizontal-tabs-pane {
  border: 0px;
  margin: 0px;
  padding: 0px 6px;
}

.mcneese .horizontal-tabs .horizontal-tab-hidden {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;

  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}



/*** Calendar Styles - For Original Calendar Code (From old theme - this is temporary) ***/
#mcneese-page div.view-display-id-event_listing {
  position: relative;

  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;

  font-family: Serif, Georgia, Times New Roman;

  margin-top: 10px;
}

#mcneese-page div.view-display-id-event_listing div.view-content div.views-row {
  margin-bottom: 15px;
}

#mcneese-page div.view-display-id-event_listing div.view-content div.views-row-even {
  background-color: #efefef;
}

#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a,
#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a:visited {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a:focus,
#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a:hover,
#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a:active {
  color: #7f0000;

  text-decoration: underline;
}

#mcneese-page .view div.calendar-standard > div.view-header > div.date-nav-wrapper > div.date-nav {
  padding-bottom: 4px;
}

#mcneese-page .view .calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
#mcneese-page .view .calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
  display: block;
  position: relative;

  width: auto;
  left: 0px;
  padding: 0px 2px;
}

#mcneese-page .view .calendar-calendar .month-view .full td.multi-day div.monthview,
#mcneese-page .view .calendar-calendar .week-view .full td.multi-day div.weekview,
#mcneese-page .view .calendar-calendar .day-view .full td.multi-day div.dayview,
#mcneese-page .view .calendar-calendar .month-view .full td.single-day div.monthview,
#mcneese-page .view .calendar-calendar .week-view .full td.single-day div.weekview,
#mcneese-page .view .calendar-calendar .day-view .full td.single-day div.dayview {
  height: auto;
  line-height: 1.7em;
  margin: 1px 0px;
  padding: 0px;

  text-align: center;
}

#mcneese-page .view .calendar-calendar .day-view .full td .inner div.calendar div,
#mcneese-page .view .calendar-calendar .day-view .full td .inner div.calendar div a {
  margin: 0px;
}

#mcneese-page .view .calendar-calendar .day-view .full td.multi-day div.dayview .cutoff {
  display: none;
}

#mcneese-page .view .calendar-calendar td .calendar div.calendar {
  padding: 0px;
}

#mcneese-page .view .calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
#mcneese-page .view .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
#mcneese-page .view .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
#mcneese-page .view .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  padding: 0px;
}

#mcneese-page .view .calendar-calendar td {
  color: #000000;
}

#mcneese-page .view .calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
#mcneese-page .view .calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
  padding: 0px;
}

#mcneese-page .view .single-day > .inner > .item,
#mcneese-page .view .multi-day > .inner > .item,
#mcneese-page .view .calendar > .inner > .item {
  margin: 6px 2px;
}

#mcneese-page .view .calendar > .contents > a,
#mcneese-page .view .calendar > .contents > .views-field:first-child > .field-content > a {
  display: block;

  font-size: 12px;
  font-weight: normal;

  text-decoration: none;

  background-color: #6384b8;

  padding: 3px 4px;
}

#mcneese-page .view .calendar > .contents > a,
#mcneese-page .view .calendar > .contents > a:visited,
#mcneese-page .view .calendar > .contents > .views-field:first-child > .field-content > a,
#mcneese-page .view .calendar > .contents > .views-field:first-child > .field-content > a:visited {
  color: #ffffff;
}

#mcneese-page .view .calendar > .contents > a:focus,
#mcneese-page .view .calendar > .contents > a:active,
#mcneese-page .view .calendar > .contents > a:hover,
#mcneese-page .view .calendar > .contents > .views-field:first-child > .field-content > a:focus,
#mcneese-page .view .calendar > .contents > .views-field:first-child > .field-content > a:active,
#mcneese-page .view .calendar > .contents > .views-field:first-child > .field-content > a:hover {
  color: #ffee00;

  text-decoration: underline;
}



/*** Workbench Messages ***/
#mcneese-information > .information-wrapper > .block > .workbench-info-block {
  color: #302c00;
}



/*** Rules UI ***/
.mcneese #rules-form-wrapper:first-child {
  margin-top: 0px;
}

.mcneese #rules-form-wrapper .rules-elements-table .tabledrag-toggle-weight-wrapper {
  position: relative;
  display: inline-block;
  float: right;
  clear: right;
}

.mcneese #rules-form-wrapper .rules-elements-table ul.rules-operations a {
  padding: 0px 2px;
}

.mcneese #rules-form-wrapper .rules-elements-table ul.rules-operations-add a {
  line-height: 18px;
}

.mcneese #rules-form-wrapper ul.rules-operations-add li {
  display: inline-block;
  float: none;
}



/*** Ckeditor ***/
.mcneese .cke_dialog > tbody > tr > td {
  border: 0;
  padding: 0;
}

.mcneese .cke_dialog > tbody > tr > td > .cke_dialog_body > .cke_dialog_tabs {
  position: relative;
}



/*** Dev Query Region ***/
.mcneese > .dev-query {
  position: relative;

  color: #000000;
  background-color: #edeab3;

  padding: 10px;

  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}



/*** Media Browser ***/
.mcneese.path-media_browser > #mcneese-top,
.mcneese.path-media_browser > #mcneese-header,
.mcneese.path-media_browser > #mcneese-page,
.mcneese.path-media_browser > #mcneese-bottom {
  width: auto;
  height: auto;

  margin: 0;
  padding: 0;
}

.mcneese.path-media_browser > #mcneese-float-left,
.mcneese.path-media_browser > #mcneese-float-right {
  display: none;
}

.mcneese.path-media_browser #media-browser-tabset > .media-browser-tab > .view-media-default > .view-filters,
.mcneese.path-media_browser #media-browser-tabset > .media-browser-tab > .view-media-default > .view-content,
.mcneese.path-media_browser #media-browser-tabset > .media-browser-tab > .view-media-default > .item-list {
  display: block;
  clear: both;
}

.mcneese #media-browser-library-list > li {
  display: inline-block;
  float: none;
  vertical-align: bottom;

  word-wrap: break-word;
}

.mcneese #media-browser-library-list > li > .media-item + .form-item {
  position: inherit;
}

.mcneese #media-browser-library-list > li a:focus,
.mcneese #media-browser-library-list > li a:active,
.mcneese #media-browser-library-list > li a:hover {
  border: none;
}



/*** Webform ***/
.mcneese form.webform-client-form > .form-wrapper-inner .webform-component-webform_grid > .webform-grid > caption {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}
