


/*** Information Region ***/
.mcneese #mcneese-information > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  font-size: 18px;
  line-height: 22px;

  text-align: left;
  text-justify: left;
  text-transform: none;
}

.mcneese #mcneese-information > .information-wrapper {
  margin: 2px;
  resize: none;

  letter-spacing: 1px;
}

.mcneese #mcneese-information > .information-wrapper > .messages {
  max-height: 120px;
  overflow-y: auto;
  resize: none;
}

.mcneese #mcneese-information > .html_tag-header > .html_tag-hgroup > .html_tag-heading {
  line-height: 32px;
  min-height: 32px;

  margin: 0px 32px 0px 0px;
}



/*** Information Region - Fixed ***/
.mcneese #mcneese-information.fixed {
  background-image: url(../../images/information.png);
  background-repeat: no-repeat;
}

.mcneese #mcneese-information.fixed.collapsed {
  background-color: #dadada;
}

.mcneese #mcneese-information.fixed.expanded,
.mcneese #mcneese-information.fixed.collapsed:hover,
.mcneese #mcneese-information.fixed.collapsed:active,
.mcneese #mcneese-information.fixed.collapsed:focus {
  background-color: #eff0d6;

  border: 1px ridge #504b2f;
}

.mcneese #mcneese-information.fixed.expanded {
  right: 40px;
}



/*** Information Region - Relative ***/
.mcneese #mcneese-information.relative {
  position: relative;
}

.mcneese #mcneese-information.relative > .html_tag-header {
  display: block;
  visibility: hidden;
  overflow: hidden;

  font-size: 0px;
  line-height: 0px;

  width: 0px;
  min-width: 0px;
  max-width: 0px;

  height: 0px;
  min-height: 0px;
  max-height: 0px;

  margin: 0px;
  padding: 0px;
  border: none;
}
