/*** Masquerade Block Form ***/
#mcneese-header > .header-section > .block-name-block-masquerade-masquerade {
  position: absolute;
  right: 270px;
  top: 10px;

  color: #ffffff;
  background-color: #023761;

  margin: 0;
  padding: 3px;

  border: 1px solid #065c9f;

  z-index: 1;
}

#mcneese-header > .header-section > .block-name-block-masquerade-masquerade > header > h2 {
  font-size: 11px;
  line-height: 15px;

  margin: 0;
  padding: 2px;
}

#masquerade-block-1 {
  margin: 0;
}

#masquerade-block-1 > div > .form-item {
  margin: 0;
}

#masquerade-block-1 > div > .form-item  > .description {
  background-color: inherit;

  margin: 0;
  padding: 1px;
  border: none;
}

#masquerade-block-1 > div > .container-inline > input {
  display: inline-block;

  color: #00477f;
  background-color: #fad703;

  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;

  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px #FEFEFE;

  margin: 1px;
  padding: 3px 4px;

  border: 1px outset #333333;
  border-radius: 3px 3px 3px 3px;

  cursor: pointer;
}

#masquerade-block-1 > div > .container-inline > input:hover,
#masquerade-block-1 > div > .container-inline > input:active,
#masquerade-block-1 > div > .container-inline > input:focus {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#masquerade-block-1 > div > .container-inline > input:active {
  border: 1px inset #333333;
}



/*** Views - Admin Form ***/
.mcneese .views-admin > .form-edit .views-ui-display-tab-bucket,
.mcneese .views-admin > .form-edit .views-display-column > .ctools-collapsible-handle {
  border-color: #c0c0c0;
}

.mcneese .views-admin > .form-edit .views-ui-display-tab-bucket > .even,
.mcneese .views-admin > .form-edit .views-display-top {
  background-color: #f3f3f3;
}

.mcneese .views-admin > .form-edit .views-ui-display-tab-bucket > .views-display-setting {
  color: #303030;
}

.mcneese .views-admin > .form-edit .views-displays .secondary > li.active > a,
.mcneese .views-admin > .form-edit .views-displays .secondary > li.active > a:visited,
.mcneese .views-admin > .form-edit .views-displays .secondary > li > a:hover,
.mcneese .views-admin > .form-edit .views-displays .secondary > li > a:active,
.mcneese .views-admin > .form-edit .views-displays .secondary > li > a:focus {
  background-color: #505050;
}



/*** Workbench Moderation ***/
.mcneese .published-revision > td {
  background-color: #d4eecc;
}

.mcneese .published-revision > td a,
.mcneese .published-revision > td a:visited {
  color: #002a5d;
}

.mcneese .published-revision > td a:hover,
.mcneese .published-revision > td a:active,
.mcneese .published-revision > td a:focus {
  color: #7f0000;
}



/*** Vertical Tabs ***/
.mcneese .vertical-tabs {
  display: inline-block;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  margin: 5px 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese .vertical-tabs > .vertical-tabs-list {
  display: inline-block;
  vertical-align: top;

  width: 20%;
  min-width: 20%;
  max-width: 20%;

  margin: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese .vertical-tabs > .vertical-tabs-list > .vertical-tab-button {
  word-break: break-word;
}

.mcneese .vertical-tabs > .vertical-tabs-panes {
  display: inline-block;
  vertical-align: top;

  width: 80%;
  min-width: 80%;
  max-width: 80%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mcneese .vertical-tabs > .vertical-tabs-panes  > .vertical-tabs-pane {
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}



/*** Horizontal Tabs ***/
.mcneese .horizontal-tabs fieldset.horizontal-tabs-pane {
  border: 0;
  margin: 0;
  padding: 0 6px;
}

.mcneese .horizontal-tabs .horizontal-tab-hidden {
  display: block;
  position: relative;
  top: 0;
  left: 0;

  visibility: hidden;
  overflow: hidden;

  font-size: 0;
  line-height: 0;

  width: 0;
  min-width: 0;
  max-width: 0;

  height: 0;
  min-height: 0;
  max-height: 0;

  margin: 0;
  padding: 0;
  border: none;
}



/*** Calendar Styles - For Original Calendar Code (From old theme - this is temporary) ***/
#mcneese-page div.view-display-id-event_listing {
  position: relative;

  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;

  font-family: Serif, Georgia, Times New Roman;

  margin-top: 10px;
}

#mcneese-page div.view-display-id-event_listing div.view-content div.views-row {
  margin-bottom: 15px;
}

#mcneese-page div.view-display-id-event_listing div.view-content div.views-row-even {
  background-color: #efefef;
}

#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a,
#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a:visited {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a:focus,
#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a:hover,
#mcneese-page div.view-display-id-event_listing div.view-content div.views-field-title a:active {
  color: #7f0000;

  text-decoration: underline;
}

#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.monthview a,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.monthview a:visited,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.dayview a,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.dayview a:visited,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.weekview a,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.weekview a:visited {
  color: #ffffff;
}

#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.monthview a:focus,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.monthview a:hover,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.monthview a:active,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.dayview a:focus,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.dayview a:hover,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.dayview a:active,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.weekview a:focus,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.weekview a:hover,
#mcneese-page div.calendar-standard div.calendar-calendar td.multi-day div.weekview a:active {
  color: #ffee00;
}

#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.monthview a,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.monthview a:visited,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.dayview a,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.dayview a:visited,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.weekview a,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.weekview a:visited {
  color: #ffffff;
}

#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.monthview a:focus,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.monthview a:hover,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.monthview a:active,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.dayview a:focus,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.dayview a:hover,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.dayview a:active,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.weekview a:focus,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.weekview a:hover,
#mcneese-page div.calendar-standard div.calendar-calendar td.single-day div.weekview a:active {
  color: #ffee00;
}

#mcneese-page div.calendar-standard > div.view-header > div.date-nav-wrapper > div.date-nav {
  padding-bottom: 4px;
}

#mcneese-page .calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
#mcneese-page .calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
  display: block;
  position: relative;

  width: auto;
  left: 0;
  padding: 0 2px;
}

#mcneese-page .calendar-calendar .month-view .full td.multi-day div.monthview,
#mcneese-page .calendar-calendar .week-view .full td.multi-day div.weekview,
#mcneese-page .calendar-calendar .day-view .full td.multi-day div.dayview,
#mcneese-page .calendar-calendar .month-view .full td.single-day div.monthview,
#mcneese-page .calendar-calendar .week-view .full td.single-day div.weekview,
#mcneese-page .calendar-calendar .day-view .full td.single-day div.dayview {
  height: auto;
  line-height: 1.7em;
  margin: 1px 0;
  padding: 0;

  text-align: center;
}

#mcneese-page .calendar-calendar .day-view .full td .inner div.calendar div,
#mcneese-page .calendar-calendar .day-view .full td .inner div.calendar div a {
  margin: 0;
}

#mcneese-page .calendar-calendar .day-view .full td.multi-day div.dayview .cutoff {
  display: none;
}

#mcneese-page .calendar-calendar td .calendar div.calendar {
  padding: 0;
}

#mcneese-page .calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
#mcneese-page .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
#mcneese-page .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
#mcneese-page .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  padding: 0;
}

#mcneese-page .calendar-calendar td {
  color: #000000;
}

#mcneese-page .calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
#mcneese-page .calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
  padding: 0;
}

#mcneese-page .calendar > .contents > a,
#mcneese-page .calendar > .contents > .views-field > .field-content > a {
  display: block;

  padding: 3px;
}

#mcneese-page .calendar > .contents > a,
#mcneese-page .calendar > .contents > a:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > a,
#mcneese-page .calendar > .contents > .views-field > .field-content > a:visited {
  background-color: #6384b8;
}

#mcneese-page .calendar > .contents > .event-255,
#mcneese-page .calendar > .contents > .event-249,
#mcneese-page .calendar > .contents > .event-252,
#mcneese-page .calendar > .contents > .event-255:visited,
#mcneese-page .calendar > .contents > .event-249:visited,
#mcneese-page .calendar > .contents > .event-252:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-255,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-249,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-252,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-255:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-249:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-252:visited {
  background-color: #e6e993;
}

#mcneese-page .calendar > .contents > .event-255,
#mcneese-page .calendar > .contents > .event-249,
#mcneese-page .calendar > .contents > .event-252,
#mcneese-page .calendar > .contents > .event-255:visited,
#mcneese-page .calendar > .contents > .event-249:visited,
#mcneese-page .calendar > .contents > .event-252:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-255,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-249,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-252,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-255:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-249:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-252:visited {
  color: #002080;
}

#mcneese-page .calendar > .contents > .event-255:focus,
#mcneese-page .calendar > .contents > .event-249:focus,
#mcneese-page .calendar > .contents > .event-252:focus,
#mcneese-page .calendar > .contents > .event-255:active,
#mcneese-page .calendar > .contents > .event-249:active,
#mcneese-page .calendar > .contents > .event-252:active,
#mcneese-page .calendar > .contents > .event-255:hover,
#mcneese-page .calendar > .contents > .event-249:hover,
#mcneese-page .calendar > .contents > .event-252:hover,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-255:focus,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-249:focus,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-252:focus,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-255:active,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-249:active,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-252:active,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-255:hover,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-249:hover,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-252:hover {
  color: #5f0000;
}

#mcneese-page .calendar > .contents > .event-256,
#mcneese-page .calendar > .contents > .event-250,
#mcneese-page .calendar > .contents > .event-256:visited,
#mcneese-page .calendar > .contents > .event-250:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-256,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-250,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-256:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-250:visited {
  background-color: #9c4f4b;
}

#mcneese-page .calendar > .contents > .event-292,
#mcneese-page .calendar > .contents > .event-292:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-292,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-292:visited {
  background-color: #418e38;
}

#mcneese-page .calendar > .contents > .event-399,
#mcneese-page .calendar > .contents > .event-399:visited,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-399,
#mcneese-page .calendar > .contents > .views-field > .field-content > .event-399:visited {
  background-color: #975700;
}
