.slider-wrapper.theme-mcneese_frontpage {
  overflow: hidden;

  max-height: 379px;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .nivo-caption .nivo-caption-title,
.slider-wrapper .nivo-caption .nivo-caption-title:visited {
  color: #fad703;

  font-size: 18px;
  font-weight: bold;

  text-decoration: none;
}

.slider-wrapper .nivo-caption .nivo-caption-title:focus,
.slider-wrapper .nivo-caption .nivo-caption-title:active,
.slider-wrapper .nivo-caption .nivo-caption-title:hover {
  text-decoration: underline;
}

.slider-wrapper .nivo-caption .nivo-caption-subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.slider-wrapper .nivo-controlNav {
  position: absolute;

  right: -283px;

  width: 280px;
  max-width: 280px;

  overflow: hidden;
}

.slider-wrapper .nivo-controlNav .nivo-control {
  display: inline-block;

  border: 0 none;

  height: 123px;
  width: 130px;

  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 3px;
}
