/*
 * Note: Include the msu-slider.css file that comes
 * with the main download before including this file.
 */

/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
.msuSlider {
  -moz-box-shadow: 0 0 5px #333;
  -webkit-box-shadow: 0 0 5px #333;
  box-shadow: 0 0 5px #333;
  background: url("images/loading.gif") no-repeat scroll 50% 50% #EFE9D1;
}

.msu-controlNav {
	position:absolute;
	left:41%;
	bottom:-32px;
}
.msu-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.msu-controlNav a.active {
	background-position:0 -22px;
}

.msu-controlNav img {
	width:100%;
	height:100%;
}

.msu-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.msu-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.msu-prevNav {
	left:15px;
}

.msu-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.msu-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
