/* $Id: layout.css,v 1.8 2011/01/14 03:12:40 jmburnz Exp $ */

/* Standard 3 column, em based widths. */
#genesis-1a .two-sidebars .content-inner{margin:0 22em;}
#genesis-1a .sidebar-first .content-inner{margin-left:22em;}
#genesis-1a .sidebar-second .content-inner{margin-right:22em;}
#genesis-1a #sidebar-first{width:20em;margin-left:-100%;}
#genesis-1a #sidebar-second{width:20em;margin-left:-20em;}

/* Standard 3 column, % based widths. */
#genesis-1b .two-sidebars .content-inner{margin:0 25.25%;}
#genesis-1b .sidebar-first .content-inner{margin-left:25.25%;}
#genesis-1b .sidebar-second .content-inner{margin-right:25.25%;}
#genesis-1b #sidebar-first{width:24.25%;margin-left:-100%;}
#genesis-1b #sidebar-second{width:24.25%;margin-left:-24.25%;}

/* Standard 3 column, px based widths (default). */
#genesis-1c .two-sidebars .content-inner{margin:0 260px;}
#genesis-1c .sidebar-first .content-inner{margin-left:260px;}
#genesis-1c .sidebar-second .content-inner{margin-right:260px;}
#genesis-1c #sidebar-first{width:240px;margin-left:-100%;}
#genesis-1c #sidebar-second{width:240px;margin-left:-240px;}

/* Both sidebars right, em based widths. */
#genesis-2a .two-sidebars .content-inner{margin-right:44em;}
#genesis-2a .sidebar-first .content-inner{margin-right:22em;}
#genesis-2a .sidebar-second .content-inner{margin-right:22em;}
#genesis-2a #sidebar-first{width:20em;margin-left:-42em;}
#genesis-2a #sidebar-second{width:20em;margin-left:-20em;}
#genesis-2a .sidebar-first #sidebar-first{width:20em;margin-left:-20em;}

/* Both sidebars right, % based widths. */
#genesis-2b .two-sidebars .content-inner{margin-right:50.5%;}
#genesis-2b .sidebar-first .content-inner{margin-right:25.25%;}
#genesis-2b .sidebar-second .content-inner{margin-right:25.25%;}
#genesis-2b #sidebar-first{width:24.25%;margin-left:-49.5%;}
#genesis-2b #sidebar-second{width:24.25%;margin-left:-24.25%;}
#genesis-2b .sidebar-first #sidebar-first{width:24.25%;margin-left:-24.25%;}

/* Both sidebars right, px based widths. */
#genesis-2c .two-sidebars .content-inner{margin-right:520px;}
#genesis-2c .sidebar-first .content-inner{margin-right:260px;}
#genesis-2c .sidebar-second .content-inner{margin-right:260px;}
#genesis-2c #sidebar-first{width:240px;margin-left:-500px;}
#genesis-2c #sidebar-second{width:240px;margin-left:-240px;}
#genesis-2c .sidebar-first #sidebar-first{width:240px;margin-left:-240px;}

/* Both sidebars left, em based widths. */
#genesis-3a .two-sidebars .content-inner{margin-left:44em;}
#genesis-3a .sidebar-first .content-inner{margin-left:22em;}
#genesis-3a .sidebar-second .content-inner{margin-left:22em;}
#genesis-3a #sidebar-first{width:20em;margin-left:-100%;}
#genesis-3a #sidebar-second{width:20em;margin-left:-100%;}
#genesis-3a .two-sidebars #sidebar-second{width:20em;position:relative;left:22em;}

/* Both sidebars left, % based widths. */
#genesis-3b .two-sidebars .content-inner{margin-left:50.5%;}
#genesis-3b .sidebar-first .content-inner{margin-left:25.25%;}
#genesis-3b .sidebar-second .content-inner{margin-left:25.25%;}
#genesis-3b #sidebar-first{width:24.25%;margin-left:-100%;}
#genesis-3b #sidebar-second{width:24.25%;margin-left:-100%;}
#genesis-3b .two-sidebars #sidebar-second{width:24.25%;position:relative;left:25.25%;}

/* Both sidebars left, px based widths. */
#genesis-3c .two-sidebars .content-inner{margin-left:520px;}
#genesis-3c .sidebar-first .content-inner{margin-left:260px;}
#genesis-3c .sidebar-second .content-inner{margin-left:260px;}
#genesis-3c #sidebar-first{width:240px;margin-left:-100%;}
#genesis-3c #sidebar-second{width:240px;margin-left:-100%;}
#genesis-3c .two-sidebars #sidebar-second{width:240px;position:relative;left:260px;}

/* Golden rule layout (63%/37%), % based widths, only use one sidebar, never both! */
#genesis-4 .two-sidebars .content-inner{margin-right:40%;}
#genesis-4 .sidebar-first .content-inner{margin-right:40%;}
#genesis-4 .sidebar-second .content-inner{margin-right:40%;}
#genesis-4 #sidebar-first{width:37%;margin-left:-37%;}
#genesis-4 #sidebar-second{width:37%;margin-left:-37%;}
#genesis-4 .sidebar-first #sidebar-first{width:37%;margin-left:-37%;}

/* Layout helpers. */

body {background:#f3f3f3;}

#container{background:#fff;position:relative;margin:0 auto; width:960px;}

#header {background:url(../images/web_b_02.png)repeat-x; height:134px; margin:0 auto; width:940px;}

#branding {float:left; height:121px; width:256px;}

#logo {height:121px; margin-left:0px; width:256px;}


/*TOP NAV STYLES*/

#main-menu { font-family:Arial, Helvetica, sans-serif;}

ul#main-menu { font-size:13px; list-style:none; margin:0; padding:0; }

ul#main-menu li { display:block; float:left; margin:0; padding-right:1px; padding-top:84px; width:auto; }

ul#main-menu li a { background:#1e1e1e; color:#f2f2f2; display:block; height:15px; padding:12px; text-decoration:none; }

ul#main-menu li a:hover { color:#00477f; background:#fad703;}

ul#main-menu li#active a { color:#00477f; background:#fad703; } 

/*END NAV STYLES*/

#featured { background:#eee; height:383px; margin:0 auto; width:940px;}

/*NIVO SLIDER STYLES*/

#slider { height:383px; position:relative; width:940px;}

#slider img { display:none; left:0px; position:absolute; top:0px;}

#slider a { border:0; display:block;}

.nivo-directionNav a { display:block; width:30px; height:30px; background: url(../images/arrows.png); text-indent:-9999px; border:0; }

a.nivo-nextNav { background-position:-30px 0; right:15px; }

a.nivo-prevNav { left:15px; }

/*END NIVO SLIDER STYLES*/





#columns{ background:#fff; display:block; height:800px; margin:0 auto; width:940px; }
#container > #columns{display:block;}
#content { clear:both;margin:0 auto; width:940px; }
#content-column,#sidebar-first,#sidebar-second{float:left;}
#content-column{width:100%;margin-bottom:1em;}
.clear,#main-menu-wrapper,#secondary-menu-wrapper,#columns,#breadcrumb,#secondary-content,#tertiary-content,#footer{clear:both;}

.node, node-article, node-promoted, node-teaser { float:left;height:388px;width:235px;}

.boxIn	{ height:388px; width:225px; }

.node-title a { color:#00477f; font-family:Georgia, "Times New Roman", Times, serif; font-size:13pt; line-height:20px; position:absolute; width:235px; top:750px; }


.field-item p { color:#333; display:block; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px; margin-top:70px; }

.field field-name-field-image field-type-image field-label-hidden {float:left;}
