/**
 * @file
 * Styles for the media library.
 *
 * The display and layout of the Media browser assumes Drupal's Seven theme as
 * the theme active when this is displayed.
 */

/* jQuery UI Resets */
#media-format-form .ui-tabs,
#media-browser-page .ui-tabs {
  padding: 0;
}

body > .ui-dialog.media-wrapper .ui-dialog-content,
body > .ui-dialog.media-wrapper .ui-dialog-content {
  padding: 0;
}

body > .ui-dialog.media-wrapper .ui-dialog-buttonpane,
body > .ui-dialog.media-wrapper .ui-dialog-buttonpane {
  display: none;
}

/* Remove the default border */
body > .ui-dialog.media-wrapper .ui-widget-content,
body > .ui-dialog.media-wrapper .ui-widget-content {
  border: none;
}

/* *********************************************************** */
/* Browser layout themeing */

/* Size the branding header appropriately */
#media-browser-tabset #branding {
  padding: 10px 10px 0px 10px;
}

#media-browser-tabset #branding h1 {
  float: left;
  height: 16px;
  margin-top: 0px;
}

/* Float the tabs right to keep the UI consistent across themes */
#media-tabs-wrapper {
  float: right;
}

#media-tabs-wrapper > .tabs {
  background: inherit;
}

#media-browser-tabset ul.tabs {
  padding: 0;
  border: none;
}

/* Reset the height to match the browser */
#media-browser-tabset ul.tabs.primary li a:link {
  font-weight: bold;
  margin-right: 0;
}

#media-browser-tabset {
  border: none;
}

/* *********************************************************** */
/* Media item display */

#media-format-form .media-item,
#media-browser-page .media-item {
  display: block;

  border: 1px solid #cccccc;
  padding: 5px;
}

/* Media Item Url */

#media-format-form .media-item-url,
#file-entity-admin-files .media-item-url,
#media-browser-page .media-item-url {
  margin: 5px;

  width: 12px;
  height: 12px;

  background-image: url(../images/icons/default/link-external.png);
  background-repeat: none;
  background-position: center;
}

#media-format-form .media-item img,
#file-entity-admin-files .media-item img,
#media-browser-page .media-item img {
  display: inline-block;
  height: auto;
  margin-bottom: 10px;
}

#media-format-form .media-item > .media-thumbnail,
#file-entity-admin-files .media-item > .media-thumbnail,
#media-browser-page .media-item > .media-thumbnail {
  display: inline-block;

  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

#media-format-form .media-item > .media-thumbnail > a > .file > img,
#file-entity-admin-files .media-item > .media-thumbnail > a > .file > img,
#media-browser-page .media-item > .media-thumbnail > a > .file > img {
  display: inline-block;

  width: 100px;
  min-width: 100px;
  max-width: 100px;

  height: 100px;
  min-height: 100px;
  max-height: 100px;
}

#media-format-form .media-item > .media-thumbnail > .label-wrapper,
#file-entity-admin-files .media-item > .media-thumbnail > .label-wrapper,
#media-browser-page .media-item > .media-thumbnail > .label-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#media-format-form .media-item > .media-thumbnail > .label-wrapper label,
#file-entity-admin-files .media-item > .media-thumbnail > .label-wrapper label,
#media-browser-page .media-item > .media-thumbnail > .label-wrapper label {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#media-format-form > .form-wrapper-inner > .media-item {
  float: left;
}

#media-format-form > .form-wrapper-inner > #edit-options,
#media-format-form > .form-wrapper-inner > .media-item {
  margin: 6px;
}

#file-entity-admin-files #media-browser-library-list > li > .media-item > .media-thumbnail > a:nth-of-type(2) {
  display: none;
}

/* Media item lists */

#media-browser-library-list {
  margin: 0;
  padding: 0;
}

#media-browser-library-list.media-list-thumbnails li {
  display: inline-block;
  list-style: none;
  margin: 0px 10px 25px 0px;

  vertical-align: top;
}

#media-browser-library-list.media-list-thumbnails li a {
  text-decoration: none;
}

#media-browser-library-list.media-list-thumbnails .media-item.selected {
  background: #F4ECC7;
  border-color: #058AC5;
}

#media-browser-library-list.media-list-thumbnails .media-item:hover {
  border-color: #058AC5;
  cursor: pointer;
}

#media-browser-library-list.media-list-thumbnails .media-item .label-wrapper label {
  color: #058AC5;
}

#media-browser-library-list.media-list-thumbnails .media-item .label-wrapper label:hover {
  cursor: pointer;
}

#media-browser-library-list.media-list-thumbnails .form-type-checkbox {
  display: inline-block;

  margin: 0;
  padding: 0;
}

/* File field */

#media-format-form .media-widget .preview,
#file-entity-admin-files .media-widget .preview,
#media-browser-page .media-widget .preview {
  display: inline-block;
  vertical-align: middle;
}

#media-format-form .media-widget .preview a,
#file-entity-admin-files .media-widget .preview a,
#media-browser-page .media-widget .preview a {
  text-decoration: none;
}

#media-format-form .media-widget .preview .media-item,
#file-entity-admin-files .media-widget .preview .media-item,
#media-browser-page .media-widget .preview .media-item {
  margin-right: 10px;
}

#media-format-form .media-widget .preview .media-item:hover,
#file-entity-admin-files .media-widget .preview .media-item:hover,
#media-browser-page .media-widget .preview .media-item:hover {
  border-color: #058AC5;
  cursor: pointer;
}

#media-format-form .media-widget .preview .media-item .label-wrapper label,
#file-entity-admin-files .media-widget .preview .media-item .label-wrapper label,
#media-browser-page .media-widget .preview .media-item .label-wrapper label {
  color: #058AC5;
}

#media-format-form .media-widget .preview .media-item .label-wrapper label:hover,
#file-entity-admin-files .media-widget .preview .media-item .label-wrapper label:hover,
#media-browser-page .media-widget .preview .media-item .label-wrapper label:hover {
  cursor: pointer;
}

/* Plupload */

body.page-media-format-form #media-browser-page .plupload_start {
  display: none;
}

/* Multiedit */

#media-format-form .media-multiedit-form .media-edit-form,
#file-entity-admin-files .media-multiedit-form .media-edit-form,
#media-browser-page .media-multiedit-form .media-edit-form {
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 1em;
  margin-top: 1.5em;
}
