/*** Common Cleanups ***/
body,
h3,
h4,
h5,
h6,
form,
fieldset {
  margin: 0;
}



/*** Login Form ***/
form#user-login-form {
  text-align: center;
}



/*** Content Specific Customization ***/
html#ckeditor-wysiwygarea body,
div.drupal_content {
  position: relative;
}

html#ckeditor-wysiwygarea body {
  margin-left: auto;
  margin-right: auto;
}

h1.drupal_page_title {
  font-size: 24px;
  font-weight: normal;
  color: #00335b;

  text-shadow: -1px 1px 3px #aaaaaa;

  padding: 4px 0;
  margin: 0;

  page-break-before: avoid;
}

html#ckeditor-wysiwygarea,
div.drupal_content {
  font-size: 14px;
}

html#ckeditor-wysiwygarea p,
div.drupal_content p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.2;
}

html#ckeditor-wysiwygarea h2,
div.drupal_content h2 {
  font-weight: normal;
  margin-bottom: 15px;
}



/*** Content Specific Style: calendar pages ***/
div.view-id-master_calendar.view-display-id-event_listing {
  position: relative;

  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;

  font-family: Serif, Georgia, Times New Roman;

  margin-top: 10px;
}

div.view-id-master_calendar.view-display-id-event_listing div.view-content div.views-row {
  margin-bottom: 15px;
}

div.view-id-master_calendar.view-display-id-event_listing div.view-content div.views-row-even {
  background-color: #efefef;
}

div.view-id-master_calendar.view-display-id-event_listing div.view-content div.views-field-title a,
div.view-id-master_calendar.view-display-id-event_listing div.view-content div.views-field-title a:visited {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

div.view-id-master_calendar.view-display-id-event_listing div.view-content div.views-field-title a:focus,
div.view-id-master_calendar.view-display-id-event_listing div.view-content div.views-field-title a:hover,
div.view-id-master_calendar.view-display-id-event_listing div.view-content div.views-field-title a:active {
  color: #7f0000;

  text-decoration: underline;
}



/*** Content Specific Style: list-box ***/
html#ckeditor-wysiwygarea body .list-box,
div.drupal_content div.node-content .list-box {
  display: block;

  background-color: #eaeaea;

  border: 1px solid #d0d0d0;

  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-box a,
html#ckeditor-wysiwygarea body .list-box a:visited,
div.drupal_content div.node-content .list-box a,
div.drupal_content div.node-content .list-box a:visited {
  text-decoration: none;
}

div.drupal_content div.node-content th {
  color: #ffffff;
  background-color: #00477f;
  margin: 5px;
  border-bottom: 1px;
  text-align: center;
}

div.drupal_content div.node-content td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom:2px;
  border-top: 1px solid #A9A9A9;
  border-right: 1px solid #A9A9A9;
}

div.drupal_content div.node-content table caption {
  font-size:18px;
  font-weight: bold;
}

div.drupal_content div.node-content table {
  background-color: #eaeaea;
  border: 1px solid #A9A9A9;
  margin:  5px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

html#ckeditor-wysiwygarea body .list-box a:focus,
html#ckeditor-wysiwygarea body .list-box a:hover,
html#ckeditor-wysiwygarea body .list-box a:active,
div.drupal_content div.node-content .list-box a:focus,
div.drupal_content div.node-content .list-box a:hover,
div.drupal_content div.node-content .list-box a:active {
  text-decoration: underline;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title,
div.drupal_content div.node-content .list-box .list-box-title {
  color: #ffffff;
  background-color: #00477f;

  font-size: 18px;

  padding: 3px;
  margin: 0;

  border: 1px solid #00366e;
}

div.drupal_content div.node-content .list-box .list-box-title a,
div.drupal_content div.node-content .list-box .list-box-title a:visited {
  color: #ffffff;
  background-color: #00477f;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title a,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:visited {
  color: #ffffff !important;
  background-color: #00477f;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title a,
div.drupal_content div.node-content .list-box .list-box-title a,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:visited,
div.drupal_content div.node-content .list-box .list-box-title a:visited {
  text-decoration: none;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title a:focus,
div.drupal_content div.node-content .list-box .list-box-title a:focus,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:active,
div.drupal_content div.node-content .list-box .list-box-title a:active,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:hover,
div.drupal_content div.node-content .list-box .list-box-title a:hover {
  color: #fad703;
  text-decoration: underline;
}

html#ckeditor-wysiwygarea body .list-box ul,
html#ckeditor-wysiwygarea body .list-box ol,
div.drupal_content div.node-content .list-box ul,
div.drupal_content div.node-content .list-box ol {
  padding-left: 25px;

  margin-top: 5px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-box ul li a,
html#ckeditor-wysiwygarea body .list-box ol li a,
div.drupal_content div.node-content .list-box ul li a,
div.drupal_content div.node-content .list-box ol li a {
  display: block;
  padding: 2px 4px;
}

html#ckeditor-wysiwygarea body .list-box p,
div.drupal_content div.node-content .list-box p {
  margin-top: 10px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-box .list-box-body,
div.drupal_content div.node-content .list-box .list-box-body {
  padding-left: 10px;
  padding-right: 10px;
}

html#ckeditor-wysiwygarea body .list-box .list-box-body2,
div.drupal_content div.node-content .list-box .list-box-body2 {
  padding-left: 0;
  padding-right: 0;
}

html#ckeditor-wysiwygarea body .list-box .list-box-center,
div.drupal_content div.node-content .list-box .list-box-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*** Content Specific Style: margin_height ***/
html#ckeditor-wysiwygarea body .margin_height-huge,
div.drupal_content div.node-content .margin_height-huge {
  margin-top: 60px;
  margin-bottom: 60px;
}

html#ckeditor-wysiwygarea body .margin_height-large,
div.drupal_content div.node-content .margin_height-large {
  margin-top: 30px;
  margin-bottom: 30px;
}

html#ckeditor-wysiwygarea body .margin_height-middle,
div.drupal_content div.node-content .margin_height-middle {
  margin-top: 15px;
  margin-bottom: 15px;
}

html#ckeditor-wysiwygarea body .margin_height-small,
div.drupal_content div.node-content .margin_height-small {
  margin-top: 5px;
  margin-bottom: 5px;
}

html#ckeditor-wysiwygarea body .margin_height-tiny,
div.drupal_content div.node-content .margin_height-tiny {
  margin-top: 1px;
  margin-bottom: 1px;
}

html#ckeditor-wysiwygarea body .margin_height-none,
div.drupal_content div.node-content .margin_height-none {
  margin-top: 0;
  margin-bottom: 0;
}



/*** Content Specific Style: margin_width ***/
html#ckeditor-wysiwygarea body .margin_width-huge,
div.drupal_content div.node-content .margin_width-huge {
  margin-left: 60px;
  margin-right: 60px;
}

html#ckeditor-wysiwygarea body .margin_width-large,
div.drupal_content div.node-content .margin_width-large {
  margin-left: 30px;
  margin-right: 30px;
}

html#ckeditor-wysiwygarea body .margin_width-middle,
div.drupal_content div.node-content .margin_width-middle {
  margin-left: 15px;
  margin-right: 15px;
}

html#ckeditor-wysiwygarea body .margin_width-small,
div.drupal_content div.node-content .margin_width-small {
  margin-left: 5px;
  margin-right: 5px;
}

html#ckeditor-wysiwygarea body .margin_width-tiny,
div.drupal_content div.node-content .margin_width-tiny {
  margin-left: 1px;
  margin-right: 1px;
}

html#ckeditor-wysiwygarea body .margin_width-none,
div.drupal_content div.node-content .margin_width-none {
  margin-left: 0;
  margin-right: 0;
}



/*** Content Specific Style: layout-column_1 ***/
html#ckeditor-wysiwygarea body .layout-column_1,
div.drupal_content div.node-content .layout-column_1 {
  display: block;

  width: 99%;
}



/*** Content Specific Style: layout-column_2 ***/
html#ckeditor-wysiwygarea body .layout-column_2,
div.drupal_content div.node-content .layout-column_2 {
  display: inline-block;

  width: 49%;
}



/*** Content Specific Style: layout-column_3 ***/
html#ckeditor-wysiwygarea body .layout-column_3,
div.drupal_content div.node-content .layout-column_3 {
  display: inline-block;

  width: 32%;
}



/*** Content Specific Style: layout-column_4 ***/
html#ckeditor-wysiwygarea body .layout-column_4,
div.drupal_content div.node-content .layout-column_4 {
  display: inline-block;

  width: 24%;
}



/*** Content Specific Style: layout-column_5 ***/
html#ckeditor-wysiwygarea body .layout-column_5,
div.drupal_content div.node-content .layout-column_5 {
  display: inline-block;

  width: 19%;
}



/*** Content Specific Style: list-even-odd ***/
html#ckeditor-wysiwygarea body .list-even_odd .list-even_odd-row,
div.drupal_content div.node-content .list-even_odd .list-even_odd-row,
html#ckeditor-wysiwygarea body .list-even_odd .list-even-odd-row,
div.drupal_content div.node-content .list-even_odd .list-even-odd-row {
  font-family: Serif,Georgia,Times New Roman;
  letter-spacing: 1px;

  padding: 5px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-even_odd .list-even_odd-row_even,
div.drupal_content div.node-content .list-even_odd .list-even_odd-row_even,
html#ckeditor-wysiwygarea body .list-even_odd .list-even-odd-row.views-row-even,
div.drupal_content div.node-content .list-even_odd .list-even-odd-row.views-row-even {
  background-color: #efefef;
}


html#ckeditor-wysiwygarea body .list-even_odd .list-even_odd-row-title,
div.drupal_content div.node-content .list-even_odd .list-even_odd-row-title,
html#ckeditor-wysiwygarea body .list-even_odd .list-even_odd-row-title:visited,
div.drupal_content div.node-content .list-even_odd .list-even_odd-row-title:visited,
html#ckeditor-wysiwygarea body .list-even_odd .list-even-odd-row.views-row-title,
div.drupal_content div.node-content .list-even_odd .list-even-odd-row.views-row-title
html#ckeditor-wysiwygarea body .list-even_odd .list-even-odd-row.views-row-title:visited,
div.drupal_content div.node-content .list-even_odd .list-even-odd-row.views-row-title:visited {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
