/*** Cleanup ***/
/* These apply styling changes following the reset.css */
body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #ffffff;
}

body#genesis_mcneese {
  background-color: #dadada;
}

html#ckeditor-wysiwygarea,
div#container,
div#leaderboard,
div#secondary-menu-wrapper,
div#header,
div#main-menu-wrapper,
div#main-content,
div#secondary-content,
div#columns,
div#sidebar-first,
div#content-column,
div#sidebar-second,
div#tertiary-content,
div#content,
div#footer {
  position: relative;
}

.element-invisible {
  display: block;

  font-size: 0;

  width: 0;
  max-width: 0;
  height: 0;
  max-height: 0;
  overflow: hidden;
}

input.form-submit, a.button {
  border: 1px outset #333333;
  cursor: pointer;
  padding: 2px 4px;
  margin: 0 1px 1px 2px;
}

.nivo-directionNav a {
  display:block;

  background: url(../images/arrows.png);
  text-indent: -9999px;

  width: 30px;
  height: 30px;

  border: 0;
}

a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}

a.nivo-prevNav {
  left: 15px;
}

img.box_shadow {
  box-shadow: 2px 2px 1px #888888;
}

select,
input,
textarea,
textarea.form-textarea {
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc #999999 #999999 #cccccc;
}

html#ckeditor-wysiwygarea,
div#content {
  font-size: 14px;
}

html#ckeditor-wysiwygarea p,
div#content p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.2;
}

html#ckeditor-wysiwygarea h2,
div#content h2 {
  font-weight: normal;
  margin-bottom: 15px;
}

ul.menu {
  margin: 0;
  padding: 0;
}

a:focus {
  border: 1px dotted #555555;
}

a,
a:visited {
  color: #00477f;
}

a:focus,
a:active,
a:hover {
  color: #7f0000;
}

div#edit-basic div.form-item-keys,
div#edit-basic div.form-item-keys label,
input#edit-name,
input#edit-keys,
input#edit-pass {
  height: 23px;
  min-height: 23px;
  max-height: 23px;
  line-height: 21px;
}



/*** Content Specific Customization ***/
html#ckeditor-wysiwygarea body {
  position: relative;
}

html#ckeditor-wysiwygarea body,
div#columns {
  min-height: 500px;

  margin-top: 10px;
}



/*** Content Specific Style: list-box ***/
html#ckeditor-wysiwygarea body .list-box,
div#content div.node-content .list-box {
  display: block;

  background-color: #eaeaea;

  border: 1px solid #d0d0d0;

  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-box a,
html#ckeditor-wysiwygarea body .list-box a:visited,
div#content div.node-content .list-box a,
div#content div.node-content .list-box a:visited {
  text-decoration: none;
}

html#ckeditor-wysiwygarea body .list-box a:focus,
html#ckeditor-wysiwygarea body .list-box a:hover,
html#ckeditor-wysiwygarea body .list-box a:active,
div#content div.node-content .list-box a:focus,
div#content div.node-content .list-box a:hover,
div#content div.node-content .list-box a:active {
  text-decoration: underline;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title,
div#content div.node-content .list-box .list-box-title {
  color: #ffffff;
  background-color: #00477f;

  padding: 4px;
  margin: 0;

  border: 1px solid #00366e;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title a,
div#content div.node-content .list-box .list-box-title a,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:visited,
div#content div.node-content .list-box .list-box-titlea:visited {
  color: #ffffff;
  background-color: #00477f;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title a,
div#content div.node-content .list-box .list-box-title a,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:visited,
div#content div.node-content .list-box .list-box-title a:visited {
  text-decoration: none;
}

html#ckeditor-wysiwygarea body .list-box .list-box-title a:focus,
div#content div.node-content .list-box .list-box-title a:focus,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:active,
div#content div.node-content .list-box .list-box-title a:active,
html#ckeditor-wysiwygarea body .list-box .list-box-title a:hover,
div#content div.node-content .list-box .list-box-title a:hover {
  color: #fad703;
  text-decoration: underline;
}

html#ckeditor-wysiwygarea body .list-box ul,
html#ckeditor-wysiwygarea body .list-box ol,
div#content div.node-content .list-box ul,
div#content div.node-content .list-box ol {
  padding-left: 25px;

  margin-top: 5px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-box ul li a,
html#ckeditor-wysiwygarea body .list-box ol li a,
div#content div.node-content .list-box ul li a,
div#content div.node-content .list-box ol li a {
  display: block;
  padding: 2px 4px;
}

html#ckeditor-wysiwygarea body .list-box p,
div#content div.node-content .list-box p {
  margin-top: 10px;
  margin-bottom: 10px;
}

html#ckeditor-wysiwygarea body .list-box .list-box-body,
div#content div.node-content .list-box .list-box-body {
  padding-left: 10px;
  padding-right: 10px;
}

html#ckeditor-wysiwygarea body .list-box .list-box-body2,
div#content div.node-content .list-box .list-box-body2 {
  padding-left: 0;
  padding-right: 0;
}

html#ckeditor-wysiwygarea body .list-box .list-box-center,
div#content div.node-content .list-box .list-box-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*** Content Specific Style: margin_height ***/
html#ckeditor-wysiwygarea body .margin_height-huge,
div#content div.node-content .margin_height-huge {
  margin-top: 60px;
  margin-bottom: 60px;
}

html#ckeditor-wysiwygarea body .margin_height-large,
div#content div.node-content .margin_height-large {
  margin-top: 30px;
  margin-bottom: 30px;
}

html#ckeditor-wysiwygarea body .margin_height-middle,
div#content div.node-content .margin_height-middle {
  margin-top: 15px;
  margin-bottom: 15px;
}

html#ckeditor-wysiwygarea body .margin_height-small,
div#content div.node-content .margin_height-small {
  margin-top: 5px;
  margin-bottom: 5px;
}

html#ckeditor-wysiwygarea body .margin_height-tiny,
div#content div.node-content .margin_height-tiny {
  margin-top: 1px;
  margin-bottom: 1px;
}

html#ckeditor-wysiwygarea body .margin_height-none,
div#content div.node-content .margin_height-none {
  margin-top: 0;
  margin-bottom: 0;
}



/*** Content Specific Style: margin_width ***/
html#ckeditor-wysiwygarea body .margin_width-huge,
div#content div.node-content .margin_width-huge {
  margin-left: 60px;
  margin-right: 60px;
}

html#ckeditor-wysiwygarea body .margin_width-large,
div#content div.node-content .margin_width-large {
  margin-left: 30px;
  margin-right: 30px;
}

html#ckeditor-wysiwygarea body .margin_width-middle,
div#content div.node-content .margin_width-middle {
  margin-left: 15px;
  margin-right: 15px;
}

html#ckeditor-wysiwygarea body .margin_width-small,
div#content div.node-content .margin_width-small {
  margin-left: 5px;
  margin-right: 5px;
}

html#ckeditor-wysiwygarea body .margin_width-tiny,
div#content div.node-content .margin_width-tiny {
  margin-left: 1px;
  margin-right: 1px;
}

html#ckeditor-wysiwygarea body .margin_width-none,
div#content div.node-content .margin_width-none {
  margin-left: 0;
  margin-right: 0;
}



/*** Content Specific Style: layout-column_1 ***/
html#ckeditor-wysiwygarea body .layout-column_1,
div#content div.node-content .layout-column_1 {
  display: block;

  width: 99%;
}



/*** Content Specific Style: layout-column_2 ***/
html#ckeditor-wysiwygarea body .layout-column_2,
div#content div.node-content .layout-column_2 {
  display: inline-block;

  width: 49%;
}



/*** Content Specific Style: layout-column_3 ***/
html#ckeditor-wysiwygarea body .layout-column_3,
div#content div.node-content .layout-column_3 {
  display: inline-block;

  width: 32%;
}



/*** Content Specific Style: layout-column_4 ***/
html#ckeditor-wysiwygarea body .layout-column_4,
div#content div.node-content .layout-column_4 {
  display: inline-block;

  width: 24%;
}



/*** Content Specific Style: layout-column_5 ***/
html#ckeditor-wysiwygarea body .layout-column_5,
div#content div.node-content .layout-column_5 {
  display: inline-block;

  width: 19%;
}
