/** DEBUG ONLY DONT FORGET TO DELETE THIS!!!!!!!!!! **
div#toolbar {
  display: none;
}
/** DEBUG ONLY DONT FORGET TO DELETE THIS!!!!!!!!!! **/

/*** main ***/
body {
  background-color: #dadada;
}

div#container {
  position: relative;
  width: 940px;

  padding-left: 10px;
  padding-right: 10px;

  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
}


/*** Header **/
div#header {
  position: relative;

  width: 100%;
  height: 122px;
  max-height: 122px;

  background-color: #00477f;
  overflow: hidden;
}

div#branding,
div#header-blocks,
div#header-horizontal_ruler {
  position: absolute;
  vertical-align: top;
  width: 100%;
}

div#branding {
  top: 13px;
  left: 20px;
}

div#header-blocks {
  right: 0;

  height: 100%;
  overflow: hidden;
}

div#header-horizontal_ruler {
  position: absolute;
  top: 112px;

  width: 100%;
  height: 12px;

  background-color: #fad703;
}

div#block-system-main-menu,
div#block-system-main-menu.block-header {
  position: absolute;
  top: 72px;
  right: 0;

  clear: both;
}

/*** Header - search form ***/
div#block-search-form {
  position: absolute;

  top: 25px;
  right: 20px;
}

div#block-search-form div.form-item-search-block-form input.form-text {
  border: 2px inset #0f97ff;
}

div#block-search-form div.form-item-search-block-form input.form-text:hover {
  border: 2px solid #fad703;
}

div#block-search-form h2.block-title {
  display: none;
}

div#block-search-form form#search-block-form input#edit-submit {
  background-color: #003e6d;
  color: #ffffff;
  text-shadow: 0 2px 2px #000000;

  border: 1px solid #0f97ff;
  margin: 0px 10px 0 5px;
}

div#block-search-form form#search-block-form input#edit-submit:hover {
  color: #00477f;
  background: #fad703;
}


/*** Header - main menu ***/
div#block-system-main-menu  {
  height: 35px;

  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  border: 0;
}

div#block-system-main-menu div.block-inner div.content ul.menu {
  font-size: 12px;
  list-style: none;

  margin: 0;
  padding: 0;

  vertical-align: top;
}

div#block-system-main-menu div.block-inner div.content ul.menu li {
  display: inline-block;

  width: auto;

  list-style:none;

  margin: 0;
  padding: 6px 0 2px 0px;
}

div#block-system-main-menu div.block-inner div.content ul.menu li a {
  display: block;

  height: 28px;

  color: #f2f2f2;
  background-color: #1e1e1e;
  text-decoration: none;

  padding: 10px 9px 0px 9px;
}

div#block-system-main-menu div.block-inner div.content ul.menu li a:hover {
  color: #00477f;
  background: #fad703;
}

div#block-system-main-menu div.block-inner div.content ul.menu li.active-trail a {
  color: #00477f;
  background-color: #fad703;
}


/*** Header - home page slider **/
div#block-views-Slider-slider_block {
  position:relative;

  height:383px;
  width:940px;
}

div#block-views-Slider-slider_block img {
  display:none;

  position:absolute;
  top:0px;
  left:0px;
}

div#block-views-Slider-slider_block a {
  display:block;

  border:0;
}


/*** Content - columns **/
div#sidebar-first,
div#sidebar-second,
div#columns div#content-column {
  display: inline-block;
  vertical-align: top;
}

div#sidebar-first,
div#sidebar-second {
  width: 200px;
  max-width: 200px;

  overflow: none;
}

div#columns.sidebar-none div#content-column {
  width: 920px;
  max-width: 920px;
}

div#columns.sidebar-left div#content-column,
div#columns.sidebar-right div#content-column {
  width: 720px;
  max-width: 720px;
}

div#columns.sidebar-both div#content-column {
  width: 520px;
  max-width: 520px;
}


/*** Content - sidebar-left, all other menus menu **/
div.block-menu.block-sidebar-first {
  font-family: Arial,Helvetica,Sans-Serif,Sans;
  font-size: 0.8em;
}

div.block-menu.block-sidebar-first ul.menu {
  background-color: #c4c4c4;
}

div.block-menu.block-sidebar-first ul.menu li,
div.block-menu.block-sidebar-first ul.menu li.padding,
div.block-menu.block-sidebar-first ul.menu li.expanded,
div.block-menu.block-sidebar-first ul.menu li.leaf,
div.block-menu.block-sidebar-first ul.menu li.collapsed {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

div.block-menu.block-sidebar-first ul.menu li.leaf {
  border-top: 1px solid #dbdbdb;
}

div.block-menu.block-sidebar-first ul.menu li a,
div.block-menu.block-sidebar-first ul.menu li a:visited {
  display: block;
  color: #393939;
  text-decoration: none;
  text-shadow: 0 0.05em 0.05em #eeeeee;
  line-height: 1.7;

  padding: 2px 2px 2px 8px;
}

div.block-menu.block-sidebar-first ul.menu li a:hover,
div.block-menu.block-sidebar-first ul.menu li a:active {
  display: block;
  color: #ffffff;
  background-color: #828282;
  text-shadow: 0 0.05em 0.05em #000000;

  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
}


/*** Content - sidebar-left, navigation menu **/
div#block-system-navigation {
  font-family: Arial,Helvetica,Sans-Serif,Sans;
  font-size: 0.8em;
}

div#block-system-navigation ul.menu {
  background-color: #454545;
}

div#block-system-navigation ul.menu li,
div#block-system-navigation ul.menu li.padding,
div#block-system-navigation ul.menu li.expanded,
div#block-system-navigation ul.menu li.leaf,
div#block-system-navigation ul.menu li.collapsed {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

div#block-system-navigation ul.menu li.leaf {
  border-top: 1px solid #525252;
}

div#block-system-navigation ul.menu li a,
div#block-system-navigation ul.menu li a:visited {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0.05em 0.05em #000000;
  line-height: 1.7;

  padding: 2px 2px 2px 8px;
}

div#block-system-navigation ul.menu li a:hover,
div#block-system-navigation ul.menu li a:active {
  display: block;
  background-color: #828282;

  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
}


/*** Footer **/
div#footer {
  min-height: 10px;
  height: 10px;
}
