/*** Removal of unwanted elements ***/
div#skip-link,
div#toolbar,
div#header,
div#secondary-content,
div#sidebar-first,
div#main-content div.local-tasks,
div#main-content div.breadcrumb,
form#views-exposed-form-master-calendar-calendar-page,
div#subboard-image,
div#footer,
div.view-master-calendar div.feed-icon {
  display: none;
}



/*** Print CSS ***/
@page {
  margin: 2cm 1.5cm;

  width: auto;
  max-width: 99%;
}



/*** Content ***/
body.genesis_mcneese {
  background-color: #ffffff;
}

h1#page-title {
  color: #000000;

  text-shadow: none;
}

div#breadcrumb div.breadcrumb {
  display: none;
}

div#breadcrumb div.subtitle {
  display: block;

  margin-bottom: 5px;
}

div#breadcrumb div.subtitle .views-field-field-group {
  display: none;
}

div#breadcrumb div.subtitle .views-field-field-event-datetime {

}
