/*** main ***/
div#container {
  position: relative;

  width: 960px;

  padding: 0 5px 10px 5px;
  margin: 0 auto;

  background-color: #ffffff;

  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

div.region-help {
  margin-bottom: 10px;
}

div.region-help div.emergency {
  background-color: #f6cbca;
  border: 2px groove #ff7777;

  min-height: 250px;

  background-image: url(../images/emergency_background.png);
  background-repeat: no-repeat;

  font-size: 1.3em;
}

div.region-help div.emergency img.emergency-image {
  float: left;

  width: 280px;
  height: 250px;
}

div.region-help div.emergency div.emergency-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.region-help div.emergency h3.emergency-title {
  color: #aa0000;

  margin-left: 330px;
}

div.region-help div.emergency p.emergency-message {
  margin-left: 330px;
}



/*** Header **/
div#header {
  position: relative;

  width: 100%;
  height: 122px;
  max-height: 122px;

  background-color: #00477f;
  overflow: hidden;
}

div#branding img {
  position: absolute;
  top: 13px;
  left: 20px;
}

div#header-blocks {
  right: 0;

  height: 100%;
  overflow: hidden;
}

div#header-horizontal_ruler {
  position: absolute;
  top: 112px;

  width: 100%;
  height: 12px;

  background-color: #fad703;
}

div#block-menu-menu-primary-navigation,
div#block-menu-menu-primary-navigation.block-header {
  position: absolute;
  top: 72px;
  right: 0;

  clear: both;
}



/*** Header - search form ***/
div#block-search-form {
  position: absolute;

  top: 25px;
  right: 20px;
}

div#block-search-form {
  display: inline-block;

  background-color: #ffffff;

  height: 20px;
  min-height: 20px;
  max-height: 20px;
  overflow: hidden;

  border: 2px inset #0f5eff;
  padding: 2px;
}

div#block-search-form div.form-item-search-block-form input.form-text {
  vertical-align: baseline;

  border: 0;
  margin: 0;
  padding: 0;
}

div#block-search-form h2.block-title {
  display: none;
}

div#block-search-form form#search-block-form input#edit-submit--1,
div#block-search-form form#search-block-form input#edit-submit--2,
div#block-search-form form#search-block-form input#edit-submit--3,
div#block-search-form form#search-block-form input#edit-submit {
  background-image: url(../images/search_button.png);
  background-repeat: no-repeat;
  background-color: #00477f;

  font-size: 0px;

  width: 20px;
  min-width: 20px;
  max-width: 20px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;
  overflow: hidden;

  border: 0;
  margin: 0;
  padding: 0;
}



/*** Menu - Primary Navigation ***/
div#block-menu-menu-primary-navigation  {
  height: 35px;

  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  border: 0;
}

div#block-menu-menu-primary-navigation div.block-inner div.content ul.menu {
  font-size: 12px;
  list-style: none;

  margin: 0;
  padding: 0;

  vertical-align: top;
}

div#block-menu-menu-primary-navigation div.block-inner div.content ul.menu li {
  display: inline-block;

  width: auto;

  list-style: none;

  margin: 0;
  padding: 6px 0 2px 0px;
}

div#block-menu-menu-primary-navigation div.block-inner div.content ul.menu li a {
  display: block;

  height: 28px;

  color: #f2f2f2;
  background-color: #1e1e1e;
  text-decoration: none;

  padding: 10px 9px 0px 9px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

div#block-menu-menu-primary-navigation div.block-inner div.content ul.menu li a:focus,
div#block-menu-menu-primary-navigation div.block-inner div.content ul.menu li a:hover,
div#block-menu-menu-primary-navigation div.block-inner div.content ul.menu li a:active {
  color: #00477f;
  background: #fad703;
}

div#block-menu-menu-primary-navigation div.block-inner div.content ul.menu li.active-trail a {
  color: #00477f;
  background-color: #fad703;
}



/*** Content - container **/
div#container.is_front div#columns {
  margin-top: 5px;
}



/*** Content - columns **/
div#sidebar-first,
div#sidebar-second,
div#columns div#content-column {
  display: inline-block;
  vertical-align: top;

  overflow: hidden;
}

div#sidebar-first {
  float: left;
}

div#sidebar-second {
  float: right;
}

div#sidebar-first,
div#sidebar-second {
  width: 200px;

  min-width: 200px;
  max-width: 200px;

  overflow: none;
}

div#columns.sidebar-none div#content-column {
  width: 960px;
  min-width: 960px;
  max-width: 960px;
}

html#ckeditor-wysiwygarea body,
div#columns.sidebar-left div#content-column,
div#columns.sidebar-right div#content-column {
  width: 745px;
  min-width: 745px;
  max-width: 745px;

  padding-left: 15px;
}

div#columns.sidebar-both div#content-column {
  width: 555px;
  min-width: 555px;
  max-width: 555px;
}



/*** Menu - Sidebar **/
div#sidebar-first div.region-sidebar-first {
  border-bottom: 1px solid #888888;
}

div#sidebar-first div.block-menu {
  position: relative;

  letter-spacing: 1.4px;
  font-family: Arial,Helvetica,Sans-Serif,Sans;
  font-size: 12px;

  padding-bottom: 15px;
}

div#sidebar-first div.block-menu a,
div#sidebar-first div.block-menu a:visited {
  font-size: 12px;
  color: #00477f;

  text-decoration: none;
}

div#sidebar-first div.block-menu a {
  display: block;

  padding: 2px 4px;
}

div#sidebar-first div.block-menu div.content ul.menu {
  padding-top: 15px;
  border-top: 1px solid #888888;
}

div#sidebar-first div.block-menu div.content ul.menu ul.menu {
  border: 0;
  padding: 0;

  margin-left: 15px;
}

div#sidebar-first div.block-menu div.content ul.menu li {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}

div#sidebar-first div.block-menu div.content ul.menu li ul.menu li {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;

  list-style-image: url(../images/singlearrow_right.png);
}

div#sidebar-first div.block-menu div.content ul.menu li.expanded,
div#sidebar-first div.block-menu div.content ul.menu li ul.menu li.expanded {
  list-style-image: url(../images/singlearrow_down.png);
}

div#sidebar-first div.block-menu div.content ul.menu li ul.menu li a.active-trail.active {
  color: #fad703;
  background-color: #00335b;
}

div#sidebar-first div.block-menu div.content ul.menu li a:focus,
div#sidebar-first div.block-menu div.content ul.menu li a:active,
div#sidebar-first div.block-menu div.content ul.menu li a:hover,
div#sidebar-first div.block-menu div.content ul.menu li ul.menu li a.active-trail.active:focus,
div#sidebar-first div.block-menu div.content ul.menu li ul.menu li a.active-trail.active:active,
div#sidebar-first div.block-menu div.content ul.menu li ul.menu li a.active-trail.active:hover {
  color: #ffffff;
  background-color: #00335b;
}

div#sidebar-first div.block-menu div.content ul.menu li a,
div#sidebar-first div.block-menu div.content ul.menu li a:visited,
div#sidebar-first div.block-menu div.content ul.menu li a:focus,
div#sidebar-first div.block-menu div.content ul.menu li a:active,
div#sidebar-first div.block-menu div.content ul.menu li a:hover {
  font-weight: bold;
}

div#sidebar-first div.block-menu div.content ul.menu li ul.menu li a,
div#sidebar-first div.block-menu div.content ul.menu li ul.menu li a:visited
div#sidebar-first div.block-menu div.content ul.menu li ul.menu li a:focus,
div#sidebar-first div.block-menu div.content ul.menu li ul.menu li a:active,
div#sidebar-first div.block-menu div.content ul.menu li ul.menu li a:hover {
  font-weight: normal;
}



/*** Menu - Secondary Navigation ***/
div#block-menu-menu-secondary-navigation {
  background-color: #00335b;
  font-family: Arial,Helvetica,Sans-serif,Serif;
  font-size: 14px;

  height: 25px;
  min-height: 25px;
  max-height: 25px;

  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;

  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;

  margin-bottom: 5px;
}

div#block-menu-menu-secondary-navigation ul.menu {
  padding-left: 3px;
  padding-right: 3px;
}

div#block-menu-menu-secondary-navigation ul.menu li.leaf {
  display: inline-block;
  padding: 0;
  margin: 0;
}

div#block-menu-menu-secondary-navigation ul.menu li.leaf a,
div#block-menu-menu-secondary-navigation ul.menu li.leaf a:visited {
  display: block;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  letter-spacing: 1px;
  font-size: 10px;
  line-height: 17px;

  padding: 4px 8px;
}

div#block-menu-menu-secondary-navigation ul.menu li.leaf a:focus,
div#block-menu-menu-secondary-navigation ul.menu li.leaf a:hover,
div#block-menu-menu-secondary-navigation ul.menu li.leaf a:active {
  display: block;
  color: #000000;
  background-color: #fad703;
  padding: 4px 8px;
}

div#block-menu-menu-secondary-navigation ul.menu li.id-menu-link-menu-secondary-navigation-869,
div#block-menu-menu-secondary-navigation ul.menu li.id-menu-link-menu-secondary-navigation-880 {
  vertical-align: top;
  display: block;
  float: right;

  padding: 0;
  margin: 2px 0 0 0px;
}

div#block-menu-menu-secondary-navigation ul.menu li.leaf.id-menu-link-menu-secondary-navigation-869 a,
div#block-menu-menu-secondary-navigation ul.menu li.leaf.id-menu-link-menu-secondary-navigation-869 a:visited,
div#block-menu-menu-secondary-navigation ul.menu li.leaf.id-menu-link-menu-secondary-navigation-880 a,
div#block-menu-menu-secondary-navigation ul.menu li.leaf.id-menu-link-menu-secondary-navigation-880 a:visited {
  display: inline-block;

  background-repeat: no-repeat;

  font-size: 0px;

  width: 20px;
  min-width: 20px;
  max-width: 20px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;
  overflow: hidden;

  padding: 0;
  margin: 0;

  margin-right: 5px;
}

div#block-menu-menu-secondary-navigation ul.menu li.leaf.id-menu-link-menu-secondary-navigation-869 a,
div#block-menu-menu-secondary-navigation ul.menu li.leaf.id-menu-link-menu-secondary-navigation-869 a:visited {
  background-color: #3b5b99;
  background-image: url(../images/facebook_logo-mini.png);
}

div#block-menu-menu-secondary-navigation ul.menu li.leaf.id-menu-link-menu-secondary-navigation-880 a,
div#block-menu-menu-secondary-navigation ul.menu li.leaf.id-menu-link-menu-secondary-navigation-880 a:visited {
  background-color: #3b5b99;
  background-image: url(../images/twitter_logo-mini.png);
}



/*** Content - help region **/
div#content-column div.region-help {
  max-height: 400px;
  overflow: auto;
}



/*** Content - main content **/
div#subboard-image div.view-display-id-group_image {
  margin-bottom: 5px;
}

div#content-column div.breadcrumb {
  background-color: #00335b;
  color: #ffffff;
  margin: 0 0 0 0;

  font-family: Arial,Helvetica,Sans-Serif,Sans;
  font-size: 12px;
  line-height: 2.0;
}

div#content-column div.breadcrumb a,
div#content-column div.breadcrumb a:visited {
  color: #ffffff;
  text-decoration: none;

  padding: 5px;
}

div#content-column div.breadcrumb a:focus,
div#content-column div.breadcrumb a:hover,
div#content-column div.breadcrumb a:active {
  color: #000000;
  background-color: #fad703;

  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
}

h1#page-title {
  font-size: 24px;
  font-weight: normal;
  color: #00335b;

  padding: 4px 0;
}

div#columns.subboard-image h1#page-title {
  position: absolute;
  top: 164px;
  right: 0;

  font-size: 24px;
  color: #00335b;
  background-color: #ffffff;
  opacity: 0.8;

  padding: 4px 0;
  margin: 0;
}

div#columns.sidebar-left.subboard-image h1#page-title,
div#columns.sidebar-right.subboard-image h1#page-title {
  width: 735px;

  padding-left: 5px;
  padding-right: 5px;
}

div#columns.sidebar-none.subboard-image h1#page-title {
  width: 950px;

  padding-left: 5px;
  padding-right: 5px;
}



/*** Content - home page ***/
a.msu-caption-title {
  text-decoration: none;
}

a.msu-caption-title:focus,
a.msu-caption-title:active,
a.msu-caption-title:hover {
  color: #ffffff;

  text-decoration: underline;
}

div#front_page_columns {
  position: relative;
  background-color: #25567d;
}

div#block-system-main {
  position: relative;
}

h3#front_page_columns-column_title-news {
  height: 20px;
  min-height: 20px;
  max-height: 20px;

  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;

  color: #000000;
  background-color: #fad703;

  padding: 2px 8px 2px 8px;
  margin-bottom: 5px;
}

div#front_page_columns-events {
  position: relative;

  color: #ececec;
  background-color: #25567d;
}

div#front_page_columns-events div.view-display-id-front_page_highlight {
  margin-bottom: 10px;
}

img#front_page_columns-transparent-image {
  float: right;

  width: 582px;
  height: 185px;
  min-height: 185px;
  max-height: 185px;

  padding: 15px 0 15px 15px;
  margin-left: 10px;

  box-shadow: none;
  background-color: #ffffff;
}

img#front_page_columns-transparent-spotlight {
  float: right;

  width: 412px;
  min-width: 412px;
  max-width: 412px;

  height: 528px;
  min-height: 528px;
  max-height: 528px;

  box-shadow: none;
  background-color: #ffffff;
}

div#front_page_columns-events div.views-field-nothing {
  background-color: #25567d;

  margin-bottom: 25px;
}

div#front_page_columns-events div.views-field-nothing div.highlight-title,
div#front_page_columns-events div.views-field-nothing div.event-title {
  font-size: 24px;

  padding: 0 10px 0 10px;
}

div#front_page_columns-events div.views-field-nothing div.highlight-title a,
div#front_page_columns-events div.views-field-nothing div.highlight-title a:visited,
div#front_page_columns-events div.views-field-nothing div.event-title a,
div#front_page_columns-events div.views-field-nothing div.event-title a:visited {
  color: #ececec;

  text-shadow: -1px 1px 2px #000000;
  text-decoration: none;
}

div#front_page_columns-events div.views-field-nothing div.highlight-title a:focus,
div#front_page_columns-events div.views-field-nothing div.highlight-title a:active,
div#front_page_columns-events div.views-field-nothing div.highlight-title a:hover,
div#front_page_columns-events div.views-field-nothing div.event-title a:focus,
div#front_page_columns-events div.views-field-nothing div.event-title a:active,
div#front_page_columns-events div.views-field-nothing div.event-title a:hover {
  color: #a8c1eb;

  text-shadow: -1px 1px 2px #000000;
  text-decoration: underline;
}

div#front_page_columns-events div.views-field-nothing div.highlight-event_date,
div#front_page_columns-events div.views-field-nothing div.event-event_date {
  color: #fad703;
  font-weight: bold;
  font-size: 12px;

  padding: 0 10px 5px 10px;
}

div#front_page_columns-events div.views-field-nothing div.highlight-headline,
div#front_page_columns-events div.views-field-nothing div.event-headline {
  color: #7fbcec;
  font-size: 12px;
  font-weight: bold;

  letter-spacing: 2px;
  text-transform: uppercase;

  margin: 5px 15px 5px 15px;
}

div#front_page_columns-events div.views-field-nothing div.highlight-headline p,
div#front_page_columns-events div.views-field-nothing div.event-headline p {
  margin: 0;
}

div#front_page_columns-events div.views-field-field-hightlight-image {
  position: absolute;
  top: 0px;
  left: 378px;

  margin-top: 0;

  background-color: #ffffff;
}

div#front_page_columns-events div.views-field-nothing div.highlight-body,
div#front_page_columns-events div.views-field-nothing div.event-body {
  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;
  line-height: 21px;

  font-family: Serif, Georgia, Times New Roman;
}

div#front_page_columns-events div.views-field-nothing div.highlight-body a,
div#front_page_columns-events div.views-field-nothing div.highlight-body a:visited,
div#front_page_columns-events div.views-field-nothing div.event-body a,
div#front_page_columns-events div.views-field-nothing div.event-body a:visited {
  color: #7fbcec;
}

div#front_page_columns-events div.view-display-id-front_page_events div.views-row-even div.views-field-field-event-image {
  float: right;

  padding: 15px 0px 15px 15px;
  margin: 5px 0 0 10px;

  background-color: #ffffff;
}

div#front_page_columns-events div.view-display-id-front_page_events div.views-row-odd div.views-field-field-event-image {
  float: left;

  padding: 15px 15px 15px 0px;
  margin: 5px 10px 0 0;

  background-color: #ffffff;
}

div#front_page_columns-spotlight {
  float: right;

  width: 397px;
  min-width: 397px;
  max-width: 397px;

  padding-left: 15px;
  padding-right: 15px;

  color: #000000;
  background-color: #ffffff;
}

div#front_page_columns-spotlight div.views-field-nothing {
  color: #000000;
  background-color: #ffffff;
}

h3#front_page_columns-column_title-spotlight {
  position: absolute;
  top: 150px;
  right: 0;

  width: 397px;
  min-width: 397px;
  max-width: 397px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;

  font-size: 11px;
  letter-spacing: 1px;
  line-height: 19px;
  text-transform: uppercase;

  padding: 15px;
  margin-bottom: 15px;

  color: #00335b;
  background-color: #ffffff;
  opacity: 0.83;

  -ms-filter: "alpha(opacity=83)";

  z-index: 10;
}

div#front_page_columns-spotlight div.views-field-nothing div.spotlight-title {
  font-size: 18px;
  line-height: 21px;

  font-family: Serif, Georgia, Times New Roman;
}

div#front_page_columns-spotlight div.views-field-nothing div.spotlight-title a,
div#front_page_columns-spotlight div.views-field-nothing div.spotlight-title a:visited {
  color: #00335b;

  text-decoration: none;
}

div#front_page_columns-spotlight div.views-field-nothing div.spotlight-title a:focus,
div#front_page_columns-spotlight div.views-field-nothing div.spotlight-title a:active,
div#front_page_columns-spotlight div.views-field-nothing div.spotlight-title a:hover {
  color: #7f0000;

  text-decoration: underline;
}

div#front_page_columns-spotlight div.views-field-field-spotlight-image {
  float: right;

  margin: 4px;
}

div#front_page_columns-spotlight div.views-field-nothing div.spotlight-body {
  font-size: 14px;
  line-height: 21px;

  font-family: Serif, Georgia, Times New Roman;
}

div#front_page_columns-spotlight div.views-field-nothing div.spotlight-event_date {
  font-weight: bold;
}



/*** Content - home master calendar links ***/
div.view-id-master_calendar ul li.views-row {
  font-family: Arial;

  margin-bottom: 10px;
}

div.view-id-master_calendar ul li.views-row a,
div.view-id-master_calendar ul li.views-row a:visited {
  text-decoration: none;
}

div.view-id-master_calendar ul li.views-row a:focus,
div.view-id-master_calendar ul li.views-row a:hover,
div.view-id-master_calendar ul li.views-row a:active {
  text-decoration: underline;
}

div.view-id-master_calendar ul li div.views-field-title a {
  display: block;

  color: #393939;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;

  max-height: 16px;
  overflow: hidden;
}

div.view-id-master_calendar ul li div.views-field-field-event-date {
  color: #00477f;

  font-size: 12px;
  line-height: 16px;

  max-height: 16px;
  overflow: hidden;
}



/*** Content - home page -> news pages ***/
div#block-system-main div.view-display-id-more_spotlights div.view-content div.views-row,
div#block-system-main div.view-display-id-more_events div.view-content div.views-row,
div#block-system-main div.view-display-id-more_press_releases div.view-content div.views-row,
div#block-system-main div.view-display-id-news div.view-content div.views-row {
  clear: both;
  position: relative;

  min-height: 220px;

  border-bottom: 2px inset #000000;
}

div#block-system-main div.view-display-id-more_spotlights div.view-content div.views-row img,
div#block-system-main div.view-display-id-more_events div.view-content div.views-row img,
div#block-system-main div.view-display-id-more_press_releases div.view-content div.views-row img,
div#block-system-main div.view-display-id-news div.view-content div.views-row img {
  max-width: 180px;
  max-height: 180px;
  float: right !important;
}

div#block-system-main div.view-display-id-more_spotlights div.view-content div.views-field-view-node,
div#block-system-main div.view-display-id-more_events div.view-content div.views-field-view-node,
div#block-system-main div.view-display-id-more_press_releases div.view-content div.views-field-view-node,
div#block-system-main div.view-display-id-news div.view-content div.views-field-view-node {
  position: absolute;
  bottom: 0;
}



/*** Content - local tasks ***/
div#main-content div.local-tasks {
  position: relative;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  margin: 0;
  margin-top: 5px;
}

div#main-content div.local-tasks ul.tabs {
  margin: 0 4px;
}

div#main-content div.local-tasks ul.tabs li {
  margin: 0 1px;
}

div#main-content div.local-tasks ul.tabs li a {
  color: #f2f2f2;

  padding: 2px 7px 0 7px;

  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

div#main-content div.local-tasks ul.tabs li a,
div#main-content div.local-tasks ul.tabs li a:visited {
  font-size: 14px;
  background-color: #454545;
}

div#main-content div.local-tasks ul.tabs li a.active,
div#main-content div.local-tasks ul.tabs li a.active:visited {
  color: #fad703;
  text-shadow: 0px 1px 0px #000000;
}

div#main-content div.local-tasks ul.tabs li a.active:focus,
div#main-content div.local-tasks ul.tabs li a.active:hover,
div#main-content div.local-tasks ul.tabs li a.active:active {
  color: #000000;
  text-shadow: none;
}

div#main-content div.local-tasks ul.tabs li a:focus,
div#main-content div.local-tasks ul.tabs li a:hover,
div#main-content div.local-tasks ul.tabs li a:active {
  color: #000000;
  background-color: #c2c2c2;
}



/*** Footer ***/
div#footer {
  font-size: 11px;
  line-height: 1.6;
  text-align: center;

  color: #393939;

  max-height:90px;
  min-height:90px;
  height: 90px;

  padding: 5px;
  margin: 5px auto;


  width: 960px;
}


/*** Misc. ***/
div#skip-link a {
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
}

div#skip-link a:focus {
  display: block;
  height: auto;
  width: auto;
  border: 2px outset #000000;
  overflow: visible;
}
