{
  position: absolute;

  width: 100%;

  top: 0px;
  left: 0px;
}

a,
a:visited,
div#modalContent a,
div#modalContent a:visited {
  color: #0000ff;
  text-decoration: none;
}

a:hover,
a:active,
div#modalContent a:hover,
div#modalContent a:active {
  text-decoration: underline;
}

span.cke_button a:hover,
span.cke_button a:active,
span.cke_button div#modalContent a:hover,
span.cke_button div#modalContent a:active {
  text-decoration: none;
}

hr,
div#modalContent hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}

.element-invisible,
div#modalContent .element-invisible {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

dl,
div#modalContent dl {
  margin: 0 0 20px;
}

dl dd,
dl dl,
div#modalContent dl dd,
div#modalContent dl dl {
  margin-left: 20px;
  margin-bottom: 10px;
}

blockquote,
div#modalContent blockquote {
  margin: 4px 40px;
}

address,
div#modalContent address {
  font-style: italic;
}

u,
div#modalContent s,
u,
div#modalContent s {
  text-decoration: underline;
}

s,
strike,
del,
div#modalContent s,
div#modalContent strike,
div#modalContent del {
  text-decoration: line-through;
}

big,
div#modalContent big {
  font-size: larger;
}

small,
div#modalContent small {
  font-size: smaller;
}

sub,
div#modalContent sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

sup,
div#modalContent sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

nobr,
div#modalContent nobr {
  white-space: nowrap;
}

abbr,
acronym,
div#modalContent abbr,
div#modalContent acronym {
  border-bottom: dotted 1px;
}

input,
select,
textarea,
div#modalContent input,
div#modalContent select,
div#modalContent textarea {
  border: 1px solid #000000;
}


/* update page colors */
div#mcneese_drupal-content_region div#block-system-main table.update tbody tr,
div#modalContent div#block-system-main table.update tbody tr {
  border-bottom: 1px solid #999999;
}

div#mcneese_drupal-content_region div#block-system-main table.update tbody tr.info,
div#modalContent div#block-system-main table.update tbody tr.info  {
  background: #e0e0ff;
}

div#mcneese_drupal-content_region div#block-system-main table.update tbody tr.ok,
div#modalContent div#block-system-main table.update tbody tr.ok {
  background: #d1f7cb;
}

div#mcneese_drupal-content_region div#block-system-main table.update tbody tr.warning,
div#modalContent div#block-system-main table.update tbody tr.warning {
  background: #ffffdd;
}

div#mcneese_drupal-content_region div#block-system-main table.update tbody tr.error,
div#modalContent div#block-system-main table.update tbody tr.error {
  background: #ffdddd;
}

div#mcneese_drupal-content_region div#block-system-main table.update tbody tr.unknown,
div#modalContent div#block-system-main table.update tbody tr.unknown {
  background: #eeeeee;
}


/** bugfixes **/
#diff-inline-form select,
div.filter-options select,
div#modalContent #diff-inline-form select,
div#modalContent div.filter-options select {
  padding: 0;
}

div.region div#block-system-main div.content div.profile,
div#modalContent div.region div#block-system-main div.content div.profile {
  margin: 0px;
}

fieldset#views-tokens-help div.item-list li,
div#modalContent fieldset#views-tokens-help div.item-list li {
  margin-left: 20px;
}

div.rules-elements-table div.tabledrag-toggle-weight-wrapper,
div#modalContent div.rules-elements-table div.tabledrag-toggle-weight-wrapper {
  position: relative;
  float: right;
}

div#overlay {
  margin-bottom: 50px;
}

div#views-ajax-form div.form-item div.warning {
  background-repeat: no-repeat;
  min-height: 25px;
  padding-left: 25px;
}

input#edit-cancel--15,
input#edit-cancel--14,
input#edit-cancel--13,
input#edit-cancel--12,
input#edit-cancel--11,
input#edit-cancel--10,
input#edit-cancel--9,
input#edit-cancel--8,
input#edit-cancel--7,
input#edit-cancel--6,
input#edit-cancel--5,
input#edit-cancel--4,
input#edit-cancel--3,
input#edit-cancel--2,
input#edit-cancel--1 {
  background: url(../images/button-grey.png) no-repeat scroll center top transparent;
}

input#edit-remove--15,
input#edit-remove--14,
input#edit-remove--13,
input#edit-remove--12,
input#edit-remove--11,
input#edit-remove--10,
input#edit-remove--9,
input#edit-remove--8,
input#edit-remove--7,
input#edit-remove--6,
input#edit-remove--5,
input#edit-remove--4,
input#edit-remove--3,
input#edit-remove--2,
input#edit-remove--1 {
  background: url(../images/button-red.png) no-repeat scroll center top transparent;
}

div.remove-display form.views-ajax-form div.remove-display input.form-submit {
  background: url(../images/button-red.png) no-repeat scroll center top transparent;
}

div.remove-display form.views-ajax-form div.restore-display input.form-submit {
  background: url(../images/button-blue.png) no-repeat scroll center top transparent;
}

input#edit-publish,
input#edit-unpublish {
  background: url(../images/button-blue.png) no-repeat scroll center top transparent;
}

form#views-ui-analyze-view-button div input#edit-submit.form-submit,
div.views-override input#edit-button--15,
div.views-override input#edit-button--14,
div.views-override input#edit-button--13,
div.views-override input#edit-button--12,
div.views-override input#edit-button--11,
div.views-override input#edit-button--10,
div.views-override input#edit-button--9,
div.views-override input#edit-button--8,
div.views-override input#edit-button--7,
div.views-override input#edit-button--6,
div.views-override input#edit-button--5,
div.views-override input#edit-button--4,
div.views-override input#edit-button--3,
div.views-override input#edit-button--2,
div.views-override input#edit-button--1,
div.views-override input#edit-button.form-submit {
  background: url(../images/button-blue.png) no-repeat scroll center top transparent;
}

form#user-profile-form div#edit-actions input#edit-cancel {
  background: url(../images/button-red.png) no-repeat scroll center top transparent;
}

div#mcneese_drupal-content div#ds-tabs {
  margin-top: 2px;
  margin-bottom: 4px;
}

div#mcneese_drupal-content div#ds-tabs a {
  cursor: pointer;
  padding: 2px 4px;
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: 2px;
  color: #000000;
  text-align: center;
  font-weight: normal;
  font-size: 11px;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 2px #fefefe;
  border: 1px outset #333333;
  border-radius: 3px;
  -moz-border-radius: 4px;
  -moz-outline-radius: 4px;
  -webkit-border-radius: 3px;

  background: url(../images/button-green.png) no-repeat scroll center top transparent;
}

div.field-formatter-settings-edit-wrapper input.field-formatter-settings-edit {
  background: url(../images/button-blue.png) no-repeat scroll center top transparent;
  padding: 2px;
}

div.vertical-tabs {
  position: static;

  margin: 0px;
}

div.vertical-tabs ul.vertical-tabs-list {
  display: inline-block;

  vertical-align: top;
  float: none;

  margin: 0px;

  width: 15%;
}

div.vertical-tabs div.vertical-tabs-panes {
  display: inline-block;

  vertical-align: top;

  width: 85%;
}

.vertical-tabs ul.vertical-tabs-list li a {
  padding: 10px;

  word-wrap: break-word;
}

div#mcneese_drupal-skip_nav {
  margin-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -5.25em;
  width: auto;
  z-index: 50;
}

div#mcneese_drupal-skip_nav a.mcneese_drupal-skipnav-link {
  background-color: #e6f6ff;

  padding: 3px;
}

div#mcneese_drupal-skip_nav a.mcneese_drupal-skipnav-link,
div#mcneese_drupal-skip_nav a.mcneese_drupal-skipnav-link:link,
div#mcneese_drupal-skip_nav a.mcneese_drupal-skipnav-link:visited,
div#mcneese_drupal-skip_nav a.mcneese_drupal-skipnav-link:hover {
  position: absolute;

  top: -1000px;
  left: 0;

  overflow: hidden;
}

div#mcneese_drupal-skip_nav a.mcneese_drupal-skipnav-link:active,
div#mcneese_drupal-skip_nav a.mcneese_drupal-skipnav-link:focus {
  position: static;

  margin-left: auto;
  margin-right: auto;
}

div#mcneese_drupal-search {
  float: right;
  right: 0px;
  vertical-align: top;
}

.mcneese_drupal-text_shadow {
  text-shadow: 0px 1px 1px #cfcfcf;
}

div#mcneese_drupal-title {
  background-image: url(../images/msu_logo-small.png);
  background-repeat: no-repeat;

  min-height: 83px;
}

ul.tabs.secondary li.active a {
  border-style: inset;
}

ul.tabs.secondary.views-ui-render-add-view-button-processed-processed li.active a {
  color: #000000;
}
