/** IE8 does not properly use width: auto and fails to make the width of the list work properly **/
li.menu-link-name-menu-primary-navigation {
  min-width: 115px;
  margin-left: 1px;
  margin-right: 1px;
}

li.menu-link-name-menu-primary-navigation a {
  min-width: 115px;
  text-align: center;
}

/** Alumni, Donors, & Friends is longer than 100px, so increase the min-width **/
li.id-menu-link-menu-primary-navigation-1273,
li.id-menu-link-menu-primary-navigation-1273 a {
  min-width: 160px;
}


/** IE8 does not properly handle width/height properties of images, this causes the images to fall outside of the parent block as if it were set to float **/
div#content img {
  display: inline-block;
}
