/** mozilla < 4 hack to make menus sort-of appear **/
div#block-menu-menu-primary-navigation div.content ul.menu li {
  float: right;
}

div#block-menu-menu-secondary-navigation div.content ul.menu li {
  float: left;
}

div#block-block-13 ul#search_form-top_box_links li {
  float: left;
}
