/**
 * Workaround calendar structural display to show all of the text.
 */
.calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
.calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
  display: block;
  position: relative;

  width: auto;
  left: 0;
  padding: 0 2px;
}

.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  height: auto;
  line-height: 1.9em;
  margin: 1px 0;

  text-align: center;
}

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview {
  height: auto;
  line-height: 1.9em;
  margin: 1px 0;

  text-align: center;
}



/**
 * Workaround calendar coloring issue
 * The default color #f4f4f4 is perceived to be too bright on some screens.
 * Also fix the line-height.
 */
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  background: none repeat scroll 0 0 #6384b8;
  color: #ffffff;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background: none repeat scroll 0 0 #6384b8;
  color: #ffffff;
}



/**
 * Workaround calendar dayview display issue
 * There is a 'cutoff' field that provides no apparent functionality and makes the look and feel ugly, so remove it.
 */
.calendar-calendar .day-view .full td.multi-day div.dayview .cutoff {
  display: none;
}


/* Workaround calendar bug:
 * It seems that when the date is set to "exclude from display" it still includes it in the display
 */
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-single,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-start,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-separator,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-end{
  display: none;
}



/**
 * Workaround a calendar prev/next button display issue
 * see: http://drupal.org/node/1279612
 */
div.view div.date-nav-wrapper div.date-nav ul.pager {
  position: static;

  font-weight: bold;

  margin: 0;
}



/**
 * Fix padding issues on calendar buttons
 */
div.view div.date-nav-wrapper div.date-nav ul.pager li.date-prev {
  padding-left: 5px;
}

div.view div.date-nav-wrapper div.date-nav ul.pager li.date-next {
  padding-right: 5px;
}



/* Workaround Search Box + Views bug:
 * views adds their own css, which in this particular case overwrites and breaks the search box
 * the following css groups are fixes to such problems as they are observed
 */
div#block-search-form form#search-block-form div.container-inline {
  padding-top: 0;
}

div#block-search-form form#search-block-form .form-item-search-block-form {
  padding: 0;
  margin: 0;
}



/* Workaround qforms bug where a single background-image is used for multiple images */
#qforms-form-actions .qforms-form-close {
  background-position: 64px 0px !important;
  background-repeat: repeat !important;
}
.qforms-element .qforms-action-delete
#qforms-form-actions .qforms-form-close:hover {
  background-position: 64px 80px !important;
  background-repeat: repeat !important;
}

#qforms-form-actions .qforms-form-open {
  background-position: 80px 0px !important;
  background-repeat: repeat !important;
}

#qforms-form-actions .qforms-form-open:hover {
  background-position: 80px 80px !important;
  background-repeat: repeat !important;
}

.qforms-element .qforms-action-move {
  background-position: 0px 0px !important;
  background-repeat: repeat !important;
  cursor: move;
}

.qforms-element .qforms-action-move:hover {
  background-position: 0px 80px !important;
  background-repeat: repeat !important;
}

.qforms-element .qforms-form-close {
  background-position: 80px 0px !important;
  background-repeat: repeat !important;
}

.qforms-element .qforms-form-close:hover {
  background-position: 80px 80px !important;
  background-repeat: repeat !important;
}

.qforms-element .qforms-form-open {
  background-position: 64px 0px !important;
  background-repeat: repeat !important;
}

.qforms-element .qforms-form-open:hover {
  background-position: 64px 80px !important;
  background-repeat: repeat !important;
}

.qforms-element .qforms-action-delete {
  background-position: 48px 0px !important;
  background-repeat: repeat !important;
}

.qforms-element .qforms-action-delete:hover,
.qforms-element .qforms-action-delete:focus {
  background-position: 48px -16px !important;
  background-repeat: repeat !important;
}

.qforms-element .qforms-action-add-option {
  background-position: 32px 0px !important;
  background-repeat: repeat !important;
  float: none;
}

.qforms-element .qforms-action-add-option:hover,
.qforms-element .qforms-action-add-option:focus {
  background-position: 32px -16px !important;
  background-repeat: repeat !important;
}

.qforms-element .qforms-action-delete-option {
  background-position: 16px 0px !important;
  background-repeat: repeat !important;
  float: none;
}

.qforms-element .qforms-action-delete-option:hover,
.qforms-element .qforms-action-delete-option:focus {
  background-position: 16px -16px !important;
  background-repeat: repeat !important;
}



/**
 * Workaround workbench left & right width issue.
 */
div.admin.my-workbench .right {
  margin-right: 0;
}

div.admin.my-workbench .left {
  margin-left: 0;
}
