/* Workaround calendar bug:
 * It seems that when the date is set to "exclude from display" it still includes it in the display
 */
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-single,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-start,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-separator,
div.view-display-id-calendar_page div.calendar-calendar div.view-field span.date-display-end{
  display: none;
}



/* Workaround Search Box + Views bug:
 * views adds their own css, which in this particular case overwrites and breaks the search box
 * the following css groups are fixes to such problems as they are observed
 */
div#block-search-form form#search-block-form div.container-inline {
  padding-top: 0;
}

div#block-search-form form#search-block-form .form-item-search-block-form {
  padding: 0;
  margin: 0;
}

div#block-search-form form#search-block-form div#edit-actions {
  padding: 0;
  margin: 0;

  width: 20px;
  min-width: 20px;
  max-width: 20px;

  height: 20px;
  min-height: 20px;
  max-height: 20px;
  overflow: hidden;

  -moz-border-radius: 0;
  -moz-outline-radius: 0;
  -webkit-border-radius: 0;
}
