/*** Primary & Seconday Menus - Compatibility Mode and other IE 7 fixes ***/
.mcneese.agent-name-ie.agent-major_version-7 #mcneese-page {
  overflow-x: hidden;
  overflow-y: auto;
}

.mcneese.agent-name-ie.agent-major_version-7 #mcneese-www-footer {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.mcneese.agent-name-ie.agent-major_version-7 #mcneese-www-footer > .columns-left > .column {
  float: left;
}

.mcneese.agent-name-ie.agent-major_version-7 #mcneese-www-footer > .columns-left {
  float: left;
}

.mcneese.agent-name-ie.agent-major_version-7 #mcneese-www-footer > .columns-left > .column-4 > ul > .social {
  display: inline;
}

.mcneese.agent-name-ie.agent-major_version-7 #mcneese-www-footer > .columns-right {
  float: right;
}

.mcneese.agent-name-ie.agent-major_version-7 #mcneese-www-footer > .columns-right > .column {
  float: left;
}

.mcneese.agent-name-ie.agent-major_version-7 #mcneese-www-footer > .copyright {
  clear: left;
}

.mcneese.agent-name-ie.agent-major_version-7 #mcneese-www-footer > .copyright > .copyright-menus > .copyright-menu > li {
  display: inline;
}
