div.messages.unpublished {
  color: #880017;

  border-style: solid;
  border-color: #ff006e;
  border-width: 1px;

  background-color: #fff4f4;
  background-image: url(message-unpublished.png);
  background-repeat: no-repeat;
}
