


/*** Common ***/
.mcneese .no-print {
  display: none;
}

.html_tag-nav {
  display: none;
}



/*** Headers ***/
.mcneese #mcneese-header {
  display: none;
}



/*** Search Form ***/
.mcneese #search-form {
  display: none;
}



/*** Side Area ***/
.mcneese #mcneese-page-side {
  display: none;
}



/*** Tables (DataTable) ***/
.mcneese .dataTables_wrapper > .dataTables_length,
.mcneese .dataTables_wrapper > .dataTables_filter,
.mcneese .dataTables_wrapper > .ColVis,
.mcneese .dataTables_wrapper > .dataTables_paginate {
  display: none;
}