.mcneese > .dev-query {
  display: none;
}

.mcneese .workbench_menu {
  display: none;
}

.mcneese.node-type-webform .webform-client-form > .form-wrapper-inner > #edit-actions {
  display: none;
}



/*** JQ Map Hilight ***/
.mcneese div.jq_maphilight {
  background-image: none !important;
}

.mcneese div.jq_maphilight > canvas {
  display: none !important;
}

.mcneese div.jq_maphilight > img.jq_maphilight {
  opacity: inherit !important;
}

.mcneese div.jq_maphilight.jq_maphilight-center {
  margin-left: auto !important;
  margin-right: auto !important;
}
